<template>
  <q-page class="flex q-pa-lg">
    <div class="full-width full-height bg-primary q-pa-md text-white">

      <!-- HEADER -->
      <div class="row text-secondary full-width text-h6">
        Recherche de groupe&nbsp;
        <span v-if="server">
          ({{ server.name }})
        </span>

        <q-space />

        <q-btn
          v-if="user"
          flat
          dense
          round
          icon="fa fa-plus"
          class="text-accent-hover text-grey-6"
          @click="groupFinderDialog(null)"
        />
      </div>

      <!-- BODY -->
      <div class="column q-mt-md">
        <!-- Search -->
        <div class="column full-width bg-dark q-pa-sm q-pb-sm">
          <div class="row items-end">
            <q-input
              v-model.trim="searchTitle"
              dark
              label="Recherche"
              color="accent"
              label-color="white"
              class="col"
            />

            <q-btn
              v-if="!advanced"
              color="secondary"
              label="Rechercher"
              class="q-ml-md"
              :loading="loading"
              @click="search"
            />
          </div>

          <div class="row full-width">
            <q-checkbox
              v-if="user"
              v-model="onlyMine"
              label="Mes recherches uniquement"
              color="accent"
              class="self-start"
              @input="search"
            />

            <q-space />

            <q-checkbox
              v-model="advanced"
              label="Recherche Avancée"
              color="accent"
              class="self-end"
            />
          </div>

          <div
            v-if="advanced"
            class="row full-width"
          >
            <dungeon-select
              label="Donjon"
              v-model="searchDungeon"
              color="accent"
              dark
              filled
              fill-input
              hide-selected
              use-input
              clearable
              class="col-6 q-pr-sm"
            />

            <quest-select
              v-model="searchQuest"
              label="Quête"
              color="accent"
              dark
              filled
              flat
              fill-input
              hide-selected
              use-input
              clearable
              class="col-6 q-pl-sm"
            />
          </div>

          <div
            v-if="advanced"
            class="row full-width justify-end q-mt-sm"
          >
            <q-btn
              color="secondary"
              label="Rechercher"
              class="q-ml-md"
              :loading="loading"
              @click="search"
            />
          </div>
        </div>

        <!-- Search Result -->
        <q-scroll-area class="q-mt-md full-width" style="height: 500px">
          <group-finder-row
            v-for="(groupFinder, index) of groupFinders"
            :key="'group' + groupFinder._id"
            :group-finder="groupFinder"
            class="q-my-sm bg-dark"
            style="border-radius: 5px"
          >
            <template v-slot:append-header>
              <div
                v-if="user && user._id === groupFinder.owner._id"
                class="row q-ml-md q-mr-sm"
              >
                <q-btn
                  flat
                  dense
                  round
                  icon="fas fa-pencil-alt"
                  size="10px"
                  class="text-grey-6 text-accent-hover"
                  @click.stop="groupFinderDialog(groupFinder)"
                >
                  <q-tooltip content-class="bg-darker text-body2">
                    Editer
                  </q-tooltip>
                </q-btn>

                <q-btn
                  flat
                  dense
                  round
                  icon="fas fa-trash"
                  size="10px"
                  class="text-grey-6 text-accent-hover"
                  @click.stop="deleteGroupFinder(groupFinder, index)"
                >
                  <q-tooltip content-class="bg-darker text-body2">
                    Supprimer
                  </q-tooltip>
                </q-btn>
              </div>
            </template>
          </group-finder-row>

          <div
            v-if="total > groupFinders.length"
            class="row q-mt-sm justify-center full-width"
          >
            <q-btn
              label="Afficher plus"
              :loading="loading"
              color="secondary"
              no-caps
              class="self-center"
              @click="fetchGroupFinder(query)"
            />
          </div>
        </q-scroll-area>
      </div>
    </div>
  </q-page>
</template>

<script>
import GroupFinderRow from 'components/GroupFinder/GroupFinderRow';
import GroupFinderFormDialog from 'components/GroupFinder/GroupFinderFormDialog';
import DungeonSelect from 'components/Common/Select/DungeonSelect';
import QuestSelect from 'components/Common/Select/QuestSelect';

export default {
  name: 'GroupFinderSearch',
  components: {
    QuestSelect,
    DungeonSelect,
    GroupFinderRow,
  },
  meta: {
    title: 'DofusDB - Recherche de groupe',
    meta: {
      description: {
        name: 'description',
        content: 'Vous recherchez un groupe pour xp, une quête, un donjon, des succès. Cet outil est fait pour vous!',
      },
    },
  },
  data: () => ({
    searchTitle: '',
    searchDungeon: null,
    searchQuest: null,
    advanced: false,
    query: {
      '$sort[updatedAt]': -1,
      $skip: 0,
    },
    total: 0,
    onlyMine: false,
    groupFinders: [],
    loading: false,
  }),
  computed: {
    user() {
      return this.$store.state.user.user;
    },
    server() {
      return this.$store.state.server.selected;
    },
  },
  watch: {
    server() {
      this.groupFinders = [];
      this.fetchGroupFinder();
    },
  },
  mounted() {
    this.fetchGroupFinder();
  },
  methods: {
    deleteGroupFinder(groupFinder, index) {
      this.$q.dialog({
        dark: true,
        title: 'Confirmation',
        message: 'Etes-vous sûr de vouloir effectuer cette action ?',
        cancel: {
          label: 'Annuler',
          flat: true,
        },
      }).onOk(async () => {
        try {
          await this.$api.deleteGroupFinder(groupFinder._id);
          this.groupFinders.splice(index, 1);
        } catch (e) {
          this.$q.notify({
            position: 'top',
            color: 'negative',
            message: 'Une erreur est survenue lors de la suppression.',
          });
        }
      });
    },
    groupFinderDialog(groupFinder) {
      this.$q.dialog({
        component: GroupFinderFormDialog,
        groupFinder,
      }).onOk(() => {
        this.groupFinders = [];
        this.fetchGroupFinder();
        if (groupFinder) {
          this.$q.notify('Recherche de groupe édité avec succès.');
        } else {
          this.$q.notify('Recherche de groupe créé avec succès.');
        }
      });
    },
    search() {
      this.query = {
        '$sort[updatedAt]': -1,
      };
      if (this.searchTitle) {
        this.query['title[$search]'] = this.searchTitle;
      }
      if (this.user && this.onlyMine) {
        this.query.owner = this.user._id;
      }

      if (this.advanced && this.searchDungeon) {
        this.query.dungeon = this.searchDungeon.id;
      }
      if (this.advanced && this.searchQuest) {
        this.query.quest = this.searchQuest.id;
      }

      this.groupFinders = [];
      this.total = 0;

      this.fetchGroupFinder(this.query);
    },
    async fetchGroupFinder(query) {
      this.loading = true;
      query = query || {
        '$sort[updatedAt]': -1,
      };
      query.$skip = this.groupFinders.length;

      if (this.server) {
        query.servers = this.server._id;
      }

      const response = (await this.$api.getGroupFinders(query)).data;

      this.total = response.total;
      this.groupFinders = this.groupFinders.concat(response.data);
      this.loading = false;
    },
  },
};
</script>

<style scoped>

</style>
