<template>
  <q-page class="flex q-pa-lg column text-white" @wheel="leftMenuStickiness">
    <!-- Header -->
    <div v-if="quest" class="row text-white bg-primary q-pa-md items-start">
      <div class="col column">
        <div class="row text-h5 text-secondary items-end">
          <div v-if="quest.repeatType" class="q-px-sm">
            <q-icon name="quest:repeatable" />
            <q-tooltip
              content-class="bg-grey-10 text-body2 text-bold"
              anchor="top middle"
              self="bottom middle"
            >
              Quête journalière
            </q-tooltip>
          </div>

          <div v-if="quest.isDungeonQuest" class="q-px-sm">
            <q-icon name="quest:dungeon" />
            <q-tooltip
              content-class="bg-grey-10 text-body2 text-bold"
              anchor="top middle"
              self="bottom middle"
            >
              Quête de donjon
            </q-tooltip>
          </div>

          <div v-if="quest.isPartyQuest" class="q-px-sm">
            <q-icon name="quest:grp" />
            <q-tooltip
              content-class="bg-grey-10 text-body2 text-bold"
              anchor="top middle"
              self="bottom middle"
            >
              Quête de groupe
            </q-tooltip>
          </div>

          {{ quest.name }}
          <span class="text-body2 text-grey-6 q-ml-md">
            Niv.&nbsp;{{ quest.levelMin }}
            <span v-if="quest.levelMin !== quest.levelMax">-{{ quest.levelMax }}</span>
          </span>
        </div>

        <div class="row text-body text-grey-4 q-ml-lg">
          <q-checkbox
            v-model="isFinish"
            label="Quête finie"
            dense
            color="accent"
          />
        </div>
      </div>

      <div class="row justify-end">
        <quest-step-reward
          :kamas="rewards.kamas"
          :xp="rewards.xp"
          :items="rewards.items"
          :quantities="rewards.quantities"
        />
      </div>
    </div>

    <q-expansion-item
      v-if="usedIn.achievements.length || usedIn.quests.length"
      dark
      label="Lié à"
      header-class="text-secondary text-body1 text-bold"
      class="full-width bg-primary q-mt-md"
    >
      <q-separator color="darker" />
      <q-card dark class="bg-primary">
        <q-card-section>
          <div class="row full-width">
            <div
              v-if="usedIn.achievements.length"
              class="column col"
              :class="{ 'q-mr-sm': usedIn.quests.length }"
            >
              <div class="text-body2 text-semibold text-accent">
                Succès:
              </div>
              <div
                v-for="achievement of usedIn.achievements"
                :key="'usedInAchievement' + achievement.id"
                class="row full-width"
              >
                <router-link
                  :to="{ name: 'achievement', params: { id: achievement.id } }"
                  class="decoration-none text-white full-width"
                >
                  <achievement-list-item
                    :achievement="achievement"
                    class="bg-primary cursor-pointer bg-dark-hover"
                  />
                </router-link>
              </div>
            </div>

            <q-separator
              v-if="usedIn.achievements.length && usedIn.quests.length"
              vertical
              color="secondary"
            />

            <div
              v-if="usedIn.quests.length"
              class="column col"
              :class="{ 'q-ml-sm': usedIn.achievements.length }"
            >
              <div class="text-body2 text-semibold text-accent">
                Quêtes:
              </div>
              <div
                v-for="quest of usedIn.quests"
                :key="'usedInQuests' + quest.id"
                class="row full-width bg-dark-hover"
              >
                <router-link
                  :to="{ name: 'quest', params: { id: quest.id } }"
                  class="decoration-none text-white full-width"
                >
                  <quest-list-item
                    :quest="quest"
                  />
                </router-link>
              </div>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-expansion-item>

    <div v-if="quest" class="q-mt-md row">
      <div v-if="$q.screen.gt.sm" id="quest-left-bar" class="column col-2 full-height sticky"
           style="top: 75px">
        <dofus-map
          class="overflow-hidden bg-darker border-darker"
          style="height: 400px; width: 100%"
          :center="[map.config.centerX, map.config.centerY]"
          :origin="[map.config.origineX, map.config.origineY]"
          :height="map.config.totalHeight"
          :width="map.config.totalWidth"
          :scale="map.config.startScale"
          :scales="map.config.zoom"
          :map-height="map.config.mapHeight"
          :map-width="map.config.mapWidth"
          :tile-size="250"
          :name="map.config.name"
          :markers="map.markers"
          :url="getTileUrl"
        />

        <div class="column q-pa-md bg-primary col q-mt-md">
          <div class="text-body1 text-bold text-secondary">
            Etapes:
          </div>
          <div
            v-for="(step, index) of quest.steps"
            :key="'q' + quest.id + 's' + step.id"
            class="text-body1 q-ml-sm text-grey-6 text-white-hover cursor-pointer"
            @click="scrollToStep(index + 1)"
          >
            {{ index + 1 }} - {{ step.name }}
            <!-- TODO scroll to Etape X -->
          </div>
        </div>

        <q-space />
      </div>

      <div class="column full-height col" :class="{ 'q-ml-md': $q.screen.gt.sm }">
        <div class="row full-width">
          <div
            v-if="quest.readableCriteria && quest.readableCriteria.length"
            class="col-md col-xs-12 column text-white bg-primary q-pa-md q-mb-md"
            :class="{ 'q-mr-sm': (needs.items.length || needs.dungeons.length) && $q.screen.gt.xs }"
          >
            <div class="q-ml-md row text-secondary text-bold text-body1">
              Prérequis:
            </div>
            <criteria :criteria="quest.readableCriteria" />
          </div>

          <div
            v-if="needs.items.length || needs.dungeons.length"
            class="col-md col-xs-12 column text-white bg-primary q-pa-md q-mb-md"
            :class="{ 'q-ml-sm': quest.readableCriteria && quest.readableCriteria.length
             && $q.screen.gt.sm }"
          >
            <div class="q-ml-md row text-secondary text-bold text-body1">
              Vous aurez besoin de:
            </div>

            <div class="row q-mt-sm full-width">
              <div v-if="needs.items.length" class="column col-6">
                <div class="text-grey-12">
                  Objet{{ needs.items.length > 1 ? 's' : ''}}:
                </div>
                <div class="row">
                  <item
                    v-for="(item) of needs.items"
                    :key="uid() + 'needed' + item.id"
                    :item="item"
                    :quantity="getItemQuantity(needs.quantities, item)"
                    class="text-white"
                  />
                </div>
              </div>

              <div v-if="needs.dungeons.length" class="column col-6">
                <div class="text-body2 text-bold text-secondary">
                  Donjon{{ needs.dungeons.length > 1 ? 's' : ''}}:
                </div>
                <div
                  v-for="(dungeon) of needs.dungeons"
                  :key="uid() + 'neededDungeon' + dungeon.id"
                  class="text-white row"
                >
                  -&nbsp;{{ dungeon.quantity }}x&nbsp;
                  {{ dungeon.name }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          v-for="(step, index) of quest.steps"
          :key="'q' + quest.id + 's' + step.id"
          class="column bg-primary q-pa-md"
          :class="{ 'q-mt-md': index > 0 }"
        >
          <div class="row">
            <div class="column col">
              <div
                :id="`step${index + 1}`"
                :ref="`step${index + 1}`"
                class="text-body1 text-bold q-ml-md text-secondary"
              >
                Etape {{ index + 1 }} - {{ step.name }}
              </div>
              <div v-if="step.description" class="text-body2 text-grey-6">
                {{ step.description }}
              </div>
            </div>

            <quest-step-rewards
              :optimal-level="step.optimalLevel"
              :step-duration="step.duration"
              :rewards="step.rewards"
              class="q-ml-xl"
            />
          </div>

          <quest-objectives
            :objectives="step.objectives"
            class="q-mt-sm q-ml-sm"
          >
            <template v-slot:append="props">
              <q-icon
                v-if="props.objective.marker"
                class="cursor-pointer q-ml-xs"
                name="fas fa-map-marker"
                :color="props.objective.marker.visible
                   ? map.stepColors[index] || 'black'
                    : 'black'"
                size="20px"
                @click="props.objective.marker.visible = !props.objective.marker.visible"
              >
                <q-tooltip content-class="bg-darker text-body2">
                  Cacher le jalon
                </q-tooltip>
                <div
                  class="absolute text-bold text-white"
                  style="font-size: 10px;
                       transform: translate(-50%, -50%); left: 50%; top: 30%"
                >
                  {{ props.objective.marker.objectiveNumber }}
                </div>
              </q-icon>

              <q-icon
                v-if="props.objective.marker"
                class="cursor-pointer self-center q-ml-sm"
                name="visibility"
                color="grey"
                @click="focusObjectiveOnMap(props.objective)"
              >
                <q-tooltip content-class="bg-darker text-body2">
                  Se rendre au jalon
                </q-tooltip>
              </q-icon>
            </template>
          </quest-objectives>
        </div>
      </div>
    </div>
    <q-page-scroller position="bottom-right" :scroll-offset="150" :offset="[18, 18]">
      <q-btn fab icon="fas fa-arrow-up" color="darker" @click="scrollToTop" />
    </q-page-scroller>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
    </q-page-sticky>
  </q-page>
</template>

<script>
import { uid, scroll, debounce } from 'quasar';
import { MetaProperty, getMeta } from 'src/utils';
import QuestStepReward from 'components/Quest/QuestStepReward';
import Criteria from 'components/Criteria/Criteria';
import Item from 'components/Item/Item';
import QuestObjectives from 'components/Quest/QuestObjectives';
import DofusMap from 'components/Map/DofusMap';
import QuestStepRewards from 'components/Quest/QuestStepRewards';
import AchievementListItem from 'components/Achievement/AchievementListItem';
import QuestListItem from 'components/Quest/QuestListItem';

export default {
  name: 'Quest',
  components: {
    QuestListItem,
    AchievementListItem,
    QuestStepRewards,
    DofusMap,
    QuestObjectives,
    Item,
    Criteria,
    QuestStepReward,
  },
  meta() {
    const meta = this.$store.state.meta.meta || [];
    let description = getMeta(meta, 'description').content || 'DofusDB';
    let title = getMeta(meta, 'title').content || 'DofusDB';

    if (this.quest) {
      description = `Quête ${this.quest.name} - `;
      this.quest.steps.forEach((step, index) => {
        if (index) {
          description += ' - ';
        }

        description += `Etape ${index + 1}: ${step.description}`;
      });

      title = `DofusDB - ${this.quest.name}`;
    }

    return {
      title,
      meta: {
        ...this.$store.state.meta.meta,
        description: {
          name: 'description',
          content: description,
        },
      },
    };
  },
  async serverPrefetch() {
    const quest = (await this.$api.getQuest(this.$route.params.id, {
      $select: ['id', 'name', 'levelMin', 'levelMax'],
    })).data;


    let niv = quest.levelMin;
    if (quest.levelMin !== quest.levelMax && quest.levelMax) {
      niv += ` - ${quest.levelMax}`;
    }

    this.$store.commit('meta/setMeta', MetaProperty({
      title: `DofusDB - ${quest.name}`,
      'og:title': `DofusDB - ${quest.name}`,
      description: `${quest.name} Niv.${niv}`,
      'og:description': `${quest.name} Niv.${niv}`,
      'og:type': 'website',
    }));
  },
  data: () => ({
    quest: null,
    loading: false,
    rewards: {
      items: [],
      quantities: [],
      xp: 0,
      kamas: 0,
    },
    needs: {
      items: [],
      quantities: [],
      dungeons: [],
    },
    usedIn: {
      achievements: [],
      quests: [],
    },
    map: {
      config: {
        id: 1,
        name: 'Monde Principal',
        origineX: 6480,
        origineY: 4944,
        centerX: 6480,
        centerY: 4944,
        mapWidth: 69.5,
        mapHeight: 49.7,
        viewableEverywhere: true,
        minScale: 0.2,
        maxScale: 1,
        startScale: 0.6,
        totalWidth: 10000,
        totalHeight: 8000,
        zoom: ['1', '0.8', '0.6', '0.4', '0.2'],
      },
      markers: [],
      object: null,
      stepColors: [
        'red',
        'cyan-8',
        'orange-10',
        'light-green',
        'deep-orange',
        'grey',
        'teal',
        'blue',
        'green',
        'purple',
        'brown',
      ],
    },
  }),
  computed: {
    isFinish: {
      get() {
        return this.$store.state.quest.finished_quests.includes(this.quest.id);
      },
      set() {
        this.$store.commit('quest/addOrRemoveToFinishedQuests', this.quest.id);
      },
    },
  },
  watch: {
    // eslint-disable-next-line func-names
    '$route.params.id': function () {
      this.fetchQuest();
    },
  },
  created() {
    this.leftMenuStickiness = debounce(this.leftMenuStickiness, 10);
  },
  async mounted() {
    await this.fetchQuest();
    // this.createMap();
  },
  methods: {
    leftMenuStickiness(e) {
      const menu = document.getElementById('quest-left-bar');

      if (menu) {
        const heightWindow = window.innerHeight;
        const heightParent = menu.offsetHeight;
        const diff = heightParent - heightWindow;

        if (diff > -75 && e.deltaY > 0) {
          // Scroll up so left menu go and stick up
          menu.style.top = `${-diff - 65}px`;
          menu.style.bottom = null;
          menu.style['align-self'] = 'flex-start';
        } else if (diff > -75 && e.deltaY < 0) {
          // Scroll Down so left menu go and stick down
          menu.style.top = null;
          menu.style.bottom = `${-diff - 65}px`;
          menu.style['align-self'] = 'flex-end';
        }
      }
    },
    uid,
    getTileUrl(x, y, z) {
      const tilePerHLine = (this.map.config.totalWidth * z) / 250;
      const tilePerVLine = (this.map.config.totalHeight * z) / 250;
      const tileNumber = y * tilePerHLine + x + 1;
      if (x >= tilePerHLine || x < 0 || y < 0 || y >= tilePerVLine) {
        return '';
      }
      return `maps/${this.map.config.id}/${z}/${tileNumber}.jpg`;
    },
    dofusXYToMapXY(dofusX, dofusY) {
      // 1 unit Dofus = 1 width or 1 height of a map in px
      // 1 unit Leaflet = 1px * 2 ^ zoom
      const mapX = dofusX * ((this.map.config.mapWidth)
        / 2 ** this.map.config.maxZoom);
      const mapY = -dofusY * ((this.map.config.mapHeight)
        / 2 ** this.map.config.maxZoom);

      // y has to be first, x comes after (relative to Leaflet)
      return [mapY, mapX];
    },
    mapXYToDofusXY(mapX, mapY) {
      const dofusX = (mapX) / ((this.map.config.mapWidth)
        / 2 ** this.map.config.maxZoom) - 4;
      const dofusY = (-mapY) / ((this.map.config.mapHeight)
        / 2 ** this.map.config.maxZoom) + 1;

      return [Math.floor(dofusX), Math.floor(dofusY)];
    },
    async fetchQuest() {
      this.loading = true;
      this.needs = {
        items: [],
        quantities: [],
        dungeons: [],
      };
      this.usedIn = {
        achievements: [],
        quests: [],
      };

      try {
        this.quest = (await this.$api.getQuest(this.$route.params.id)).data;
        if (this.quest.startCriterion) {
          this.quest.readableCriteria = (await this.$api
            .getReadableCriteria(this.quest.startCriterion)).data;
        }
        this.quest.steps.sort((a, b) => this.quest.stepIds.indexOf(a.id)
          - this.quest.stepIds.indexOf(b.id));
        this.quest.steps.forEach((e, i) => {
          e.open = i === 0;
          e.objectives.sort((a, b) => e.objectiveIds.indexOf(a.id) - e.objectiveIds.indexOf(b.id));
        });
        this.setRewards();
        this.map.markers = [];
        this.createMarkers();
        this.setNeeds();
        this.getLinkedAchievements();
        this.getLinkedQuests();
      } catch (e) {
        this.$q.notify({
          color: 'negative',
          message: 'Quête non trouvé',
        });
      }
      this.loading = false;
    },
    addItemQuantity(quantities, itemQuantitiesToAdd) {
      // eslint-disable-next-line no-restricted-syntax
      for (const addItemQuantity of itemQuantitiesToAdd) {
        let finded = false;
        // eslint-disable-next-line no-restricted-syntax
        for (const itemQuantity of quantities) {
          if (itemQuantity[0] === addItemQuantity[0]) {
            itemQuantity[1] += addItemQuantity[1];
            finded = true;
          }
        }

        if (!finded) {
          quantities.push([...addItemQuantity]);
        }
      }
    },
    getItemQuantity(quantities, item) {
      // eslint-disable-next-line no-restricted-syntax
      for (const i of quantities) {
        if (i[0] === item.id) {
          return i[1];
        }
      }

      return 0;
    },
    setRewards() {
      this.rewards.xp = 0;
      this.rewards.kamas = 0;
      const tmpItems = [];
      this.quest.steps.forEach((step) => {
        const index = step.rewards.length - 1;

        step.rewards[index].items.forEach((item) => {
          tmpItems[item.id] = item;
        });

        this.rewards.kamas += this.$api.getKamasReward(
          step.rewards[index].kamasScaleWithPlayerLevel,
          step.optimalLevel,
          step.rewards[index].kamasRatio,
          step.duration,
          -1,
        );

        this.rewards.xp += this.$api.getXpReward(
          -1,
          step.optimalLevel,
          step.rewards[index].experienceRatio,
          step.duration,
        );
        this.addItemQuantity(this.rewards.quantities, step.rewards[index].itemsReward);
      });

      this.rewards.items = tmpItems.filter((e) => e !== null);
    },
    async getNeededBoss(mobs) {
      const bosses = (await this.$api.getMonsters({
        'id[$in]': mobs.map((e, index) => index).filter((e) => e !== null),
        isBoss: true,
        $select: ['id', 'name', 'isBoss', 'favoriteSubareaId'],
      })).data.data;

      bosses.forEach(async (boss) => {
        const zone = (await this.$api.getSubArea(boss.favoriteSubareaId, {
          $select: ['id', 'name'],
        })).data;
        zone.quantity = mobs[boss.id];
        this.needs.dungeons.push(zone);
      });
    },
    setNeeds() {
      const tmpItems = [];
      const tmpMobs = [];
      this.quest.steps.forEach((step) => {
        step.objectives.forEach((objective) => {
          if (objective.need && objective.need.item
            && objective.need.item.type.superTypeId !== 14) { // 14 = Quest object
            const { item } = objective.need;

            tmpItems[item.id] = item;
            this.addItemQuantity(this.needs.quantities, [[
              item.id,
              objective.need.quantity,
            ]]);
          }

          switch (objective.typeId) {
            case 6:
            case 16:
              if (!tmpMobs[objective.parameters.parameter0]) {
                tmpMobs[objective.parameters.parameter0] = 0;
              }
              tmpMobs[objective.parameters.parameter0] += 1;
              break;
            default:
              break;
          }
        });
      });

      if (tmpMobs.length) {
        this.getNeededBoss(tmpMobs);
      }
      this.needs.items = tmpItems.filter((e) => e !== null);
      // this.needs.dungeons = this.needs.dungeons.filter((e) => e !== null);
    },
    createMarkers() {
      let posXSum = 0;
      let posYSum = 0;

      this.quest.steps.forEach((step, stepIndex) => {
        step.objectives.forEach((objective, objectiveIndex) => {
          if ((objective.mapId === 0 || !objective.map) && !objective.coords) {
            return;
          }
          let dofusX;
          let dofusY;

          if (objective.mapId !== 0 && objective.map) {
            dofusX = objective.map.posX;
            dofusY = objective.map.posY;
          } else if (objective.coords) {
            dofusX = objective.coords.x;
            dofusY = objective.coords.y;
          }
          const posX = this.map.config.origineX + this.map.config.mapWidth * dofusX;
          const posY = this.map.config.origineY + this.map.config.mapHeight * dofusY;

          posXSum += posX;
          posYSum += posY;

          objective.marker = {
            id: objective.id,
            text: objective.text,
            stepNumber: stepIndex + 1,
            objectiveNumber: objectiveIndex + 1,
            visible: true,
            objective,
            color: this.map.stepColors[stepIndex],
            pos: {
              dofus: {
                x: dofusX,
                y: dofusY,
              },
              x: posX,
              y: posY,
            },
          };
          this.map.markers.push(objective.marker);
        });
      });
      this.map.config.centerX = posXSum / this.map.markers.length;
      this.map.config.centerY = posYSum / this.map.markers.length;
      this.map.markers = [...this.map.markers];
    },
    focusObjectiveOnMap(objective) {
      if (objective.marker) {
        this.map.config.centerX = objective.marker.pos.x;
        this.map.config.centerY = objective.marker.pos.y;
      }
    },
    scrollToStep(stepNumber) {
      const { getScrollTarget, setScrollPosition } = scroll;
      const el = document.getElementById(`step${stepNumber}`);

      // takes an element object
      const target = getScrollTarget(el);
      const offset = el.offsetTop;
      const duration = 250;
      setScrollPosition(target, offset, duration);
    },
    scrollToTop() {
      const el = document.getElementsByTagName('body')[0];
      const target = scroll.getScrollTarget(el);
      scroll.setScrollPosition(target, 0, 250);
    },
    async getLinkedAchievements() {
      const objs = await this.$api.getAll(this.$api.getAchievementObjectives, {
        'criterion[$regex]': `Qf=${this.quest.id}($|&|\\||\\))`,
        $select: ['id', 'criterion', 'achievementId'],
      });

      const achievementsId = objs.map((e) => e.achievementId);

      if (achievementsId.length) {
        this.usedIn.achievements = await this.$api.getAll(this.$api.getAchievements, {
          'id[$in]': achievementsId,
        });
      }
    },
    async getLinkedQuests() {
      this.usedIn.quests = await this.$api.getAll(this.$api.getQuests, {
        'startCriterion[$regex]': `Qf=${this.quest.id}($|&\\)|\\|)`,
      });
    },
  },
};
</script>

<style scoped>

</style>
