<template>
  <q-page class="flex q-pa-lg" :style-fn="styleFn">
    <div v-if="quest_category" class="column full-width full-height bg-darker q-pt-md">

      <!-- Header -->
      <div class="row text-white full-width q-pl-md">
        <div class="text-h5 text-secondary items-end">
          {{ quest_category.name }}
          <span class="text-body2 text-grey-6">
            ({{ total_quests }}&nbsp;quête{{ total_quests > 1 ? 's' : '' }})
          </span>
        </div>
      </div>

      <q-linear-progress
        v-if="loading > 0"
        indeterminate
        size="2px"
        rounded
        color="accent"
        class="q-mt-sm"
      />

      <quest-book
        :quests="quests"
        :sort-by-category="false"
        class="col q-mt-md row bg-darker text-white full-height"
      />
    </div>
  </q-page>
</template>

<script>
import QuestBook from 'components/Quest/QuestBook';

export default {
  name: 'QuestsByCategory',
  components: {
    QuestBook,
  },
  meta() {
    return {
      title: this.quest_category
        ? `DofusDB - ${this.quest_category.name}`
        : `DofusDB - Categorie n°${this.$route.params.id}`,
      meta: {
        description: {
          name: 'description',
          content: this.quest_category
            ? `Quêtes de la catégorie ${this.quest_category.name}`
            : '',
        },
      },
    };
  },
  data: () => ({
    quest_category_id: -1,
    quest_category: null,
    quests: [],
    total_quests: 0,
    loading: false,
  }),
  watch: {
    // eslint-disable-next-line func-names
    '$route.params.id': function () {
      this.onMount();
    },
  },
  mounted() {
    this.onMount();
  },
  methods: {
    async onMount() {
      this.quest_category_id = this.$route.params.id;
      this.quest_category = null;
      this.total_quests = 0;
      this.quests = [];

      this.quest_category = this.getCachedQuestCategory();
      if (!this.quest_category) {
        await this.fetchQuestCategory();
      }
      await this.fetchQuests();
    },
    styleFn(offset, height) {
      const pageheight = height - offset;
      return `height: ${pageheight}px`;
    },
    getCachedQuestCategory() {
      if (!this.$store.state.quest.categories
        || !this.$store.state.quest.categories.length) {
        return null;
      }
      return this.$store.state.quest.categories.find(
        (e) => e.id === this.quest_category_id,
      );
    },
    async fetchQuestCategory() {
      this.loading += 1;
      this.quest_category = (await this.$api
        .getQuestCategory(this.quest_category_id)).data;
      this.loading -= 1;
    },
    async fetchQuests(skip) {
      this.loading += 1;
      skip = skip || 0;

      const response = (await this.$api.getQuests({
        $skip: skip,
        $limit: 10,
        categoryId: this.quest_category_id,
        $populate: false,
      })).data;
      response.data.forEach((e) => {
        e.selected_step = 1;
        e.step_selector = [];
        for (let i = 1; i <= e.stepIds.length; i += 1) {
          e.step_selector.push(i);
        }
      });

      this.quests = this.quests.concat(response.data.map((e) => {
        e.activeStep = 0;
        e.category = this.quest_category;
        /* e.steps.forEach((step) => {
          step.activeReward = 0;
        }); */
        return e;
      }));

      this.loading -= 1;
      this.total_quests = response.total;
      if (skip + response.data.length < response.total) {
        await this.fetchQuests(skip + response.data.length);
      }
    },
  },
};
</script>

<style scoped>

</style>
