<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card v-if="set" dark class="q-dialog-plugin" style="width: 700px; max-width: 80vw;">
      <q-bar>
        <div v-if="set">
          {{ set.name }}
        </div>

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-darker text-white text-body2">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <div class="column q-mt-md">
        <div class="row q-mt-sm justify-center text-secondary q-px-lg text-h6">
          Objets de la panoplie
        </div>

        <template v-if="equipable">
          <span class="text-grey-6 text-body2 justify-center row full-width">
            Vous pouvez sélectionner/déselectionner des objets à équiper en cliquant dessus.
          </span>
          <div class="text-grey-6 text-body2 row items-center full-width justify-center">
            Les
            <div class="border-accent q-mx-sm" style="width: 14px; height: 14px" />
            seront équipé.
          </div>
        </template>

        <div class="row q-mt-sm justify-center text-white q-px-lg">
          <stuff-item
            v-for="(item, index) of set.items"
            :key="'set' + set.id + 'i' + index"
            v-model="set.items[index]"
            type="dofus"
            tooltip-direction="top"
            :editable="false"
            style="width: 100px; height: 100px"
            class="q-ma-sm"
            :class="{ 'border-accent': equipable && item.selected, 'cursor-pointer': equipable }"
            @click="item.selected = !item.selected; $forceUpdate()"
          />
        </div>

        <div class="row q-mt-sm justify-center text-secondary q-px-lg text-h6">
          Effets
        </div>

        <div class="column q-mt-sm justify-center text-white q-px-lg full-width">
          <q-tabs
            v-model="itemsNb"
            dense
            class="text-grey full-width bg-darker"
            active-color="accent"
            indicator-color="accent"
            align="justify"
            outside-arrows
            mobile-arrows
            style="max-width: 100%"
          >
            <q-tab
              v-for="(effect, index) of set.effects.slice(1)"
              :key="'set' + set.id + 'effectstab' + index"
              :name="index" :label="`${index + 2} Objets`"
            />
          </q-tabs>

          <q-separator />

          <q-tab-panels dark v-model="itemsNb" animated class="bg-darker">
            <q-tab-panel
              v-for="(effects, index) of set.effects.slice(1)"
              :key="'set' + set.id + 'effectstabpanel' + index"
              :name="index"
              dark
            >
              <item-characteristics
                :item="{ effects }"
                dense
              />
            </q-tab-panel>
          </q-tab-panels>
        </div>
      </div>

      <q-card-section v-if="equipable" align="right" class="q-mt-md">
        <q-btn color="secondary" label="Equiper" @click="onOKClick(set.items)" />
        <q-btn color="primary" label="Annuler" class="q-ml-sm" @click="onCancelClick" />
      </q-card-section>
      <q-card-actions v-else align="right" class="q-mt-md">
        <q-btn color="secondary" label="Fermer" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import ItemCharacteristics from 'components/Item/ItemCharacteristics';
import StuffItem from 'components/Stuff/StuffItem';

export default {
  name: 'ItemSetDialog',
  components: {
    StuffItem,
    ItemCharacteristics,
  },
  props: {
    id: {
      type: Number,
      required: true,
    },
    equipable: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    itemsNb: 2,
    set: null,
  }),
  mounted() {
    this.fetchItemSet();
  },
  methods: {
    async fetchItemSet() {
      this.$q.loading.show();
      this.set = (await this.$api.getItemSet(this.id)).data;

      // fetch all data of items
      this.set.items = (await this.$api.getItems({
        'id[$in]': this.set.items.map((e) => e.id),
      })).data.data;

      // select all items at launch
      this.set.items.forEach((e) => {
        e.selected = true;
      });
      this.$q.loading.hide();
      this.itemsNb = this.set.items.length - 2;
    },
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    async onOKClick() {
      this.$emit('ok', this.set.items.filter((e) => e.selected));
      this.hide();
    },
    onCancelClick() {
      this.hide();
    },
  },
};
</script>

<style scoped>

</style>
