<template>
  <div class="row">
    <div
      v-for="(craft, index) of resume"
      :key="'craft' + index"
      class="row col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2
       items-center text-bold text-body1 q-mt-xs"
    >
      <item
        :item="craft.item"
        :quantity="craft.quantity"
      />

      <q-input
        v-model.number="craft.actualQuantity"
        label="Quantité actuelle"
        dark
        outlined
        dense
        color="accent"
        class="q-mx-sm"
        :class="{ 'bg-positive': craft.actualQuantity === craft.quantity }"
        type="number"
        style="max-width: 150px"
        @input="changeQuantity(craft, $event)"
        @click.stop="doNothing"
      />
      &nbsp;/&nbsp;{{ craft.quantity }}

      <q-btn
        v-if="craft.actualQuantity !== craft.quantity"
        icon="fas fa-check"
        flat
        round
        size="sm"
        class="text-accent-hover text-grey-6 q-ml-xs"
        @click="changeQuantity(craft, craft.quantity)"
      >
        <q-tooltip content-class="text-white bg-darker text-body2">
          Valider la quantité
        </q-tooltip>
      </q-btn>

      <q-btn
        v-else
        icon="fas fa-times"
        flat
        round
        size="sm"
        class="text-accent-hover text-grey-6 q-ml-xs"
        @click="changeQuantity(craft, 0)"
      >
        <q-tooltip content-class="text-white bg-darker text-body2">
          Supprimer la quantité
        </q-tooltip>
      </q-btn>
    </div>
  </div>
</template>

<script>
import Item from 'components/Item/Item';

export default {
  name: 'CraftRecapItem',
  components: {
    Item,
  },
  props: {
    crafts: {
      type: Array,
      required: true,
    },
  },
  watch: {
    crafts: {
      handler: 'refreshCrafts',
      deep: true,
    },
  },
  data: () => ({
    resume: {},
  }),
  mounted() {
    this.refreshCrafts();
  },
  methods: {
    doNothing() {},
    refreshCrafts() {
      this.resume = {};
      this.crafts.forEach((craft) => {
        this.addRecipe(craft.item.recipe, craft.quantity);
      });
      this.$forceUpdate();
    },
    setSubQuantityForRecipe(recipe, quantity) {
      recipe.ingredients.forEach((ingredient) => {
        ingredient.actualQuantity = this.getQuantity(recipe, ingredient)
          * quantity;
        if (ingredient.recipe) {
          this.setSubQuantityForRecipe(ingredient.recipe, ingredient.actualQuantity);
        }
      });
    },
    changeQuantityForRecipe(recipe, itemId, quantity, quantityNeedToBeAdded) {
      recipe.ingredients.forEach((ingredient) => {
        const maxQuantity = this.getQuantity(recipe, ingredient) * quantity;

        // Check sub recipe
        if (ingredient.recipe) {
          quantityNeedToBeAdded = this.changeQuantityForRecipe(ingredient.recipe, itemId,
            maxQuantity, quantityNeedToBeAdded);
        }

        // check if actual item or rest item to add
        if (!quantityNeedToBeAdded || ingredient.id !== itemId) {
          return;
        }

        let after = ingredient.actualQuantity || 0;

        if (ingredient.actualQuantity + quantityNeedToBeAdded < 0) {
          after = 0;
          quantityNeedToBeAdded -= ingredient.actualQuantity;
        } else if (ingredient.actualQuantity + quantityNeedToBeAdded > maxQuantity) {
          const transfered = maxQuantity - ingredient.actualQuantity;
          after = maxQuantity;
          quantityNeedToBeAdded -= transfered;
        } else {
          after += quantityNeedToBeAdded;
          quantityNeedToBeAdded = 0;
        }

        if (ingredient.recipe) {
          this.setSubQuantityForRecipe(ingredient.recipe, after);
        }

        ingredient.actualQuantity = after;
      });

      return quantityNeedToBeAdded;
    },
    changeQuantity(item, value) {
      if (typeof value === 'string') {
        value = parseInt(value, 10);
      }

      if (!value || value < 0) {
        value = 0;
      }

      if (value > item.quantity) {
        value = item.quantity;
      }

      item.actualQuantity = value;
      let delta = value - item.lastQuantity;

      this.crafts.forEach((craft) => {
        if (!craft.item.recipe || !craft.item.recipe.ingredients) {
          return;
        }
        delta = this.changeQuantityForRecipe(craft.item.recipe, item.item.id,
          craft.quantity, delta);
      });

      item.lastQuantity = value;
      this.$emit('save');
      this.$forceUpdate();
    },
    getItemQuantity(quantities, items, item) {
      if (typeof quantities === 'number') {
        return quantities;
      }

      // [ [itemID, quantity], [itemID, quantity] ]
      if (quantities && quantities[0] && Array.isArray(quantities[0])) {
        for (let i = 0; i < quantities.length; i += 1) {
          if (quantities[i] && quantities[i][0] === item.id) {
            return quantities[i][1];
          }
        }
      } else { // { itemIndex: quantity, itemIndex: quantity }
        for (let i = 0; i < items.length; i += 1) {
          if (items[i].id === item.id) {
            return quantities[i];
          }
        }
      }

      return 0;
    },
    getQuantity(recipe, ingredient) {
      return this.getItemQuantity(recipe.quantities, recipe.ingredients, ingredient);
    },
    addRecipe(recipe, quantity) {
      if (!recipe) {
        return;
      }

      recipe.ingredients.forEach((ingredient) => {
        const needQuantity = this.getQuantity(recipe, ingredient) * quantity;
        let actualQuantity = ingredient.actualQuantity || 0;

        if (typeof actualQuantity === 'string') {
          actualQuantity = parseInt(actualQuantity, 10);
        }

        if (!this.resume[ingredient.id]) {
          this.resume[ingredient.id] = {
            item: ingredient,
            lastQuantity: actualQuantity,
            actualQuantity,
            quantity: needQuantity,
          };
        } else {
          this.resume[ingredient.id].lastQuantity += actualQuantity;
          this.resume[ingredient.id].actualQuantity += actualQuantity;
          this.resume[ingredient.id].quantity += needQuantity;
        }

        if (ingredient.recipe) {
          this.addRecipe(ingredient.recipe, needQuantity);
        }
      });
    },
  },
};
</script>

<style scoped>

</style>
