<template>
  <div>
    <div
      v-if="!recipe"
      :class="headerClass"
      :key="item.id + 'r' + recipe"
    >
      <div class="row">
        <div
          style="width: 20px; height: 20px; border-radius: 50%"
          class="border-darker q-mx-sm self-center"
          :class="{
            'bg-green': item.actualQuantity >= quantity,
            'bg-grey-9': item.actualQuantity < quantity,
          }"
        >
          <q-tooltip content-class="bg-darker text-white text-body2">
            <template v-if="item.actualQuantity >= quantity">
              Quantité suffisante
            </template>
            <template v-else>
              Quantité insuffisante
            </template>
          </q-tooltip>
        </div>
        <item
          :item="item"
          :quantity="quantity"
        />
        <div class="column col justify-center q-ml-md">
          <div class="text-body1">
            {{ item.name }}
          </div>
          <div class="text-body2 text-grey-6">
            Niv.{{ item.level }}
          </div>
        </div>

        <div class="row q-pr-md">
          <slot name="actions" />
        </div>

        <q-spinner
          v-if="loading"
          size="20"
          color="accent"
        />
      </div>
    </div>
    <q-expansion-item
      v-else
      :class="headerClass"
      header-class="q-pl-none"
      dense
      :key="item.id + 'r' + recipe"
    >
      <template v-slot:header>
        <div
          style="width: 20px; height: 20px; border-radius: 50%"
          class="border-darker q-mx-sm self-center"
          :class="{
            'bg-green': item.actualQuantity >= quantity || checkRecipeQuantity(),
            'bg-grey-9': item.actualQuantity < quantity && !checkRecipeQuantity(),
          }"
        >
          <q-tooltip content-class="bg-darker text-white text-body2">
            <template v-if="item.actualQuantity >= quantity || checkRecipeQuantity()">
              Quantité suffisante
            </template>
            <template v-else>
              Quantité insuffisante
            </template>
          </q-tooltip>
        </div>
        <item
          :item="item"
          :quantity="quantity"
        />
        <q-item-section class="column col justify-center q-ml-md">
          <div class="text-body1">
            {{ item.name }}
          </div>
          <div class="text-body2 text-grey-6">
            Niv.{{ item.level }}
          </div>
        </q-item-section>

        <slot name="actions" />

      </template>

      <craft-manager-item
        v-for="(ingredient, index) of recipe.ingredients"
        :key="recipe._id + ' ' + index + ' ' + ingredient.id"
        :item="ingredient"
        v-model="ingredient.finished"
        :quantity="getQuantity(ingredient)"
        style="padding-left: 25px"
        @save="$emit('save')"
        @hasRecipe="$emit('hasRecipe')"
      >
        <template v-slot:actions>
          <q-input
            v-model.number="ingredient.actualQuantity"
            :label="`Quantité actuelle /${getQuantity(ingredient)}`"
            dark
            dense
            outlined
            color="accent"
            type="number"
            :bg-color="ingredient.actualQuantity === getQuantity(ingredient)
             ? 'positive' : 'darker'"
            @input="actualQuantityChange(ingredient, $event)"
            @click.stop="() => {}"
          />

          <q-btn
            v-if="ingredient.actualQuantity !== getQuantity(ingredient)"
            icon="fas fa-check"
            flat
            round
            size="sm"
            class="text-accent-hover text-grey-6 q-ml-xs"
            @click.stop="ingredient.actualQuantity = getQuantity(ingredient)"
          >
            <q-tooltip content-class="text-white bg-darker text-body2">
              Valider la quantité
            </q-tooltip>
          </q-btn>

          <q-btn
            v-else
            icon="fas fa-times"
            flat
            round
            size="sm"
            class="text-accent-hover text-grey-6 q-ml-xs"
            @click.stop="ingredient.actualQuantity = 0"
          >
            <q-tooltip content-class="text-white bg-darker text-body2">
              Supprimer la quantité
            </q-tooltip>
          </q-btn>
        </template>
      </craft-manager-item>
    </q-expansion-item>
  </div>
</template>

<script>
import Item from 'components/Item/Item';

export default {
  name: 'CraftManagerItem',
  components: {
    Item,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
    quantity: {
      type: Number,
      default: 1,
    },
    value: {
      type: Boolean,
      required: true,
      default: false,
    },
    headerClass: {
      type: String,
      default: 'full-width bg-primary',
    },
    indent: {
      type: Number,
      default: 0,
    },
    canChangeQuantity: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    loading: false,
    recipe: null,
  }),
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
        this.$emit('save');
      },
    },
  },
  mounted() {
    this.getRecipe();
  },
  methods: {
    checkRecipeQuantity() {
      let isCraftable = true;

      this.recipe.ingredients.forEach((ingredient) => {
        const maxQuantity = this.getQuantity(ingredient);
        if (ingredient.actualQuantity < maxQuantity) {
          isCraftable = false;
        }
      });

      return isCraftable;
    },
    getQuantity(ingredient) {
      return this.getItemQuantity(this.recipe.quantities, this.recipe.ingredients, ingredient)
        * this.quantity;
    },
    actualQuantityChange(ingredient, quantity) {
      const maxQuantity = this.getQuantity(ingredient);

      if (typeof quantity === 'string') {
        quantity = parseInt(quantity, 10);
      }

      if (quantity < 0 || !quantity) {
        quantity = 0;
      }
      if (quantity > maxQuantity) {
        quantity = maxQuantity;
      }

      ingredient.actualQuantity = quantity;
      this.$emit('save');
    },
    async getRecipe() {
      if (this.item.recipe || this.item.recipeSearched) {
        this.recipe = this.item.recipe;
        return;
      }
      this.loading = true;
      const [recipe] = (await this.$api.getRecipes({
        resultId: this.item.id,
        $limit: 1,
      })).data.data;

      if (recipe) {
        recipe.ingredients.sort((a, b) => recipe.ingredientIds.indexOf(a.id)
          - recipe.ingredientIds.indexOf(b.id));

        recipe.ingredients.forEach((ingredient) => {
          ingredient.actualQuantity = 0;
        });
        this.$emit('hasRecipe');
      }

      this.item.recipeSearched = true;
      this.item.recipe = recipe;
      this.recipe = recipe;
      this.$emit('save');
      this.loading = false;
    },
    getItemQuantity(quantities, items, item) {
      if (typeof quantities === 'number') {
        return quantities;
      }

      // [ [itemID, quantity], [itemID, quantity] ]
      if (quantities && quantities[0] && Array.isArray(quantities[0])) {
        for (let i = 0; i < quantities.length; i += 1) {
          if (quantities[i] && quantities[i][0] === item.id) {
            return quantities[i][1];
          }
        }
      } else { // { itemIndex: quantity, itemIndex: quantity }
        for (let i = 0; i < items.length; i += 1) {
          if (items[i].id === item.id) {
            return quantities[i];
          }
        }
      }

      return 0;
    },
  },
};
</script>

<style scoped>

</style>
