<template>
  <div class="row q-pa-xs">
    <div class="bg-primary column justify-center">
      <item
        :item="recipe.result"
        :quantity="1"
        class="text-white"
      />
    </div>

    <div class="column q-ml-md col">
      <div class="row text-bold text-body1">
        {{ recipe.result.name }}
      </div>
      <div class="row text-body2">
        Niv.&nbsp;{{ recipe.result.level }}
      </div>

      <list-item
        class="row"
        :items="recipe.ingredients"
        :quantities="recipe.quantities"
      />
    </div>
  </div>
</template>

<script>
import Item from 'components/Item/Item';
import ListItem from 'components/Item/ListItem';

export default {
  name: 'Recipe',
  components: {
    ListItem,
    Item,
  },
  props: {
    recipe: Object,
    quantity: {
      type: Number,
      default: 1,
    },
  },
  mounted() {
    this.recipe.ingredients.sort((a, b) => this.recipe.ingredientIds.indexOf(a.id)
      - this.recipe.ingredientIds.indexOf(b.id));
  },
  methods: {

  },
};
</script>

<style scoped>

</style>
