<template>
  <q-page class="column q-pa-lg">

    <!-- Header -->
    <div v-if="stuff" class="row justify-center text-white bg-primary full-width
     full-height q-pa-md items-center">
      <div v-if="stuff" class="q-ml-sm text-h5 text-secondary text-bold">
        {{ stuff.name }}
      </div>

      <div v-if="stuff" class="q-ml-md text-grey-6 self-end">
        Niv. {{ stuff.level }}
      </div>

      <div class="row justify-center col">
        <q-btn
          v-if="stuff.user && $store.state.user && $store.state.user.user && $store.state.user.user
         && stuff.user._id === $store.state.user.user._id"
          label="Editer"
          color="accent"
          outline
          class="q-mr-sm"
          :to="{ name: 'stuffEditor', params: { id: $route.params.id } }"
        />
        <q-btn
          label="Copier"
          color="accent"
          outline
          :to="{ name: 'stuffCopy', params: { copyFrom: $route.params.id } }"
        />
      </div>

      <add-item-to-workbench :items="items" class="q-mr-md" />

      <q-checkbox
        v-model="dense_characteristics"
        label="Mode icon"
        color="accent"
        dense
      >
        <q-tooltip content-class="bg-darker text-body2 text-white">
          Le nom des caractéristiques ne sera plus affiché et seul les icônes seront présente.
        </q-tooltip>
      </q-checkbox>
    </div>

    <div v-if="stuff" class="row full-width justify-between items-start q-mt-md">
      <div class="column col-lg-3 col-12 col-md-6">
        <q-card dark class="full-width bg-primary">
          <q-card-section class="row">
            <div class="column">
              <div class="row justify-start text-shadow-2" style="margin-left: 7px">
                <div
                  class="bg-pv row justify-center items-center text-bold text-body1"
                  style="width: 100px; height: 100px"
                >
                  {{ Intl.NumberFormat('fr').format(pv) }}
                </div>
              </div>

              <div class="row justify-start text-shadow-2" style="margin-top: -25px">
                <div
                  class="bg-pa row justify-center items-center text-bold text-body1"
                  style="width: 50px; height: 50px"
                >
                  {{ pa }}
                </div>

                <div style="width: 15px" />

                <div
                  class="bg-pm row justify-center items-center text-bold text-body1"
                  style="width: 50px; height: 50px"
                >
                  {{ pm }}
                </div>
              </div>
            </div>

            <div class="column q-ml-sm col">
              <div class="row text-bold text-accent text-body2 q-mt-md">
                Statistiques primaires
              </div>

              <div class="row full-width">
                <div class="col-6 column">
                  <characteristic
                    :characteristic_id="$api.characteristics_id.po"
                    :value="po"
                    :dense="dense_characteristics"
                    style="max-width: 100%"
                  />
                  <characteristic
                    :characteristic_id="$api.characteristics_id.invo"
                    :value="invo"
                    :dense="dense_characteristics"
                    style="max-width: 100%"
                  />
                  <characteristic
                    :characteristic_id="$api.characteristics_id.crit"
                    :value="crit"
                    :dense="dense_characteristics"
                    style="max-width: 100%"
                  />
                  <characteristic
                    :characteristic_id="$api.characteristics_id.soins"
                    :value="soins"
                    :dense="dense_characteristics"
                    style="max-width: 100%"
                  />
                </div>

                <div class="col-6 column">
                  <characteristic
                    :characteristic_id="$api.characteristics_id.ini"
                    :value="ini"
                    :dense="dense_characteristics"
                    style="max-width: 100%"
                  />
                  <characteristic
                    :characteristic_id="$api.characteristics_id.prospection"
                    :value="prospection"
                    :dense="dense_characteristics"
                    style="max-width: 100%"
                  />
                  <characteristic
                    :characteristic_id="$api.characteristics_id.puissance"
                    :value="puissance"
                    :dense="dense_characteristics"
                    style="max-width: 100%"
                  />
                </div>
              </div>
            </div>
          </q-card-section>
        </q-card>

        <q-card dark class="full-width bg-primary q-mt-md">
          <q-card-section class="row full-width">
            <div class="column full-width">

              <div class="row text-accent text-body2 text-bold">
                Statistique de Base et Parchotage
              </div>

              <q-table
                :columns="columns"
                :data="rows"
                class="bg-primary full-width"
                flat
                dark
                hide-bottom
                dense
                :rows-per-page-options="[0]"
              >
                <template v-slot:body-cell-icon="props">
                  <q-td :props="props">
                    <div>
                      <q-icon
                        :name="props.value"
                        size="22px"
                      />
                    </div>
                  </q-td>
                </template>

                <template v-slot:body-cell-base="props">
                  <q-td :props="props">
                    <div class="row no-wrap">
                      {{ base[props.value] }}
                    </div>
                  </q-td>
                </template>

                <template v-slot:body-cell-parchment="props">
                  <q-td :props="props">
                    <div class="row no-wrap">
                      {{ parchment[props.value] }}
                    </div>
                  </q-td>
                </template>

                <template v-slot:body-cell-total="props">
                  <q-td :props="props">
                    <div v-if="props.value === 0">
                      <span class="text-bold text-body1">{{ pv }}</span>
                    </div>
                    <div v-else-if="props.value === 1">
                      <span class="text-bold text-body1">{{ agilite }}</span>
                    </div>
                    <div v-else-if="props.value === 2">
                      <span class="text-bold text-body1">{{ chance }}</span>
                    </div>
                    <div v-else-if="props.value === 3">
                      <span class="text-bold text-body1">{{ force }}</span>
                    </div>
                    <div v-else-if="props.value === 4">
                      <span class="text-bold text-body1">{{ intelligence }}</span>
                    </div>
                    <div v-else-if="props.value === 5">
                      <span class="text-bold text-body1">{{ sagesse }}</span>
                    </div>
                  </q-td>
                </template>
              </q-table>
            </div>
          </q-card-section>
        </q-card>

        <q-card v-if="exo && exo.length" dark class="full-width bg-primary q-mt-md">
          <q-card-section>
            <div class="row text-accent text-body2 text-bold items-center">
              Forgemagie
            </div>

            <div class="row">
              <characteristic
                v-for="(stat, index) of exo"
                :key="'exo' + index + 's' + stat.stat"
                :characteristic_id="stat.stat"
                :value="stat.value"
                :dense="dense_characteristics"
                :class="{ 'col-6': !dense_characteristics, 'col-4': dense_characteristics }"
              />
            </div>
          </q-card-section>
        </q-card>
      </div>

      <div v-if="stuff" class="col-lg col-12 col-md-6 q-px-sm justify-center row q-mt-sm-md">
        <div class="column full-width" style="max-width: 600px">
          <div class="row full-width">
            <div class="col column items-center" style="max-width: 100px">
              <stuff-item
                v-model="stuff.items.amulet"
                :editable="false"
                type="collar"
                tooltip-direction="left"
                class="q-ma-sm"
                style="max-width: 84px; max-height: 84px"
                :forgemagies="this.stuff.forgemagie"
              />
              <stuff-item
                v-model="stuff.items.rings[0]"
                :editable="false"
                type="ring"
                tooltip-direction="left"
                class="q-ma-sm"
                style="max-width: 84px; max-height: 84px"
                :forgemagies="this.stuff.forgemagie"
              />
              <stuff-item
                v-model="stuff.items.rings[1]"
                :editable="false"
                type="ring"
                tooltip-direction="left"
                class="q-ma-sm"
                style="max-width: 84px; max-height: 84px"
                :forgemagies="this.stuff.forgemagie"
              />
              <stuff-item
                v-model="stuff.items.boots"
                :editable="false"
                type="shoe"
                tooltip-direction="left"
                class="q-ma-sm"
                style="max-width: 84px; max-height: 84px"
                :forgemagies="this.stuff.forgemagie"
              />
            </div>

            <div class="col column items-center q-ma-md" style="max-width: 500px">
              <classe
                v-if="breed"
                :breed="breed"
                :sexe="sexe"
                style="max-height: 300px"
              />

              <div class="row justify-center full-width">
                <stuff-item
                  v-model="stuff.items.weapon"
                  :editable="false"
                  type="weapon"
                  tooltip-direction="right"
                  class="q-ma-sm"
                  style="max-width: 84px; max-height: 84px"
                  :forgemagies="this.stuff.forgemagie"
                />
                <stuff-item
                  v-model="stuff.items.shield"
                  :editable="false"
                  type="shield"
                  tooltip-direction="top"
                  class="q-ma-sm"
                  style="max-width: 84px; max-height: 84px"
                  :forgemagies="this.stuff.forgemagie"
                />
              </div>
            </div>

            <div class="col column items-center" style="max-width: 100px">
              <stuff-item
                v-model="stuff.items.helmet"
                :editable="false"
                type="helmet"
                tooltip-direction="right"
                class="q-ma-sm"
                style="max-width: 84px; max-height: 84px"
                :forgemagies="this.stuff.forgemagie"
              />
              <stuff-item
                v-model="stuff.items.cape"
                :editable="false"
                type="cape"
                tooltip-direction="right"
                class="q-ma-sm"
                style="max-width: 84px; max-height: 84px"
                :forgemagies="this.stuff.forgemagie"
              />
              <stuff-item
                v-model="stuff.items.belt"
                :editable="false"
                type="belt"
                tooltip-direction="right"
                class="q-ma-sm"
                style="max-width: 84px; max-height: 84px"
                :forgemagies="this.stuff.forgemagie"
              />
              <stuff-item
                v-model="stuff.items.pet"
                :editable="false"
                type="pet"
                tooltip-direction="right"
                class="q-ma-sm"
                style="max-width: 84px; max-height: 84px"
              />
            </div>
          </div>

          <!-- Dofus -->
          <div class="row full-width justify-center">
            <stuff-item
              v-model="stuff.items.dofus[0]"
              :editable="false"
              type="dofus"
              tooltip-direction="top"
              class="q-ma-sm col-3 col-sm"
            />
            <stuff-item
              v-model="stuff.items.dofus[1]"
              :editable="false"
              type="dofus"
              tooltip-direction="top"
              class="q-ma-sm col-3 col-sm"
            />
            <stuff-item
              v-model="stuff.items.dofus[2]"
              :editable="false"
              type="dofus"
              tooltip-direction="top"
              class="q-ma-sm col-3 col-sm"
            />
            <stuff-item
              v-model="stuff.items.dofus[3]"
              :editable="false"
              type="dofus"
              tooltip-direction="top"
              class="q-ma-sm col-3 col-sm"
            />
            <stuff-item
              v-model="stuff.items.dofus[4]"
              :editable="false"
              type="dofus"
              tooltip-direction="top"
              class="q-ma-sm col-3 col-sm"
            />
            <stuff-item
              v-model="stuff.items.dofus[5]"
              :editable="false"
              type="dofus"
              tooltip-direction="top"
              class="q-ma-sm col-3 col-sm"
            />
          </div>

          <div class="column full-width">
            <div class="row full-width justify-center q-mt-md">
              <q-btn
                label="Sorts"
                color="secondary"
                outline
                @click="showSpells"
              />
              <type-of-damage v-model="isDistDamage" />
            </div>

            <weapon-damages
              v-if="stuff.items.weapon"
              :stats="stuff.stats"
              :weapon="stuff.items.weapon"
              :is_distance="isDistDamage"
              class="column full-width justify-center q-mt-md bg-primary"
            />

            <div v-if="stuff.pinned_spells" class="row full-width justify-center q-mt-md">
              <div
                v-for="(spell, index) of stuff.pinned_spells"
                :key="'pinnedSpell' + index"
                class="col-6"
              >
                <spell
                  :spell="spell"
                  :characteristics="stuff.stats"
                  :calcul-damage="true"
                  :advanced="true"
                  :isDistance="isDistDamage"
                  class="q-ma-sm"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column col-12 col-lg-3 col-6-md q-mt-sm-md">
        <do-res-stuff-card
          :stats="stuff.stats"
          :dense_characteristics="dense_characteristics"
        />

        <secondary-stats-card
          :stats="stuff.stats"
          :dense_characteristics="dense_characteristics"
        />

        <q-card class="bg-primary q-mt-md" dark>
          <q-card-section class="column full-width">

            <div class="row text-accent text-body2 text-bold">
              Bonus de panoplie
            </div>

            <div v-if="!sets ||!sets.length" class="row text-grey-6 justify-center">
              Aucun
            </div>

            <div
              v-for="(set) of sets"
              :key="'itemSet' + set.id"
              class="column"
            >
              <div class="row q-ml-sm">
                <item-set
                  :id="set.id"
                  :name="set.name"
                  class="text-body2 text-bold text-secondary"
                />
                <span class="text-grey-6 q-ml-sm">
                  ({{ set.nbEquiped }} objets)
                </span>
              </div>

              <div class="row">
                <div
                  v-for="(effect, index) of set.effects[set.nbEquiped - 1]"
                  :key="'set' + set.nbEquiped + 'id' + set.id + 'effect' + index"
                  class="text-no-wrap ellipsis"
                  :class="{ 'col-6': effect.text || effect.from || effect.to }"
                >
                  <effect
                    v-if="effect.text || effect.from || effect.to"
                    :readable-effect="effect"
                  />
                </div>
              </div>

            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>

    <div v-if="error" class="row full-width justify-center text-h6 text-white text-bold">
      {{ error }}
    </div>
  </q-page>
</template>

<script>
import Characteristic from 'components/Common/Characteristic';
import Effect from 'components/Effect';
import { MetaProperty } from 'src/utils';
import StuffItem from 'components/Stuff/StuffItem';
import ItemSet from 'components/Common/ItemSet';
import Classe from 'components/Common/Classe';
import DoResStuffCard from 'components/Stuff/DoResStuffCard';
import SecondaryStatsCard from 'components/Stuff/SecondaryStatsCard';
import SpellsDialog from 'components/Spells/SpellsDialog';
import WeaponDamages from 'components/Stuff/WeaponDamages';
import AddItemToWorkbench from 'components/Item/AddItemToWorkbench';
import Spell from 'components/Spells/Spell';
import TypeOfDamage from 'components/Stuff/TypeOfDamage';

export default {
  name: 'Stuff',
  components: {
    TypeOfDamage,
    Spell,
    AddItemToWorkbench,
    WeaponDamages,
    SecondaryStatsCard,
    DoResStuffCard,
    Classe,
    ItemSet,
    StuffItem,
    Effect,
    Characteristic,
  },
  meta() {
    return {
      title: this.stuff
        ? `DofusDB - Stuff ${this.stuff.name}`
        : `DofusDB - Stuff n°${this.$route.params.id}`,
      meta: {
        description: {
          name: 'description',
          content: this.stuff
            ? `Stuff ${this.stuff.name} Niv.${this.stuff.level}`
            : '',
        },
        ...this.$store.state.meta.meta,
      },
    };
  },
  async serverPrefetch() {
    try {
      const stuff = (await this.$api.getStuff(this.$route.params.id)).data;

      this.$store.commit('meta/setMeta', MetaProperty({
        'twitter:image': stuff.preview,
        'twitter:card': 'summary_large_image',
        'og:image': stuff.preview,
        'og:title': `DofusDB - Stuff ${stuff.name}`,
        'og:description': `Stuff ${stuff.name} Niv.${stuff.level}`,
        'og:type': 'website',
      }));
    } catch {
      // not empty
    }
  },
  props: {},
  data() {
    return {
      loading: false,
      isDistDamage: undefined,
      rows: [
        {
          icon: 'stat:pv',
          name: 'vitality',
          index: 0,
        },
        {
          icon: 'stat:agilite',
          name: 'agility',
          index: 1,
        },
        {
          icon: 'stat:chance',
          name: 'chance',
          index: 2,
        },
        {
          icon: 'stat:force',
          name: 'strength',
          index: 3,
        },
        {
          icon: 'stat:intelligence',
          name: 'intelligence',
          index: 4,
        },
        {
          icon: 'stat:sagesse',
          name: 'wisdom',
          index: 5,
        },
      ],
      columns: [
        {
          label: '',
          name: 'icon',
          field: 'icon',
          align: 'left',
        },
        {
          label: 'Base',
          name: 'base',
          field: 'name',
          align: 'left',
        },
        {
          label: 'Parchotâge',
          name: 'parchment',
          field: 'name',
          align: 'left',
        },
        {
          label: 'Total',
          name: 'total',
          field: 'index',
        },
      ],
      sets: null,
      stuff: null,
      breed: null,
      sexe: 'female',
      error: null,
    };
  },
  watch: {
    // eslint-disable-next-line
    '$route.params.id': function () {
      this.fetchStuff();
    },
  },
  computed: {
    dense_characteristics: {
      get() {
        return this.$store.state.config.dense_characteristics;
      },
      set(value) {
        this.$store.commit('config/setDenseCharacteristics', value);
      },
    },
    items() {
      if (!this.stuff) {
        return [];
      }
      return [
        this.stuff.items.amulet,
        this.stuff.items.helmet,
        this.stuff.items.cape,
        this.stuff.items.rings[0],
        this.stuff.items.rings[1],
        this.stuff.items.shield,
        this.stuff.items.boots,
        this.stuff.items.belt,
        this.stuff.items.dofus[0],
        this.stuff.items.dofus[1],
        this.stuff.items.dofus[2],
        this.stuff.items.dofus[3],
        this.stuff.items.dofus[4],
        this.stuff.items.dofus[5],
        this.stuff.items.weapon,
        this.stuff.items.pet,
      ].filter((e) => !!e);
    },
    base() {
      return this.stuff ? this.stuff.base : {};
    },
    parchment() {
      return this.stuff ? this.stuff.parchment : {};
    },
    exo() {
      return this.stuff ? this.stuff.exo : {};
    },
    pa() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.pa);
    },
    pm() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.pm);
    },
    pv() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.pv);
    },
    po() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.po);
    },
    invo() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.invo);
    },
    crit() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.crit);
    },
    soins() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.soins);
    },
    ini() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.ini);
    },
    prospection() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.prospection);
    },
    puissance() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.puissance);
    },
    agilite() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.agilite);
    },
    chance() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.chance);
    },
    force() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.force);
    },
    intelligence() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.intelligence);
    },
    sagesse() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.sagesse);
    },
    doneutre() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['do-neutre']);
    },
    doterre() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['do-terre']);
    },
    dofeu() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['do-feu']);
    },
    doeau() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['do-eau']);
    },
    doair() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['do-air']);
    },
    reneutre() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['res-neutre']);
    },
    reterre() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['res-terre']);
    },
    refeu() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['res-feu']);
    },
    reeau() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['res-eau']);
    },
    reair() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['res-air']);
    },
    reperneutre() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['re-per-neutre']);
    },
    reperterre() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['re-per-terre']);
    },
    reperfeu() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['re-per-feu']);
    },
    repereau() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['re-per-eau']);
    },
    reperair() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['re-per-air']);
    },
    dospells() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['dommages-sorts']);
    },
    domelee() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['dommages-melee']);
    },
    dodistance() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['dommages-distance']);
    },
    doweapon() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['dommages-armes']);
    },
    repermelee() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['resistance-melee']);
    },
    reperdistance() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['resistance-distance']);
    },
    dopieges() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['dommages-pieges']);
    },
    docrit() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['dommages-critiques']);
    },
    dopou() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['dommages-poussee']);
    },
    puipieges() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['puissance-pieges']);
    },
    recrit() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['resistance-critiques']);
    },
    repou() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['resistance-poussee']);
    },
    esquivepa() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['esquive-pa']);
    },
    esquivepm() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['esquive-pm']);
    },
    fuite() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.fuite);
    },
    tacle() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.tacle);
    },
    retraitpa() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['retrait-pa']);
    },
    retraitpm() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id['retrait-pm']);
    },
    dommages() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.dommages);
    },
    returnDamages() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.renvoi);
    },
    pods() {
      return this.getStatFromStuff(this.stuff, this.$api.characteristics_id.pods);
    },
  },
  mounted() {
    this.fetchStuff();
  },
  methods: {
    showSpells() {
      this.$q.dialog({
        component: SpellsDialog,
        breedId: this.breed.id,
        characteristics: this.stuff.stats,
      });
    },
    getStatFromStuff(stuff, statId) {
      const stat = stuff.stats ? stuff.stats[statId] : 0;
      return stat || 0;
    },
    async fetchStuff() {
      if (!this.stuff || !this.stuff._id
        || this.stuff._id.toString() !== this.$route.params.id.toString()) {
        try {
          this.stuff = (await this.$api.getStuff(this.$route.params.id)).data;
        } catch {
          this.error = 'Ce stuff est introuvable ou privé';
          return;
        }
      }

      this.breed = this.stuff.breed;
      this.sexe = this.stuff.sexe;

      await this.setItemSets();
    },
    getItemOnSets(setId) {
      return this.items.filter((item) => item && item.itemSetId === setId);
    },
    async setItemSets() {
      const setsIds = [];

      this.items.forEach((item) => {
        const itemsInSet = this.getItemOnSets(item.itemSetId);

        if (itemsInSet.length > 1 && !setsIds.includes(item.itemSetId)) {
          if (!this.sets || this.sets.findIndex((e) => e.id === item.itemSetId) === -1) {
            setsIds.push(item.itemSetId);
          }
        }
      });

      if (setsIds.length > 0) {
        const response = (await this.$api.getItemSets({
          'id[$in]': setsIds,
          $limit: setsIds.length,
        })).data;

        response.data.forEach((set) => {
          set.nbEquiped = this.getItemOnSets(set.id).length;
        });

        this.sets = response.data;
      }
    },
  },
};
</script>

<style scoped>

</style>
