<template>
  <q-no-ssr>
    <q-page class="column q-pa-lg">

      <!-- Header -->
      <div class="row justify-center text-white bg-primary full-width full-height q-pa-md">
        <div class="q-ml-sm text-h5 text-secondary text-bold">
          <template v-if="!$route.params.id">Création de stuff</template>
          <template v-else>Edition de stuff</template>
        </div>

        <q-space />

        <q-input
          class=""
          v-model.number="level"
          label="Niveau"
          type="number"
          color="white"
          dark
          dense
          filled
        />

        <q-btn
          class="q-ml-md"
          color="accent"
          label="Publier"
          outline
          :loading="loading"
          @click="publish"
        />

        <q-space />

        <add-item-to-workbench :items="items" class="q-mr-md" />

        <q-checkbox
          v-model="dense_characteristics"
          label="Mode icon"
          color="accent"
        >
          <q-tooltip content-class="bg-darker text-body2 text-white">
            Le nom des caractéristiques ne sera plus affiché et seul les icônes seront présente.
          </q-tooltip>
        </q-checkbox>
      </div>

      <div class="row full-width justify-between items-start q-mt-md">

        <div class="column col-lg-3 col-12 col-md-6">
          <q-card dark class="full-width bg-primary">
            <q-card-section class="row">
              <div class="column">
                <div class="row justify-start text-shadow-2" style="margin-left: 7px">
                  <div
                    class="bg-pv row justify-center items-center text-bold text-body1"
                    style="width: 100px; height: 100px"
                  >
                    {{ Intl.NumberFormat('fr').format(pv) }}
                  </div>
                </div>

                <div class="row justify-start text-shadow-2" style="margin-top: -25px">
                  <div
                    class="bg-pa row justify-center items-center text-bold text-body1"
                    style="width: 50px; height: 50px"
                  >
                    {{ pa }}
                  </div>

                  <div style="width: 15px" />

                  <div
                    class="bg-pm row justify-center items-center text-bold text-body1"
                    style="width: 50px; height: 50px"
                  >
                    {{ pm }}
                  </div>
                </div>
              </div>

              <div class="column q-ml-sm col">
                <div class="row text-bold text-accent text-body2 q-mt-md">
                  Statistiques primaires
                </div>

                <div class="row full-width">
                  <div class="col col-lg-6 column">
                    <characteristic
                      :characteristic_id="$api.characteristics_id.po"
                      :value="po"
                      :dense="dense_characteristics"
                    />
                    <characteristic
                      :characteristic_id="$api.characteristics_id.invo"
                      :value="invo"
                      :dense="dense_characteristics"
                    />
                    <characteristic
                      :characteristic_id="$api.characteristics_id.crit"
                      :value="crit"
                      :dense="dense_characteristics"
                    />
                    <characteristic
                      :characteristic_id="$api.characteristics_id.soins"
                      :value="soins"
                      :dense="dense_characteristics"
                    />
                  </div>

                  <div class="col col-lg-6 column">
                    <characteristic
                      :characteristic_id="$api.characteristics_id.ini"
                      :value="ini"
                      :dense="dense_characteristics"
                    />
                    <characteristic
                      :characteristic_id="$api.characteristics_id.prospection"
                      :value="prospection"
                      :dense="dense_characteristics"
                    />
                    <characteristic
                      :characteristic_id="$api.characteristics_id.puissance"
                      :value="puissance"
                      :dense="dense_characteristics"
                    />
                  </div>
                </div>
              </div>
            </q-card-section>
          </q-card>

          <q-card dark class="full-width bg-primary q-mt-md">
            <q-card-section class="row full-width">
              <div class="column full-width">

                <div class="row text-accent text-body2 text-bold">
                  Statistique de Base et Parchotage
                </div>

                <q-table
                  :columns="columns"
                  :data="rows"
                  class="bg-primary full-width"
                  flat
                  dark
                  hide-bottom
                  dense
                  :rows-per-page-options="[0]"
                >
                  <template v-slot:body-cell-icon="props">
                    <q-td :props="props">
                      <div>
                        <q-icon
                          :name="props.value"
                          size="27px"
                        />
                      </div>
                    </q-td>
                  </template>

                  <template v-slot:body-cell-base="props">
                    <q-td :props="props">
                      <div class="row no-wrap">
                        <q-input
                          v-model.number="base[props.value]"
                          type="number"
                          dark
                          filled
                          dense
                          style="width: 75px"
                        />
                        <q-btn
                          v-if="pts > 0"
                          icon="fas fa-arrow-alt-circle-up"
                          class="text-accent-hover text-grey-6 q-ml-xs"
                          dense
                          flat
                          rounded
                          @click="base[props.value] += pts"
                        >
                          <q-tooltip content-class="bg-darker text-body2">
                            Maximiser la Caractéristique
                          </q-tooltip>
                        </q-btn>
                      </div>
                    </q-td>
                  </template>

                  <template v-slot:body-cell-parchment="props">
                    <q-td :props="props">
                      <div class="row no-wrap">
                        <q-input
                          v-model.number="parchment[props.value]"
                          type="number"
                          dark
                          filled
                          dense
                          style="width: 75px"
                        />
                        <q-btn
                          v-if="parchment[props.value] < 100"
                          icon="fas fa-arrow-alt-circle-up"
                          class="text-accent-hover text-grey-6 q-ml-xs"
                          dense
                          rounded
                          flat
                          @click="parchment[props.value] = 100"
                        >
                          <q-tooltip content-class="bg-darker text-body2">
                            Maximiser le parchotâge
                          </q-tooltip>
                        </q-btn>
                      </div>
                    </q-td>
                  </template>

                  <template v-slot:body-cell-total="props">
                    <q-td :props="props">
                      <div v-if="props.value === 0">
                        <span class="text-bold text-body1">{{ pv }}</span>
                      </div>
                      <div v-else-if="props.value === 1">
                        <span class="text-bold text-body1">{{ agilite }}</span>
                      </div>
                      <div v-else-if="props.value === 2">
                        <span class="text-bold text-body1">{{ chance }}</span>
                      </div>
                      <div v-else-if="props.value === 3">
                        <span class="text-bold text-body1">{{ force }}</span>
                      </div>
                      <div v-else-if="props.value === 4">
                        <span class="text-bold text-body1">{{ intelligence }}</span>
                      </div>
                      <div v-else-if="props.value === 5">
                        <span class="text-bold text-body1">{{ sagesse }}</span>
                      </div>
                    </q-td>
                  </template>
                </q-table>

                <div class="row">
                  {{ pts }} points à répartir
                </div>
              </div>
            </q-card-section>
          </q-card>

          <q-card dark class="full-width bg-primary q-mt-md">
            <q-card-section>
              <div class="row text-accent text-body2 text-bold items-center">
                Forgemagie
                <div class="q-ml-xl">
                  <q-btn
                    label="+ PA"
                    outline
                    dense
                    class="q-ml-sm q-px-sm"
                    style="color: #03A4F9"
                    @click="addExo($api.characteristics_id.pa, 1)"
                  />
                  <q-btn
                    label="+ PM"
                    outline
                    dense
                    class="q-ml-sm q-px-sm"
                    style="color: #93CD00"
                    @click="addExo($api.characteristics_id.pm, 1)"
                  />
                  <q-btn
                    label="+ PO"
                    outline
                    dense
                    class="q-ml-sm q-px-sm"
                    style="color: #25AE88"
                    @click="addExo($api.characteristics_id.po, 1)"
                  />
                </div>
              </div>

              <table class="full-width">
                <q-tr>
                  <q-th class="text-left">
                    Stat.
                  </q-th>
                  <q-th class="text-left">
                    Valeur
                  </q-th>
                  <q-th/>
                </q-tr>
                <q-tr
                  v-for="(stat, index) of exo"
                  :key="'forgemagie' + index"
                >
                  <q-td class="q-pr-sm">
                    <characteristic-select
                      v-model="stat.stat"
                      dark
                      label="Characteristique"
                      style="min-width: 200px"
                      color="secondary"
                      filled
                      dense
                      clearable
                      option-label="name"
                    />
                  </q-td>

                  <q-td class="q-pl-sm">
                    <q-input
                      v-if="!!stat.stat"
                      label="Valeur"
                      v-model.number="stat.value"
                      type="number"
                      color="secondary"
                      dark
                      filled
                      dense
                      style="width: 75px"
                    />
                  </q-td>
                  <q-td>
                    <q-btn
                      v-if="exo.length > 1 || (index === 0 && !!stat.stat)"
                      flat
                      dense
                      rounded
                      class="text-accent-hover text-grey-6"
                      icon="fa fa-times"
                      @click="index === 0 && exo.length === 1
                       ? stat.stat = null
                       : exo.splice(index, 1)"
                    />
                  </q-td>
                </q-tr>
              </table>

              <div class="row full-width justify-center q-mt-sm">
                <q-btn
                  label="Ajouter une ligne"
                  color="secondary"
                  outline
                  @click="addExo(null)"
                />
              </div>
            </q-card-section>
          </q-card>
        </div>

        <div class="col-lg col-12 col-md-6 q-px-sm justify-center row q-mt-sm-md">
          <div class="column full-width" style="max-width: 600px">
            <div class="row full-width">
              <div class="col column items-center" style="max-width: 100px">
                <stuff-item
                  class="q-ma-sm"
                  style="max-width: 84px; max-height: 84px"
                  v-model="amulet"
                  editable
                  type="collar"
                  tooltip-direction="left"
                  @click="selectItem(1)"
                  :forgemagies="itemsForgemagie"
                  @forgemage="forgemage(amulet)"
                />

                <stuff-item
                  class="q-ma-sm"
                  style="max-width: 84px; max-height: 84px"
                  v-model="rings[0]"
                  editable
                  type="ring"
                  tooltip-direction="left"
                  @click="selectItem(9, 0)"
                  :forgemagies="itemsForgemagie"
                  @forgemage="forgemage(rings[0])"
                />

                <stuff-item
                  class="q-ma-sm"
                  style="max-width: 84px; max-height: 84px"
                  v-model="rings[1]"
                  editable
                  type="ring"
                  tooltip-direction="left"
                  @click="selectItem(9, 1)"
                  :forgemagies="itemsForgemagie"
                  @forgemage="forgemage(rings[1])"
                />

                <stuff-item
                  class="q-ma-sm"
                  style="max-width: 84px; max-height: 84px"
                  v-model="boots"
                  editable
                  type="shoe"
                  tooltip-direction="left"
                  @click="selectItem(11)"
                  :forgemagies="itemsForgemagie"
                  @forgemage="forgemage(boots)"
                />
              </div>

              <div class="col column items-center q-ma-md" style="max-width: 500px">
                <q-img
                  :src="require(`assets/classes/${breed.dia}-${sexe === 'male' ? 'm' : 'f'}.png`)"
                  contain
                  style="max-height: 300px"
                  class="cursor-pointer"
                  @click="selectClass"
                >
                  <q-tooltip content-class="bg-darker text-body2 text-white">
                    Changer de classe
                  </q-tooltip>
                </q-img>

                <div class="row justify-center full-width">
                  <stuff-item
                    class="q-ma-sm"
                    style="max-width: 84px; max-height: 84px"
                    v-model="weapon"
                    editable
                    type="weapon"
                    tooltip-direction="top"
                    @click="selectItem([102, 2, 114, 3, 4, 5, 6, 7, 8, 22, 99, 19, 20, 83, 21])"
                    :forgemagies="itemsForgemagie"
                    @forgemage="forgemage(weapon)"
                  />

                  <stuff-item
                    class="q-ma-sm"
                    style="max-width: 84px; max-height: 84px"
                    v-model="shield"
                    editable
                    type="shield"
                    tooltip-direction="top"
                    :forgemagies="itemsForgemagie"
                    @click="selectItem(82)"
                    @forgemage="forgemage(shield)"
                  />
                </div>
              </div>

              <div class="col column items-center" style="max-width: 100px">
                <stuff-item
                  class="q-ma-sm"
                  style="max-width: 84px; max-height: 84px"
                  v-model="helmet"
                  editable
                  type="helmet"
                  tooltip-direction="right"
                  @click="selectItem(16)"
                  :forgemagies="itemsForgemagie"
                  @forgemage="forgemage(helmet)"
                />

                <stuff-item
                  class="q-ma-sm"
                  style="max-width: 84px; max-height: 84px"
                  v-model="cape"
                  editable
                  type="cape"
                  tooltip-direction="right"
                  @click="selectItem([17, 81])"
                  :forgemagies="itemsForgemagie"
                  @forgemage="forgemage(cape)"
                />

                <stuff-item
                  class="q-ma-sm"
                  style="max-width: 84px; max-height: 84px"
                  v-model="belt"
                  editable
                  type="belt"
                  tooltip-direction="right"
                  @click="selectItem(10)"
                  :forgemagies="itemsForgemagie"
                  @forgemage="forgemage(belt)"
                />

                <stuff-item
                  class="q-ma-sm"
                  style="max-width: 84px; max-height: 84px"
                  v-model="pet"
                  editable
                  type="pet"
                  tooltip-direction="right"
                  @click="selectItem([18, 121, 97])"
                />
              </div>
            </div>

            <!-- Dofus -->
            <div class="row full-width justify-center">
              <stuff-item
                v-model="dofus[0]"
                editable
                type="dofus"
                tooltip-direction="top"
                class="q-ma-sm col-3 col-sm"
                @click="selectItem([23, 217, 151], 0)"
              />
              <stuff-item
                v-for="(index) in 5"
                :key="'dofus' + index"
                v-model="dofus[index]"
                editable
                type="dofus"
                tooltip-direction="top"
                class="q-ma-sm col-3 col-sm"
                @click="selectItem([23, 151], index)"
              />
            </div>

            <div class="column full-width">
              <div class="row full-width justify-center q-mt-md">
                <q-btn
                  label="Sorts"
                  color="secondary"
                  outline
                  @click="showSpells"
                />

                <type-of-damage v-model="isDistDamage" />
              </div>

              <weapon-damages
                v-if="weapon"
                :stats.sync="stats"
                :weapon="weapon"
                :is_distance="isDistDamage"
                class="column full-width justify-center q-mt-md bg-primary"
              />

              <div class="row full-width justify-center q-mt-md">
                <div
                  v-for="(spell, index) of pinned_spells"
                  :key="'pinnedSpell' + index"
                  class="col-6"
                >
                  <spell
                    :spell="spell"
                    :characteristics="stats"
                    :calcul-damage="true"
                    :advanced="true"
                    :isDistance="isDistDamage"
                    class="q-ma-sm"
                  >
                    <template v-slot:spell-header="props">
                      <q-btn
                        icon="fas fa-thumbtack"
                        flat
                        size="xs"
                        color="secondary"
                        @click.stop="unpinSpell(props.spell)"
                      >
                        <q-tooltip
                          anchor="top middle"
                          self="bottom middle"
                          content-class="text-white bg-darker"
                        >
                          Désépingler le sort de l'équipement
                        </q-tooltip>
                      </q-btn>
                    </template>
                  </spell>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column col-12 col-lg-3 col-6-md q-mt-sm-md">
          <do-res-stuff-card
            :stats="stats"
            :dense_characteristics="dense_characteristics"
          />

          <secondary-stats-card
            :stats="stats"
            :dense_characteristics="dense_characteristics"
          />
          <q-card class="bg-primary q-mt-md" dark>
            <q-card-section class="column full-width">

              <div class="row text-accent text-body2 text-bold">
                Bonus de panoplie
              </div>

              <div v-if="!sets ||!sets.length" class="row text-grey-6 justify-center">
                Aucun
              </div>

              <div
                v-for="(set) of sets"
                :key="'itemSet' + set.id"
                class="column"
              >
                <div class="row q-ml-sm">
                  <item-set
                    :id="set.id"
                    :name="set.name"
                    :equipable="true"
                    @equip="equipItems"
                    class="text-body2 text-bold text-secondary"
                  />
                  <span class="text-grey-6 q-ml-sm">
                    ({{ set.nbEquiped }} objets)
                  </span>
                </div>

                <div class="row">
                  <div
                    v-for="(effect, index) of set.effects[set.nbEquiped - 1]"
                    :key="'set' + set.nbEquiped + 'id' + set.id + 'effect' + index"
                    class="text-no-wrap ellipsis"
                    :class="{ 'col-6': effect.text || effect.from || effect.to }"
                  >
                    <effect
                      v-if="effect.text || effect.from || effect.to"
                      :readable-effect="effect"
                    />
                  </div>
                </div>

              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </q-page>
  </q-no-ssr>
</template>

<script>
import diacritics from 'diacritics';
import SearchItemDialog from 'components/Search/SearchItemDialog';
import Effect from 'components/Effect';
import CharacteristicSelect from 'components/Common/Select/CharacteristicSelect';
import Characteristic from 'components/Common/Characteristic';
import StuffItem from 'components/Stuff/StuffItem';
import ItemSet from 'components/Common/ItemSet';
import ClassSelectorDialog from 'components/Stuff/ClassSelectorDialog';
import DoResStuffCard from 'components/Stuff/DoResStuffCard';
import SecondaryStatsCard from 'components/Stuff/SecondaryStatsCard';
import WeaponDamages from 'components/Stuff/WeaponDamages';
import SpellsDialog from 'components/Spells/SpellsDialog';
import AddItemToWorkbench from 'components/Item/AddItemToWorkbench';
import Spell from 'components/Spells/Spell';
import PublishStuffDialog from 'components/Stuff/PublishStuffDialog';
import TypeOfDamage from 'components/Stuff/TypeOfDamage';
import ForgemageItemDialog from 'components/Stuff/Forgemage/ForgemageItemDialog';

export default {
  name: 'StuffCreator',
  components: {
    TypeOfDamage,
    Spell,
    AddItemToWorkbench,
    WeaponDamages,
    SecondaryStatsCard,
    DoResStuffCard,
    ItemSet,
    StuffItem,
    Characteristic,
    CharacteristicSelect,
    Effect,
  },
  meta() {
    return {
      title: 'DofusDB - Créateur de stuff',
      meta: {
        description: {
          name: 'description',
          content: 'Venez découvrir le créateur de stuff de DofusDB.',
        },
      },
    };
  },
  data: () => ({
    loading: false,
    helmet: null,
    amulet: null,
    rings: [null, null],
    shield: null,
    cape: null,
    boots: null,
    belt: null,
    dofus: [null, null, null, null, null, null],
    weapon: null,
    pet: null,
    exo: [{ stat: null, value: 1 }],
    isDistDamage: undefined,
    base: {
      vitality: 0,
      strength: 0,
      intelligence: 0,
      agility: 0,
      chance: 0,
      wisdom: 0,
    },
    parchment: {
      vitality: 0,
      strength: 0,
      intelligence: 0,
      agility: 0,
      chance: 0,
      wisdom: 0,
    },
    rows: [
      {
        icon: 'stat:pv',
        name: 'vitality',
        index: 0,
      },
      {
        icon: 'stat:agilite',
        name: 'agility',
        index: 1,
      },
      {
        icon: 'stat:chance',
        name: 'chance',
        index: 2,
      },
      {
        icon: 'stat:force',
        name: 'strength',
        index: 3,
      },
      {
        icon: 'stat:intelligence',
        name: 'intelligence',
        index: 4,
      },
      {
        icon: 'stat:sagesse',
        name: 'wisdom',
        index: 5,
      },
    ],
    columns: [
      {
        label: '',
        name: 'icon',
        field: 'icon',
        align: 'left',
      },
      {
        label: 'Base',
        name: 'base',
        field: 'name',
        align: 'left',
      },
      {
        label: 'Parchotâge',
        name: 'parchment',
        field: 'name',
        align: 'left',
      },
      {
        label: 'Total',
        name: 'total',
        field: 'index',
      },
    ],
    level: 200,
    showMinValue: false,
    sets: [],
    breed: {
      id: 5,
      name: 'Xélor',
      dia: 'xelor',
      _id: '5f148b460547c270babfdf3a',
    },
    sexe: 'female',
    pinned_spells: [],
    name: null,
    shared: 'public',
    itemsForgemagie: {},
  }),
  watch: {
    items() {
      this.setItemSets();
    },
    // Base Characteristics
    // eslint-disable-next-line
    'base.vitality'(newValue, oldValue) {
      if (newValue < 0 || !newValue) {
        this.base.vitality = 0;
      }
      if (this.pts < 0) {
        this.base.vitality = oldValue;
        this.base.vitality += this.pts;
      }
    },
    // eslint-disable-next-line
    'base.wisdom'(newValue, oldValue) {
      if (newValue < 0 || !newValue) {
        this.base.wisdom = 0;
      }
      if (this.pts < 0) {
        this.base.wisdom = oldValue;
        this.base.wisdom += Math.floor(this.pts / 3);
      }
    },
    // eslint-disable-next-line
    'base.strength'(newValue, oldValue) {
      this.setBaseValue('strength', newValue, oldValue);
    },
    // eslint-disable-next-line
    'base.intelligence'(newValue, oldValue) {
      this.setBaseValue('intelligence', newValue, oldValue);
    },
    // eslint-disable-next-line
    'base.chance'(newValue, oldValue) {
      this.setBaseValue('chance', newValue, oldValue);
    },
    // eslint-disable-next-line
    'base.agility'(newValue, oldValue) {
      this.setBaseValue('agility', newValue, oldValue);
    },
    // Parchment Characteristics
    // eslint-disable-next-line
    'parchment.strength'() {
      this.verifyParchmentValue('strength');
    },
    // eslint-disable-next-line
    'parchment.intelligence'() {
      this.verifyParchmentValue('intelligence');
    },
    // eslint-disable-next-line
    'parchment.chance'() {
      this.verifyParchmentValue('chance');
    },
    // eslint-disable-next-line
    'parchment.agility'() {
      this.verifyParchmentValue('agility');
    },
    // eslint-disable-next-line
    'parchment.wisdom'() {
      this.verifyParchmentValue('wisdom');
    },
    // eslint-disable-next-line
    'parchment.vitality'() {
      this.verifyParchmentValue('vitality');
    },
  },
  computed: {
    dense_characteristics: {
      get() {
        return this.$store.state.config.dense_characteristics;
      },
      set(value) {
        this.$store.commit('config/setDenseCharacteristics', value);
      },
    },
    stats() {
      return {
        [this.$api.characteristics_id['dommages-neutre']]: this.doneutre,
        [this.$api.characteristics_id['dommages-terre']]: this.doterre,
        [this.$api.characteristics_id['dommages-feu']]: this.dofeu,
        [this.$api.characteristics_id['dommages-air']]: this.doair,
        [this.$api.characteristics_id['dommages-eau']]: this.doeau,
        [this.$api.characteristics_id['resistance-neutre']]: this.reneutre,
        [this.$api.characteristics_id['resistance-terre']]: this.reterre,
        [this.$api.characteristics_id['resistance-feu']]: this.refeu,
        [this.$api.characteristics_id['resistance-air']]: this.reair,
        [this.$api.characteristics_id['resistance-eau']]: this.reeau,
        [this.$api.characteristics_id['re-per-neutre']]: this.reperneutre,
        [this.$api.characteristics_id['re-per-terre']]: this.reperterre,
        [this.$api.characteristics_id['re-per-feu']]: this.reperfeu,
        [this.$api.characteristics_id['re-per-air']]: this.reperair,
        [this.$api.characteristics_id['re-per-eau']]: this.repereau,
        [this.$api.characteristics_id.pa]: this.pa,
        [this.$api.characteristics_id.pm]: this.pm,
        [this.$api.characteristics_id.pv]: this.pv,
        [this.$api.characteristics_id.po]: this.po,
        [this.$api.characteristics_id.invo]: this.invo,
        [this.$api.characteristics_id.crit]: this.crit,
        [this.$api.characteristics_id.agilite]: this.agilite,
        [this.$api.characteristics_id.intelligence]: this.intelligence,
        [this.$api.characteristics_id.force]: this.force,
        [this.$api.characteristics_id.chance]: this.chance,
        [this.$api.characteristics_id.ini]: this.ini,
        [this.$api.characteristics_id.soins]: this.soins,
        [this.$api.characteristics_id.prospection]: this.prospection,
        [this.$api.characteristics_id.puissance]: this.puissance,
        [this.$api.characteristics_id.sagesse]: this.sagesse,
        [this.$api.characteristics_id.dommages]: this.dommages,
        [this.$api.characteristics_id.renvoi]: this.renvoi,
        [this.$api.characteristics_id.tacle]: this.tacle,
        [this.$api.characteristics_id.fuite]: this.fuite,
        [this.$api.characteristics_id.pods]: this.pods,
        [this.$api.characteristics_id['dommages-melee']]: this.domelee,
        [this.$api.characteristics_id['resistance-melee']]: this.repermelee,
        [this.$api.characteristics_id['dommages-distance']]: this.dodistance,
        [this.$api.characteristics_id['resistance-distance']]: this.reperdistance,
        [this.$api.characteristics_id['dommages-armes']]: this.doweapon,
        [this.$api.characteristics_id['dommages-sorts']]: this.dospells,
        [this.$api.characteristics_id['dommages-pieges']]: this.dopieges,
        [this.$api.characteristics_id['puissance-pieges']]: this.puipieges,
        [this.$api.characteristics_id['dommages-critiques']]: this.docrit,
        [this.$api.characteristics_id['resistance-critiques']]: this.recrit,
        [this.$api.characteristics_id['dommages-poussee']]: this.dopou,
        [this.$api.characteristics_id['resistance-poussee']]: this.repou,
        [this.$api.characteristics_id['esquive-pa']]: this.esquivepa,
        [this.$api.characteristics_id['esquive-pm']]: this.esquivepm,
        [this.$api.characteristics_id['retrait-pa']]: this.retraitpa,
        [this.$api.characteristics_id['retrait-pm']]: this.retraitpm,
      };
    },
    items() {
      return [
        this.amulet,
        this.helmet,
        this.cape,
        this.rings[0],
        this.rings[1],
        this.shield,
        this.boots,
        this.belt,
        this.dofus[0],
        this.dofus[1],
        this.dofus[2],
        this.dofus[3],
        this.dofus[4],
        this.dofus[5],
        this.weapon,
        this.pet,
      ].filter((e) => !!e);
    },
    pts() {
      let pts = (this.level - 1) * 5;

      pts -= this.base.vitality;
      pts -= this.base.wisdom * 3;
      pts -= this.getPts(this.base.strength);
      pts -= this.getPts(this.base.chance);
      pts -= this.getPts(this.base.agility);
      pts -= this.getPts(this.base.intelligence);
      return pts;
    },
    pa() {
      let pa = 6;

      if (this.level > 100) {
        pa += 1;
      }
      pa += this.getStat(this.$api.characteristics_id.pa);

      return pa;
    },
    pm() {
      return 3 + this.getStat(this.$api.characteristics_id.pm);
    },
    pv() {
      let pv = 55 + (5 * (this.level - 1));
      pv += this.parchment.vitality;
      pv += this.base.vitality;
      pv += this.getStat(this.$api.characteristics_id.pv);

      return pv;
    },
    po() {
      return this.getStat(this.$api.characteristics_id.po);
    },
    invo() {
      return 1 + this.getStat(this.$api.characteristics_id.invo);
    },
    crit() {
      return this.getStat(this.$api.characteristics_id.crit);
    },
    agilite() {
      return this.getStat(this.$api.characteristics_id.agilite)
        + this.base.agility + this.parchment.agility;
    },
    intelligence() {
      return this.getStat(this.$api.characteristics_id.intel)
        + this.base.intelligence + this.parchment.intelligence;
    },
    force() {
      return this.getStat(this.$api.characteristics_id.force)
        + this.base.strength + this.parchment.strength;
    },
    chance() {
      return this.getStat(this.$api.characteristics_id.chance)
        + this.base.chance + this.parchment.chance;
    },
    ini() {
      return this.agilite + this.chance + this.intelligence + this.force
        + this.getStat(this.$api.characteristics_id.ini);
    },
    soins() {
      return this.getStat(this.$api.characteristics_id.soins);
    },
    prospection() {
      return 100 + Math.floor(this.chance / 10)
        + this.getStat(this.$api.characteristics_id.prospection);
    },
    puissance() {
      return this.getStat(this.$api.characteristics_id.puissance);
    },
    sagesse() {
      return this.getStat(this.$api.characteristics_id.sagesse)
        + this.base.wisdom + this.parchment.wisdom;
    },
    doneutre() {
      return this.getStat(this.$api.characteristics_id['dommages-neutre']);
    },
    doterre() {
      return this.getStat(this.$api.characteristics_id['dommages-terre']);
    },
    dofeu() {
      return this.getStat(this.$api.characteristics_id['dommages-feu']);
    },
    doeau() {
      return this.getStat(this.$api.characteristics_id['dommages-eau']);
    },
    doair() {
      return this.getStat(this.$api.characteristics_id['dommages-air']);
    },
    reneutre() {
      return this.getStat(this.$api.characteristics_id['res-neutre']);
    },
    reterre() {
      return this.getStat(this.$api.characteristics_id['res-terre']);
    },
    refeu() {
      return this.getStat(this.$api.characteristics_id['res-feu']);
    },
    reeau() {
      return this.getStat(this.$api.characteristics_id['res-eau']);
    },
    reair() {
      return this.getStat(this.$api.characteristics_id['res-air']);
    },
    reperneutre() {
      return this.getStat(this.$api.characteristics_id['re-per-neutre']);
    },
    reperterre() {
      return this.getStat(this.$api.characteristics_id['re-per-terre']);
    },
    reperfeu() {
      return this.getStat(this.$api.characteristics_id['re-per-feu']);
    },
    repereau() {
      return this.getStat(this.$api.characteristics_id['re-per-eau']);
    },
    reperair() {
      return this.getStat(this.$api.characteristics_id['re-per-air']);
    },
    domelee() {
      return this.getStat(this.$api.characteristics_id['dommages-melee']);
    },
    repermelee() {
      return this.getStat(this.$api.characteristics_id['resistance-melee']);
    },
    dodistance() {
      return this.getStat(this.$api.characteristics_id['dommages-distance']);
    },
    reperdistance() {
      return this.getStat(this.$api.characteristics_id['resistance-distance']);
    },
    doweapon() {
      return this.getStat(this.$api.characteristics_id['dommages-armes']);
    },
    dospells() {
      return this.getStat(this.$api.characteristics_id['dommages-sorts']);
    },
    dopieges() {
      return this.getStat(this.$api.characteristics_id['dommages-pieges']);
    },
    puipieges() {
      return this.getStat(this.$api.characteristics_id['puissance-pieges']);
    },
    docrit() {
      return this.getStat(this.$api.characteristics_id['dommages-critiques']);
    },
    recrit() {
      return this.getStat(this.$api.characteristics_id['resistance-critiques']);
    },
    dopou() {
      return this.getStat(this.$api.characteristics_id['dommages-poussee']);
    },
    repou() {
      return this.getStat(this.$api.characteristics_id['resistance-poussee']);
    },
    dommages() {
      return this.getStat(this.$api.characteristics_id.dommages);
    },
    renvoi() {
      return this.getStat(this.$api.characteristics_id.renvoi);
    },
    esquivepa() {
      return this.getStat(this.$api.characteristics_id['esquive-pa'])
        + Math.floor(this.sagesse / 10);
    },
    esquivepm() {
      return this.getStat(this.$api.characteristics_id['esquive-pm'])
        + Math.floor(this.sagesse / 10);
    },
    tacle() {
      return this.getStat(this.$api.characteristics_id.tacle)
        + Math.floor(this.agilite / 10);
    },
    retraitpa() {
      return this.getStat(this.$api.characteristics_id['retrait-pa'])
        + Math.floor(this.sagesse / 10);
    },
    retraitpm() {
      return this.getStat(this.$api.characteristics_id['retrait-pm'])
        + Math.floor(this.sagesse / 10);
    },
    fuite() {
      return this.getStat(this.$api.characteristics_id.fuite)
        + Math.floor(this.agilite / 10);
    },
    pods() {
      return 1000
        + ((this.level - 1) * 5)
        + this.getStat(this.$api.characteristics_id.pods)
        + this.force * 5;
    },
  },
  async mounted() {
    if (this.$route.params.id) {
      await this.fetchStuff(this.$route.params.id);
    } else if (this.$route.params.copyFrom) {
      await this.fetchStuff(this.$route.params.copyFrom);
    }
  },
  methods: {
    forgemage(item) {
      // itemsForgemagie
      this.$q.dialog({
        component: ForgemageItemDialog,
        item,
        stats: this.itemsForgemagie[item.id]
          ? JSON.parse(JSON.stringify(this.itemsForgemagie[item.id].stats)) : undefined,
        exos: this.itemsForgemagie[item.id]
          ? JSON.parse(JSON.stringify(this.itemsForgemagie[item.id].exos)) : undefined,
      }).onOk((res) => {
        this.itemsForgemagie[item.id] = res;
        this.itemsForgemagie = { ...this.itemsForgemagie };
      });
    },
    async fetchStuff(id) {
      const stuff = (await this.$api.getStuff(id)).data;

      this.level = stuff.level;
      stuff.breed.dia = diacritics.remove(stuff.breed.shortName).toLowerCase();
      this.breed = stuff.breed;
      Object.keys(stuff.items).forEach((key) => {
        this[key] = stuff.items[key];
      });
      this.base = stuff.base;
      this.parchment = stuff.parchment;
      this.exo = stuff.exo;
      this.pinned_spells = stuff.pinnedSpells;
      this.sexe = stuff.sexe;
      this.name = stuff.name;
      this.shared = stuff.shared;
      this.itemsForgemagie = stuff.forgemagie;
    },
    unpinSpell(spell) {
      const index = this.pinned_spells.findIndex((sp) => sp.id === spell.id);

      this.pinned_spells = this.pinned_spells.splice(index, 1);
    },
    showSpells() {
      this.$q.dialog({
        component: SpellsDialog,
        breedId: this.breed.id,
        characteristics: this.stats,
        canPin: true,
        pinnedSpells: this.pinned_spells,
      }).onDismiss((spells) => {
        this.pinned_spells = spells;
      });
    },
    selectClass() {
      this.$q.dialog({
        component: ClassSelectorDialog,
        breed: this.breed.id,
        sexe: this.sexe,
      }).onOk((data) => {
        this.sexe = data.sexe;
        this.breed = data.breed;
      });
    },
    verifyParchmentValue(name) {
      if (this.parchment[name] < 0 || !this.parchment[name]) {
        this.parchment[name] = 0;
      }
      if (this.parchment[name] > 100) {
        this.parchment[name] = 100;
      }
    },
    setBaseValue(name, newValue, oldValue) {
      if (this.pts < 0) {
        this.base[name] = oldValue;
        this.base[name] = this.getMaxBaseWithPts(oldValue, this.pts);
      }
      if (this.base[name] < 0 || !this.base[name]) {
        this.base[name] = 0;
      }
    },
    getPts(base) {
      const ptsx4 = base > 300 ? base - 300 : 0;
      base -= ptsx4;
      const ptsx3 = base > 200 ? base - 200 : 0;
      base -= ptsx3;
      const ptsx2 = base > 100 ? base - 100 : 0;
      base -= ptsx2;

      return base + ptsx2 * 2 + ptsx3 * 3 + ptsx4 * 4;
    },
    getMaxBaseWithPts(actualBase, remainingPts) {
      if (actualBase >= 300) {
        return actualBase + Math.floor(remainingPts / 4);
      }
      if (actualBase >= 200) {
        const adding = Math.floor(remainingPts / 3);
        if (actualBase + adding > 300) {
          return this.getMaxBaseWithPts(300, remainingPts - (300 - actualBase) * 3);
        }
        return actualBase + adding;
      }
      if (actualBase >= 100) {
        const adding = Math.floor(remainingPts / 2);
        if (actualBase + adding > 200) {
          return this.getMaxBaseWithPts(200, remainingPts - (200 - actualBase) * 2);
        }
        return actualBase + adding;
      }
      if (actualBase + remainingPts >= 100) {
        return this.getMaxBaseWithPts(100, remainingPts - (100 - actualBase));
      }
      return actualBase + remainingPts;
    },
    getStatOfSets(statId) {
      let value = 0;

      this.sets.forEach((set) => {
        set.effects[set.nbEquiped - 1].forEach((effect) => {
          if (effect.characteristic === statId) {
            value += effect.to || effect.from;
          }
        });
      });

      return value;
    },
    getStat(stat) {
      let value = 0;

      this.items.forEach((item) => {
        value += this.getStatOfItem(item, stat);
      });
      value += this.getStatOfSets(stat);

      this.exo.forEach((exo) => {
        let id = -1;

        if (exo.stat && this.$api.characteristics_link_search[exo.stat.id]) {
          id = this.$api.characteristics_link_search[exo.stat.id];
        } else if (exo.stat) {
          id = exo.stat.id;
        }

        if (exo.stat && id === stat && exo.value) {
          value += exo.value;
        }
      });

      return value;
    },
    getStatOfItem(item, stat) {
      let value = 0;

      if (!item || !item.effects) {
        return 0;
      }

      if (this.itemsForgemagie && this.itemsForgemagie[item.id]) {
        if (this.itemsForgemagie[item.id].stats[stat]) {
          value = this.itemsForgemagie[item.id].stats[stat];
        }
        this.itemsForgemagie[item.id].exos.forEach((e) => {
          if (e.charac === stat || e.charac.id === stat) {
            value += e.value;
          }
        });
        if (value !== 0) {
          return value;
        }
      }

      item.effects.forEach((effect) => {
        if (effect.characteristic === stat) {
          value += effect.to || effect.from;
        }
      });
      return value;
    },
    isAlreadyEquiped(item) {
      return this.items.filter((i) => i.id === item.id).length !== 0;
    },
    equipItems(items, index) {
      index = index || 0;
      if (!Array.isArray(items)) {
        items = [items];
      }
      for (let i = 0; i < items.length; i += 1) {
        index += this.equipItem(items[i], index);
      }
    },
    equipItem(item, index) {
      // Weapon
      if ([102, 2, 114, 3, 4, 5, 6, 7, 8, 22, 99, 19, 20, 83, 21].includes(item.typeId)) {
        this.weapon = item;
        return 0;
      }

      switch (item.typeId) {
        case 1: // Amulet
          this.amulet = item;
          break;
        case 11: // Boots
          this.boots = item;
          break;
        case 9: // Rings
          if (this.isAlreadyEquiped(item) && item.itemSetId && item.itemSetId !== -1) {
            this.$q.notify({
              color: 'negative',
              message: 'Vous ne pouvez pas équiper cet objet.',
            });
          } else {
            if (!index && !!this.rings[0] && !this.rings[1]) {
              index = 1;
            }
            index = index <= 1 ? index : 0;
            this.rings.splice(index, 1, item);
            return 1;
          }
          break;
        case 10: // Belt
          this.belt = item;
          break;
        case 16: // Helmet
          this.helmet = item;
          break;
        case 17: // Cape
        case 81: // Sac
          this.cape = item;
          break;
        case 82: // Shield
          this.shield = item;
          break;
        case 23: // Dofus
        case 217: // Trophe
        case 151: // Prysmaradite
          if (this.isAlreadyEquiped(item)) {
            this.$q.notify({
              color: 'negative',
              message: 'Vous ne pouvez pas équiper cet objet.',
            });
          } else {
            this.dofus.splice(index, 1, item);
          }
          break;
        case 18: // Pet
        case 121: // Montilier
        case 97: // Dragodinde
          this.pet = item;
          break;
        default:
          break;
      }
      return 0;
    },
    selectItem(itemTypeId, index) {
      return this.$q.dialog({
        component: SearchItemDialog,
        typeIds: Array.isArray(itemTypeId) ? itemTypeId : [itemTypeId],
        maxLevel: this.level,
        searchWhenOpen: true,
        forStuff: true,
      }).onOk((items) => {
        this.equipItems(items, index);
      });
    },
    getItemOnSets(setId) {
      return this.items.filter((item) => item && item.itemSetId === setId);
    },
    async setItemSets() {
      const setsIds = [];

      this.items.forEach((item) => {
        const itemsInSet = this.getItemOnSets(item.itemSetId);

        if (itemsInSet.length > 1 && !setsIds.includes(item.itemSetId)) {
          setsIds.push(item.itemSetId);
        }
      });

      if (setsIds.length > 0) {
        const response = (await this.$api.getItemSets({
          'id[$in]': setsIds,
          $limit: setsIds.length,
        })).data;

        response.data.forEach((set) => {
          set.nbEquiped = this.getItemOnSets(set.id).length;
        });

        this.sets = response.data;
      }
    },
    addExo(statId, value) {
      this.exo.push({
        stat: statId
          ? this.$store.state.search.characteristics.find((e) => e.id === statId)
          : null,
        value: value || 1,
      });
    },
    publish() {
      this.$q.dialog({
        component: PublishStuffDialog,
        persistent: true,
        title: this.name,
        shared: this.shared,
      }).onOk(async (data) => {
        this.$q.loading.show();
        try {
          this.loading = true;

          // Filter only actual item
          const forgemagie = {};
          this.items.forEach((item) => {
            if (this.itemsForgemagie[item.id]) {
              forgemagie[item.id] = JSON.parse(JSON.stringify(this.itemsForgemagie[item.id]));
              forgemagie[item.id].exos.forEach((exo) => {
                if (exo.charac && exo.charac.id) {
                  exo.charac = exo.charac.id;
                }
              });
              forgemagie[item.id].exos = forgemagie[item.id].exos.filter((e) => !!e.charac);
            }
          });

          const body = {
            name: data.title,
            level: this.level,
            shared: data.shared,
            items: {
              amulet: this.amulet ? this.amulet.id : null,
              rings: this.rings.filter((e) => !!e).map((e) => e.id),
              boots: this.boots ? this.boots.id : null,
              helmet: this.helmet ? this.helmet.id : null,
              cape: this.cape ? this.cape.id : null,
              belt: this.belt ? this.belt.id : null,
              pet: this.pet ? this.pet.id : null,
              dofus: this.dofus.filter((e) => !!e).map((e) => e.id),
              weapon: this.weapon ? this.weapon.id : null,
              shield: this.shield ? this.shield.id : null,
            },
            stats: this.stats,
            exo: this.exo.filter((e) => e.stat && e.value).map((e) => ({
              stat: e.stat.id,
              value: e.value,
            })),
            base: this.base,
            parchment: this.parchment,
            breed: this.breed.id,
            sexe: this.sexe,
            pinned_spells: this.pinned_spells ? this.pinned_spells.map((e) => e.id) : [],
            forgemagie,
          };

          let response;
          if (this.$route.params.id) {
            response = (await this.$api.putStuff(this.$route.params.id, body)).data;
          } else {
            response = (await this.$api.createStuff(body)).data;
          }

          this.$router.push({
            name: 'stuff',
            params: {
              id: response._id,
            },
          }).catch(() => {});
        } catch (e) {
          this.$q.notify({
            color: 'negative',
            message: 'Une erreur est survenue lors de l\'envoi du stuff, veuillez réessayer ultérieurement',
          });
        }
        this.$q.loading.hide();
        this.loading = false;
      });
    },
  },
};
</script>

<style scoped>

</style>
