<template>
  <q-page class="flex q-pa-lg text-white" :style-fn="styleFn">
    <div class="column full-width">
      <!-- Header -->
      <div class="row text-white bg-primary full-width q-pa-sm items-center">
        <div class="q-ml-sm text-h5 text-secondary text-bold">
          Stuffs
        </div>

        <q-space />

        <q-btn
          label="Créer un stuff"
          outline
          :to="{ name: 'stuffCreator' }"
          color="accent"
          class="q-ml-xl"
        />
      </div>

      <div
        class="full-width col q-mt-md"
        :class="{ row: $q.screen.gt.sm, column: $q.screen.lt.md }"
      >
        <div
          class="column q-mr-sm bg-primary q-pa-sm"
          :style="$q.screen.gt.sm ? 'width: 350px' : null"
          :class="{ 'full-height': $q.screen.gt.sm, 'full-width': $q.screen.lt.md }"
        >
          <div class="row full-width">
            <q-input
              v-model.trim="name"
              class="full-width"
              filled
              color="white"
              label="Recherche"
              dark
              clearable
              @keydown.enter.prevent="search(null)"
            >
              <template v-slot:append>
                <q-icon name="search" />
              </template>
            </q-input>
          </div>

          <div class="row full-width items-center text-body1 q-mt-sm">
            Niveau
            <q-input
              v-model.number="level[0]"
              type="number"
              label="min"
              dark
              filled
              dense
              color="white"
              class="col q-ml-md"
            />
            <q-input
              v-model.number="level[1]"
              type="number"
              label="max"
              dark
              filled
              dense
              color="white"
              class="col q-ml-md"
            />
          </div>

          <div class="row full-width justify-center q-mt-sm">
            <q-no-ssr>
              <q-checkbox
                v-if="$store.state.user.user"
                v-model="onlyMine"
                label="Mes Stuffs uniquement"
                color="accent"
                class="q-mr-sm text-body2 text-grey-6"
              />
            </q-no-ssr>

            <q-space />

            <q-btn
              color="accent"
              label="Rechercher"
              outline
              no-caps
              @click="search(null)"
            />
          </div>

          <div class="row full-width q-mt-sm">
            <div v-if="result_total" class="text-body2 text-grey-6 self-center">
              {{ result_total }} résultat(s)
            </div>
          </div>

          <!-- advanced filter (only on web) -->
          <template
            v-if="$q.screen.gt.sm"
          >
            <div class="row full-width justify-center q-mt-sm text-body1">
              Filtre avancé
            </div>

            <div
              v-for="(characteristic, index) of characteristics"
              :key="'characteristicSearch' + index"
              class="row full-width q-mt-sm no-wrap items-center"
            >
              <characteristic-select
                v-model="characteristic.stat"
                dark
                dense
                filled
                label="Characteristique"
                class="col"
                color="accent"
              />

              <q-input
                v-model.number="characteristic.min"
                label="min"
                dark
                dense
                color="white"
                class="q-ml-sm"
                style="width: 60px"
              />
              <q-input
                v-model.number="characteristic.max"
                label="max"
                dark
                dense
                color="white"
                class="q-ml-sm"
                style="width: 60px"
              />

              <q-btn
                icon="fa fa-times"
                flat
                round
                dense
                color="negative"
                @click="characteristics.splice(index, 1)"
              />
            </div>

            <div class="row full-width q-mt-md justify-center">
              <q-btn
                label="Aouter un filtre"
                no-caps
                outline
                color="secondary"
                @click="addCharacteristicsSearch"
              />
            </div>
          </template>
        </div>

        <q-scroll-area class="col q-ml-sm justify-center">
          <div class="row">
            <div v-if="result && result.length === 0" class="row full-width justify-center">
              Aucun résultat
            </div>

            <div
              v-for="stuff of result"
              :key="stuff._id + 'stuff'"
              class="col-12 col-sm-6 col-lg-4 col-xl-3 q-pa-sm stuff"
            >
              <router-link
                :to="{ name: 'stuff', params: { id: stuff._id } }"
                class="decoration-none text-white"
              >
                <q-card
                  class="bg-darker cursor-pointer full-height bg-primary"
                >
                  <q-card-section class="full-width column bg-darker">
                    <div class="row justify-center items-end">
                      <span class="text-body1">{{ stuff.name }}&nbsp;</span>
                      <span class="text-grey-6">Niv.{{ stuff.level }}</span>
                    </div>
                    <div class="row justify-center items-center text-body2">
                      <span class="">
                        Par&nbsp;
                      </span>
                      <user-tag
                        v-if="stuff.user"
                        :user="stuff.user"
                      />
                      <span v-else class="text-grey-6">
                        Anonyme
                      </span>
                      <q-icon
                        v-if="stuff.shared !== 'public'"
                        name="far fa-eye-slash"
                        class="q-ml-md"
                        color="grey-6"
                      >
                        <q-tooltip content-class="text-subtitle2 text-white bg-dark">
                          Stuff privé ou non répertorié
                        </q-tooltip>
                      </q-icon>
                    </div>
                  </q-card-section>

                  <q-card-section>
                    <stuff
                      :max-item-width="50"
                      :amulet="stuff.items.amulet"
                      :rings="stuff.items.rings"
                      :boots="stuff.items.boots"
                      :weapon="stuff.items.weapon"
                      :shield="stuff.items.shield"
                      :helmet="stuff.items.helmet"
                      :cape="stuff.items.cape"
                      :belt="stuff.items.belt"
                      :pet="stuff.items.pet"
                      :dofus="stuff.items.dofus"
                      :breed="stuff.breed"
                      :sexe="stuff.sexe"
                      :forgemagie="stuff.forgemagie"
                    />

                    <!--q-tooltip
                      content-class="bg-darker text-white text-body2"
                      anchor="center left" self="center right">
                      <characteristic
                        v-for="(characteristic, index) of
                         Object.keys(stuff.stats).filter((e) => !!stuff.stats[e])"
                        :key="'stuff' + stuff._id + 'c' + characteristic + 'i' + index"
                        :characteristic_id="parseInt(characteristic)"
                        :value="stuff.stats[characteristic]"
                      />
                    </q-tooltip-->
                  </q-card-section>
                </q-card>
              </router-link>
            </div>

            <div
              v-if="result && result_total > result.length"
              class="col-12 col-sm-6 col-lg-4 col-xl-3
               flex q-pa-sm full-height justify-center items-center"
              style="height: 100%"
            >
              <q-btn
                outline
                label="Voir plus"
                color="secondary"
                @click="search(result.length)"
              />
            </div>
          </div>
          <q-inner-loading style="z-index: 100" :showing="loading" />
        </q-scroll-area>
      </div>
    </div>
  </q-page>
</template>

<script>
import Diacritics from 'diacritics';
import Stuff from 'components/Stuff/Stuff';
import CharacteristicSelect from 'components/Common/Select/CharacteristicSelect';
import UserTag from 'components/Common/UserTag';

export default {
  name: 'Stuffs',
  components: {
    UserTag,
    CharacteristicSelect,
    Stuff,
  },
  meta: {
    title: 'DofusDB - Stuffs',
    description: {
      name: 'description',
      content: 'Parcourez une multitude de stuff créer par la communauté. Vous trouverez votre bonheur.',
    },
  },
  data: () => ({
    name: '',
    level: [0, 200],
    onlyMine: false,
    characteristics: [
      {
        stat: null,
        min: 0,
        max: null,
      },
    ],
    loading: false,
    result: null,
    result_total: 0,
    sort_by: {
      createdAt: -1,
    },
    breeds: [],
  }),
  computed: {

  },
  watch: {

  },
  mounted() {
    this.search();
  },
  methods: {
    styleFn(offset, height) {
      const pageheight = height - offset;
      return `height: ${pageheight}px`;
    },
    addCharacteristicsSearch() {
      this.characteristics.push({
        stat: null,
        min: 0,
        max: null,
      });
    },
    async search(skip) {
      this.loading = true;
      const query = {
        $skip: skip || 0,
        'level[$gte]': this.level[0],
        'level[$lte]': this.level[1],
      };

      if (this.name) {
        query['slug[$search]'] = Diacritics.remove(this.name).toLowerCase();
      }

      Object.keys(this.sort_by).forEach((key) => {
        query[`$sort[${key}]`] = this.sort_by[key];
      });

      this.characteristics.forEach((filter) => {
        if (filter.max && filter.stat) {
          query[`stats.${filter.stat.id}[$lte]`] = filter.max;
        }
        if (filter.min && filter.stat) {
          query[`stats.${filter.stat.id}[$gte]`] = filter.min;
        }
      });

      if (this.onlyMine) {
        query.user = this.$store.state.user.user._id;
      }

      try {
        const response = (await this.$api.getStuffs(query)).data;

        this.result_total = response.total;
        if (skip) {
          this.result = this.result.concat(response.data);
        } else {
          this.result = response.data;
        }
      } catch (e) {
        this.$q.notify('Une erreur est survenue.');
      }
      this.loading = false;
    },
  },
};
</script>

<style scoped lang="stylus">

.stuff:hover .q-card {
  box-shadow: $accent -1px 1px 1px, $accent 1px 1px 1px,
    $accent -1px -1px 1px, $accent 1px -1px 1px;
}
</style>
