<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card dark class="q-dialog-plugin" style="width: 700px; max-width: 80vw;">
      <q-bar>
        <div>{{ character ? 'Mise à jour' : 'Création' }}
          d'un personnage
          <span v-if="character">({{ character.name }})</span>
        </div>

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <div class="column q-mt-md">
        <div class="row q-mt-sm justify-center text-white q-px-lg">
          <q-input
            v-model="name"
            label="Nom d'utilisateur"
            label-color="white"
            color="accent"
            dark
            class="q-mx-sm col"
          />
          <q-input
            v-model="level"
            label="Niveau"
            type="number"
            label-color="white"
            color="accent"
            dark
            class="q-mx-sm col text-white"
          />
        </div>

        <div class="row q-mt-sm justify-center text-white q-px-lg">
          <q-select
            v-model="server"
            :options="servers"
            option-label="name"
            label="Serveur"
            label-color="white"
            color="accent"
            dark
            class="q-mx-sm col"
          />

          <q-select
            v-model="breed"
            :options="breeds"
            option-label="shortName"
            label="Classe"
            label-color="white"
            color="accent"
            dark
            class="q-mx-sm col"
          />
        </div>
      </div>

      <!-- buttons example -->
      <q-card-actions align="right" class="q-mt-md">
        <q-btn color="secondary" label="Valider" @click="onOKClick" />
        <q-btn color="primary" label="Annuler" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    character: {
      type: Object,
    },
  },
  data() {
    return {
      name: this.character ? this.character.name : '',
      level: this.character ? this.character.level : 200,
      breed: this.character ? this.character.breed : null,
      server: this.character ? this.character.server : null,
    };
  },
  computed: {
    servers: {
      get() {
        const res = this.$store.state.server.servers;
        return res ? JSON.parse(JSON.stringify(res)) : [];
      },
      set(value) {
        return this.$store.commit('server/setServers', value);
      },
    },
    breeds: {
      get() {
        const res = this.$store.state.user.breeds;
        return res ? JSON.parse(JSON.stringify(res)) : [];
      },
      set(value) {
        return this.$store.commit('user/setBreeds', value);
      },
    },
  },
  async mounted() {
    const nbServer = (await this.$api.getServers({ $limit: 0 })).data.total;
    const nbBreeds = (await this.$api.getBreeds({ $limit: 0 })).data.total;

    if (!this.servers || nbServer > this.servers.length) {
      this.servers = [];
      this.fetchServers();
    }

    if (!this.breeds || nbBreeds > this.breeds.length) {
      this.breeds = [];
      this.fetchBreeds();
    }
  },
  methods: {
    async fetchServers(query) {
      query = query || {
        $limit: 50,
        $skip: 0,
        '$sort[name]': 1,
      };
      const response = (await this.$api.getServers(query)).data;

      this.servers = this.servers.concat(response.data);

      if (response.total > response.skip + response.data.length) {
        query.$skip += response.data.length;
        await this.fetchServers(query);
      }
    },
    async fetchBreeds(query) {
      query = query || {
        $limit: 50,
        $skip: 0,
        '$sort[name]': 1,
      };
      const response = (await this.$api.getBreeds(query)).data;

      this.breeds = this.breeds.concat(response.data);

      if (response.total > response.skip + response.data.length) {
        query.$skip += response.data.length;
        await this.fetchBreeds(query);
      }
    },
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    async onOKClick() {
      if (!this.server || !this.breed || !this.name || !this.level) {
        this.$q.notify('Veuillez remplir tout les champs.');
        return;
      }
      const body = {
        name: this.name,
        level: this.level,
        breed: this.breed.id,
        server: this.server._id,
      };

      try {
        if (this.character) {
          await this.$api.patchCharacter(this.character._id, body);
        } else {
          await this.$api.createCharacter(body);
        }
        this.$emit('ok');
        this.hide();
      } catch (e) {
        this.$q.notify({
          message: 'Une erreur est survenue',
        });
      }
    },
    onCancelClick() {
      this.hide();
    },
    isSamePosition() {
      return (this.portal && this.portal.position
        && this.portal.position.x === this.position.x
        && this.portal.position.y === this.position.y);
    },
  },
};
</script>
