<template>
  <div>
    <q-input
      v-model.number="computedValue"
      type="number"
      label="Valeur"
      dark
      dense
      filled
      label-color="accent"
      color="white"
      style="width: 80px"
    />

    <effect-instance-dice
      :value="computedValue"
      :calcul-damage="false"
      :instance="effect"
      theoretical
      class="col"
    />
  </div>
</template>

<script>
import EffectInstanceDice from 'components/EffectInstanceDice';

export default {
  name: 'ForgemageEffectListItem',
  components: {
    EffectInstanceDice,
  },
  props: {
    value: {
      type: Number,
      required: true,
    },
    effect: {
      type: Object,
      required: true,
    },
  },
  computed: {
    computedValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('change', value);
      },
    },
  },
};
</script>

<style scoped>

</style>
