<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card dark class="q-dialog-plugin" style="width: 50vw; max-width: 80vw;">
      <q-bar>
        Forgemagie par item

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-darker text-white text-body2">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <div class="column q-pa-md">
        <div class="row full-width justify-center items-center">
          <item
            :item="item"
            size="100px"
          />
        </div>
        <div class="text-h6 text-secondary q-mt-sm full-width text-center">
          {{ item.name }}
        </div>

        <div class="row full-width justify-center">
          <q-btn
            label="Ajouter un exo"
            outline
            color="accent"
            @click="addLine"
          />

          <div class="q-ml-xl">
            <q-btn
              label="+ PA"
              outline
              dense
              class="q-ml-sm q-px-sm"
              style="color: #03A4F9"
              @click="addExo($api.characteristics_id.pa, 1)"
            />
            <q-btn
              label="+ PM"
              outline
              dense
              class="q-ml-sm q-px-sm"
              style="color: #93CD00"
              @click="addExo($api.characteristics_id.pm, 1)"
            />
            <q-btn
              label="+ PO"
              outline
              dense
              class="q-ml-sm q-px-sm"
              style="color: #25AE88"
              @click="addExo($api.characteristics_id.po, 1)"
            />
          </div>
        </div>

        <div
          v-for="(exo, index) of exos"
          :key="'exo' + index"
          class="row full-width q-mt-sm"
        >
          <q-input
            v-model.number="exo.value"
            type="number"
            label="Valeur"
            dark
            dense
            filled
            label-color="accent"
            color="white"
            input-class="text-white"
            style="width: 80px"
          />

          <characteristic-select
            v-model="exo.charac"
            dark
            label-color="white"
            label="Caractéristique"
            class="col q-ml-sm"
            dense
            options-selected-class="text-accent"
            clearable
            emit-value
            map-options
            option-value="id"
          />

          <q-btn
            icon="fas fa-trash-alt"
            flat
            color="accent"
            class="q-ml-md"
            size="sm"
            rounded
            @click="exos.splice(index, 1)"
          >
            <q-tooltip content-class="bg-darker text-body2 text-white">
              Supprimer
            </q-tooltip>
          </q-btn>
        </div>

        <q-separator class="q-my-xs q-mt-sm" color="secondary" />

        <div class="row full-width">
          <forgemage-effect-list-item
            v-for="(effect) of item.possibleEffects
          .filter((e) => e.effect.category === 0 || e.effect.category === 1)"
            :key="effect._id"
            v-model="stats[effect.effect.characteristic]"
            :effect="effect"
            @change="stats.splice(effect.effect.characteristic, 1, $event)"
            class="col-12 col-md-6 row q-pa-xs"
          />
        </div>
      </div>

      <!-- buttons example -->
      <q-card-actions align="right">
        <q-btn color="primary" label="Valider" @click="onOKClick" />
        <q-btn color="primary" label="Annuler" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import Item from 'components/Item/Item';
import CharacteristicSelect from 'components/Common/Select/CharacteristicSelect';
import ForgemageEffectListItem from 'components/Stuff/Forgemage/ForgemageEffectListItem';

export default {
  name: 'ForgemageItemDialog',
  components: {
    ForgemageEffectListItem,
    CharacteristicSelect,
    Item,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
    stats: {
      type: Array,
      default: () => ([]),
    },
    exos: {
      type: Array,
      default: () => ([]),
    },
  },
  created() {
    this.item.possibleEffects.forEach((effect) => {
      const val1 = effect.diceNum;
      const val2 = effect.diceSide;
      if (effect.effect.category === 0 || effect.effect.category === 1) {
        if (!this.stats[effect.effect.characteristic]) {
          this.stats[effect.effect.characteristic] = val2 || val1;

          if (effect.effect.operator === '-') {
            this.stats[effect.effect.characteristic] *= -1;
          }
        }
      }
    });
  },
  methods: {
    addLine() {
      this.exos.push({
        charac: null,
        value: 1,
      });
    },
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    onOKClick() {
      this.$emit('ok', {
        exos: this.exos,
        stats: this.stats,
      });
      this.hide();
    },
    onCancelClick() {
      this.hide();
    },
    addExo(characId, value) {
      this.exos.push({
        charac: characId,
        value,
      });
    },
  },
};
</script>

<style scoped>

</style>
