<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card dark class="q-dialog-plugin" style="width: 700px; max-width: 80vw;">
      <q-bar>
        Selection de classe

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-darker text-white text-body2">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <div class="column q-mt-md">
        <div class="row full-width justify-center">
          <q-img
            :src="`icons/male${male ? '_selected' : ''}.png`"
            class="cursor-pointer q-mr-sm"
            style="max-width: 50px"
            @click="male = true"
          >
            <q-tooltip content-class="text-body2 text-white bg-darker">Homme</q-tooltip>
          </q-img>

          <q-img
            :src="`icons/female${!male ? '_selected' : ''}.png`"
            class="cursor-pointer q-ml-sm"
            style="max-width: 50px"
            @click="male = false"
          >
            <q-tooltip content-class="text-body2 text-white bg-darker">Femme</q-tooltip>
          </q-img>
        </div>

        <q-no-ssr>
          <carousel-3d
            v-if="breeds && breeds.length"
            ref="carousel"
            controlsVisible
            style="height: 230px"
            @before-slide-change="breedChanged"
          >
            <slide
              style="background: none !important; border: none !important"
              v-for="(breed, index) of breeds"
              :key="breed.id"
              :index="index"
            >
              <div class="row justify-center bg-dark text-body2 text-accent text-bold">
                {{ breed.shortName }}
              </div>
              <q-img
                :src="require(`assets/classes/${breed.dia}-${male ? 'm' : 'f' }.png`)"
                style="height: 200px"
                contain
              />
            </slide>
          </carousel-3d>
        </q-no-ssr>

        <div class="row full-width q-px-lg q-mt-md justify-center">
          <q-img
            v-for="(breed, index) of breeds"
            :key="breed.id"
            :src="breed.img"
            width="60px"
            class="bg-darker-hover border-accent-hover cursor-pointer q-ma-xs"
            :class="{ 'border-accent': selected === index, 'bg-darker': selected === index}"
            style="border-radius: 5px"
            @click="breedChanged(index, true)"
          >
            <q-tooltip content-class="text-white text-bold2 bg-darker">
              {{ breed.shortName }}
            </q-tooltip>
          </q-img>
        </div>
      </div>

      <q-card-section align="right" class="q-mt-md">
        <q-btn color="secondary" label="Selectionner" @click="onOKClick" />
        <q-btn color="primary" label="Fermer" class="q-ml-sm" @click="onCancelClick" />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { remove } from 'diacritics';

let carousel3d = {};
if (!process.env.SERVER) {
  // eslint-disable-next-line
  carousel3d = require('vue-carousel-3d');
}

export default {
  name: 'ClassSelectorDialog',
  components: {
    ...carousel3d,
  },
  props: {
    breed: {
      type: Number,
      required: false,
    },
    sexe: {
      type: String,
      default: 'female',
    },
  },
  data: () => ({
    breeds: null,
    selected: 1,
    male: false,
  }),
  async mounted() {
    this.male = this.sexe === 'male';
    await this.fetchBreeds();

    // Set default selected
    if (this.breeds) {
      const index = this.breeds.findIndex((e) => e.id === this.breed);
      if (index !== -1) {
        this.selected = index;
        if (this.$refs.carousel) {
          this.$refs.carousel.goSlide(index);
        }
      }
    }
  },
  methods: {
    breedChanged(index, emit) {
      this.selected = index;
      if (emit) {
        this.$refs.carousel.goSlide(index);
      }
    },
    async fetchBreeds() {
      this.$q.loading.show();
      this.breeds = (await this.$api.getBreeds({
        $limit: 50, // TODO paginate
      })).data.data;

      this.breeds.forEach((e) => {
        e.dia = remove(e.shortName).toLowerCase();
      });
      this.$q.loading.hide();
    },
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    async onOKClick() {
      this.$emit('ok', {
        breed: this.breeds[this.selected],
        sexe: this.male ? 'male' : 'female',
      });
      this.hide();
    },
    onCancelClick() {
      this.hide();
    },
  },
};
</script>

<style lang="stylus">
.carousel-3d-controls .next
  color $secondary
  text-shadow 2px 2px 2px black

.carousel-3d-controls .prev
  color $secondary
  text-shadow 2px 2px 2px black
</style>
