<template>
  <div class="column full-width">

    <div class="row text-accent text-body2 text-bold">
      Résistances et Dommages
    </div>

    <table>
      <q-tr>
        <q-th></q-th>
        <q-th class="text-center">
          <q-icon name="stat:neutre" size="27px" />
        </q-th>
        <q-th class="text-center">
          <q-icon name="stat:terre" size="27px" />
        </q-th>
        <q-th class="text-center">
          <q-icon name="stat:feu" size="27px" />
        </q-th>
        <q-th class="text-center">
          <q-icon name="stat:eau" size="27px" />
        </q-th>
        <q-th class="text-center">
          <q-icon name="stat:air" size="27px" />
        </q-th>
      </q-tr>
      <q-tr>
        <q-td>
          Do.
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['do-neutre']] }}
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['do-terre']] }}
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['do-feu']] }}
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['do-eau']] }}
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['do-air']] }}
        </q-td>
      </q-tr>
      <q-tr class="border-b-accent">
        <q-td>
          Res.
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['resistance-neutre']] }}
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['resistance-terre']] }}
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['resistance-feu']] }}
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['resistance-eau']] }}
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['resistance-air']] }}
        </q-td>
        <q-td/>
        <q-td/>
      </q-tr>
      <q-tr>
        <q-td>
          Res. %
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['re-per-neutre']] }}%
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['re-per-terre']] }}%
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['re-per-feu']] }}%
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['re-per-eau']] }}%
        </q-td>
        <q-td class="text-center">
          {{ stats[$api.characteristics_id['re-per-air']] }}%
        </q-td>
      </q-tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'DoResElementalTable',
  props: {
    stats: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style scoped>

</style>
