<template>
  <q-card class="bg-primary" dark>
    <q-card-section class="row full-width">
      <do-res-elemental-table
        :stats="stats"
      />
    </q-card-section>

    <q-separator color="secondary" inset />

    <q-card-section>
      <div
        v-for="(pair, index) of statsRelated"
        :key="'statPairIndex' + index"
        class="row"
      >
        <characteristic
          v-for="(stat) of pair"
          :key="'statPairIndex' + index + 'statId' + stat"
          :characteristic_id="stat"
          :value="stats[stat] || 0"
          :dense="dense_characteristics"
          :category-name-length="2"
          class="col"
        />
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import DoResElementalTable from 'components/Stuff/DoResElementalTable';
import Characteristic from 'components/Common/Characteristic';

export default {
  name: 'DoResStuffCard',
  components: {
    Characteristic,
    DoResElementalTable,
  },
  props: {
    stats: {
      type: Object,
      default: () => ({}),
    },
    dense_characteristics: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      statsRelated: [
        [
          this.$api.characteristics_id['dommages-sorts'],
          this.$api.characteristics_id['dommages-armes'],
        ],
        [
          this.$api.characteristics_id['dommages-distance'],
          this.$api.characteristics_id['resistance-distance'],
        ],
        [
          this.$api.characteristics_id['dommages-melee'],
          this.$api.characteristics_id['resistance-melee'],
        ],
        [
          this.$api.characteristics_id['dommages-poussee'],
          this.$api.characteristics_id['resistance-poussee'],
        ],
        [
          this.$api.characteristics_id['dommages-critiques'],
          this.$api.characteristics_id['resistance-critiques'],
        ],
        [
          this.$api.characteristics_id.dommages,
          this.$api.characteristics_id.renvoi,
        ],
        [
          this.$api.characteristics_id['dommages-pieges'],
          this.$api.characteristics_id['puissance-pieges'],
        ],
      ],
    };
  },
};
</script>

<style scoped>

</style>
