<template>
  <q-dialog ref="dialog">
    <q-card dark class="q-dialog-plugin">
      <div
        class="row bg-primary q-px-md items-center q-py-xs"
      >
        <div class="text-body1 text-bold">
          Publier votre stuff
        </div>

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-darker text-white text-body2">Fermer</q-tooltip>
        </q-btn>
      </div>

      <q-card-section class="q-mt-md column">
        <q-input
          v-model="data.title"
          label="Titre"
          autofocus
          color="accent"
          class="full-width"
          dark
          flat
          :rules="[
            val => val && val.length > 2 ? true : 'Votre titre doit contenir au moins 2 caractères'
          ]"
        />

        <div class="row items-center" v-if="$api.isLogged()">
          <q-select
            v-model="data.shared"
            :options="shared_value"
            label="Partage"
            option-value="value"
            option-label="label"
            emit-value
            map-options
            dark
            class="col"
            color="accent"
          />
          <q-icon
            name="fa fa-info-circle"
            class="q-ml-sm"
            color="grey-6"
            size="sm"
          >
            <q-tooltip content-class="bg-darker text-body2 text-grey-6">
              <span class="text-bold text-white">Public: </span>
              Tout le monde peux accéder à votre stuff<br/>
              <span class="text-bold text-white">Non répertorié: </span>
              Seul les utilisateurs avec le lien peuvent accéder à votre stuff<br/>
              <span class="text-bold text-white">Privé: </span>
              Seul vous pourrez accèder à votre stuff
            </q-tooltip>
          </q-icon>
        </div>

        <template v-else class="text-subtitle2 text-grey-6">
          Pour rendre un stuff privé, vous devez être connecté
        </template>
      </q-card-section>

      <q-card-section align="right" class="q-mt-md">
        <q-btn color="secondary" flat label="Fermer" @click="onCancelClick" />
        <q-btn
          :disable="!isValid"
          class="q-ml-md"
          color="accent"
          label="Publier"
          flat
          @click="onOKClick"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: 'PublishStuffDialog',
  components: {},
  props: {
    shared: String,
    title: String,
  },
  data: () => ({
    data: {
      title: null,
      private: false,
      shared: 'public',
    },
    shared_value: [
      {
        label: 'Public',
        value: 'public',
      },
      {
        label: 'Non répertorié',
        value: 'unreferenced',
      },
      {
        label: 'Privé',
        value: 'private',
      },
    ],
  }),
  beforeMount() {
    this.actualPinnedSpells = this.pinnedSpells || [];
    this.data.shared = this.shared;
    this.data.title = this.title;
  },
  computed: {
    isValid() {
      return this.data.title && this.data.title.length > 2;
    },
  },
  methods: {
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    async onOKClick() {
      this.$emit('ok', this.data);
      this.hide();
    },
    onCancelClick() {
      this.$emit('hide');
      this.hide();
    },
  },
};
</script>

<style lang="stylus">
</style>
