<template>
  <q-card class="bg-primary q-mt-md" dark>
    <q-card-section class="column full-width">

      <div class="row text-accent text-body2 text-bold">
        Statistiques secondaires
      </div>

      <div class="row justify-center full-width">
        <div class="col-4 column">
          <characteristic
            :characteristic_id="$api.characteristics_id['esquive-pa']"
            :value="stats[$api.characteristics_id['esquive-pa']]"
            :dense="dense_characteristics"
            class="full-width"
          />
          <characteristic
            :characteristic_id="$api.characteristics_id['esquive-pm']"
            :value="stats[$api.characteristics_id['esquive-pm']]"
            :dense="dense_characteristics"
            class="full-width"
          />
          <characteristic
            :characteristic_id="$api.characteristics_id.fuite"
            :value="stats[$api.characteristics_id.fuite]"
            :dense="dense_characteristics"
            class="full-width"
          />
        </div>

        <div class="col-4 column">
          <characteristic
            :characteristic_id="$api.characteristics_id['retrait-pa']"
            :value="stats[$api.characteristics_id['retrait-pa']]"
            :dense="dense_characteristics"
            class="full-width"
          />
          <characteristic
            :characteristic_id="$api.characteristics_id['retrait-pm']"
            :value="stats[$api.characteristics_id['retrait-pm']]"
            :dense="dense_characteristics"
            class="full-width"
          />
          <characteristic
            :characteristic_id="$api.characteristics_id.tacle"
            :value="stats[$api.characteristics_id.tacle]"
            :dense="dense_characteristics"
            class="full-width"
          />
        </div>

        <div class="col-4 column">
          <characteristic
            :characteristic_id="$api.characteristics_id.pods"
            label="Pods"
            :value="stats[$api.characteristics_id.pods]"
            :dense="dense_characteristics"
            class="full-width"
          />
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import Characteristic from 'components/Common/Characteristic';

export default {
  name: 'SecondaryStatsCard',
  components: {
    Characteristic,
  },
  props: {
    stats: {
      type: Object,
      default: () => ({}),
    },
    dense_characteristics: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style scoped>

</style>
