<template>
  <q-img
    class="bg-item-stuff hover"
    :class="{ 'cursor-pointer': editable, [borderClass]: true }"
    contain
    :src="model ? model.img : `icons/icon_slot_${type}_inventory.png`"
    :placeholder-src="`icons/icon_slot_${type}_inventory.png`"
    @click="$emit('click', $event)"
  >
    <advanced-item-tooltip
      v-if="model"
      :item="model"
      :forgemagie="forgemagies[model.id]"
      :anchor="getAnchor()"
      :self="getSelf()"
    />
    <div
      v-if="model && editable"
      class="absolute-top-right display-on-parent-hover column"
      style="padding: 0; background: none"
    >
      <q-btn
        icon="fa fa-times"
        color="accent"
        flat
        dense
        round
        size="sm"
        @click.stop="model = null"
      >
        <q-tooltip content-class="bg-darker text-body2">
          Supprimer l'objet
        </q-tooltip>
      </q-btn>
      <q-btn
        v-if="!!$listeners.forgemage"
        icon="fa fa-gavel"
        color="accent"
        flat
        dense
        round
        size="sm"
        @click.stop="$emit('forgemage', $event)"
      >
        <q-tooltip content-class="bg-darker text-body2">
          Forgemager
        </q-tooltip>
      </q-btn>
    </div>
  </q-img>
</template>

<script>
import AdvancedItemTooltip from 'components/Item/AdvancedItemTooltip';

export default {
  name: 'StuffItem',
  components: {
    AdvancedItemTooltip,
  },
  props: {
    value: {
      type: [Object],
      required: false,
    },
    editable: {
      type: Boolean,
      default: true,
    },
    type: {
      type: String,
      required: true,
    },
    tooltipDirection: {
      type: String,
      default: 'top',
    },
    forgemagies: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
    borderClass: {
      get() {
        if (this.hasExo(this.$api.characteristics_id.pm)) {
          return 'border-pm';
        }
        if (this.hasExo(this.$api.characteristics_id.pa)) {
          return 'border-pa';
        }
        if (this.hasExo(this.$api.characteristics_id.po)) {
          return 'border-po';
        }
        return '';
      },
    },
  },
  methods: {
    hasExo(characId) {
      if (this.forgemagies && this.model
        && this.forgemagies[this.model.id] && this.forgemagies[this.model.id].exos) {
        return this.forgemagies[this.model.id].exos
          .find((e) => e.charac === characId
            || (e.charac && e.charac.id === characId));
      }
      return false;
    },
    getSelf() {
      switch (this.tooltipDirection) {
        case 'top':
          return 'bottom middle';
        case 'bottom':
          return 'top middle';
        case 'left':
          return 'center right';
        case 'right':
          return 'center left';
        default:
          return 'bottom middle';
      }
    },
    getAnchor() {
      switch (this.tooltipDirection) {
        case 'top':
          return 'top middle';
        case 'bottom':
          return 'bottom middle';
        case 'left':
          return 'center left';
        case 'right':
          return 'center right';
        default:
          return 'top middle';
      }
    },
  },
};
</script>

<style scoped>
.border-pm {
  border-color: #93CD00;
}

.border-pa {
  border-color: #03A4F9;
}

.border-po {
  border-color: #25AE88;
}
</style>
