<template>
  <div class="column">
    <div class="row full-width">
      <div class="col column items-center" :style="'max-width: ' + (maxItemWidth + 8) + 'px'">
        <stuff-item
          :forgemagies="forgemagie"
          :value="amulet"
          tooltip-direction="left"
          :style="'max-width: ' + maxItemWidth + 'px;max-height: ' + maxItemWidth + 'px'"
          type="collar"
          class="q-ma-xs"
          :editable="false"
        />

        <stuff-item
          :forgemagies="forgemagie"
          :value="rings[0]"
          tooltip-direction="left"
          :style="'max-width: ' + maxItemWidth + 'px;max-height: ' + maxItemWidth + 'px'"
          type="ring"
          class="q-ma-xs"
          :editable="false"
        />

        <stuff-item
          :forgemagies="forgemagie"
          :value="rings[1]"
          tooltip-direction="left"
          :style="'max-width: ' + maxItemWidth + 'px;max-height: ' + maxItemWidth + 'px'"
          type="ring"
          class="q-ma-xs"
          :editable="false"
        />

        <stuff-item
          :forgemagies="forgemagie"
          :value="boots"
          tooltip-direction="left"
          :style="'max-width: ' + maxItemWidth + 'px;max-height: ' + maxItemWidth + 'px'"
          type="shoe"
          class="q-ma-xs"
          :editable="false"
        />
      </div>

      <div class="col column items-center q-ma-md" style="max-width: 500px">
        <classe
          v-if="breed"
          :breed="breed"
          :sexe="sexe"
          style="max-height: 300px"
        />

        <div class="row justify-center full-width">
          <stuff-item
            :forgemagies="forgemagie"
            :value="weapon"
            tooltip-direction="top"
            :style="'max-width: ' + maxItemWidth + 'px;max-height: ' + maxItemWidth + 'px'"
            type="weapon"
            class="q-ma-xs"
            :editable="false"
          />

          <stuff-item
            :forgemagies="forgemagie"
            :value="shield"
            tooltip-direction="top"
            :style="'max-width: ' + maxItemWidth + 'px;max-height: ' + maxItemWidth + 'px'"
            type="shield"
            class="q-ma-xs"
            :editable="false"
          />
        </div>
      </div>

      <div class="col column items-center" :style="'max-width: ' + (maxItemWidth + 8) + 'px'">
        <stuff-item
          :forgemagies="forgemagie"
          :value="helmet"
          tooltip-direction="right"
          :style="'max-width: ' + maxItemWidth + 'px;max-height: ' + maxItemWidth + 'px'"
          type="helmet"
          class="q-ma-xs"
          :editable="false"
        />

        <stuff-item
          :forgemagies="forgemagie"
          :value="cape"
          tooltip-direction="right"
          :style="'max-width: ' + maxItemWidth + 'px;max-height: ' + maxItemWidth + 'px'"
          type="cape"
          class="q-ma-xs"
          :editable="false"
        />

        <stuff-item
          :forgemagies="forgemagie"
          :value="belt"
          tooltip-direction="right"
          :style="'max-width: ' + maxItemWidth + 'px;max-height: ' + maxItemWidth + 'px'"
          type="belt"
          class="q-ma-xs"
          :editable="false"
        />

        <stuff-item
          :forgemagies="forgemagie"
          :value="pet"
          tooltip-direction="right"
          :style="'max-width: ' + maxItemWidth + 'px;max-height: ' + maxItemWidth + 'px'"
          type="pet"
          class="q-ma-xs"
          :editable="false"
        />
      </div>
    </div>

    <!-- Dofus -->
    <div class="row full-width justify-center">
      <stuff-item
        v-for="(index) in 6"
        :key="'dofus' + index"
        v-model="dofus[index - 1]"
        :editable="false"
        type="dofus"
        tooltip-direction="top"
        class="q-ma-xs col-3 col-sm"
      />
    </div>
  </div>
</template>

<script>
import Classe from 'components/Common/Classe';
import StuffItem from 'components/Stuff/StuffItem';

export default {
  name: 'Stuff',
  components: {
    StuffItem,
    Classe,
  },
  props: {
    maxItemWidth: {
      type: Number,
      default: 100,
    },
    className: {
      type: String,
      default: 'xelor',
    },
    amulet: Object,
    rings: Array,
    boots: Object,
    weapon: Object,
    shield: Object,
    belt: Object,
    pet: Object,
    cape: Object,
    helmet: Object,
    dofus: Array,
    breed: Object,
    sexe: String,
    forgemagie: Object,
  },
};
</script>

<style scoped>

</style>
