<template>
  <div>
    <q-btn
      class="q-ml-md"
      color="grey-9"
      icon="stat:dommages-distance"
      :class="{
        'border-accent': computedValue === true,
        'border': computedValue !== true,
       }"
      @click="toggleDistance"
    >
      <q-tooltip content-class="bg-darker text-body2">
        Attaque à distance
      </q-tooltip>
    </q-btn>

    <q-btn
      class="q-ml-md"
      color="grey-9"
      icon="stat:dommages-melee"
      :class="{
        'border-accent': computedValue === false,
        'border': computedValue !== false,
      }"
      @click="toggleMelee"
    >
      <q-tooltip content-class="bg-darker text-body2">
        Attaque en mélée
      </q-tooltip>
    </q-btn>
  </div>
</template>

<script>
export default {
  name: 'TypeOfDamage',
  props: {
    value: {
      type: Boolean,
      required: false,
    },
  },
  computed: {
    computedValue: {
      set(value) {
        this.$emit('input', value);
      },
      get() {
        return this.value;
      },
    },
  },
  methods: {
    toggleDistance() {
      this.computedValue = this.computedValue ? undefined : true;
    },
    toggleMelee() {
      this.computedValue = this.computedValue === false ? undefined : false;
    },
  },
};
</script>

<style scoped>

</style>
