<template>
  <q-expansion-item>
    <template v-slot:header>
      <div class="row full-width text-bold text-secondary items-center text-body1">
        {{ weapon.name }}
      </div>
    </template>
    <q-card dark class="bg-primary">
      <q-card-section>
        <div class="row full-width">
          <div class="col full-width justify-center column text-grey-6">
            <div class="row">
              Coût&nbsp;
              <span class="text-bold text-white">
          {{ weapon.apCost }} PA
        </span>
            </div>
            <div class="row">
              Portée&nbsp;
              <span class="text-bold text-white">
          <template v-if="weapon.minRange !== weapon.range">
            {{ weapon.minRange }} - {{ weapon.range }}
          </template>
          <template v-else>
            {{ weapon.minRange }}
          </template>
        </span>
            </div>
            <div v-if="weapon.criticalHitProbability" class="row">
              Critique&nbsp;
              <span class="text-bold text-white">
          {{ crit }}% (+{{ weapon.criticalHitBonus }} Dommages)
        </span>
            </div>
            <span v-if="weapon.castInLine">
        Lancé en ligne uniquement
      </span>
            <span v-if="weapon.castInDiagonal">
        Lancé en diagonale uniquement
      </span>
            <span v-if="!weapon.castTestLos">
        Ne nécessite pas de ligne de vue
      </span>
            <div v-if="weapon.maxCastPerTurn" class="row">
              Utilisations par tour:&nbsp;
              <span class="text-white text-bold">
          {{ weapon.maxCastPerTurn }}
        </span>
            </div>
          </div>
        </div>
        <div class="row full-width q-mt-sm">
          <div v-if="crit < 100" class="column col q-mr-sm">
            <div class="row text-white text-body1">
              Effets
            </div>
            <div class="text-white text-body1 q-ml-md">
              <span class="text-bold" :class="{ 'text-accent': weapon_damage.elem === 100 }">
                {{ weapon_damage.from }}
              </span>
              à
              <span class="text-bold" :class="{ 'text-accent': weapon_damage.elem === 100 }">
                {{ weapon_damage.to }}
              </span>
              Dégats totaux
            </div>
            <effect-instance-dice
              v-for="(effect, index) of weapon.possibleEffects.filter(onlyDo)"
              :key="'weaponEffect' + index"
              :calcul-damage="true"
              :characteristics="stats"
              :instance="effect"
              :final-damage-percent="final_damages"
            />
            <effect-instance-dice
              v-for="(effect, index) of weapon.possibleEffects.filter(onlyHeal)"
              :key="'weaponEffectHeal' + index"
              :calcul-damage="true"
              :characteristics="stats"
              :instance="effect"
            />
          </div>

          <q-separator v-if="crit > 0 && crit < 100" color="accent" vertical />

          <div v-if="crit > 0" class="column col q-ml-sm">
            <div class="row text-white text-body1">
              Effets critiques
            </div>
            <div class="text-white text-body1 q-ml-md">
              <span class="text-bold" :class="{ 'text-accent': weapon_damage.elem === 100 }">
                {{ weapon_damage_crit.from }}
              </span>
              à
              <span class="text-bold" :class="{ 'text-accent': weapon_damage.elem === 100 }">
                {{ weapon_damage_crit.to }}
              </span>
              Dégats totaux
            </div>
            <effect-instance-dice
              v-for="(effect, index) of weapon.possibleEffects.filter(onlyDo)"
              :key="'weaponEffect' + index"
              :calcul-damage="true"
              :characteristics="stats"
              :instance="effect"
              crit
              :bonus="weapon.criticalHitBonus"
              :final-damage-percent="final_damages"
            />
            <effect-instance-dice
              v-for="(effect, index) of weapon.possibleEffects.filter(onlyHeal)"
              :key="'weaponEffectHeal' + index"
              :calcul-damage="true"
              :characteristics="stats"
              :instance="effect"
              crit
              :bonus="weapon.criticalHitBonus"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-expansion-item>
</template>

<script>
import EffectInstanceDice from 'components/EffectInstanceDice';
import { calculDamages } from 'src/utils/calculDamages';
import characteristics from 'src/enums/characteristics';

export default {
  name: 'WeaponDamages',
  components: {
    EffectInstanceDice,
  },
  props: {
    weapon: {
      type: Object,
      required: true,
    },
    stats: {
      type: Object,
      default: () => ({}),
    },
    is_distance: {
      type: Boolean,
    },
  },
  data: () => ({
    weapon_damage: {
      from: 0,
      to: 0,
      elem: -1,
    },
    weapon_damage_crit: {
      from: 0,
      to: 0,
      elem: -1,
    },
    final_damages: 0,
  }),
  computed: {
    crit() {
      let crit = this.weapon.criticalHitProbability;
      crit += this.stats[characteristics.critique];
      if (crit >= 100) {
        crit = 100;
      } else if (crit < 0) {
        crit = 0;
      }
      return crit;
    },
  },
  watch: {
    weapon() {
      this.setDamages();
    },
    stats: {
      handler() {
        this.setDamages();
      },
      deep: true,
    },
    is_distance: {
      handler() {
        this.calculFinalDamages();
        this.setDamages();
      },
      deep: true,
    },
  },
  mounted() {
    this.calculFinalDamages();
    this.setDamages();
  },
  methods: {
    onlyDo(instance) {
      return [91, 96, 1014, 92, 97, 93, 98, 94, 99, 100, 2822].includes(instance.effectId);
    },
    onlyHeal(instance) {
      return [108].includes(instance.effectId);
    },
    calculFinalDamages() {
      if (!this.stats) {
        this.final_damages = 0;
        return;
      }
      let finalDamage = this.stats[characteristics['dommages-armes']];

      if (this.is_distance === true) {
        finalDamage += this.stats[characteristics['dommages-distance']];
      } else if (this.is_distance === false) {
        finalDamage += this.stats[characteristics['dommages-melee']];
      }

      this.final_damages = finalDamage;
    },
    setDamages() {
      this.weapon_damage_crit = {
        from: 0,
        to: 0,
        elem: -1,
      };
      this.weapon_damage = {
        from: 0,
        to: 0,
        elem: -1,
      };
      this.weapon.possibleEffects.filter(this.onlyDo).forEach((effect) => {
        if (effect.effect) {
          const damageRange = calculDamages(
            [
              effect.diceNum,
              effect.diceSide,
            ],
            effect.effect.elementId,
            this.stats,
            false,
            this.final_damages,
          );
          this.weapon_damage.from += damageRange[0];
          this.weapon_damage.to += damageRange[1];
          if (this.weapon_damage.elem !== -1
            && this.weapon_damage.elem !== effect.effect.elementId) {
            this.weapon_damage.elem = 100;
          } else if (this.weapon_damage.elem !== 100) {
            this.weapon_damage.elem = effect.effect.elementId;
          }

          const damageRangeCrit = calculDamages(
            [
              effect.diceNum + this.weapon.criticalHitBonus,
              effect.diceSide + this.weapon.criticalHitBonus,
            ],
            effect.effect.elementId,
            this.stats,
            true,
            this.final_damages,
          );
          this.weapon_damage_crit.from += damageRangeCrit[0];
          this.weapon_damage_crit.to += damageRangeCrit[1];
          this.weapon_damage_crit.elem = this.weapon_damage.elem;
        }
      });
    },
  },
};
</script>

<style scoped>

</style>
