<template>
  <q-item
    clickable
    dense
    @click="onMenuClick(item)"
    @mouseover.native="menuOver = true"
    @mouseout.native="menuOver = false"
  >
    <q-item-section>
      <slot name="label">
        {{ item.name }}
      </slot>
    </q-item-section>

    <template v-if="item.children && item.children.length > 1">
      <q-item-section side>
        <q-icon name="keyboard_arrow_right" />
      </q-item-section>

      <q-menu
        anchor="top right"
        self="top left"
        dark
        square
        v-model="menu"
      >
        <q-list
          @mouseover.native="listOver = true"
          @mouseout.native="listOver = false"
        >
          <menu-item
            v-for="(subItem) of item.children.filter((e) => !!e)"
            :key="item.id + 'subItem' + subItem.id"
            :item="subItem"
            :route="route"
          />
        </q-list>
      </q-menu>
    </template>

  </q-item>
</template>

<script>
import { debounce } from 'quasar';

export default {
  name: 'MenuItem',
  props: {
    item: {
      type: Object,
      required: true,
    },
    route: {
      type: String,
      required: true,
    },
    redirectParent: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    menu: false,
    menuOver: false,
    listOver: false,
  }),
  watch: {
    menuOver() {
      this.debouncedCheckMenu();
    },
    listOver() {
      this.debouncedCheckMenu();
    },
  },
  mounted() {
    this.debouncedCheckMenu = debounce(() => {
      this.checkMenu();
    }, 300);
  },
  methods: {
    debouncedCheckMenu: () => {},
    checkMenu() {
      this.menu = this.menuOver || this.listOver;
    },
    onMenuClick(item) {
      if (this.redirectParent && item.id) {
        this.redirect(item.id);
      } else if (item.children && item.children.length === 1) {
        this.redirect(item.children[0].id);
      } else if (item.id && (!item.children || !item.children.length)) {
        this.redirect(item.id);
      }
    },
    redirect(id) {
      this.$router.push({
        name: this.route,
        params: {
          id,
        },
      })
        .catch(() => {});
    },
  },
};
</script>

<style scoped>

</style>
