<template>
  <q-page class="full-width full-height bg-darker row justify-center items-center">
    <div class="column" style="width: 400px">
      <div class="row">
        <div class="text-h5 text-white q-my-md">
          Dofus<span class="text-bold text-secondary">DB</span>
        </div>
      </div>
      <div class="row">
        <sign-in
          @signup="redirectToSignup"
          @success="$router.push('/')"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import SignIn from 'components/Sign/SignIn';

export default {
  meta: {
    title: 'DofusDB - Connexion',
    meta: {
      description: {
        name: 'description',
        content: 'Connectez-vous afin d\'avoir accès à l\'intégralité des fonctionnalités.',
      },
    },
  },
  components: {
    SignIn,
  },
  methods: {
    redirectToSignup() {
      this.$router.push({
        name: 'signup',
      }).catch(() => {});
    },
  },
};
</script>

<style scoped>

</style>
