<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card dark class="q-dialog-plugin" style="width: 700px; max-width: 80vw;">
      <q-bar>
        <template v-if="tab === 0">Connexion</template>
        <template v-else>Inscription</template>

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-darker text-white">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <div class="column q-pa-md">
        <sign-in v-if="tab === 0" @signup="tab = 1" @success="onOKClick"/>
        <sign-up v-else @signin="tab = 0" @success="onOKClick"/>
      </div>
    </q-card>
  </q-dialog>
</template>

<script>
import SignIn from 'components/Sign/SignIn';
import SignUp from 'components/Sign/SignUp';

export default {
  components: {
    SignUp,
    SignIn,
  },
  data() {
    return {
      tab: 0,
    };
  },
  methods: {
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    async onOKClick() {
      this.$emit('ok');
      this.hide();
    },
    onCancelClick() {
      this.hide();
    },
  },
};
</script>
