<template>
  <q-page class="full-width full-height bg-darker row justify-center items-center">
    <div class="column" style="width: 400px">
      <div class="row">
        <div class="text-h5 text-white q-my-md">
          Dofus<span class="text-bold text-secondary">DB</span>
        </div>
      </div>
      <div class="row">
        <sign-up
          @signin="redirectToSignin"
          @success="$router.push('/')"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import SignUp from 'components/Sign/SignUp';

export default {
  components: {
    SignUp,
  },
  meta: {
    title: 'DofusDB - Inscription',
    meta: {
      description: {
        name: 'description',
        content: 'Inscrivez-vous afin d\'avoir accès à l\'intégralité des fonctionnalités.',
      },
    },
  },
  data: () => ({
    username: '',
    password: '',
    error: null,
    loading: false,
  }),
  methods: {
    redirectToSignin() {
      this.$router.push({
        name: 'signin',
      }).catch(() => {});
    },
  },
};
</script>

<style scoped>

</style>
