<template>
  <div class="column">
    <q-spinner
      v-if="loading"
      class="self-center"
      color="accent"
      size="50px"
      style="height: 75px"
    />

    <div
      v-for="(variant, index) of variants"
      :key="'variant' + variant.id + 'i' + index"
      class="row full-width"
    >
      <div
        v-for="(spell, index) of variant.spells"
        :key="'variant' + variant.id + 'spell' + spell.id + 'i' + index"
        class="col q-ma-sm"
      >
        <spell
          :spell="spell"
          :characteristics="characteristics"
          :calcul-damage="calculDamage"
          :advanced="advanced"
          :isDistance="isDistance"
        >
          <template v-slot:spell-header="props">
            <slot name="spell-header" :spell="props.spell"/>
          </template>
        </spell>
      </div>
    </div>
  </div>
</template>

<script>
import Spell from 'components/Spells/Spell';

export default {
  name: 'Spells',
  components: {
    Spell,
  },
  props: {
    breedId: {
      type: Number,
      required: true,
    },
    characteristics: Object,
    calculDamage: Boolean,
    advanced: Boolean,
    isDistance: {
      type: Boolean,
      default: undefined,
    },
  },
  data: () => ({
    variants: [],
    loading: 0,
  }),
  async mounted() {
    this.loading += 1;
    this.variants = await this.$api.getAll(this.$api.getSpellVariants, {
      breedId: this.breedId,
    });
    this.variants.forEach((e) => {
      this.loading += 1;
      this.$api.getSpells({
        'id[$in]': e.spellIds,
      }).then((res) => {
        e.spells = res.data.data;
        this.loading -= 1;
      });
    });
    this.loading -= 1;
  },
};
</script>

<style scoped>

</style>
