<template>
  <q-dialog ref="dialog" @before-hide="onOKClick">
    <q-card dark class="q-dialog-plugin" style="width: 70vw; max-width: 80vw;">
      <div
        class="row bg-primary q-px-md items-center q-py-xs"
      >
        <div class="text-body1 text-bold">
          Sorts
        </div>

        <q-space />

        <q-checkbox
          v-model="calculDamage"
          color="accent"
          class="text-white"
          label="Calcul des dégats"
        />
        <q-checkbox
          v-model="advanced"
          color="accent"
          class="text-white"
          label="Affichage avancé"
        />

        <type-of-damage v-model="isDist" />

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-darker text-white text-body2">Fermer</q-tooltip>
        </q-btn>
      </div>

      <q-card-section
        class="q-mt-md column"
        style="height: 70vh"
      >
        <q-scroll-area
          class="col"
        >
          <spells
            :breed-id="breedId"
            :characteristics="characteristics"
            :calcul-damage="calculDamage"
            :advanced="advanced"
            :isDistance="isDist"
          >
            <template v-if="canPin" v-slot:spell-header="props">
              <q-btn
                icon="fas fa-thumbtack"
                flat
                size="xs"
                :color="isPinned(props.spell) ? 'secondary' : 'grey-6'"
                @click.stop="pinSpell(props.spell)"
              >
                <q-tooltip
                  anchor="top middle"
                  self="bottom middle"
                  content-class="text-white bg-darker"
                >
                  <template v-if="isPinned(props.spell)">
                    Désépingler le sort de l'équipement
                  </template>
                  <template v-else>
                    Épingler le sort à l'équipement
                  </template>
                </q-tooltip>
              </q-btn>
            </template>
          </spells>
        </q-scroll-area>
      </q-card-section>

      <q-card-section align="right" class="q-mt-md">
        <q-btn color="secondary" label="Fermer" @click="onOKClick" />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import Spells from 'components/Spells/Spells';
import TypeOfDamage from 'components/Stuff/TypeOfDamage';

export default {
  name: 'SpellsDialog',
  components: {
    TypeOfDamage,
    Spells,
  },
  props: {
    breedId: {
      type: Number,
      required: false,
    },
    characteristics: Object,
    canPin: {
      type: Boolean,
      default: false,
    },
    pinnedSpells: {
      type: Array,
      required: false,
    },
  },
  data: () => ({
    advanced: false,
    calculDamage: true,
    isDist: undefined,
    actualPinnedSpells: [],
  }),
  mounted() {
    this.actualPinnedSpells = this.pinnedSpells || [];
  },
  methods: {
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide', this.actualPinnedSpells);
    },
    async onOKClick() {
      this.$emit('ok', this.actualPinnedSpells);
      this.hide();
    },
    onCancelClick() {
      this.$emit('hide', this.actualPinnedSpells);
      this.hide();
    },
    pinSpell(spell) {
      if (this.isPinned(spell)) {
        this.actualPinnedSpells = this.actualPinnedSpells.filter((sp) => sp.id !== spell.id);
      } else {
        this.actualPinnedSpells.push(spell);
      }
    },
    isPinned(spell) {
      return this.actualPinnedSpells.find((sp) => sp.id === spell.id);
    },
  },
};
</script>

<style lang="stylus">
</style>
