<template>
  <q-expansion-item v-model="expanded" dark class="bg-primary">
    <template v-slot:header>
      <q-item-section avatar>
        <q-img
          :src="spell.img"
          class="spell-icon q-mr-md"
        />
      </q-item-section>

      <q-item-section>
        {{ spell.name }}
      </q-item-section>

      <slot name="spell-header" :spell="spell" />

      <q-tooltip
        content-class="bg-darker text-body2 shadow-3"
      >
        <div
          class="text-grey-6"
          style="max-width: 420px"
          v-html="spell.description.replace(/\n/ig, '<br />')"
        />
      </q-tooltip>
    </template>

    <q-card dark class="bg-primary">
      <q-card-section style="min-height: 30px">
        <q-spinner
          v-if="loading"
          size="30px"
          color="accent"
        />

        <div v-if="levels && grade && levels[grade - 1]" class="column text-grey-6">
          <div class="row">
            Coût&nbsp;
            <span class="text-bold text-white">
            {{ levels[grade - 1].apCost }} PA
          </span>
          </div>
          <div class="row">
            Portée&nbsp;
            <span class="text-bold text-white">
              <template v-if="levels[grade - 1].minRange !== levels[grade - 1].range">
                {{ levels[grade - 1].minRange }} - {{ levels[grade - 1].range }}
              </template>
              <template v-else>
                {{ levels[grade - 1].minRange }}
              </template>
              <span v-if="levels[grade - 1].rangeCanBeBoosted">
                &nbsp;(modifiable)
              </span>
            </span>
          </div>
          <div v-if="levels[grade - 1].criticalHitProbability" class="row">
            Critique&nbsp;
            <span class="text-bold text-white">
              {{ crit }}%
            </span>
          </div>
          <span v-if="levels[grade - 1].castInLine">
            Lancé en ligne uniquement
          </span>
          <span v-if="levels[grade - 1].castInDiagonal">
            Lancé en diagonale uniquement
          </span>
          <span v-if="!levels[grade - 1].castTestLos">
            Ne nécessite pas de ligne de vue
          </span>
          <span v-if="levels[grade - 1].needFreeCell">
            Lancé sur une cellule vide
          </span>
          <span v-if="levels[grade - 1].needTakenCell">
            Cible nécessaire
          </span>
          <span v-if="levels[grade - 1].needFreeTrapCell">
            Lancé sur une cellule sans piège
          </span>
          <div v-if="levels[grade - 1].maxCastPerTarget" class="row">
            Limitation par tour par cible:&nbsp;
            <span class="text-white text-bold">
              {{ levels[grade - 1].maxCastPerTarget }}
            </span>
          </div>
          <div v-if="levels[grade - 1].maxStack > 0" class="row">
            Cumul max. des effets:&nbsp;
            <span class="text-bold text-white">
              {{ levels[grade - 1].maxStack }}
            </span>
          </div>
          <div v-if="levels[grade - 1].maxCastPerTurn" class="row">
            Utilisations par tour:&nbsp;
            <span class="text-white text-bold">
              {{ levels[grade - 1].maxCastPerTurn }}
            </span>
          </div>
          <div v-if="levels[grade - 1].minCastInterval" class="row">
            Interval de relance:&nbsp;
            <span class="text-white text-bold">
              {{ levels[grade - 1].minCastInterval }}
            </span>
          </div>
          <div v-if="levels[grade - 1].initialCooldown" class="row">
            Interval de relance initial:&nbsp;
            <span class="text-white text-bold">
              {{ levels[grade - 1].initialCooldown }}
            </span>
          </div>
          <div v-if="levels[grade - 1].globalCooldown" class="row">
            Interval de relance global:&nbsp;
            <span class="text-white text-bold">
              {{ levels[grade - 1].globalCooldown }}
            </span>
          </div>
        </div>

        <template v-if="expanded && grade && levels[grade - 1]
       && (crit < 100 || !levels[grade - 1].criticalHitProbability)">
          <div class="q-mt-md text-body1 text-white">
            Effets
          </div>

          <div
            v-for="(effect, index) of levels[grade - 1].effects"
            :key="'effect' + index"
          >
            <effect-instance-dice
              v-if="effect.visibleInTooltip || advanced"
              :instance="effect"
              :characteristics="characteristics"
              :calcul-damage="calculDamage"
              :final-damage-percent="finalDamage"
            />
          </div>
        </template>

        <template v-if="expanded && grade && levels[grade - 1]
       && (levels[grade - 1].criticalHitProbability && crit > 0)">
        <div class="q-mt-md text-body1 text-white">
          Effets critiques
        </div>

        <div
          v-for="(effect, index) of levels[grade - 1].criticalEffect"
          :key="'criticalEffect' + index"
        >
          <effect-instance-dice
            v-if="effect.visibleInTooltip || advanced"
            :instance="effect"
            :characteristics="characteristics"
            :calcul-damage="calculDamage"
            crit
            :final-damage-percent="finalDamage"
          />
        </div>
      </template>
      </q-card-section>
    </q-card>
  </q-expansion-item>
</template>

<script>
import EffectInstanceDice from 'components/EffectInstanceDice';
import characteristics from 'src/enums/characteristics';

export default {
  name: 'Spell',
  components: {
    EffectInstanceDice,
  },
  props: {
    spell: {
      type: Object,
      required: true,
    },
    characteristics: Object,
    calculDamage: Boolean,
    advanced: Boolean,
    isDistance: {
      type: Boolean,
      default: undefined,
    },
  },
  data: () => ({
    levels: [],
    grade: 0,
    baseDamage: true,
    expanded: false,
    loading: false,
    finalDamage: 0,
  }),
  watch: {
    characteristics: {
      handler() {
        this.calculFinalDamages();
      },
      deep: true,
    },
    isDistance() {
      this.calculFinalDamages();
    },
  },
  computed: {
    crit() {
      if (!this.levels[this.grade - 1]) {
        return 0;
      }
      let crit = this.levels[this.grade - 1].criticalHitProbability;

      if (this.characteristics) {
        crit += this.characteristics[this.$api.characteristics_id.critique];
      }
      if (crit > 100) {
        crit = 100;
      }
      return crit < 0 ? 0 : crit;
    },
  },
  async mounted() {
    this.loading = true;
    this.levels = await this.$api.getAll(this.$api.getSpellLevels, {
      spellId: this.spell.id,
      $sort: 'grade',
    });
    this.grade = this.levels.length;
    this.calculFinalDamages();
    this.loading = false;
  },
  methods: {
    calculFinalDamages() {
      if (!this.characteristics) {
        this.finalDamage = 0;
        return;
      }
      let finalDamage = this.characteristics[characteristics['dommages-sorts']];

      if (this.isDistance === true) {
        finalDamage += this.characteristics[characteristics['dommages-distance']];
      } else if (this.isDistance === false) {
        finalDamage += this.characteristics[characteristics['dommages-melee']];
      }

      this.finalDamage = finalDamage;
    },
  },
};
</script>

<style scoped lang="stylus">
.spell-icon
  width 40px
  height 40px
</style>
