<template>
  <q-no-ssr>
    <q-select
      v-bind="$props"
      v-model="proxyValue"
      :options="options"
      option-label="name"
      map-options
      :loading="loading"
      @filter="onFilter"
    >
      <template v-slot:no-option>
        <q-item>
          <q-item-section class="text-italic text-grey">
            Aucune caractéristique disponible
          </q-item-section>
        </q-item>
      </template>

      <template v-slot:selected v-if="proxyValue">
        <span>
          <q-icon
            v-if="$api.characteristics_icon[
              proxyValue.id]"
            :name="$api.characteristics_icon[
              proxyValue.id]"
            size="27px"
          />
        </span>
        <q-item-section>
          <q-item-label>
            <span
              v-if="(proxyValue.categoryId === 4 || proxyValue.categoryId === 5)
                  && !proxyValue.name.startsWith(
                    $api.characteristic_categories_name[proxyValue.categoryId])"
            >
              <!-- TODO check if not start by the name of the category -->
              {{ $api.characteristic_categories_name[proxyValue.categoryId] }}&nbsp;
            </span>
            {{ proxyValue.name }}
          </q-item-label>
        </q-item-section>
      </template>

      <template v-slot:option="scope">
        <div
          v-if="displayCharacteristicsCategoryHeader(scope.opt)"
        >
          <q-separator color="grey" spaced />

          <div class="row full-width justify-center text-accent text-body2">
            {{ $api.characteristic_categories_name[scope.opt.categoryId] }}
          </div>
        </div>

        <q-item
          v-bind="scope.itemProps"
          v-on="scope.itemEvents"
          class="row items-center"
        >
          <span>
            <q-icon
              v-if="$api.characteristics_icon[scope.opt.id]"
              :name="$api.characteristics_icon[scope.opt.id]"
              class="q-mr-md"
              size="27px"
            />
          </span>
          <q-item-section>
            <q-item-label>
              <span
                v-if="(scope.opt.categoryId === 4 || scope.opt.categoryId === 5)
                  && !scope.opt.name.startsWith(
                    $api.characteristic_categories_name[scope.opt.categoryId])"
              >
                {{ $api.characteristic_categories_name[scope.opt.categoryId] }}&nbsp;
              </span>
              {{ scope.opt.name }}
            </q-item-label>
          </q-item-section>
        </q-item>
      </template>

      <slot v-for="(_, name) in $slots" :slot="name" :name="name"/>
      <template
        v-for="(_, name) in $scopedSlots"
        :slot="name"
        slot-scope="slotData"
      >
        <slot :name="name" v-bind="slotData" />
      </template>
    </q-select>
  </q-no-ssr>
</template>

<script>
import QSelect from 'quasar/src/components/select/QSelect.js';

const props = { ...QSelect.options.props };

delete props.loading;
delete props.options;

export default {
  name: 'CharacteristicSelect',
  props,
  data: () => ({
    characteristics_display_category: [],
    filter: '',
    total: 0,
  }),
  computed: {
    loading: {
      get() {
        return this.$store.state.search.loading_characteristics;
      },
      set(value) {
        this.$store.commit('search/setLoadingCharacteristics', value);
      },
    },
    characteristics: {
      get() {
        return this.$store.state.search.characteristics;
      },
      set(value) {
        this.$store.commit('search/setCharacteristics', value);
      },
    },
    proxyValue: {
      get() {
        if (Number.isInteger(this.value)) {
          const charac = this.characteristics.find((e) => e.id === this.value);
          this.$emit('input', charac);
          return charac;
        }
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
    options() {
      const needle = this.filter.toLowerCase();
      return this.characteristics
        .filter((e) => !needle || e.name.toLowerCase().indexOf(needle) !== -1);
    },
  },
  mounted() {
    const now = new Date();
    now.setUTCDate(now.getUTCDate() - 1);
    if ((this.$store.state.search.characteristics_updated_at
      < now.getTime() || this.characteristics.length < 10)
     && !this.loading) {
      this.characteristics = [];
      this.fetchCharacteristics();
    }
  },
  methods: {
    displayCharacteristicsCategoryHeader(characteristic) {
      if (!this.characteristics_display_category[characteristic.categoryId]) {
        this.characteristics_display_category[characteristic.categoryId] = characteristic;
        return true;
      }

      return this.characteristics_display_category[characteristic.categoryId].id
        === characteristic.id;
    },
    async fetchCharacteristics(skip) {
      this.loading = true;
      skip = skip || 0;
      if (!this.characteristics) {
        this.characteristics = [];
      }

      const response = (await this.$api.getAllCharacteristics({
        visible: true,
        $limit: 50,
        'categoryId[$in]': [2, 3, 4, 5],
        '$sort[categoryId]': 1,
        '$sort[order]': 1,
        $select: ['id', 'name', 'categoryId'],
        $skip: skip,
      })).data;

      this.characteristics = this.characteristics.concat(response.data);

      if (response.data.length + skip < response.total) {
        await this.fetchCharacteristics(response.data.length + skip);
      }

      this.loading = false;
    },
    async onFilter(val, update) {
      update(() => {
        if (this.filter !== val.toLowerCase()) {
          this.filter = val.toLowerCase();
        }
      });
    },
  },
};
</script>

<style scoped>

</style>
