<template>
  <q-select
    v-bind="$props"
    v-model="proxyValue"
    :options="dungeons"
    option-label="name"
    :loading="loading"
    @virtual-scroll="onScroll"
    @filter="onFilter"
  >
    <slot v-for="(_, name) in $slots" :slot="name" :name="name"/>
    <template
      v-for="(_, name) in $scopedSlots"
      :slot="name"
      slot-scope="slotData"
    >
      <slot :name="name" v-bind="slotData" />
    </template>
  </q-select>
</template>

<script>
import QSelect from 'quasar/src/components/select/QSelect.js';

const props = { ...QSelect.options.props };

delete props.loading;
delete props.options;

export default {
  name: 'DungeonSelect',
  props,
  data: () => ({
    dungeons: [],
    filter: '',
    loading: false,
    total: 0,
  }),
  computed: {
    proxyValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      },
    },
    options() {
      return Object.freeze(...this.dungeons);
    },
  },
  mounted() {
    this.fetchDungeons();
  },
  methods: {
    async fetchDungeons() {
      this.loading = true;
      const query = {
        $skip: this.dungeons.length,
        $limit: 50,
        '$sort[name]': 1,
      };

      if (this.filter) {
        query['name[$search]'] = this.filter;
      }

      const response = (await this.$api.getDungeons(query)).data;

      this.total = response.total;

      this.dungeons.splice(this.dungeons.length, 0, ...response.data);

      this.loading = false;
    },
    async onFilter(val, update) {
      update(() => {
        if (this.filter !== val.toLowerCase()) {
          this.filter = val.toLowerCase();
          this.dungeons = [];
          this.fetchDungeons();
        }
      });
    },
    async onScroll({ to, ref }) {
      const lastIndex = this.dungeons.length - 1;

      if (!this.loading && this.dungeons.length < this.total && to === lastIndex) {
        await this.fetchDungeons();
        ref.refresh();
      }
    },
  },
};
</script>

<style scoped>

</style>
