<template>
  <q-card
    dark
    square
    bordered
    class="q-pa-lg shadow-1 full-width"
  >
    <div
      v-if="error"
      class="text-negative row full-width justify-center q-mb-sm"
    >
      {{ error }}
    </div>

    <q-card-section>
      <q-form class="q-gutter-md" @submit="signup">
        <q-input
          v-model="username"
          dark
          square
          filled
          clearable
          type="text"
          label="Nom d'utilisateur"
        />
        <q-input
          v-model="password"
          dark
          square
          filled
          clearable
          type="password"
          label="Mot de passe"
          @keypress.enter="signup"
        />
      </q-form>
    </q-card-section>

    <q-card-actions class="q-px-md">
      <q-btn
        unelevated
        color="secondary"
        size="lg"
        class="full-width"
        label="S'inscrire"
        :loading="loading"
        @click="signup"
      />
    </q-card-actions>

    <q-card-section class="text-center q-pa-none">
      <div
        class="decoration-none text-grey-6 text-accent-hover cursor-pointer"
        @click="$emit('signin')"
      >
        Connexion
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'SignUp',
  data: () => ({
    username: '',
    password: '',
    error: null,
    loading: false,
  }),
  methods: {
    async signup() {
      this.error = null;
      if (this.loading) {
        return;
      }
      try {
        await this.$api.createUser({
          username: this.username,
          password: this.password,
        });
        const response = (await this.$api.login(this.username, this.password));
        this.$store.commit('user/setToken', response.data.accessToken);
        this.$store.commit('user/setUser', response.data.user);
        this.$emit('success');
      } catch (e) {
        if (e.response && e.response.status === 409) {
          this.error = 'Nom d\'utilisateur déjà pris';
        } else if (e.response && e.response.data) {
          this.error = e.response.data.message;
        } else {
          this.error = 'Une erreur est survenue';
        }
      }
    },
  },
};
</script>

<style scoped>

</style>
