<template>
  <q-card
    dark
    square
    bordered
    class="q-pa-lg shadow-1 full-width"
  >
    <div
      v-if="error"
      class="text-negative row full-width justify-center q-mb-sm"
    >
      {{ error }}
    </div>

    <q-card-section>
      <q-form class="q-gutter-md" @submit="login">
        <q-input
          tabindex="1"
          v-model="username"
          dark
          square
          filled
          clearable
          type="text"
          label="Nom d'utilisateur"
        />
        <q-input
          tabindex="2"
          v-model="password"
          dark
          square
          filled
          clearable
          type="password"
          label="Mot de passe"
          @keypress.enter="login"
        />
      </q-form>
    </q-card-section>

    <q-card-actions class="q-px-md">
      <q-btn
        type="submit"
        tabindex="3"
        unelevated
        color="secondary"
        size="lg"
        class="full-width"
        label="Se connecter"
        :loading="loading"
        @click="login"
      />
    </q-card-actions>

    <q-card-section class="text-center q-pa-none">
      <div
        class="decoration-none text-grey-6 text-accent-hover cursor-pointer"
        @click="$emit('signup')"
      >
        Inscription
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'SignIn',
  data: () => ({
    username: '',
    password: '',
    error: null,
    loading: false,
  }),
  methods: {
    async login() {
      this.error = null;
      if (this.loading) {
        return;
      }
      try {
        const response = (await this.$api.login(this.username, this.password));
        this.$store.commit('user/setToken', response.data.accessToken);
        this.$store.commit('user/setUser', response.data.user);
        this.$emit('success');
      } catch (e) {
        this.error = 'Nom d\'utilisateur ou mot de passe incorrect';
      }
    },
  },
};
</script>

<style scoped>

</style>
