<template>
  <q-card dark class="column q-pa-xs">
    <div class="row q-mt-sm q-ml-sm text-secondary text-h6 text-bold">
      {{ title }}
    </div>

    <q-spinner color="accent" size="40px" v-if="loading && !quests" />

    <template v-else-if="quests">

      <div class="row">
        <q-btn
          icon="keyboard_arrow_left"
          flat
          dense
          class="text-accent-hover"
          :disable="skip === 0"
          :loading="loading"
          @click="skip = skip - pageSize"
        />

        <q-list class="col">
          <quest-list-item
            v-for="quest of quests"
            :key="'quest' + quest.id"
            :quest="quest"
            class="bg-dark-hover"
            @click="redirect(quest)"
          />
        </q-list>

        <q-btn
          icon="keyboard_arrow_right"
          flat
          dense
          class="text-accent-hover"
          :disable="skip + pageSize > total"
          :loading="loading"
          @click="skip = skip + pageSize"
        />
      </div>

      <div class="row justify-end text-grey-6 text-body2">
        Page&nbsp;<span class="text-white">{{ Math.floor(skip / pageSize) + 1 }}</span>
      </div>

    </template>

    <template v-else>
      <div class="self-center">
        Aucune quête trouvé
      </div>
    </template>
  </q-card>
</template>

<script>
import QuestListItem from 'components/Quest/QuestListItem';

export default {
  name: 'LastAddedQuests',
  components: {
    QuestListItem,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    pageSize: {
      type: Number,
      default: 5,
    },
  },
  data: () => ({
    quests: null,
    loading: false,
    skip: 0,
    total: 0,
  }),
  watch: {
    skip() {
      this.fetchItems();
    },
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    async fetchItems() {
      this.loading = true;

      const response = (await this.$api.getQuests({
        '$sort[createdAt]': -1,
        $skip: this.skip,
        $limit: this.pageSize,
        $select: ['id', 'levelMax', 'levelMin', 'name', 'repeatType', 'repeatLimit', 'isDungeonQuest', 'isPartyQuest'],
      })).data;

      this.total = response.total;
      this.quests = response.data;

      this.loading = false;
    },
    redirect(quest) {
      this.$router.push({
        name: 'quest',
        params: {
          id: quest.id,
        },
      }).catch(() => {});
    },
  },
};
</script>

<style scoped>

</style>
