<template>
  <q-card dark class="column q-pa-xs">
    <div class="row q-mt-sm q-ml-sm text-secondary text-h6 text-bold">
      {{ title }}
    </div>

    <q-spinner color="accent" size="40px" v-if="loading && !groupFinders" />

    <template v-else-if="groupFinders">

      <div class="row">
        <q-btn
          icon="keyboard_arrow_left"
          flat
          dense
          class="text-accent-hover"
          :disable="skip === 0"
          :loading="loading"
          @click="skip = skip - pageSize"
        />

        <q-list class="col">
          <group-finder-row
            v-for="groupFinder of groupFinders"
            :key="'groupFinder' + groupFinder.id"
            :group-finder="groupFinder"
            class="border-b-accent"
          />
        </q-list>

        <q-btn
          icon="keyboard_arrow_right"
          flat
          dense
          class="text-accent-hover"
          :disable="skip + pageSize > total"
          :loading="loading"
          @click="skip = skip + pageSize"
        />
      </div>

      <div class="row justify-end text-grey-6 text-body2 q-mt-xs">
        Page&nbsp;<span class="text-white">{{ Math.floor(skip / pageSize) + 1 }}</span>
      </div>

    </template>

    <template v-else>
      <div class="self-center">
        Aucune quête trouvé
      </div>
    </template>
  </q-card>
</template>

<script>
import GroupFinderRow from 'components/GroupFinder/GroupFinderRow';

export default {
  name: 'LastAddedGroupSearch',
  components: {
    GroupFinderRow,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    pageSize: {
      type: Number,
      default: 2,
    },
  },
  data: () => ({
    groupFinders: null,
    loading: false,
    skip: 0,
    total: 0,
  }),
  watch: {
    skip() {
      this.fetchItems();
    },
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    async fetchItems() {
      this.loading = true;

      const response = (await this.$api.getGroupFinders({
        '$sort[createdAt]': -1,
        $skip: this.skip,
        $limit: this.pageSize,
      })).data;

      this.total = response.total;
      this.groupFinders = response.data;

      this.loading = false;
    },
  },
};
</script>

<style scoped>

</style>
