<template>
  <q-card dark class="column q-pa-xs">
    <div class="row q-mt-sm q-ml-sm text-secondary text-h6 text-bold">
      {{ title }}
    </div>

    <q-spinner color="accent" size="40px" v-if="loading && !achievements" />

    <template v-else-if="achievements">

      <div class="row">
        <q-btn
          icon="keyboard_arrow_left"
          flat
          dense
          class="text-accent-hover"
          :disable="skip === 0"
          :loading="loading"
          @click="skip = skip - pageSize"
        />

        <q-list class="col">
          <achievement-list-item
            v-for="achievement of achievements"
            :key="'achievement' + achievement.id"
            :achievement="achievement"
            class="cursor-pointer border-b-accent bg-dark-hover"
            @click="redirect(achievement)"
          />
        </q-list>

        <q-btn
          icon="keyboard_arrow_right"
          flat
          dense
          class="text-accent-hover"
          :disable="skip + pageSize > total"
          :loading="loading"
          @click="skip = skip + pageSize"
        />
      </div>

      <div class="row justify-end text-grey-6 text-body2">
        Page&nbsp;<span class="text-white">{{ Math.floor(skip / pageSize) + 1 }}</span>
      </div>

    </template>

    <template v-else>
      <div class="self-center">
        Aucun succès trouvé
      </div>
    </template>
  </q-card>
</template>

<script>
import AchievementListItem from 'components/Achievement/AchievementListItem';

export default {
  name: 'LastAddedAchievements',
  components: {
    AchievementListItem,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    pageSize: {
      type: Number,
      default: 2,
    },
  },
  data: () => ({
    achievements: null,
    loading: false,
    skip: 0,
    total: 0,
  }),
  watch: {
    skip() {
      this.fetchItems();
    },
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    async fetchItems() {
      this.loading = true;

      const response = (await this.$api.getAchievements({
        '$sort[createdAt]': -1,
        $skip: this.skip,
        $limit: this.pageSize,
        $select: ['id', 'levelMax', 'levelMin', 'name', 'iconId', 'points'],
      })).data;

      this.total = response.total;
      this.achievements = response.data;

      this.loading = false;
    },
    redirect(achievement) {
      this.$router.push({
        name: 'achievement',
        params: {
          id: achievement.id,
        },
      }).catch(() => {});
    },
  },
};
</script>

<style scoped>

</style>
