<template>
  <q-card dark class="column q-pa-xs">
    <div class="row q-mt-sm q-ml-sm text-secondary text-h6 text-bold">
      {{ title }}
    </div>

    <q-spinner color="accent" size="40px" v-if="loading && !items" />

    <template v-else-if="items">

      <div class="row">
        <q-btn
          icon="keyboard_arrow_left"
          flat
          dense
          class="text-accent-hover"
          :disable="skip === 0"
          :loading="loading"
          @click="skip = skip - pageSize"
        />

        <div class="column">
          <list-item
            v-for="index in line"
            :key="'listitem' + index"
            :items="items.slice((index - 1) * itemsParLine,
             ((index - 1) * itemsParLine) + itemsParLine)"
            :quantities="1"
          />
        </div>

        <q-btn
          icon="keyboard_arrow_right"
          flat
          dense
          class="text-accent-hover"
          :disable="skip + pageSize > total"
          :loading="loading"
          @click="skip = skip + pageSize"
        />
      </div>

      <div class="row text-grey-6 text-body2">
        <q-btn
          v-if="skip !== 0"
          flat
          dense
          icon="fas fa-angle-double-left"
          size="10px"
          class="text-accent-hover"
          :loading="loading"
          @click="skip = 0"
        />

        <q-space />

        Page&nbsp;<span class="text-white">{{ Math.floor(skip / pageSize) + 1 }}</span>
      </div>

    </template>

    <template v-else>
      <div class="self-center">
        Aucun objet trouvé
      </div>
    </template>
  </q-card>
</template>

<script>
import ListItem from 'components/Item/ListItem';

export default {
  name: 'LastAddedItems',
  components: {
    ListItem,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    pageSize: {
      type: Number,
      default: 15,
    },
    line: {
      type: Number,
      default: 3,
    },
  },
  data: () => ({
    items: null,
    loading: false,
    skip: 0,
    total: 0,
  }),
  computed: {
    itemsParLine() {
      return Math.ceil(this.pageSize / this.line);
    },
  },
  watch: {
    skip() {
      this.fetchItems();
    },
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    async fetchItems() {
      this.loading = true;

      const response = (await this.$api.getItems({
        '$sort[createdAt]': -1,
        'typeId[$ne]': 203,
        $skip: this.skip,
        $limit: this.pageSize,
        $select: ['id', 'iconId', 'name', 'typeId', 'description', 'level', 'itemSetId'],
      })).data;

      this.total = response.total;
      this.items = response.data;

      this.loading = false;
    },
  },
};
</script>

<style scoped>

</style>
