<template>
  <q-card dark class="column q-pa-xs">
    <div class="row q-mt-sm q-ml-sm text-secondary text-h6 text-bold">
      {{ title }}
    </div>

    <q-spinner color="accent" size="40px" v-if="loading && !stuffs" />

    <q-no-ssr v-if="stuffs">
      <div class="row justify-between full-width" style="min-height: 200px">
        <router-link
          v-for="(stuff) of stuffs"
          :key="'lastAddedStuff' + stuff._id"
          class="bg-dark-hover q-pa-sm column cursor-pointer decoration-none text-white
             border-accent-hover items-center"
          :to="{ name: 'stuff', params: { id: stuff._id } }"
        >
          <div class="row justify-center text-h6">
            {{ stuff.name }}
          </div>
          <stuff
            :max-item-width="50"
            :amulet="stuff.items.amulet"
            :rings="stuff.items.rings"
            :boots="stuff.items.boots"
            :weapon="stuff.items.weapon"
            :shield="stuff.items.shield"
            :helmet="stuff.items.helmet"
            :cape="stuff.items.cape"
            :belt="stuff.items.belt"
            :pet="stuff.items.pet"
            :dofus="stuff.items.dofus"
            :breed="stuff.breed"
            :sexe="stuff.sexe"
            :style="`width: 300px`"
          />
        </router-link>
      </div>

      <div class="row justify-end text-grey-6 text-body2 q-pr-md items-center">
        <q-btn
          icon="keyboard_arrow_left"
          flat
          dense
          class="text-accent-hover"
          :disable="skip === 0"
          :loading="loading"
          @click="skip = skip - pageSize"
        />

        <q-btn
          icon="keyboard_arrow_right"
          flat
          dense
          class="text-accent-hover"
          :disable="skip + pageSize > total"
          :loading="loading"
          @click="skip = skip + pageSize"
        />

        Page&nbsp;<span class="text-white">{{ Math.floor(skip / pageSize) + 1 }}</span>
      </div>
    </q-no-ssr>

    <template v-if="!stuffs">
      <div class="self-center">
        Aucun stuff trouvé
      </div>
    </template>
  </q-card>
</template>

<script>
import Stuff from 'components/Stuff/Stuff';

export default {
  name: 'LastAddedStuffs',
  components: {
    Stuff,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    pageSize: {
      type: Number,
      default: 5,
    },
  },
  data: () => ({
    stuffs: null,
    loading: false,
    skip: 0,
    total: 0,
  }),
  watch: {
    skip() {
      this.fetchItems();
    },
  },
  mounted() {
    this.fetchItems();
  },
  methods: {
    async fetchItems() {
      this.loading = true;

      const response = (await this.$api.getStuffs({
        '$sort[createdAt]': -1,
        $skip: this.skip,
        $limit: this.pageSize,
      })).data;

      this.total = response.total;
      this.stuffs = response.data;

      this.loading = false;
    },
    redirect(stuff) {
      this.$router.push({
        name: 'stuff',
        params: {
          id: stuff._id,
        },
      }).catch(() => {});
    },
  },
};
</script>

<style scoped>

</style>
