<template>
  <q-page class="column q-pa-lg">
    <div class="row text-white bg-primary full-width q-pa-md items-center">
      <div class="q-ml-sm text-h5 text-secondary text-bold">
        Croisement de génération
      </div>
    </div>

    <div class="row full-width justify-around items-start q-mt-md text-white">
      <div>
        <div
          v-for="(row, rowIndex) of dragodindes"
          :key="'dragodinde row ' + rowIndex"
          class="row full-width no-wrap"
        >
          <div
            v-for="(cell, cellIndex) of row"
            :key="`dragodinde row ${rowIndex} cell ${cellIndex}`"
            class="column items-center justify-center text-center"
            :style="'border: 1px solid black; width: 75px;' + cell.style"
            :class="{ 'bg-green': value[cell.slug] && !cell.header, 'bg-primary': cell.header }"
            @click="clickOn(cell)"
          >
            <q-img
              v-if="cell.img"
              :src="`breedings/dragodindes/${cell.img}`"
              :alt="cell.name"
              class="breeding-img"
            />

            <template v-if="cell.calc">
              {{ cell.calc(rowIndex) }}
            </template>

            <template v-else-if="cell.header">
              {{ cell.name }}
            </template>

            <template v-else>
              <q-checkbox
                v-model="value[cell.slug]"
                color="secondary"
                size="xs"
              />
            </template>

            <q-tooltip v-if="cell.name" content-class="bg-darker text-white text-body2">
              {{ cell.name }}<br/>
              Génération n°{{ cell.generation }}
            </q-tooltip>
          </div>
        </div>
      </div>

      <div class="q-ml-md column text-white col" style="min-width: 100px; max-width: 400px">
        <table style="border-collapse: collapse" >
          <tbody>
          <tr style="border: 1px solid black">
            <td class="q-pa-md bg-primary">
              Dragodindes Manquante
            </td>
            <td class="q-pa-md" style="border: 1px solid black">
              {{ Object.values(value).filter((e) => !e).length }}
            </td>
          </tr>
          <tr style="border: 1px solid black">
            <td class="q-pa-md bg-primary">
              Pourcentage de completion
            </td>
            <td class="q-pa-md" style="border: 1px solid black">
              {{ (Object.values(value).filter(e => e).length / Object.values(value).length * 100)
              .toFixed(2) }}%
            </td>
          </tr>
          </tbody>
        </table>

        <table class="q-mt-md" style="border-collapse: collapse" >
          <tbody>
          <tr
            v-for="gen in 10"
            :key="`generation${gen}`"
            style="border: 1px solid black"
          >
            <td class="q-pa-md bg-primary">
              Génération n°{{gen}}
            </td>
            <td class="q-pa-md" style="border: 1px solid black">
              {{ generationCompletion(gen) }}%
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'CrossingBreeding',
  data() {
    return {
      dragodindes: [
        [
          {
            name: '',
            header: true,
          },
          {
            name: 'Dorée',
            header: true,
            img: '18.png',
          },
          {
            name: 'Amande',
            header: true,
            img: '20.png',
          },
          {
            name: 'Rousse',
            header: true,
            img: '10.png',
          },
          {
            name: 'Indigo',
            header: true,
            img: '17.png',
          },
          {
            name: 'Ebene',
            header: true,
            img: '3.png',
          },
          {
            name: 'Pourpre',
            header: true,
            img: '19.png',
          },
          {
            name: 'Orchidée',
            header: true,
            img: '22.png',
          },
          {
            name: 'Ivoire',
            header: true,
            img: '1.png',
          },
          {
            name: 'Turquoise',
            header: true,
            img: '15.png',
          },
          {
            name: 'Emeraude',
            header: true,
            img: '21.png',
          },
          {
            name: 'Prune',
            header: true,
            img: '23.png',
          },
          {
            header: true,
          },
          {
            name: 'Temps de Gestation',
            header: true,
            style: 'width: 100px',
          },
          {
            name: 'Combinaison manquante',
            header: true,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: 'Dorée',
            header: true,
            img: '18.png',
          },
          {
            name: 'Dorée',
            slug: 'doree',
            generation: 1,
          },
          {
            name: 'Dorée et Amande',
            slug: 'doreeamande',
            generation: 2,
          },
          {
            name: 'Dorée et Rousse',
            slug: 'doreerousse',
            generation: 2,
          },
          {
            name: 'Dorée et Indigo',
            slug: 'doreeindigo',
            generation: 4,
          },
          {
            name: 'Dorée et Ebene',
            slug: 'doreeebene',
            generation: 4,
          },
          {
            name: 'Dorée et Pourpre',
            slug: 'doreepourpre',
            generation: 6,
          },
          {
            name: 'Dorée et Orchidée',
            slug: 'doreeorchidee',
            generation: 6,
          },
          {
            name: 'Dorée et Ivoire',
            slug: 'doreeivoire',
            generation: 8,
          },
          {
            name: 'Dorée et Turquoise',
            slug: 'doreeturquoise',
            generation: 8,
          },
          {
            name: 'Dorée et Emeraude',
            slug: 'doreeemeraude',
            generation: 10,
          },
          {
            name: 'Dorée et Prune',
            slug: 'doreeprune',
            generation: 10,
          },
          {
            name: 'Dorée',
            header: true,
            img: '18.png',
          },
          {
            name: '48H',
            header: true,
            style: 'width: 100px',
          },
          {
            header: true,
            calc: (i) => this.dragodindes[i].filter((e) => this.value[e.slug] === false).length,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: 'Amande',
            header: true,
            img: '20.png',
          },
          {
            name: 'Dorée et Amande',
            slug: 'doreeamande',
            generation: 2,
          },
          {
            name: 'Amande',
            slug: 'amande',
            generation: 1,
          },
          {
            name: 'Amande et Rousse',
            slug: 'amanderousse',
            generation: 2,
          },
          {
            name: 'Amande et Indigo',
            slug: 'amandeindigo',
            generation: 4,
          },
          {
            name: 'Amande et Ebene',
            slug: 'amandeebene',
            generation: 4,
          },
          {
            name: 'Amande et Pourpre',
            slug: 'amandepourpre',
            generation: 6,
          },
          {
            name: 'Amande et Orchidée',
            slug: 'amandeorchidee',
            generation: 6,
          },
          {
            name: 'Amande et Ivoire',
            slug: 'amandeivoire',
            generation: 8,
          },
          {
            name: 'Amande et Turquoise',
            slug: 'amandeturquoise',
            generation: 8,
          },
          {
            name: 'Amande et Emeraude',
            slug: 'amandeemeraude',
            generation: 10,
          },
          {
            name: 'Amande et Prune',
            slug: 'amandeprune',
            generation: 10,
          },
          {
            name: 'Amande',
            header: true,
            img: '20.png',
          },
          {
            name: '48H',
            header: true,
            style: 'width: 100px',
          },
          {
            header: true,
            calc: (i) => this.dragodindes[i].filter((e) => this.value[e.slug] === false).length,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: 'Rousse',
            header: true,
            img: '10.png',
          },
          {
            name: 'Dorée et Rousse',
            slug: 'doreerousse',
            generation: 2,
          },
          {
            name: 'Amande et Rousse',
            slug: 'amanderousse',
            generation: 2,
          },
          {
            name: 'Rousse',
            slug: 'rousse',
            generation: 1,
          },
          {
            name: 'Rousse et Indigo',
            slug: 'rousseindigo',
            generation: 4,
          },
          {
            name: 'Rousse et Ebene',
            slug: 'rousseebene',
            generation: 4,
          },
          {
            name: 'Rousse et Pourpre',
            slug: 'roussepourpre',
            generation: 6,
          },
          {
            name: 'Rousse et Orchidée',
            slug: 'rousseorchidee',
            generation: 6,
          },
          {
            name: 'Rousse et Ivoire',
            slug: 'rousseivoire',
            generation: 8,
          },
          {
            name: 'Rousse et Turquoise',
            slug: 'rousseturquoise',
            generation: 8,
          },
          {
            name: 'Rousse et Emeraude',
            slug: 'rousseemeraude',
            generation: 10,
          },
          {
            name: 'Rousse et Prune',
            slug: 'rousseprune',
            generation: 10,
          },
          {
            name: 'Rousse',
            header: true,
            img: '10.png',
          },
          {
            name: '48H',
            header: true,
            style: 'width: 100px',
          },
          {
            header: true,
            calc: (i) => this.dragodindes[i].filter((e) => this.value[e.slug] === false).length,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: 'Indigo',
            header: true,
            img: '17.png',
          },
          {
            name: 'Doree et Indigo',
            slug: 'doreeindigo',
            generation: 4,
          },
          {
            name: 'Amande et Indigo',
            slug: 'amandeindigo',
            generation: 4,
          },
          {
            name: 'Rousse et Indigo',
            slug: 'rousseindigo',
            generation: 4,
          },
          {
            name: 'Indigo',
            slug: 'indigo',
            generation: 3,
          },
          {
            name: 'Indigo et Ebene',
            slug: 'indigoebene',
            generation: 4,
          },
          {
            name: 'Indigo et Pourpre',
            slug: 'indigopourpre',
            generation: 6,
          },
          {
            name: 'Indigo et Orchidée',
            slug: 'indigoorchidee',
            generation: 6,
          },
          {
            name: 'Indigo et Ivoire',
            slug: 'indigoivoire',
            generation: 8,
          },
          {
            name: 'Indigo et Turquoise',
            slug: 'indigoturquoise',
            generation: 8,
          },
          {
            name: 'Indigo et Emeraude',
            slug: 'indigoemeraude',
            generation: 10,
          },
          {
            name: 'Indigo et Prune',
            slug: 'indigoprune',
            generation: 10,
          },
          {
            name: 'Indigo',
            header: true,
            img: '17.png',
          },
          {
            name: '72H',
            header: true,
            style: 'width: 100px',
          },
          {
            header: true,
            calc: (i) => this.dragodindes[i].filter((e) => this.value[e.slug] === false).length,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: 'Ebene',
            header: true,
            img: '3.png',
          },
          {
            name: 'Doree et Ebene',
            slug: 'doreeebene',
            generation: 4,
          },
          {
            name: 'Amande et Ebene',
            slug: 'amandeebene',
            generation: 4,
          },
          {
            name: 'Rousse et Ebene',
            slug: 'rousseebene',
            generation: 4,
          },
          {
            name: 'Indigo et Ebene',
            slug: 'indigoebene',
            generation: 4,
          },
          {
            name: 'Ebene',
            slug: 'ebene',
            generation: 3,
          },
          {
            name: 'Ebene et Pourpre',
            slug: 'ebenepourpre',
            generation: 6,
          },
          {
            name: 'Ebene et Orchidée',
            slug: 'ebeneorchidee',
            generation: 6,
          },
          {
            name: 'Ebene et Ivoire',
            slug: 'ebeneivoire',
            generation: 8,
          },
          {
            name: 'Ebene et Turquoise',
            slug: 'ebeneturquoise',
            generation: 8,
          },
          {
            name: 'Ebene et Emeraude',
            slug: 'ebeneemeraude',
            generation: 10,
          },
          {
            name: 'Ebene et Prune',
            slug: 'ebeneprune',
            generation: 10,
          },
          {
            name: 'Ebene',
            header: true,
            img: '3.png',
          },
          {
            name: '72H',
            header: true,
            style: 'width: 100px',
          },
          {
            header: true,
            calc: (i) => this.dragodindes[i].filter((e) => this.value[e.slug] === false).length,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: 'Pourpre',
            header: true,
            img: '19.png',
          },
          {
            name: 'Doree et Pourpre',
            slug: 'doreepourpre',
            generation: 6,
          },
          {
            name: 'Amande et Pourpre',
            slug: 'amandepourpre',
            generation: 6,
          },
          {
            name: 'Rousse et Pourpre',
            slug: 'roussepourpre',
            generation: 6,
          },
          {
            name: 'Indigo et Pourpre',
            slug: 'indigopourpre',
            generation: 6,
          },
          {
            name: 'Ebene et Pourpre',
            slug: 'ebenepourpre',
            generation: 6,
          },
          {
            name: 'Pourpre',
            slug: 'pourpre',
            generation: 5,
          },
          {
            name: 'Pourpre et Orchidée',
            slug: 'pourpreorchidee',
            generation: 6,
          },
          {
            name: 'Pourpre et Ivoire',
            slug: 'pourpreivoire',
            generation: 8,
          },
          {
            name: 'Pourpre et Turquoise',
            slug: 'pourpreturquoise',
            generation: 8,
          },
          {
            name: 'Pourpre et Emeraude',
            slug: 'pourpreemeraude',
            generation: 10,
          },
          {
            name: 'Pourpre et Prune',
            slug: 'pourpreprune',
            generation: 10,
          },
          {
            name: 'Pourpre',
            header: true,
            img: '19.png',
          },
          {
            name: '96H',
            header: true,
            style: 'width: 100px',
          },
          {
            header: true,
            calc: (i) => this.dragodindes[i].filter((e) => this.value[e.slug] === false).length,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: 'Orchidée',
            header: true,
            img: '22.png',
          },
          {
            name: 'Doree et Orchidée',
            slug: 'doreeorchidee',
            generation: 6,
          },
          {
            name: 'Amande et Orchidée',
            slug: 'amandeorchidee',
            generation: 6,
          },
          {
            name: 'Rousse et Orchidée',
            slug: 'rousseorchidee',
            generation: 6,
          },
          {
            name: 'Indigo et Orchidée',
            slug: 'indigoorchidee',
            generation: 6,
          },
          {
            name: 'Ebene et Orchidée',
            slug: 'ebeneorchidee',
            generation: 6,
          },
          {
            name: 'Pourpre et Orchidée',
            slug: 'pourpreorchidee',
            generation: 6,
          },
          {
            name: 'Orchidée',
            slug: 'orchidee',
            generation: 5,
          },
          {
            name: 'Orchidée et Ivoire',
            slug: 'orchideeivoire',
            generation: 8,
          },
          {
            name: 'Orchidée et Turquoise',
            slug: 'orchideeturquoise',
            generation: 8,
          },
          {
            name: 'Orchidée et Emeraude',
            slug: 'orchideeemeraude',
            generation: 10,
          },
          {
            name: 'Orchidée et Prune',
            slug: 'orchideeprune',
            generation: 10,
          },
          {
            name: 'Orchidée',
            header: true,
            img: '22.png',
          },
          {
            name: '96H',
            header: true,
            style: 'width: 100px',
          },
          {
            header: true,
            calc: (i) => this.dragodindes[i].filter((e) => this.value[e.slug] === false).length,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: 'Ivoire',
            header: true,
            img: '1.png',
          },
          {
            name: 'Doree et Ivoire',
            slug: 'doreeivoire',
            generation: 8,
          },
          {
            name: 'Amande et Ivoire',
            slug: 'amandeivoire',
            generation: 8,
          },
          {
            name: 'Rousse et Ivoire',
            slug: 'rousseivoire',
            generation: 8,
          },
          {
            name: 'Indigo et Ivoire',
            slug: 'indigoivoire',
            generation: 8,
          },
          {
            name: 'Ebene et Ivoire',
            slug: 'ebeneivoire',
            generation: 8,
          },
          {
            name: 'Pourpre et Ivoire',
            slug: 'pourpreivoire',
            generation: 8,
          },
          {
            name: 'Orchidée et Ivoire',
            slug: 'orchideeivoire',
            generation: 8,
          },
          {
            name: 'Ivoire',
            slug: 'ivoire',
            generation: 7,
          },
          {
            name: 'Ivoire et Turquoise',
            slug: 'ivoireturquoise',
            generation: 8,
          },
          {
            name: 'Ivoire et Emeraude',
            slug: 'ivoireemeraude',
            generation: 10,
          },
          {
            name: 'Ivoire et Prune',
            slug: 'ivoireprune',
            generation: 10,
          },
          {
            name: 'Ivoire',
            header: true,
            img: '1.png',
          },
          {
            name: '120H',
            header: true,
            style: 'width: 100px',
          },
          {
            header: true,
            calc: (i) => this.dragodindes[i].filter((e) => this.value[e.slug] === false).length,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: 'Turquoise',
            header: true,
            img: '15.png',
          },
          {
            name: 'Doree et Turquoise',
            slug: 'doreeturquoise',
            generation: 8,
          },
          {
            name: 'Amande et Turquoise',
            slug: 'amandeturquoise',
            generation: 8,
          },
          {
            name: 'Rousse et Turquoise',
            slug: 'rousseturquoise',
            generation: 8,
          },
          {
            name: 'Indigo et Turquoise',
            slug: 'indigoturquoise',
            generation: 8,
          },
          {
            name: 'Ebene et Turquoise',
            slug: 'ebeneturquoise',
            generation: 8,
          },
          {
            name: 'Pourpre et Turquoise',
            slug: 'pourpreturquoise',
            generation: 8,
          },
          {
            name: 'Orchidée et Turquoise',
            slug: 'orchideeturquoise',
            generation: 8,
          },
          {
            name: 'Ivoire et Turquoise',
            slug: 'ivoireturquoise',
            generation: 8,
          },
          {
            name: 'Turquoise',
            slug: 'turquoise',
            generation: 7,
          },
          {
            name: 'Turquoise et Emeraude',
            slug: 'turquoiseemeraude',
            generation: 10,
          },
          {
            name: 'Turquoise et Prune',
            slug: 'turquoiseprune',
            generation: 10,
          },
          {
            name: 'Turquoise',
            header: true,
            img: '15.png',
          },
          {
            name: '120H',
            header: true,
            style: 'width: 100px',
          },
          {
            header: true,
            calc: (i) => this.dragodindes[i].filter((e) => this.value[e.slug] === false).length,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: 'Emeraude',
            header: true,
            img: '21.png',
          },
          {
            name: 'Doree et Emeraude',
            slug: 'doreeemeraude',
            generation: 10,
          },
          {
            name: 'Amande et Emeraude',
            slug: 'amandeemeraude',
            generation: 10,
          },
          {
            name: 'Rousse et Emeraude',
            slug: 'rousseemeraude',
            generation: 10,
          },
          {
            name: 'Indigo et Emeraude',
            slug: 'indigoemeraude',
            generation: 10,
          },
          {
            name: 'Ebene et Emeraude',
            slug: 'ebeneemeraude',
            generation: 10,
          },
          {
            name: 'Pourpre et Emeraude',
            slug: 'pourpreemeraude',
            generation: 10,
          },
          {
            name: 'Orchidée et Emeraude',
            slug: 'orchideeemeraude',
            generation: 10,
          },
          {
            name: 'Ivoire et Emeraude',
            slug: 'ivoireemeraude',
            generation: 10,
          },
          {
            name: 'Turquoise et Emeraude',
            slug: 'turquoiseemeraude',
            generation: 10,
          },
          {
            name: 'Emeraude',
            slug: 'emeraude',
            generation: 9,
          },
          {
            name: 'Emeraude et Prune',
            slug: 'emeraudeprune',
            generation: 10,
          },
          {
            name: 'Emeraude',
            header: true,
            img: '21.png',
          },
          {
            name: '144H',
            header: true,
            style: 'width: 100px',
          },
          {
            header: true,
            calc: (i) => this.dragodindes[i].filter((e) => this.value[e.slug] === false).length,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: 'Prune',
            header: true,
            img: '23.png',
          },
          {
            name: 'Doree et Prune',
            slug: 'doreeprune',
            generation: 10,
          },
          {
            name: 'Amande et Prune',
            slug: 'amandeprune',
            generation: 10,
          },
          {
            name: 'Rousse et Prune',
            slug: 'rousseprune',
            generation: 10,
          },
          {
            name: 'Indigo et Prune',
            slug: 'indigoprune',
            generation: 10,
          },
          {
            name: 'Ebene et Prune',
            slug: 'ebeneprune',
            generation: 10,
          },
          {
            name: 'Pourpre et Prune',
            slug: 'pourpreprune',
            generation: 10,
          },
          {
            name: 'Orchidée et Prune',
            slug: 'orchideeprune',
            generation: 10,
          },
          {
            name: 'Ivoire et Prune',
            slug: 'ivoireprune',
            generation: 10,
          },
          {
            name: 'Turquoise et Prune',
            slug: 'turquoiseprune',
            generation: 10,
          },
          {
            name: 'Emeraude et Prune',
            slug: 'emeraudeprune',
            generation: 10,
          },
          {
            name: 'Prune',
            slug: 'prune',
            generation: 9,
          },
          {
            name: 'Prune',
            header: true,
            img: '23.png',
          },
          {
            name: '144H',
            header: true,
            style: 'width: 100px',
          },
          {
            header: true,
            calc: (i) => this.dragodindes[i].filter((e) => this.value[e.slug] === false).length,
            style: 'width: 100px',
          },
        ],
        [
          {
            name: '',
            header: true,
          },
          {
            name: 'Dorée',
            header: true,
            img: '18.png',
          },
          {
            name: 'Amande',
            header: true,
            img: '20.png',
          },
          {
            name: 'Rousse',
            header: true,
            img: '10.png',
          },
          {
            name: 'Indigo',
            header: true,
            img: '17.png',
          },
          {
            name: 'Ebene',
            header: true,
            img: '3.png',
          },
          {
            name: 'Pourpre',
            header: true,
            img: '19.png',
          },
          {
            name: 'Orchidée',
            header: true,
            img: '22.png',
          },
          {
            name: 'Ivoire',
            header: true,
            img: '1.png',
          },
          {
            name: 'Turquoise',
            header: true,
            img: '15.png',
          },
          {
            name: 'Emeraude',
            header: true,
            img: '21.png',
          },
          {
            name: 'Prune',
            header: true,
            img: '23.png',
          },
          {
            header: true,
          },
          {
            name: 'Temps de Gestation',
            header: true,
            style: 'width: 100px',
          },
          {
            name: 'Combinaison manquante',
            header: true,
            style: 'width: 100px',
          },
        ],
      ],
      value: {
        doree: true,
        doreeprune: false,
        doreeemeraude: false,
        doreeturquoise: false,
        doreeivoire: false,
        doreeorchidee: false,
        doreepourpre: false,
        doreeebene: false,
        doreeindigo: false,
        doreerousse: false,
        doreeamande: false,
        amande: true,
        amandeprune: false,
        amandeemeraude: false,
        amandeturquoise: false,
        amandeivoire: false,
        amandeorchidee: false,
        amandepourpre: false,
        amandeebene: false,
        amandeindigo: false,
        amanderousse: false,
        rousse: true,
        rousseprune: false,
        rousseemeraude: false,
        rousseturquoise: false,
        rousseivoire: false,
        rousseorchidee: false,
        roussepourpre: false,
        rousseebene: false,
        rousseindigo: false,
        indigo: true,
        indigoprune: false,
        indigoemeraude: false,
        indigoturquoise: false,
        indigoivoire: false,
        indigoorchidee: false,
        indigopourpre: false,
        indigoebene: false,
        ebene: true,
        ebeneprune: false,
        ebeneemeraude: false,
        ebeneturquoise: false,
        ebeneivoire: false,
        ebeneorchidee: false,
        ebenepourpre: false,
        pourpre: true,
        pourpreprune: false,
        pourpreemeraude: false,
        pourpreturquoise: false,
        pourpreivoire: false,
        pourpreorchidee: false,
        orchidee: true,
        orchideeprune: false,
        orchideeemeraude: false,
        orchideeturquoise: false,
        orchideeivoire: false,
        ivoire: true,
        ivoireprune: false,
        ivoireemeraude: false,
        ivoireturquoise: false,
        turquoise: true,
        turquoiseprune: false,
        turquoiseemeraude: false,
        emeraude: true,
        emeraudeprune: false,
        prune: true,
      },
    };
  },
  watch: {
    value: {
      handler() {
        this.$store.commit('breedings/setDragodindes', this.value);
      },
      deep: true,
    },
  },
  mounted() {
    this.value = this.$store.getters['breedings/getDragodindes'];
  },
  methods: {
    clickOn(cell) {
      if (!cell.header) {
        this.value[cell.slug] = !this.value[cell.slug];
      }
    },
    generationCompletion(genNbr) {
      let nbHave = 0;
      let nbInGen = 0;
      const save = [];

      this.dragodindes.forEach((row) => {
        row.forEach((cell) => {
          if (cell.generation === genNbr && !save.includes(cell.slug)) {
            save.push(cell.slug);
            nbInGen += 1;
            nbHave += this.value[cell.slug] ? 1 : 0;
          }
        });
      });

      return ((nbHave / nbInGen) * 100).toFixed(2);
    },
  },
};
</script>

<style scoped>
.breeding-img {
  width: 35px;
  height: 35px;
}
</style>
