<template>
  <q-page class="flex q-pa-lg column text-white">
    <!-- Header -->
    <div class="row text-secondary bg-primary q-pa-md items-start text-h5">
      Gestionnaire de craft

      <q-space />

      <q-no-ssr>
        <q-btn
          v-if="crafts.length"
          icon="fas fa-trash-alt"
          flat
          @click="clearCrafts"
        >
          <q-tooltip content-class="bg-darker text-white text-body2">
            Supprimer tous les objets du gestionnaire de craft
          </q-tooltip>
        </q-btn>
      </q-no-ssr>
    </div>

    <!-- Body -->
    <div class="row justify-center q-mt-md">
      Pour ajouter des objets dans le gestionnaire de craft, ajoutez
      les objets que vous voyez sur les pages de ceux-ci.
    </div>

    <q-no-ssr>
      <q-expansion-item
        v-if="crafts.length"
        label="Récapitulatif des objets nécessaire"
        class="bg-primary q-mt-md"
        header-class="text-secondary text-h6"
        default-opened
      >
        <craft-recap-item
          :key="'reloadCraft' + reloadCraft"
          :crafts="crafts"
          class="q-pa-sm"
          @save="saveCrafts"
        />
      </q-expansion-item>
    </q-no-ssr>

    <div class="column q-mt-md full-width">
      <craft-manager-item
        v-for="(craft, index) of crafts"
        :key="craft.item.id + 'i' + index"
        :item="craft.item"
        :quantity="craft.quantity"
        canChangeQuantity
        @quantityChange="craft.quantity = $event"
        v-model="craft.finished"
        @save="saveCrafts"
        @hasRecipe="reloadCraft += 1"
      >
        <template v-slot:actions>
          <q-input
            v-model.number="craft.quantity"
            label="Quantité Voulu"
            dark
            outlined
            dense
            color="accent"
            type="number"
            bg-color="darker"
            @click.stop="doNothing"
            @change="changeQuantity(craft, $event)"
          />

          <q-btn
            icon="fas fa-trash-alt"
            flat
            rounded
            size="sm"
            class="text-accent-hover text-grey-6"
            @click.stop="deleteCraft(index)"
          >
            <q-tooltip content-class="text-white bg-darker text-body2">
              Supprimer
            </q-tooltip>
          </q-btn>
        </template>
      </craft-manager-item>
    </div>
  </q-page>
</template>

<script>
import { debounce } from 'quasar';
import CraftManagerItem from 'components/Recipe/CraftManagerItem';
import CraftRecapItem from 'components/Recipe/CraftRecapItem';

export default {
  name: 'CraftManager',
  components: {
    CraftRecapItem,
    CraftManagerItem,
  },
  meta() {
    return {
      title: 'DofusDB - Gestionnaire de craft',
      meta: {
        decsription: {
          name: 'description',
          content: 'Grâce à se gestionnaire, vous pourrez voir rapidement quels objets il vous'
            + ' manque, s\'il y a des sous-craft, un récapitulatif global de tout les objets'
            + ' nécessaire pour tout vos crafts et bien plus encore',
        },
      },
    };
  },
  data: () => ({
    crafts: [],
    reloadCraft: 0,
    dontAskDelete: false,
  }),
  computed: {
    length() {
      return this.crafts.length;
    },
  },
  beforeMount() {
    this.crafts = this.$store.getters['crafts/getCrafts'];
  },
  mounted() {
    this.saveCrafts = debounce(this.saveCrafts, 20);
  },
  methods: {
    clearCrafts() {
      this.$q.dialog({
        dark: true,
        title: 'Vider le gestionnaire de craft',
        message: 'Êtes-vous sur de vouloirs vider le gestionnaire de craft ?',
        ok: true,
        cancel: {
          label: 'Annuler',
          flat: true,
        },
      }).onOk(() => {
        this.crafts = [];
        this.saveCrafts();
      });
    },
    deleteCraft(index) {
      if (this.dontAskDelete) {
        this.crafts.splice(index, 1);
        this.saveCrafts();
      } else {
        this.$q.dialog({
          dark: true,
          title: `Suppression de ${this.crafts[index].item.name}`,
          message: 'Êtes-vous sur de vouloirs supprimer cet objet ?',
          ok: true,
          cancel: {
            label: 'Annuler',
            flat: true,
          },
          options: {
            type: 'checkbox',
            model: [],
            inline: true,
            items: [
              { label: 'Ne plus demander', value: true, color: 'secondary' },
            ],
          },
        }).onOk((dontAskAnymore) => {
          [this.dontAskDelete] = dontAskAnymore;
          this.crafts.splice(index, 1);
          this.saveCrafts();
        });
      }
    },
    changeQuantity(craft, $event) {
      let quantity = $event.target.value || 0;

      if (quantity < 0 || !quantity) {
        quantity = 1;
      }

      quantity = parseInt(quantity, 10);
      craft.quantity = quantity;
      this.saveCrafts();
    },
    doNothing() {},
    saveCrafts() {
      this.$store.commit('crafts/setCrafts', this.crafts);
    },
    getItemQuantity(quantities, items, item) {
      if (typeof quantities === 'number') {
        return quantities;
      }

      // [ [itemID, quantity], [itemID, quantity] ]
      if (quantities && quantities[0] && Array.isArray(quantities[0])) {
        for (let i = 0; i < quantities.length; i += 1) {
          if (quantities[i] && quantities[i][0] === item.id) {
            return quantities[i][1];
          }
        }
      } else { // { itemIndex: quantity, itemIndex: quantity }
        for (let i = 0; i < items.length; i += 1) {
          if (items[i].id === item.id) {
            return quantities[i];
          }
        }
      }

      return 0;
    },
  },
};
</script>

<style scoped>

</style>
