<template>
  <q-page class="flex q-pa-lg">
    <div v-if="item" class="full-width full-height bg-primary q-pa-md">

      <!-- Header -->
      <div
        class="text-white full-width"
        :class="{
          row: $q.screen.gt.sm,
          column: $q.screen.lt.md,
          'items-center': $q.screen.lt.md,
        }"
      >
        <q-img
          class="item-img bg-dark"
          :src="item.img"
        />

        <div class="col q-ml-lg" :class="{ 'q-mt-sm': $q.screen.lt.md }">
          <div class="row text-h5 text-secondary items-end">
            {{ item.name }}
            <span class="text-body2 text-grey-6 q-ml-md">
              Niv.&nbsp;{{ item.level }}
            </span>

            <q-space />
            <add-item-to-workbench :items="item" />
          </div>

          <span
            v-if="item.itemSet"
            class="row text-body1 text-accent-hover cursor-pointer"
            @click="openItemSet(item.itemSet)"
          >
            {{ item.itemSet.name }}
          </span>

          <div class="row text-subtitle1 text-grey-6">
            {{ item.type.superType }} -&nbsp;
            <router-link
              class="type-link decoration-none text-grey-6 text-accent-hover"
              :to="{ name: 'objectsByType', params: { id: item.type.id } }"
            >
              {{ item.type.name }}
            </router-link>
          </div>

          <div class="row q-mt-md text-body text-grey-4">
            {{ item.description }}
          </div>
        </div>
      </div>

      <q-expansion-item
        v-if="(item.effects && item.effects.length)
         || (item.readableCriteria && item.readableCriteria.length)"
        :key="(item.effects ? item.effects.toString() : '') +
         (item.readableCriteria ? item.readableCriteria.toString() : '')"
        expand-separator
        dark
        label="Caractéristique"
        class="q-my-md bg-darker"
        header-class="text-accent"
      >
        <q-card dark>
          <q-card-section>
            <item-characteristics :item="item" />
          </q-card-section>
        </q-card>
      </q-expansion-item>

      <q-linear-progress
        v-if="loading > 0"
        indeterminate size="3px" rounded color="accent" class="q-mt-sm" />

      <!-- Body -->
      <q-card dark>
        <q-tabs
          v-model="tab"
          dense
          flat
          align="justify"
          class="bg-primary q-mt-lg text-accent"
          :breakpoint="0"
        >
          <q-tab name="obtaining" label="Obtention" />
          <q-tab name="using" label="Utilisation" />
        </q-tabs>

        <q-separator />

        <q-tab-panels dark v-model="tab" animated>
          <q-tab-panel name="obtaining">
            <div class="column row full-width">
              <div v-if="recipes && recipes.length">
                <div class="row text-h6 text-secondary">
                  Recettes
                </div>

                <div class="column">
                  <recipe
                    v-for="(recipe) of recipes"
                    :key="'recipeOf' + item.id + recipe.id"
                    :recipe="recipe"
                    class="q-my-xs bg-primary"
                  />
                </div>
              </div>

              <div v-if="item.dropBy">
                <div class="row text-h6 text-secondary">
                  Drop
                </div>

                <div class="q-pl-md q-mt-md">
                  <q-scroll-area
                    horizontal
                    style="height: 100px"
                    class="row full-width"
                  >
                    <div class="row no-wrap">
                      <q-img
                        v-for="(monster) of this.item.dropBy"
                        :key="'monsterDrop' + monster.id"
                        :src="monster.img"
                        class="monsterDropRate cursor-pointer"
                        :class="{ 'selectedDropMonster': isSelectedDropMonster(monster) }"
                        @click="changeSelectedDropMonster(monster)"
                      >
                        <q-tooltip
                          content-class="bg-grey-10 text-body2"
                          anchor="top middle"
                          self="bottom middle"
                        >
                          <q-icon
                            v-if="monster.isMiniBoss"
                            name="archmonster"
                            size="20px"
                          />
                          <q-icon
                            v-if="monster.isQuestMonster"
                            name="quest"
                            size="20px"
                          />
                          {{ monster.name }}
                          :&nbsp;
                          <span
                            v-if="monster.actualItemDrop.percentDropForGrade1"
                            class="text-center text-bold"
                          >
                            {{ monster.actualItemDrop.percentDropForGrade1.toFixed(2) }}%
                          </span>
                        </q-tooltip>
                      </q-img>
                    </div>
                  </q-scroll-area>

                  <div v-if="selectedDropMonster" class="bg-primary q-pa-md">
                    <div class="row items-end">
                      <q-icon
                        v-if="selectedDropMonster.isMiniBoss"
                        name="archmonster"
                        size="25px"
                        class="self-center"
                      />
                      <q-icon
                        v-if="selectedDropMonster.isQuestMonster"
                        name="quest"
                        size="25px"
                        class="self-center"
                      />

                      <span class="text-h6 text-accent">
                        {{ selectedDropMonster.name }}
                      </span>
                      &nbsp;
                      <span class="q-ml-md text-subtitle2 text-grey-6">
                        Niv. {{ getMinMaxValue(selectedDropMonster, 'level') }}
                      </span>
                    </div>
                    <div
                      v-if="selectedDropMonster.actualItemDrop.percentDropForGrade1"
                      class="row text-subtitle1 text-grey-6"
                    >
                      Taux d'obtention:&nbsp;
                      <span class="text-bold text-white">
                        {{ selectedDropMonster.actualItemDrop.percentDropForGrade1.toFixed(2) }}%
                      </span>
                    </div>

                    <div
                      v-if="selectedDropMonster.actualItemDrop.hasCriteria
                       && selectedDropMonster.actualItemDrop.readableCriteria"
                      :key="selectedDropMonster._id + 'dropcriteria' +
                       selectedDropMonster.actualItemDrop.readableCriteria"
                      class="row full-width"
                    >
                      <div class="column">
                        <div class="row text-body1 text-secondary q-mt-md">
                          Condition de drop
                        </div>

                        <criteria
                          class="text-grey-4"
                          :key="'Criteria' + selectedDropMonster._id"
                          :criteria="selectedDropMonster.actualItemDrop.readableCriteria"
                        />
                      </div>
                    </div>

                    <q-separator color="accent" class="q-my-md" />

                    <div class="row">
                      <div class="col-6 mdi-border-right text-grey-4 q-pr-xl">
                        <div class="row text-body1 text-grey-2 text-bold">
                          Caractéristiques
                        </div>

                        <div class="row q-mt-sm items-center">
                          <q-icon name="stat:pv" class="q-mr-xs" size="22px" />
                          Points de vie (PV):&nbsp;
                          <q-space />
                          <span class="text-white text-bold">
                            {{ getMinMaxValue(selectedDropMonster, 'lifePoints') }}
                          </span>
                        </div>

                        <div class="row items-center">
                          <q-icon name="stat:pa" class="q-mr-xs" size="22px" />
                          Points d'action (PA):&nbsp;
                          <q-space />
                          <span class="text-white text-bold">
                           {{ getMinMaxValue(selectedDropMonster, 'actionPoints') }}
                          </span>
                        </div>

                        <div class="row items-center">
                          <q-icon name="stat:pm" class="q-mr-xs" size="22px" />
                          Points de mouvement (PM):&nbsp;
                          <q-space />
                          <span class="text-white text-bold">
                            {{ getMinMaxValue(selectedDropMonster, 'movementPoints') }}
                          </span>
                        </div>
                      </div>

                      <div class="col-6 mdi-border-right text-grey-4 q-pr-xl">
                        <div class="row text-body1 text-grey-2 text-bold">
                          Résistances
                        </div>

                        <div class="row q-mt-sm items-center">
                          <q-icon name="stat:resistance-neutre" class="q-mr-xs" size="22px" />
                          Neutre (%):&nbsp;
                          <q-space />
                          <span class="text-white text-bold">
                            {{ getMinMaxValue(selectedDropMonster, 'neutralResistance') }}
                          </span>
                        </div>

                        <div class="row items-center">
                          <q-icon name="stat:resistance-terre" class="q-mr-xs" size="22px" />
                          Terre (%):&nbsp;
                          <q-space />
                          <span class="text-white text-bold">
                           {{ getMinMaxValue(selectedDropMonster, 'earthResistance') }}
                          </span>
                        </div>

                        <div class="row items-center">
                          <q-icon name="stat:resistance-feu" class="q-mr-xs" size="22px" />
                          Feu (%):&nbsp;
                          <q-space />
                          <span class="text-white text-bold">
                            {{ getMinMaxValue(selectedDropMonster, 'fireResistance') }}
                          </span>
                        </div>

                        <div class="row items-center">
                          <q-icon name="stat:resistance-eau" class="q-mr-xs" size="22px" />
                          Eau (%):&nbsp;
                          <q-space />
                          <span class="text-white text-bold">
                            {{ getMinMaxValue(selectedDropMonster, 'waterResistance') }}
                          </span>
                        </div>

                        <div class="row items-center">
                          <q-icon name="stat:resistance-air" class="q-mr-xs" size="22px" />
                          Air (%):&nbsp;
                          <q-space />
                          <span class="text-white text-bold">
                            {{ getMinMaxValue(selectedDropMonster, 'airResistance') }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div
                v-if="questsThatReward && questsThatReward.length"
              >
                <div class="row text-h6 text-secondary">
                  Récompense de Quête
                </div>

                <quest-book
                  :quests="questsThatReward"
                  style="height: 400px"
                  class="q-ml-md q-mt-md bg-primary"
                />
              </div>

              <div
                class="q-mt-md"
                v-if="achievementsThatReward && achievementsThatReward.length"
              >
                <div class="row text-h6 text-secondary">
                  Récompense de Succès
                </div>

                <achievement-book
                  class="q-ml-md q-mt-md row bg-primary"
                  style="height: 400px"
                  :achievements="achievementsThatReward"
                />
              </div>
            </div>

          </q-tab-panel>

          <q-tab-panel name="using">
            <div class="column row full-width">
              <div v-if="recipesWhereUsed && recipesWhereUsed.length">
                <div class="row text-h6 text-secondary">
                  Recettes
                </div>

                <q-scroll-area style="height: 300px">
                  <div class="column">
                    <recipe
                      v-for="(recipe) of recipesWhereUsed"
                      :key="'recipeWhereUsedOf' + item.id + recipe.resultId"
                      :recipe="recipe"
                      class="q-my-xs bg-primary"
                    />
                  </div>
                </q-scroll-area>
              </div>

              <div
                v-if="questsThatUse && questsThatUse.length"
                class="q-mt-md"
              >
                <div class="row text-h6 text-secondary">
                  Quête qui à besoin
                </div>

                <quest-book
                  :quests="questsThatUse"
                  style="height: 400px"
                  class="q-ml-md q-mt-md bg-primary"
                />
              </div>
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>

    </div>
  </q-page>
</template>

<script>
import Criteria from 'components/Criteria/Criteria';
import Recipe from 'components/Recipe/Recipe';
import ItemCharacteristics from 'components/Item/ItemCharacteristics';
import QuestBook from 'components/Quest/QuestBook';
import AchievementBook from 'components/Achievement/AchievementBook';
import { MetaProperty } from 'src/utils';
import ItemSetDialog from 'components/Item/Set/ItemSetDialog';
import AddItemToWorkbench from 'components/Item/AddItemToWorkbench';

export default {
  name: 'Object',
  components: {
    AddItemToWorkbench,
    AchievementBook,
    QuestBook,
    ItemCharacteristics,
    Recipe,
    Criteria,
  },
  meta() {
    return {
      title: this.item
        ? `DofusDB - ${this.item.name}`
        : `DofusDB - Objet n°${this.$route.params.id}`,
      meta: {
        ...this.$store.state.meta.meta,
      },
    };
  },
  async serverPrefetch() {
    const item = (await this.$api.getItem(this.$route.params.id)).data;

    this.$store.commit('meta/setMeta', MetaProperty({
      'twitter:image': item.img,
      'og:image': item.img,
      'og:title': `DofusDB - ${item.name}`,
      description: `${item.name} Niv.${item.level} ${item.itemSet ? item.itemSet.name : ''} - ${item.description}`,
      'og:description': `${item.name} Niv.${item.level} ${item.itemSet ? item.itemSet.name : ''} - ${item.description}`,
      'og:type': 'website',
    }));
  },
  data: () => ({
    itemId: 0,
    item: null,
    tab: 'obtaining',
    selectedDropMonster: null,
    selectedAchievementReward: null,
    recipes: null,
    recipesWhereUsed: null,
    questWhereUsed: null,
    selectedQuestWhereUsed: null,
    loading: 0,
    nbFormat: new Intl.NumberFormat('fr-FR'),
    questsThatReward: [],
    questsThatUse: [],
    achievementsThatReward: [],
  }),
  watch: {
    // eslint-disable-next-line func-names
    '$route.params.id': function () {
      this.itemId = this.$route.params.id;
      this.selectedDropMonster = null;
      this.recipes = null;
      this.questsThatReward = [];
      this.questsThatUse = [];
      this.achievementsThatReward = [];
      this.fetchItem();
    },
  },
  mounted() {
    this.itemId = this.$route.params.id;
    this.fetchItem();
  },
  methods: {

    getMinMaxValue(monster, field) {
      let min = 0;
      let max = 0;

      for (let i = 0; i < monster.grades.length; i += 1) {
        const grade = monster.grades[i];

        if (i === 0 || min > grade[field]) {
          min = grade[field];
        }

        if (i === 0 || max < grade[field]) {
          max = grade[field];
        }
      }

      if (min === max) {
        return min;
      }
      return `${min} à ${max}`;
    },
    isSelectedDropMonster(monster) {
      return (this.selectedDropMonster && this.selectedDropMonster._id === monster._id);
    },
    async changeSelectedDropMonster(monster) {
      if (this.isSelectedDropMonster(monster)) {
        this.selectedDropMonster = null;
        return;
      }

      this.selectedDropMonster = monster;
      if (monster
        && monster.actualItemDrop.hasCriteria && !monster.actualItemDrop.readableCriteria) {
        monster.actualItemDrop.readableCriteria = (await this.$api
          .getReadableCriteria(monster.actualItemDrop.criteria)).data;
        this.$forceUpdate();
      }
    },
    fetchDropMonster(skip) {
      skip = skip || 0;

      if (this.item.dropMonsterIds && this.item.dropMonsterIds.length) {
        this.loading += 1;
        this.$api.getMonsters({
          $limit: 5,
          $skip: skip,
          'id[$in]': this.item.dropMonsterIds,
        }).then(async (response) => {
          const tmp = response.data.data;

          if (response.data.total > skip + tmp.length) {
            this.fetchDropMonster(skip + tmp.length);
          }

          await tmp.forEach((e) => {
            e.actualItemDrop = this.getDropRate(e);
          });

          if (!this.item.dropBy) {
            this.item.dropBy = [];
          }

          this.item.dropBy = this.item.dropBy.concat(tmp).sort(
            (a, b) => b.actualItemDrop.percentDropForGrade1
              - a.actualItemDrop.percentDropForGrade1,
          );

          if (!this.selectedDropMonster) {
            this.changeSelectedDropMonster(this.item.dropBy[0]);
          }
          this.$forceUpdate();
          this.loading -= 1;
        });
      }
    },
    async fetchAchievementRewards(skip) {
      skip = skip || 0;

      this.loading += 1;
      const response = (await this.$api.getAchievementRewards({
        itemsReward: this.item.id,
        $limit: 50,
        $skip: skip,
      })).data;

      if (skip + response.data.length < response.total) {
        this.fetchAchievementRewards(skip + response.data.length);
      }

      if (!this.achievementsThatReward) {
        this.achievementsThatReward = [];
      }

      this.achievementsThatReward = this.achievementsThatReward.concat(response.data
        .filter((e) => !!e.achievement).map((e) => e.achievement));

      this.loading -= 1;
      this.$forceUpdate();
    },
    async fetchQuestsThatReward(skip) {
      skip = skip || 0;

      this.loading += 1;
      const response = (await this.$api.getQuestStepRewards({
        itemsRewardIds: this.item.id,
        $limit: 25,
        $skip: skip,
      })).data;
      const tmp = response.data;

      if (skip + response.data.length < response.total) {
        this.fetchQuestsThatReward(skip + response.data.length);
      }

      await tmp.forEach((e) => {
        if (e.step && e.step.quest) {
          const stepIndex = e.step.quest.stepIds.indexOf(e.step.id);
          const index = this.questsThatReward.findIndex((quest) => quest.id === e.step.quest.id);

          e.step.activeReward = 0;
          if (index === -1) {
            e.step.quest.activeStep = stepIndex;
            e.step.quest.steps = [];
            e.step.quest.steps[stepIndex] = e.step;
            e.step.rewards = [e];
            this.questsThatReward.push(e.step.quest);
          } else {
            if (!this.questsThatReward[index].steps[stepIndex]) {
              this.questsThatReward[index].steps[stepIndex] = e.step;
              e.step.rewards = [];
            }
            this.questsThatReward[index].steps[stepIndex].rewards.push(e);
          }
        }
      });
      this.loading -= 1;
      this.$forceUpdate();
    },
    async fetchQuestsThatUsed(skip) {
      skip = skip || 0;

      this.loading += 1;

      const response = (await this.$api.getQuestObjectives({
        $skip: skip,
        '$or[0][typeId]': 3,
        '$or[0][parameters.parameter1]': this.item.id,
        '$or[1][typeId]': 2,
        '$or[1][parameters.parameter1]': this.item.id,
      })).data;

      const tempQuestWhereUsed = response.data;

      if (skip + tempQuestWhereUsed.length < response.total) {
        this.fetchQuestsThatUsed(skip + tempQuestWhereUsed.length);
      }

      tempQuestWhereUsed.forEach((objective) => {
        const index = this.questsThatUse.findIndex((e) => e.id === objective.step.quest.id);
        const { quest } = objective.step;
        const stepIndex = quest.stepIds.indexOf(objective.step.id);
        objective.step.activeReward = 0;

        if (index === -1) {
          quest.activeStep = stepIndex;
          quest.steps = [];
          quest.steps[stepIndex] = objective.step;
          this.questsThatUse.push(quest);
        } else if (!this.questsThatUse[index].steps[stepIndex]) {
          if (!this.questsThatUse[index].steps) {
            this.questsThatUse[index].steps = [];
          }
          this.questsThatUse[index].steps[stepIndex] = objective.step;
        }
      });

      this.loading -= 1;
    },
    fetchQuests() {
      this.fetchQuestsThatReward();

      this.fetchQuestsThatUsed();
    },
    async fetchRecipes() {
      this.recipes = (await this.$api.getRecipes({
        resultId: this.item.id,
        $limit: 50,
      })).data.data;

      this.recipesWhereUsed = (await this.$api.getRecipes({
        ingredientIds: this.item.id,
        $limit: 50,
      })).data.data;
      // TODO length < total
    },
    async fetchItem() {
      this.item = (await this.$api.getItem(this.itemId)).data;

      this.fetchCriteria();

      // Get quest that reward this item
      this.fetchQuests();

      // Get achievement that reward this item
      this.fetchAchievementRewards();

      // Get recipes that result this item
      this.fetchRecipes();

      // Get monster that drop this item
      this.fetchDropMonster();
    },
    getDropRate(monster) {
      for (let i = 0; i < monster.drops.length; i += 1) {
        const drop = monster.drops[i];

        if (drop.objectId === this.item.id) {
          return drop;
        }
      }
      return 0;
    },
    async fetchCriteria() {
      if (this.item.criteria && this.item.criteria !== 'null') {
        this.item.readableCriteria = (await this.$api.getReadableCriteria(this.item.criteria)).data;
        this.$forceUpdate();
      }
    },
    openItemSet(itemset) {
      this.$q.dialog({
        component: ItemSetDialog,
        id: itemset.id,
      });
    },
  },
};
</script>

<style scoped lang="stylus">
  .item-img
    height: 200px
    width: 200px

  .monsterDropRate
    height: 100px
    width: 100px

  .q-img:hover .captionAtHover
    opacity: 100%

  .captionAtHover
    opacity: 0

  .selectedDropMonster
    // border: 1px $accent solid
    background: $primary
</style>
