<template>
  <q-page class="flex q-pa-lg">
    <div v-if="type" class="full-width full-height bg-primary q-pa-md">
      <div class="row text-white full-width text-h5">
        {{ type.superType }} -&nbsp;<span class="text-secondary">{{ type.name }}</span>

        <q-space />

        <q-input v-model="filter" dark filled type="search" label="Recherche">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </div>

      <objects-table
        v-model="items"
        :query="{ typeId: type.id }"
        :key="'typeTable' + type.id"
        :filter="filter"
        class="q-mt-sm"
      />
    </div>
  </q-page>
</template>

<script>
import ObjectsTable from 'components/ObjectsTable';

export default {
  name: 'ObjectsByType',
  components: { ObjectsTable },
  meta() {
    return {
      title: this.type
        ? `DofusDB - ${this.type.name}`
        : `DofusDB - Categorie n°${this.$route.params.id}`,
      meta: {
        description: {
          name: 'description',
          content: this.type
            ? `Objets de la catégorie ${this.type.name}`
            : '',
        },
      },
    };
  },
  data: () => ({
    typeId: 0,
    type: null,
    items: [],
    filter: '',
  }),
  async mounted() {
    await this.getType();
  },
  watch: {
    // eslint-disable-next-line func-names
    '$route.params.id': function () {
      this.getType();
    },
  },
  methods: {
    async getType() {
      this.typeId = this.$route.params.id;
      this.type = (await this.$api.getItemType(this.typeId)).data;
      this.items = [];
    },
  },
};
</script>

<style scoped>

</style>
