<template>
  <q-page class="flex q-pa-lg text-white">
    <div class="full-width bg-primary">
      <div class="row justify-center full-width text-h4 text-bold relative-position">
        <template v-if="server">
          <server
            :server="server"
            class="full-width text-h4 text-bold"
          />
        </template>
        <template v-else>
          Aucun serveur sélectionné
        </template>

        <q-btn
          flat
          round
          icon="fas fa-sync"
          class="q-ml-md text-grey-6 text-accent-hover absolute-top-right"
          style="right: 50px; top:10px"
          @click="fetchPortals(null)"
        >
          <q-tooltip content-class="bg-darker text-body2">
            Actualiser
          </q-tooltip>
        </q-btn>
        <q-btn
          flat
          round
          icon="fas fa-exchange-alt"
          class="q-ml-md text-grey-6 text-accent-hover absolute-top-right"
          style="top: 10px; right: 10px"
          @click="selectServer"
        >
          <q-tooltip content-class="bg-darker text-body2">
            Changer de serveur
          </q-tooltip>
        </q-btn>

      </div>

      <div class="q-mt-md row justify-center full-width">
        <div
          v-for="(dimension) of dimensions"
          :key="'dimensions' + dimension._id"
          class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 q-my-sm"
        >
          <div
            class="bg-dark q-ma-sm column items-center q-pa-sm full-height"
            :style="!dimension.portal || dimension.portal.position.unknown ?
             'background-color: rgba(244,67,54,0.2) !important' : ''"
          >
            <div class="text-bold text-shadow-2 text-h4 text-center full-width relative-position">
              {{ dimension.name }}

              <q-btn
                icon="fas fa-history"
                flat
                dense
                round
                class="text-accent-hover text-grey-6 absolute-top-right"
                @click="getHistory(dimension)"
              >
                <q-tooltip content-class="bg-dark text-body2">
                  Voir l'historique
                </q-tooltip>
              </q-btn>
            </div>

            <q-img
              :src="dimension.img"
              height="200px"
              contain
            />

            <div
              v-if="!dimension.portal || dimension.portal.position.unknown"
              :key="dimension.portal ? dimension.portal._id : dimension._id + 'none'"
              class="text-uppercase text-body1 text-red text-bold"
            >
              Position Inconnue
            </div>

            <div
              v-else
              class="row text-h5 text-bold"
            >
              <span v-if="dimension.portal && dimension.portal.position.canopy">
                Canopé&nbsp;
              </span>
              <position
                v-if="dimension.portal && !dimension.portal.position.unknown"
                :x="dimension.portal.position.x"
                :y="dimension.portal.position.y"
                travel
              />

              <q-btn
                flat
                dense
                round
                icon="content_copy"
                color="grey-6"
                class="text-accent-hover q-ml-sm"
                @click="copyDimensionInfos(dimension)"
              />
            </div>

            <div
              v-if="dimension.portal && !dimension.portal.position.unknown"
              class="row q-mt-sm justify-center text-body1"
            >
              <span
                :class="{ 'text-orange': dimension.portal.remaining_uses < 30,
                 'text-green': dimension.portal.remaining_uses >= 30 }">
                {{ dimension.portal.remaining_uses }}
              </span>
              &nbsp;Utilisations restante
            </div>


            <div
              v-if="dimension.portal && dimension.portal.owner
               && !dimension.portal.position.unknown"
              class="row justify-center items-center text-bold text-h6 text-grey-13 q-mt-sm"
            >
              <q-btn
                v-if="$store.state.user.user"
                flat
                dense
                round
                icon="fa fa-arrow-down"
                class="text-accent-hover q-mr-md"
                @click="changeScore(dimension.portal, -1)"
              />
              <span
                :key="dimension.portal._id + 'score' + dimension.portal.score"
                :class="scoreClass(dimension.portal)"
              >
                {{ dimension.portal.score }}
                <q-tooltip content-class="bg-darker text-body2">
                  Score de certitude
                </q-tooltip>
              </span>
              <q-btn
                v-if="$store.state.user.user"
                flat
                dense
                round
                icon="fa fa-arrow-up"
                class="text-accent-hover q-ml-md"
                @click="changeScore(dimension.portal, 1)"
              />
            </div>

            <div class="col"/>

            <user-tag
              v-if="dimension.portal && dimension.portal.owner"
              :user="dimension.portal.owner"
              :role_color="false"
              class="text-bold text-body1"
              color="grey-6"
            />

            <div v-if="dimension.portal" class="text-grey-6">
              {{ dateAgoString(dimension.portal.updatedAt) }}
            </div>

            <q-btn
              outline
              no-caps
              color="secondary"
              label="Mettre à jour"
              class="q-mt-sm"
              @click="updatePortal(dimension)"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import SelectServerDialog from 'pages/Server/SelectServerDialog';
import Position from 'components/Common/Position';
import Server from 'components/Common/Server';
import UserTag from 'components/Common/UserTag';
import PortalFormDialog from 'components/Portals/PortalFormDialog';
import PortalHistoryDialog from 'components/Portals/PortalHistoryDialog';
import { dateAgoString } from 'src/utils';
import { copyToClipboard } from 'quasar';

export default {
  name: 'Portals',
  components: {
    UserTag,
    Server,
    Position,
  },
  meta: {
    title: 'DofusDB - Portails',
    meta: {
      description: {
        name: 'description',
        content: 'Vous chercher le portail de votre serveur mais ne savez pas où il est, regarder ici.',
      },
    },
  },
  data: () => ({
    portals: [],
    dimensions: [],
    loading: false,
  }),
  computed: {
    server: {
      get() {
        return this.$store.state.server.selected;
      },
    },
  },
  watch: {
    async server() {
      this.dimensions = [];
      await this.fetchDimensions();
      await this.fetchPortals();
    },
  },
  async mounted() {
    if (!this.server) {
      this.selectServer();
    } else {
      await this.fetchDimensions();
      await this.fetchPortals();
    }
  },
  methods: {
    copyDimensionInfos(dimension) {
      let text = dimension.name;

      if (!dimension.portal || dimension.portal.position.unknown) {
        text += ' position inconnue';
      } else {
        text += ` [${dimension.portal.position.x},${dimension.portal.position.y}]`;
        if (dimension.portal.position.canopy) {
          text += ' Canopé';
        }

        text += `, ${dimension.portal.remaining_uses} Utilisation(s)`;
      }
      copyToClipboard(text).then(() => {
        this.$q.notify('Informations copié dans le presse papier');
      }).catch(() => {
        this.$q.notify('Une erreur est survenue lors de la copie');
      });
    },
    dateAgoString,
    selectServer() {
      this.$q.dialog({
        component: SelectServerDialog,
      });
    },
    async fetchPortalsFromDimension(dimension, query) {
      query.dimension = dimension._id;
      query.server = this.server._id;
      const response = (await this.$api.getPortals(query)).data;

      if (!dimension.history) {
        dimension.history = response.data;
      } else {
        dimension.history = dimension.history.concat(response.data);
      }
    },
    async fetchPortals(query) {
      this.loading = true;
      query = query || {
        '$sort[updatedAt]': -1,
        $limit: 1,
      };

      for (let i = 0; i < this.dimensions.length; i += 1) {
        const dimension = this.dimensions[i];
        query.dimension = dimension._id;
        query.server = this.server._id;
        // eslint-disable-next-line
        const response = (await this.$api.getPortals(query)).data;

        [dimension.portal] = response.data;
      }
      this.$forceUpdate();
      this.loading = false;
    },
    async fetchDimensions(query) {
      this.loading = true;
      query = query || {
        $sort: 'name',
      };

      const response = (await this.$api.getDimensions(query)).data;

      this.dimensions = this.dimensions.concat(response.data);

      if (response.total < this.dimensions.length) {
        query.$skip = this.dimensions.length;
        this.fetchDimensions(query);
      }
      this.loading = false;
    },
    scoreClass(portal) {
      return {
        'text-green': portal.score > 0,
        'text-red': portal.score < 0,
      };
    },
    async changeScore(portal, add) {
      try {
        await this.$api.createReputationPoint({
          object: portal._id,
          object_type: 'portals',
          point: add,
        });
        portal.score += add;
        this.$forceUpdate();
      } catch (e) {
        if (e.response.status === 409) {
          this.$q.notify({
            position: 'top',
            message: 'Vous avez déjà effectué cette action.',
            color: 'dark',
            textColor: 'white',
          });
        } else {
          this.$q.notify({
            position: 'top',
            message: 'Une erreur est survenue',
            color: 'negative',
          });
        }
      }
    },
    updatePortal(dimension) {
      if (!this.$store.getters['user/isConnected']) {
        this.$q.notify({
          position: 'top',
          message: 'Vous devez être connecté pour effectuer cette action.',
          color: 'darker',
          textColor: 'red',
        });
      } else {
        this.$q.dialog({
          component: PortalFormDialog,
          dimension,
          server: this.server,
          portal: dimension.portal,
        }).onOk(() => {
          this.fetchPortals();
        });
      }
    },
    getHistory(dimension) {
      this.$q.dialog({
        component: PortalHistoryDialog,
        dimension,
      });
    },
  },
};
</script>

<style scoped>

</style>
