<template>
  <q-btn
    class="text-accent-hover hover-icon"
    @click.stop="addItemsToWorkbench"
    v-bind="{
      color: 'grey-8',
      round: true,
      ...$attrs
    }"
  >
    <q-icon v-if="withIcon" name="workbench_off" class="hover-invisible" />
    <q-icon v-if="withIcon" name="workbench_on" class="hover-visible" />
    <q-tooltip content-class="text-body2 text-white bg-darker">
      <template v-if="computedItems.length > 1">
        Ajouter les objets au gestionnaire de craft
      </template>
      <template v-else>
        Ajouter l'objet au gestionnaire de craft
      </template>
    </q-tooltip>
  </q-btn>
</template>

<script>
export default {
  name: 'AddItemToWorkbench',
  props: {
    items: {
      required: true,
      type: [Object, Array],
    },
    withIcon: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    computedItems() {
      if (Array.isArray(this.items)) {
        return this.items;
      }
      return [this.items];
    },
  },
  methods: {
    addItemsToWorkbench() {
      this.computedItems.forEach((item) => {
        this.$store.dispatch('crafts/addCraft', item);
      });

      this.$q.notify(`Objet${this.computedItems.length > 1 ? 's' : ''} ajouté au gestionnaire !`);
    },
  },
};
</script>

<style scoped>

</style>
