<template>
  <q-tooltip
    ref="tooltip"
    :anchor="anchor"
    :self="self"
    content-class="bg-darker text-body2"
    content-style="pointer-events: auto !important"
    max-width="300px"
    :hide-delay="250"
    v-model="show"
    @before-hide="beforehide"
  >
    <div class="column" @mouseleave="leave" @mouseenter="enter">
      <span class="text-body1 text-bold">
        {{ item.name }}
      </span>

      <item-set
        v-if="item.itemSet"
        class="text-secondary text-accent-hover"
        :id="item.itemSetId"
        :name="item.itemSet.name"
      />

      <span class="text-grey-6">
        <template v-if="item.type">
          {{ item.type.name }}
        </template>
        <template v-if="item.type && item.level">
          &nbsp;-&nbsp;
        </template>
        <template v-if="item.level">
          Niv. {{ item.level }}
        </template>
      </span>
      <q-separator color="grey-6" />

      <item-characteristics
        :item="item"
        :forgemagie="forgemagie"
        dense
        class="q-mt-sm"
        separator-color="accent"
      />
    </div>
  </q-tooltip>
</template>

<script>
import ItemCharacteristics from 'components/Item/ItemCharacteristics';
import ItemSet from 'components/Common/ItemSet';

export default {
  name: 'AdvancedItemTooltip',
  components: {
    ItemSet,
    ItemCharacteristics,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
    anchor: String,
    self: String,
    forgemagie: {
      type: Object,
    },
  },
  data: () => ({
    show: false,
    hover: false,
  }),
  methods: {
    enter() {
      this.hover = true;
    },
    leave() {
      this.hover = false;
      this.$refs.tooltip.hide();
    },
    beforehide() {
      this.show = this.hover;
      return !this.hover;
    },
  },
};
</script>

<style scoped>

</style>
