<template>
  <span>
    <template v-if="$router && redirect">
      <router-link
        :to="{ name: 'object', params: { id: item.id } }"
        class="text-white"
      >
        <q-img
          :src="item.img"
          class="item"
          :class="contentClass"
          :height="computedSize"
          :width="computedSize"
          :alt="item.name"
        >
        <span
          v-if="quantity && quantity > 1"
          class="absolute text-body2 text-grey-4"
          style="left: 0; top: 0; background: #272727AA; border-radius: 0 0 5px 0; padding: 4px;
            line-height: 10px;"
        >
          {{ quantity }}
        </span>

          <q-tooltip
            content-class="bg-grey-10 text-body2 text-bold"
            anchor="top middle"
            self="bottom middle"
            max-width="400px"
          >
            <slot name="tooltip" :item="item">
              <div class="column">
                <div class="row text-body1 items-end">
                  {{ item.name }}&nbsp;
                  <span v-if="item.level" class="text-grey-6 text-body2">
                    Niv. {{ item.level }}
                  </span>
                </div>

                <div v-if="item.itemSet" class="row text-body2 text-secondary">
                  {{ item.itemSet.name }}
                </div>

                <div v-if="item.type" class="row text-grey-6">
                  {{ item.type.superType }} -&nbsp;{{ item.type.name }}
                </div>

                <div v-if="description && item.description" class="row text-grey-14">
                  {{ item.description }}
                </div>
              </div>
            </slot>
          </q-tooltip>
        </q-img>
      </router-link>
    </template>
    <template v-else>
      <q-img
        :src="item.img"
        class="item"
        :class="contentClass"
        :height="computedSize"
        :width="computedSize"
      >
        <span
          v-if="quantity && quantity > 1"
          class="absolute bg-none text-body2"
          style="left: 2px; top: 2px"
        >
          {{ quantity }}
        </span>

        <q-tooltip
          content-class="bg-grey-10 text-body2 text-bold"
          anchor="top middle"
          self="bottom middle"
        >
          <slot name="tooltip" :item="item">
            <div class="column">
              <div class="row text-h6">
                {{ item.name }}
              </div>

              <div class="row text-grey-6">
                <template v-if="item.level">
                  Niv. {{ item.level }}
                </template>
                <template v-if="item.level && item.type">
                  &nbsp;-&nbsp;
                </template>
                <template v-if="item.type">
                  {{ item.type.name }}
                </template>
              </div>

              <div v-if="description && item.description" class="row text-grey-14">
                {{ item.description }}
              </div>
            </div>
          </slot>
        </q-tooltip>
      </q-img>
    </template>
  </span>
</template>

<script>
export default {
  name: 'Item',
  props: {
    item: Object,
    quantity: Number,
    size: String,
    description: {
      type: Boolean,
      default: false,
    },
    redirect: {
      type: Boolean,
      default: true,
    },
    contentClass: {
      type: String,
      default: 'q-pa-xs',
    },
  },
  computed: {
    computedSize: {
      get() {
        return this.size || '50px';
      },
    },
  },
};
</script>

<style scoped lang="stylus">
.item
  background: no-repeat center/auto url('../../assets/slot_inventory.png')
  background-size: cover
</style>
