<template>
  <q-card
    dark
    class="full-height bg-darker q-py-sm"
  >

    <div class="row q-pr-md full-width q-pl-md items-center no-wrap">
      <q-img
        :src="item.img"
        class="item-card-img"
      />

      <div class="column col q-ml-md">
        <div class="row full-width">
          <div class="text-white">
            {{ item.name }}
          </div>

          <div class="text-grey-6 q-ml-md">
            Niv.&nbsp;{{ item.level }}
          </div>
        </div>

        <div
          v-if="item.itemSet"
          class="row text-secondary cursor-pointer"
          @click.stop="openItemSetDialog(item.itemSet.id)"
        >
          {{ item.itemSet.name }}
        </div>

        <div v-if="item.type" class="row text-grey-5">
          {{ item.type.name }}
        </div>
      </div>

      <q-space />
      <add-item-to-workbench class="self-start q-mt-sm" dense :items="item" />
    </div>

    <q-separator
      v-if="!dense && ((item.effects && item.effects.length)
       || (item.readableCriteria && item.readableCriteria.length))"
      spaced
      color="grey-6"
    />

    <div v-if="!dense">
      <item-characteristics
        :key="item._id + ' criteria' + item.readableCriteria"
        :item="item"
        dense
        separator-color="grey-14"
      />
    </div>

  </q-card>
</template>

<script>
import ItemCharacteristics from 'components/Item/ItemCharacteristics';
import ItemSetDialog from 'components/Item/Set/ItemSetDialog';
import AddItemToWorkbench from 'components/Item/AddItemToWorkbench';

export default {
  name: 'ItemCard',
  components: {
    AddItemToWorkbench,
    ItemCharacteristics,
  },
  props: {
    item: Object,
    dense: {
      type: Boolean,
      default: false,
    },
    forStuff: {
      type: Boolean,
      default: false,
    },
  },
  async mounted() {
    if (this.item.criteria && this.item.criteria !== 'null' && !this.item.readableCriteria) {
      this.item.readableCriteria = (await this.$api.getReadableCriteria(this.item.criteria)).data;
      this.$forceUpdate();
    }
  },
  methods: {
    openItemSetDialog(id) {
      this.$q.dialog({
        component: ItemSetDialog,
        id,
        equipable: this.forStuff,
      }).onOk((items) => {
        this.$emit('equip', items);
      });
    },
  },
};
</script>

<style scoped>
.item-card-img {
  width: 75px;
  height: 75px;
}
</style>
