<template>
  <div class="column text-white">
    <div
      v-if="weapon_effect.length && !dense"
      class="row text-bold text-body1"
    >
      Dommages
    </div>

    <template v-if="item.possibleEffects">
      <div
        v-for="(effect, index) of item.possibleEffects.filter((e) => e.effect.category === 2)"
        :key="'damagesEffect' + index"
      >
        <effect-instance-dice
          v-if="effect.effect.descriptionId"
          :instance="effect"
        />
      </div>
    </template>
    <template v-else-if="weapon_effect">
      <div
        v-for="(effect, index) of weapon_effect"
        :key="'damagesEffect' + index"
      >
        <effect
          v-if="effect.text && effect.from"
          :readable-effect="effect"
        />
      </div>
    </template>

    <div
      v-if="other_effect.length && !dense"
      class="row text-bold text-body1 q-mt-sm"
    >
      Effets
    </div>
    <q-separator
      v-else-if="weapon_effect.length && other_effect.length"
      :color="separatorColor"
      :spaced="!dense"
      inset
    />

    <template v-if="forgemagie && forgemagie.exos">
      <div
        v-for="(exo, index) of forgemagie.exos"
        :key="'exo ' + index"
        class="row items-center q-pl-sm"
      >
        <characteristic2
          v-if="exo.charac"
          :value="exo.value"
          :characteristic_id="exo.charac.id ? exo.charac.id : exo.charac"
          class="text-blue-6 text-bold"
          iconSize="22px"
        />
      </div>
    </template>

    <template v-if="item.possibleEffects">
      <div
        v-for="(effect, index) of item.possibleEffects.filter((e) => e.effect.category !== 2)"
        :key="'effect' + index"
      >
        <effect-instance-dice
          v-if="effect.effect.descriptionId"
          :instance="effect"
          :value="forgemagie ? forgemagie.stats[effect.effect.characteristic] : undefined"
          :theoretical="!!forgemagie"
        />
      </div>
    </template>
    <template v-else-if="other_effect">
      <div
        v-for="(effect, index) of other_effect"
        :key="'effect' + index"
      >
        <effect
          v-if="effect.text && effect.from"
          :readable-effect="effect"
        />
      </div>
    </template>

    <div
      v-if="item.readableCriteria && item.readableCriteria.length && !dense"
      class="row text-bold text-body1 q-mt-sm"
    >
      Conditions
    </div>
    <q-separator
      v-else-if="other_effect.length
       && item.readableCriteria && item.readableCriteria.length"
      :color="separatorColor"
      :spaced="!dense"
      inset
    />

    <criteria
      v-if="item.readableCriteria && item.readableCriteria.length"
      :criteria="item.readableCriteria"
      :dense="dense"
      class="q-ml-md"
    />
  </div>
</template>

<script>
import Effect from 'components/Effect';
import Criteria from 'components/Criteria/Criteria';
import { uid } from 'quasar';
import EffectInstanceDice from 'components/EffectInstanceDice';
import Characteristic2 from 'components/Common/Characteristic2';

export default {
  name: 'ItemCharacteristics',
  components: {
    Characteristic2,
    EffectInstanceDice,
    Criteria,
    Effect,
  },
  props: {
    item: Object,
    dense: {
      type: Boolean,
      default: false,
    },
    separatorColor: String,
    forgemagie: Object,
  },
  data: () => ({
    weapon_effect: [],
    other_effect: [],
  }),
  watch: {
    item() {
      this.setEffects();
    },
  },
  mounted() {
    this.setEffects();
  },
  methods: {
    uid,
    setEffects() {
      if (!this.item.effects) {
        this.weapon_effect = [];
        this.other_effect = this.item.effects;
        return;
      }

      this.weapon_effect = this.item.effects.filter((e) => e.category === 2);
      this.other_effect = this.item.effects.filter((e) => e.category !== 2);
    },
  },
};
</script>

<style scoped>

</style>
