<template>
  <div>
    <item
      v-for="(item) of items"
      :key="'item' + item._id"
      :item="item"
      :quantity="getItemQuantity(item)"
      :size="itemSize"
      class="text-white"
      :description="description"
    />
  </div>
</template>

<script>
import Item from 'components/Item/Item';

export default {
  name: 'ListItem',
  components: {
    Item,
  },
  props: {
    items: {
      type: Array,
      required: true,
    },
    quantities: {
      type: [Array, Number],
      required: true,
    },
    itemSize: String,
    description: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    getItemQuantity(item) {
      if (typeof this.quantities === 'number') {
        return this.quantities;
      }

      // [ [itemID, quantity], [itemID, quantity] ]
      if (this.quantities && this.quantities[0] && Array.isArray(this.quantities[0])) {
        for (let i = 0; i < this.quantities.length; i += 1) {
          if (this.quantities[i] && this.quantities[i][0] === item.id) {
            return this.quantities[i][1];
          }
        }
      } else { // { itemIndex: quantity, itemIndex: quantity }
        for (let i = 0; i < this.items.length; i += 1) {
          if (this.items[i].id === item.id) {
            return this.quantities[i];
          }
        }
      }

      return 0;
    },
  },
};
</script>

<style scoped>

</style>
