<template>
  <q-page class="flex q-pa-lg">
    <div class="full-width full-height bg-primary q-pa-md">

      <!-- Header -->
      <div class="row text-secondary full-width text-h6">
        Mes Personnages

        <q-space />

        <q-btn
          flat
          dense
          round
          icon="fa fa-plus"
          class="text-accent-hover text-grey-6"
          @click="characterDialog(null)"
        />
      </div>

      <!-- Body -->
      <q-no-ssr>
        <div class="column">
          <div
            v-for="server of servers"
            :key="'server' + server._id"
            class="column"
          >
            <div class="row full-width text-white q-mt-md text-h6">
              {{ server.name }}
            </div>

            <div class="q-pl-sm row full-width text-white">
                <div
                  v-for="(character) of characters.filter((e) => e.server._id === server._id)"
                  :key="server._id + 'character' + character._id"
                  class="q-ma-sm q-pa-sm bg-dark column items-center relative-position"
                >
                  <q-img
                    :src="character.breed.img"
                    style="width: 100px; height: 100px"
                  >
                    <q-tooltip content-class="bg-darker text-body2">
                      {{ character.breed.shortName }}
                    </q-tooltip>
                  </q-img>

                  <div class="row text-white text-body1 text-bold">
                    {{ character.name }}
                  </div>

                  <div class="row text-grey-6 q-ml-sm">
                    Niv.&nbsp;{{ character.level }}
                  </div>

                  <div class="absolute-top-right display-on-parent-hover">
                    <q-btn
                      round
                      flat
                      class="text-grey-6 text-accent-hover"
                      icon="fas fa-pencil-alt"
                      @click="characterDialog(character)"
                    >
                      <q-tooltip content-class="bg-darker text-body2">
                        Editer
                      </q-tooltip>
                    </q-btn>
                    <q-btn
                      round
                      flat
                      class="text-grey-6 text-accent-hover"
                      icon="fas fa-trash-alt"
                      @click="deleteCharacter(character)"
                    >
                      <q-tooltip content-class="bg-darker text-body2">
                        Supprimer
                      </q-tooltip>
                    </q-btn>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </q-no-ssr>
    </div>
  </q-page>
</template>

<script>
import CharacterFormDialog from 'components/Character/CharacterFormDialog';

export default {
  name: 'MyCharacters',
  data: () => ({
    servers: [],
  }),
  meta: {
    title: 'DofusDB - Personnages',
    meta: {
      description: {
        name: 'description',
        content: 'Votre page de personnages.',
      },
    },
  },
  computed: {
    characters: {
      get() {
        const res = this.$store.state.user.characters;
        return res ? JSON.parse(JSON.stringify(res)) : res;
      },
      set(value) {
        return this.$store.commit('user/setCharacters', value);
      },
    },
  },
  mounted() {
    if (!this.$store.state.user.user || !this.$store.state.user.user._id) {
      this.$router.push({ name: 'signin' });
      return;
    }
    this.characters = [];
    this.fetchCharacters();
  },
  methods: {
    characterDialog(character) {
      this.$q.dialog({
        component: CharacterFormDialog,
        character,
      }).onOk(() => {
        this.characters = [];
        this.fetchCharacters();
      });
    },
    async fetchCharacters(query) {
      query = query || {
        '$sort[server]': 1,
        user: this.$store.state.user.user._id,
        $skip: 0,
      };

      const response = (await this.$api.getCharacters(query)).data;

      this.characters = this.characters.concat(response.data);

      this.$nextTick(() => {
        if (response.total > this.characters.length) {
          query.$skip = this.characters.length;
          this.fetchCharacters(query);
        } else {
          this.characters.forEach((e) => {
            if (!this.servers.find((server) => server._id === e.server._id)) {
              this.servers.push(e.server);
            }
          });
        }
      });
    },
    deleteCharacter(character) {
      this.$q.dialog({
        dark: true,
        title: 'Confirmation',
        message: 'Etes-vous sûr de vouloir effectuer cette action ?',
        cancel: {
          label: 'Annuler',
          flat: true,
        },
      }).onOk(async () => {
        try {
          await this.$api.deleteCharacter(character._id);
          this.characters = [];
          this.fetchCharacters();
        } catch {
          this.$q.notify({
            position: 'top',
            message: 'Une erreur est survenue lors de la suppression.',
          });
        }
      });
    },
  },
};
</script>

<style scoped>

</style>
