<template>
  <q-page class="q-flex flex-center">
    <q-table
      dark
      flat
      title="Objects"
      :data="items"
      :columns="columns"
      :filter="filter"
      :pagination.sync="pagination"
      color="white"
      row-key="id"
      :loading="loading"
      @request="onRequest"
    >

      <template v-slot:body-cell-img="props">
        <q-td :props="props" class="q-pa-none q-ma-none">
          <q-img
            :src="props.value"
            spinner-color="secondary"
            style="height: 50px; width: 50px" />
        </q-td>
      </template>
    </q-table>
  </q-page>
</template>

<script>
export default {
  name: 'Encyclopedia',
  data: () => ({
    loading: true,
    pagination: {
      sortBy: 'name',
      descending: false,
      page: 1,
      rowsPerPage: 7,
      rowsNumber: 10,
    },
    filter: '',
    columns: [
      {
        name: 'img',
        label: '',
        align: 'left',
        field: 'img',
        sortable: false,
      },
      {
        name: 'name',
        required: true,
        label: 'Nom',
        align: 'left',
        field: 'name',
        sortable: true,
      },
      {
        name: 'type',
        label: 'Type',
        field: (row) => (row.type ? row.type.name : ''),
        sortable: false,
        align: 'left',
      },
      {
        name: 'level',
        label: 'Niv.',
        field: 'level',
        sortable: true,
        align: 'left',
      },
    ],
    items: [],
    skip: 0,
  }),
  async mounted() {
    await this.onRequest({
      pagination: this.pagination,
      filter: this.filter,
    });
  },
  methods: {
    async onRequest(props) {
      this.loading = true;

      // const filter = props.filter;
      const {
        page, rowsPerPage, sortBy, descending,
      } = props.pagination;

      const limit = rowsPerPage || this.pagination.rowsPerPage;
      const skip = (page - 1) * rowsPerPage;

      // TODO filter
      const query = {};

      if (sortBy) {
        query[`$sort[${sortBy}]`] = descending ? -1 : 1;
      }

      if (limit) {
        query.$limit = limit;
      }

      if (skip) {
        query.$skip = skip;
      }
      // fetch data
      const response = (await this.$api.getItems(query)).data;

      // clear out existing data and add new
      this.items.splice(
        0,
        this.items.length,
        ...(response.data),
      );

      this.pagination.page = page;
      this.pagination.rowsPerPage = rowsPerPage;
      this.pagination.rowsNumber = response.total;
      this.pagination.sortBy = sortBy;
      this.pagination.descending = descending;
      this.loading = false;
    },
  },
};
</script>

<style scoped>

</style>
