<template>
  <q-page class="flex q-pa-lg text-white column items-center">

    <div class="row full-width justify-center text-h1">
      Dofus<span class="text-secondary text-bold">DB</span>
    </div>

    <div class="row text-subtitle1 justify-center text-center">
      Bonjour et bienvenue sur DofusDB, ce site est actuellement en cours de développement.<br/>
    </div>

    <div class="row q-mt-md">
      <q-card class="q-ma-sm q-pa-md bg-primary column">
        <a href="https://discord.gg/GD7MPkF" target="_blank" class="decoration-none text-white">
          <img
            alt="Rejoignez nous sur discord"
            src="~assets/join-discord.png"
            class="join-discord-button cursor-pointer"
          >
        </a>

        Rejoignez nous sur Discord.
      </q-card>

      <last-added-items
        title="Derniers Objets"
        class="bg-primary q-ma-sm"
        style="min-width: 300px"
      />

      <last-added-quests
        title="Dernières Quêtes"
        class="bg-primary q-ma-sm"
        style="min-width: 400px"
      />

      <last-added-achievements
        title="Derniers Succès"
        class="bg-primary q-ma-sm"
        style="min-width: 400px"
      />

      <last-added-group-search
        title="Dernières Recherche de groupe"
        class="bg-primary q-ma-sm"
        style="min-width: 400px"
      />
    </div>

    <last-added-stuffs
      title="Derniers Stuffs créés"
      class="row full-width bg-primary q-ma-sm"
    />
  </q-page>
</template>

<script>
import LastAddedItems from 'components/Widget/LastAddedItems';
import LastAddedQuests from 'components/Widget/LastAddedQuests';
import LastAddedAchievements from 'components/Widget/LastAddedAchievements';
import LastAddedGroupSearch from 'components/Widget/LastAddedGroupSearch';
import LastAddedStuffs from 'components/Widget/LastAddedStuffs';

export default {
  name: 'PageIndex',
  components: {
    LastAddedStuffs,
    LastAddedGroupSearch,
    LastAddedAchievements,
    LastAddedQuests,
    LastAddedItems,
  },
  meta() {
    return {
      title: 'DofusDB - Accueil',
      meta: {
        description: {
          name: 'description',
          content: 'DofusDB recense tous les objets, quêtes, succès, donjons, etc, de l\'univers du jeu Dofus.\n'
            + 'Vous pourrez également accéder aux outils de recherche de portails, de chasse aux trésors, de recherche de groupe ainsi que d\'xp métier',
        },
      },
    };
  },
  mounted() {
    this.$store.commit('search/setLoadingCharacteristics', false);
  },
};
</script>

<style scoped>
.join-discord-button {
  width: 200px;
}
</style>
