<template>
  <q-page class="flex q-pa-lg text-white">

    <q-inner-loading color="accent" dark :showing="!!loading"/>

    <div
      v-if="achievement"
      class="full-width full-height bg-primary"
    >
      <div class="col">
        <div class="row items-start bg-darker q-pa-md">
          <q-img
            :src="achievement.img"
            class="achievement-img bg-success-img q-mr-md"
          />

          <div class="column">
            <div class="row items-end text-h5 text-secondary">
              {{ achievement.name }}
              <span class="text-body2 text-grey-6 q-ml-md">
                Niv.&nbsp;{{ achievement.level }}
              </span>
            </div>

            <router-link
              class="text-body2 text-grey-6 decoration-none text-accent-hover text-bold"
              :to="{ name: 'achievementsByCategory', params: { id: achievement.category.id } }"
            >
              {{ achievement.category.name }}
            </router-link>

            <div class="text-body2">
              {{ achievement.description }}
            </div>
          </div>

          <q-space />

          <div class="self-center bg-black text-white q-py-sm q-px-lg q-ml-md text-bold">
            {{ achievement.points }}
          </div>
        </div>

        <q-separator color="accent" />

        <div class="q-pa-md">
          <template v-if="achievement.objectives && achievement.objectives.length">
            <div class="text-secondary text-bold text-h6">
              Objectifs
            </div>

            <achievement-objectives
              :achievement="achievement"
              class="q-ml-md"
            />
          </template>

          <template v-if="achievement.rewards && achievement.rewards.length">
            <div class="q-mt-md text-secondary text-bold text-h6">
              Récompenses
            </div>

            <achievement-reward
              class="q-ml-sm"
              :achievement="achievement"
            />
          </template>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import AchievementObjectives from 'components/Achievement/AchievementObjectives';
import AchievementReward from 'components/Achievement/AchievementReward';

export default {
  name: 'Achievement',
  components: {
    AchievementReward,
    AchievementObjectives,
  },
  meta() {
    return {
      title: this.achievement
        ? `DofusDB - ${this.achievement.name}`
        : `DofusDB - Succès n°${this.$route.params.id}`,
      meta: {
        description: {
          name: 'description',
          content: this.achievement
            ? `${this.achievement.name} ${this.achievement.description}`
            : '',
        },
      },
    };
  },
  data: () => ({
    achievement: null,
    loading: 0,
  }),
  watch: {
    // eslint-disable-next-line
    '$route.params.id': function () {
      this.fetchAchievement();
    },
  },
  mounted() {
    this.fetchAchievement();
  },
  methods: {
    async fetchAchievement() {
      this.loading += 1;

      this.achievement = (await this.$api.getAchievement(this.$route.params.id)).data;

      this.loading -= 1;
    },
  },
};
</script>

<style scoped lang="stylus">
.achievement-img
  width 100px
  height 100px

</style>
