<template>
  <q-page class="flex q-pa-lg text-white" :style-fn="styleFn">
    <div v-if="category" class="column full-width full-height bg-darker q-pt-md">

      <!-- Header -->
      <div class="row text-white full-width q-pl-md">
        <div class="text-h5 text-secondary items-end">
          {{ category.name }}
          <span class="text-body2 text-grey-6">
            ({{ total }} succès)
          </span>
        </div>

        <q-space />

        <div class="self-center bg-black text-white q-py-sm q-px-lg q-mr-md text-bold">
          {{ total_pts }}
          <q-tooltip
            anchor="top middle"
            self="bottom middle"
            content-class="bg-black text-white text-body2"
          >
            {{ total_pts }} points de succès obtenable dans cette catégorie.
          </q-tooltip>
        </div>
      </div>

      <q-linear-progress
        v-if="loading > 0"
        indeterminate
        size="2px"
        rounded
        color="accent"
        class="q-mt-sm"
      />

      <achievement-book
        class="q-mt-md row bg-primary col"
        :achievements="achievements"
      />

    </div>
  </q-page>
</template>

<script>
import AchievementBook from 'components/Achievement/AchievementBook';

export default {
  name: 'AchievementPerCategory',
  components: {
    AchievementBook,
  },
  meta() {
    return {
      title: this.category
        ? `DofusDB - ${this.category.name}`
        : `DofusDB - Succès Categorie n°${this.$route.params.id}`,
      meta: {
        decsription: {
          name: 'description',
          content: this.category
            ? `Succès de la catégorie ${this.category.name}`
            : '',
        },
      },
    };
  },
  data: () => ({
    category: null,
    achievements: [],
    total: 0,
    selected: null,
    loading: false,
    filter: '',
  }),
  computed: {
    total_pts() {
      let pts = 0;
      this.achievements.forEach((e) => {
        pts += e.points;
      });

      return pts;
    },
  },
  watch: {
    // eslint-disable-next-line
    '$route.params.id': function () {
      this.onMount();
    },
  },
  mounted() {
    this.onMount();
  },
  methods: {
    async onMount() {
      this.category = null;
      this.selected = null;
      this.total = 0;
      this.achievements = [];

      this.category = this.getCachedCategory();
      if (!this.category) {
        await this.fetchCategory();
      }

      await this.fetchAchievements();
    },
    styleFn(offset, height) {
      const pageheight = height - offset;
      return `height: ${pageheight}px`;
    },
    changeSelected(achievement) {
      if (this.selected && this.selected.id === achievement.id) {
        this.selected = null;
      } else {
        this.selected = achievement;
      }
    },
    getCachedCategory() {
      if (!this.$store.state.achievement.categories
        || !this.$store.state.achievement.categories.length) {
        return null;
      }
      return this.$store.state.achievement.categories.find(
        (e) => e.id === this.$route.params.id,
      );
    },
    async fetchCategory() {
      this.loading += 1;
      this.category = (await this.$api
        .getAchievementCategory(this.$route.params.id)).data;
      this.loading -= 1;
    },
    async fetchAchievements(skip) {
      this.loading += 1;
      skip = skip || 0;

      const response = (await this.$api.getAchievements({
        $skip: skip,
        $limit: 10,
        categoryId: this.category.id,
        $sort: 'order',
      })).data;

      this.achievements = this.achievements.concat(response.data);

      if (!this.selected) {
        [this.selected] = this.achievements;
      }

      this.loading -= 1;
      this.total = response.total;
      if (skip + response.data.length < this.total) {
        await this.fetchAchievements(skip + response.data.length);
      }
    },
  },
};
</script>

<style scoped>

</style>
