<template>
  <div
    class="row items-center q-pl-sm"
  >
    <!-- :class="{ 'text-red': instance.from < 0 || instance.to < 0 }" -->
    <span
      v-if="(elem && $api.characteristics_icon[elem])
        || (instance.effect && instance.effect.characteristic
         && $api.characteristics_icon[instance.effect.characteristic])"
      class="q-mr-sm"
    >
      <q-icon
        :name="$api.characteristics_icon[elem]
         || $api.characteristics_icon[instance.effect.characteristic]"
        size="22px"
      />
    </span>

    <template v-if="description">
      {{ description }}
    </template>

    <template v-if="instance.duration === -1">
      (infini)
    </template>
    <template v-else-if="instance.duration === 1">
      (1 tour)
    </template>
    <template v-else-if="instance.duration > 1">
      ({{ instance.duration }} tours)
    </template>

    <span v-if="theoretical && instance.params" class="text-grey-6 q-ml-md">
      [ {{ this.instance.effect.operator === '-' ? '-' : '' }}{{ this.instance.params[0] }}
      <template v-if="this.instance.params[1]">
         à {{ this.instance.effect.operator === '-' ? '-' : '' }}{{ this.instance.params[1] }}
      </template>]
    </span>
  </div>
</template>

<script>
import { decodeDescription } from 'src/utils/patternDecoder';
import { calculHeal, calculDamages } from 'src/utils/calculDamages';
import elements from 'src/enums/elements';

export default {
  name: 'EffectInstanceDice',
  props: {
    value: {
      type: Number,
    },
    theoretical: {
      type: Boolean,
      default: false,
    },
    instance: {
      type: Object,
      required: true,
    },
    characteristics: Object,
    calculDamage: {
      type: Boolean,
      default: false,
    },
    crit: Boolean,
    bonus: {
      type: Number,
      default: 0,
    },
    finalDamagePercent: {
      type: Number,
      default: 0,
    },
    level: {
      type: Number,
      default: 200,
    },
  },
  data: () => ({
    elem: 0,
    description: '',
  }),
  async mounted() {
    this.bonus = this.bonus || 0;
    await this.setParams();
  },
  watch: {
    async calculDamage() {
      await this.setParams();
    },
    characteristics: {
      async handler() {
        await this.setParams();
      },
      deep: true,
    },
    async finalDamagePercent() {
      await this.setParams();
    },
    async value() {
      await this.setParams();
    },
  },
  methods: {
    calculDamages(range, elem, characteristics, crit, finalDamagePercent) {
      if (this.calculDamage) {
        return calculDamages(
          range,
          elem,
          characteristics,
          crit,
          finalDamagePercent,
        );
      }

      return range;
    },
    decodeDescription,
    async setParams() {
      if (!this.instance.params) {
        this.instance.params = [];
      }
      this.elem = 0;

      if (this.instance.effectId && !this.instance.effect) {
        this.instance.effect = (await this.$api.getEffect(this.instance.effectId, {
          $select: ['id', 'elementId', 'characteristic', 'description'],
        })).data;
      }

      switch (this.instance.effectId) {
        case 91: // vol eau
        case 96: // dgt eau
        case 1014: // dgt eau en fonction des pm utilisé
          this.instance.params = this.calculDamages(
            [
              this.instance.diceNum + this.bonus,
              this.instance.diceSide + this.bonus,
            ],
            this.instance.effect.elementId,
            this.characteristics,
            this.crit,
            this.finalDamagePercent,
          );
          this.elem = this.$api.characteristics_id.chance;
          break;
        case 92: // Vol terre
        case 97: // Dgt terre
          this.instance.params = this.calculDamages(
            [
              this.instance.diceNum + this.bonus,
              this.instance.diceSide + this.bonus,
            ],
            this.instance.effect.elementId,
            this.characteristics,
            this.crit,
            this.finalDamagePercent,
          );
          this.elem = this.$api.characteristics_id.force;
          break;
        case 93: // Vol air
        case 98: // dgt air
        case 1013: // dgt air en fonction des pm utilisé
          this.instance.params = this.calculDamages(
            [
              this.instance.diceNum + this.bonus,
              this.instance.diceSide + this.bonus,
            ],
            this.instance.effect.elementId,
            this.characteristics,
            this.crit,
            this.finalDamagePercent,
          );
          this.elem = this.$api.characteristics_id.agilite;
          break;
        case 94: // vol feu
        case 99: // dgt feu
          this.instance.params = this.calculDamages(
            [
              this.instance.diceNum + this.bonus,
              this.instance.diceSide + this.bonus,
            ],
            this.instance.effect.elementId,
            this.characteristics,
            this.crit,
            this.finalDamagePercent,
          );
          this.elem = this.$api.characteristics_id.intelligence;
          break;
        case 100: // dgt neutre
          this.instance.params = this.calculDamages(
            [
              this.instance.diceNum + this.bonus,
              this.instance.diceSide + this.bonus,
            ],
            this.instance.effect.elementId,
            this.characteristics,
            this.crit,
            this.finalDamagePercent,
          );
          this.elem = this.$api.characteristics_id['dommages-neutre'];
          break;
        case 108: // PV rendu
          this.instance.params = [
            this.instance.diceNum + this.bonus,
            this.instance.diceSide + this.bonus,
          ];
          if (this.calculDamage) {
            calculHeal(
              this.instance.params,
              this.instance.effect.elementId,
              this.characteristics,
            );
          }
          this.elem = this.$api.characteristics_id.soins;
          break;
        case 2822:
          this.instance.params[0] = this.instance.diceNum;
          this.instance.params[1] = this.instance.diceSide;
          this.instance.params[2] = this.instance.value;
          if (this.characteristics && this.calculDamage) {
            const air = this.characteristics[this.$api.characteristics_id['dommages-air']];
            const eau = this.characteristics[this.$api.characteristics_id['dommages-eau']];
            const feu = this.characteristics[this.$api.characteristics_id['dommages-feu']];
            const terre = this.characteristics[this.$api.characteristics_id['dommages-terre']];
            const neutre = this.characteristics[this.$api.characteristics_id['dommages-neutre']];

            if (air >= eau && air >= feu && air >= terre) {
              this.elem = this.$api.characteristics_id.agilite;
              this.instance.params = this.calculDamages(
                [
                  this.instance.diceNum + this.bonus,
                  this.instance.diceSide + this.bonus,
                ],
                elements.AIR,
                this.characteristics,
                this.crit,
                this.finalDamagePercent,
              );
            } else if (eau >= feu && eau >= terre && eau >= air) {
              this.elem = this.$api.characteristics_id.chance;
              this.instance.params = this.calculDamages(
                [
                  this.instance.diceNum + this.bonus,
                  this.instance.diceSide + this.bonus,
                ],
                elements.EAU,
                this.characteristics,
                this.crit,
                this.finalDamagePercent,
              );
            } else if (feu >= eau && feu >= terre && feu >= air) {
              this.elem = this.$api.characteristics_id.intelligence;
              this.instance.params = this.calculDamages(
                [
                  this.instance.diceNum + this.bonus,
                  this.instance.diceSide + this.bonus,
                ],
                elements.INTELLIGENCE,
                this.characteristics,
                this.crit,
                this.finalDamagePercent,
              );
            } else if (terre >= feu && terre >= air && terre >= eau) {
              this.elem = this.$api.characteristics_id.force;
              this.instance.params = this.calculDamages(
                [
                  this.instance.diceNum + this.bonus,
                  this.instance.diceSide + this.bonus,
                ],
                elements.TERRE,
                this.characteristics,
                this.crit,
                this.finalDamagePercent,
              );
            } else if (neutre >= terre && neutre >= feu && neutre >= air && neutre >= eau) {
              this.elem = this.$api.characteristics_id['dommages-neutre'];
              this.instance.params = this.calculDamages(
                [
                  this.instance.diceNum + this.bonus,
                  this.instance.diceSide + this.bonus,
                ],
                elements.NEUTRE,
                this.characteristics,
                this.crit,
                this.finalDamagePercent,
              );
            }
          }
          break;
        case 2794:
        case 282:
        case 283:
        case 288:
        case 289:
        case 291:
        case 293:
        case 792:
        case 793:
        case 1017:
        case 1160:
          if (!this.instance.params[0]) {
            this.instance.params[0] = (await this.$api.getSpell(this.instance.diceNum, {
              $select: ['id', 'name'],
            })).data.name;
          }
          break;
        case 281:
        case 285:
        case 286:
        case 287:
        case 290:
          if (!this.instance.params[0]) {
            this.instance.params[0] = (await this.$api.getSpell(this.instance.diceNum, {
              $select: ['id', 'name'],
            })).data.name;
          }
          this.instance.params[2] = this.instance.value;
          break;
        case 983: // Lié au compte ... jours à la création
          if (this.instance.value === 0) {
            this.instance.params[0] = 'Jamais';
          } else {
            this.instance.params[0] = `Dans ${this.instance.value} Jours`;
          }
          break;
        case 181:
        case 1011:
          if (!this.instance.params[0]) {
            this.instance.params[0] = (await this.$api.getMonster(this.instance.diceNum, {
              $select: ['id', 'name'],
            })).data.name;
          }
          break;
        case 1175:
          if (!this.instance.params[0]) {
            this.instance.params[0] = (await this.$api.getSpell(this.instance.diceNum, {
              $select: ['id', 'description'],
            })).data.description;
          }
          break;
        case 1179:
          if (!this.instance.params[2]) {
            this.instance.params[0] = (await this.$api.getItemType(this.instance.value, {
              $select: ['id', 'name'],
            })).data.name;
          }
          break;
        case 950:
        case 951:
          if (!this.instance.params[2]) {
            this.instance.params[2] = (await this.$api.getSpellState(this.instance.value, {
              $select: ['id', 'name'],
            })).data.name;
          }
          break;
        default:
          this.instance.params[0] = this.instance.diceNum;
          this.instance.params[1] = this.instance.diceSide;
          this.instance.params[2] = this.instance.value;
          break;
      }
      this.instance.params = [...this.instance.params];

      let encodedDescription = this.instance.effect.description;
      let changeSign = false;
      if (this.instance.effect.operator === '-' && this.value >= 0) {
        if (!this.instance.effect.opposite) {
          this.instance.effect.opposite = (await this.$api
            .getEffect(this.instance.effect.oppositeId, {
              $select: ['description'],
            })).data;
        }

        encodedDescription = this.instance.effect.opposite.description;
      } else if (this.instance.effect.operator === '-') {
        changeSign = true;
      }

      if (this.value || this.value === 0) {
        this.description = this.decodeDescription(encodedDescription,
          [changeSign ? this.value * -1 : this.value]);
      } else {
        this.description = this.decodeDescription(encodedDescription,
          this.instance.params);
      }

      // Ajout du calcul Dopou
      if (this.instance.effectId === 5) {
        this.elem = this.$api.characteristics_id['dommages-poussee'];
        const dopouBonus = (this.calculDamage && this.characteristics)
          ? this.characteristics[this.$api.characteristics_id['dommages-poussee']]
          : 0;

        const dopou1 = Math.floor(((this.level / 2) + dopouBonus + 32) / 4);
        const dopoumax = dopou1 * this.instance.diceNum;

        if (dopou1 !== dopoumax) {
          this.description = `${dopou1} à ${dopoumax} ${this.description}`;
        } else {
          this.description = `${dopou1} ${this.description}`;
        }
      }
    },
  },
};
</script>

<style scoped>

</style>
