<template>
  <div
    class="row text-white items-center q-ml-md q-mt-xs"
    :class="{ 'text-red': readableEffect.from < 0 || readableEffect.to < 0 }"
  >
    <q-item-label>
      <span
        v-if="readableEffect.characteristic
         && $api.characteristics_icon[readableEffect.characteristic]"
        class="q-mr-sm"
      >
        <q-icon
          :name="$api.characteristics_icon[readableEffect.characteristic]"
          size="22px"
        />
      </span>

      {{ readableEffect.text }}
      <template v-if="readableEffect.duration === -1">
        (infini)
      </template>
      <template v-else-if="readableEffect.duration === 1">
        (1 tour)
      </template>
      <template v-else-if="readableEffect.duration > 1">
        ({{ readableEffect.duration }} tours)
      </template>
    </q-item-label>
  </div>
</template>

<script>
export default {
  name: 'Effect',
  props: {
    readableEffect: Object,
  },
};
</script>

<style scoped>

</style>
