<template>
  <q-table
    dark
    wrap-cells
    flat
    row-key="id"
    color="white"
    rows-per-page-label="Objets par page"
    no-results-label="Aucun résultats"
    no-data-label="Aucun Objets"
    loading-label="Chargement..."
    :data="items"
    :columns="columns"
    :filter="filter"
    :pagination.sync="pagination"
    :loading="loading"
    :rows-per-page-options="rowsPerPageOptions"
    :pagination-label="getPaginationLabel"
    @request="onRequest"
    @row-click="onClickOnItem"
  >
    <template v-slot:body-cell-img="props">
      <q-td :props="props" class="q-pa-none q-ma-none">
        <q-img
          :src="props.value"
          spinner-color="secondary"
          style="height: 50px; width: 50px" />
      </q-td>
    </template>
  </q-table>
</template>

<script>
import { debounce } from 'quasar';

export default {
  name: 'ObjectsTable',
  props: {
    query: {
      required: false,
      type: Object,
    },
    value: {
      type: Array,
      required: true,
    },
    filter: String,
  },
  data: () => ({
    loading: true,
    pagination: {
      sortBy: 'name',
      descending: false,
      page: 1,
      rowsPerPage: 7,
      rowsNumber: 10,
    },
    columns: [
      {
        name: 'img',
        label: '',
        align: 'left',
        field: 'img',
        sortable: false,
      },
      {
        name: 'name',
        required: true,
        label: 'Nom',
        align: 'left',
        field: 'name',
        sortable: true,
      },
      {
        name: 'type',
        label: 'Type',
        field: (row) => (row.type ? row.type.name : ''),
        sortable: false,
        align: 'left',
      },
      {
        name: 'level',
        label: 'Niv.',
        field: 'level',
        sortable: true,
        align: 'left',
      },
    ],
    skip: 0,
    rowsPerPageOptions: [1, 5, 7, 10, 20, 30, 40, 50],
  }),
  watch: {
    filter() {
      this.onRequest({
        pagination: this.pagination,
        filter: this.filter,
      });
    },
  },
  mounted() {
    this.onRequest = debounce(this.onRequest, 300);
    this.onRequest({
      pagination: this.pagination,
      filter: this.filter,
    });
  },
  computed: {
    items: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      },
    },
  },
  methods: {
    onClickOnItem(e, row) {
      this.$router.push({ name: 'object', params: { id: row.id } });
    },
    getPaginationLabel(first, end, total) {
      return `${first}-${end} sur ${total}`;
    },
    async onRequest(props) {
      this.loading = true;

      // const filter = props.filter;
      const {
        page, rowsPerPage, sortBy, descending,
      } = props.pagination;

      const query = this.query || {};
      query.$skip = (page - 1) * rowsPerPage;
      query.$limit = rowsPerPage || 50;

      if (this.filter) {
        query['name[$search]'] = this.filter;
      }

      if (sortBy) {
        query[`$sort[${sortBy}]`] = descending ? -1 : 1;
      }
      // fetch data
      const response = (await this.$api.getItems(query)).data;

      // clear out existing data and add new
      this.items.splice(
        0,
        this.items.length,
        ...(response.data),
      );

      this.pagination.page = page;
      this.pagination.rowsPerPage = rowsPerPage || 50;
      this.pagination.rowsNumber = response.total;
      this.pagination.sortBy = sortBy;
      this.pagination.descending = descending;
      this.loading = false;
    },
  },
};
</script>

<style scoped>

</style>
