// app global css in Stylus form
$grey-15 = #2A2A2A
$darker  = #272727

body {
  background: $dark;
}

.display-on-parent-hover {
  visibility hidden
}

div:hover > .display-on-parent-hover {
  visibility visible
}

.text-shadow-2 {
  text-shadow: -1px 0 2px #272727, 0 2px 2px #272727, 1px 0 2px #272727, 0 -1px 2px #272727;
}

.mansory {
  display: grid;
  grid-gap: 2em; /* [1] Add some gap between rows and columns */
  column-count 3
}

.decoration-none
  text-decoration none

.text-white-hover:hover
  color: white !important

.text-accent-hover:hover
  color: $accent !important

.text-secondary-hover:hover
  color: $secondary !important

.bg-grey-8-hover:hover
  background-color $grey-8

.bg-grey-9-hover:hover
  background-color $grey-9

.bg-grey-10-hover:hover
  background-color $grey-10

.bg-grey-11-hover:hover
  background-color $grey-11

.bg-primary-hover:hover
  background-color $primary !important

.bg-dark-hover:hover
  background-color $dark !important

.bg-darker-hover:hover
  background-color $darker !important

.bg-contain
  background-size: contain !important

.bg-cover
  background-size: cover !important

.bg-center
  background-position: center !important

.bg-no-nepeat
  background-repeat no-repeat !important

.bg-item-stuff
  background-color $grey-9
  border 2px solid $grey-8
  border-radius 5px

.bg-item-stuff:hover
  background-color $primary
  border 2px solid $secondary

.bg-success-img
  background-size: cover
  background-position: 50% 50%
  background-image: url("../assets/border_succes.png")
  background-repeat: no-repeat

.bg-pv
  background-size contain
  background-position 50% 50%
  background-image url("../assets/icons/icon_pv.png")
  background-repeat no-repeat

.bg-pa
  background-size contain
  background-position 50% 50%
  background-image url("../assets/icons/icon_pa.png")
  background-repeat no-repeat

.bg-pm
  background-size contain
  background-position 50% 50%
  background-image url("../assets/icons/icon_pm.png")
  background-repeat no-repeat

.sticky
  position: -webkit-sticky;
  position: sticky;

.border
  border 1px solid !important

.border-2
  border-width: 2px !important;

.border-green
  border 1px $green solid !important

.border-darker
  border 1px $darker solid !important

.border-accent
  border: 1px $accent solid !important

.border-accent-hover:hover
  border: 1px $accent solid !important

.border-r-accent
  border-right: 1px $accent solid

.border-l-accent
  border-left: 1px $accent solid

.border-b-accent
  border-bottom: 1px $accent solid

.border-t-accent
  border-top: 1px $accent solid

.bg-darker
  background: $darker

.text-darker
  color: $darker

.bg-grey-15
  background: $grey-15

.hover-visible {
  opacity: 0;
  display none;
}


// Hover
.q-btn {
  .q-icon {
    &[class*="hover-"] {
      // transition-timing-function taken from .q-focus-helper
      transition: opacity 0.3s cubic-bezier(0.25,0.8,0.5,1);
    }
  }

  &:hover {
    .hover-visible {
      opacity: 1 !important;
      display inline !important
    }
    .hover-invisible {
      opacity: 0;
      display none;
    }
  }
}

// Icon of stats
.stat {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: no-repeat center/auto url("../assets/sprite.png");
  vertical-align: middle;
}
.stat.stat-sm {
  width: 12px;
  height: 12px;
  background: no-repeat url("../assets/sprite.png");
  background-size: 600%;
}
.stat.stat-sm.stat-critique {
  background-position: -54px -337px;
}
.stat.stat-pa {
  background-position: -97px -243px;
}
.stat.stat-pa {
  background-position: -97px -243px;
}
.stat.stat-pm {
  background-position: -97px -52px;
}
.stat.stat-portee {
  background-position: -97px -128px;
}
.stat.stat-invocations, .stat.stat-invo {
  background-position: -97px -507px;
}
.stat.stat-initiative, .stat.stat-ini {
  background-position: -97px -205px;
}
.stat.stat-critique, .stat.stat-cri {
  background-position: -97px -589px;
}
.stat.stat-soins, .stat.stat-soin {
  background-position: -97px -966px;
}
.stat.stat-prospection {
  background-position: -97px -279px;
}
.stat.stat-vitalite, .stat.stat-soin-pourcentage, .stat.stat-pv {
  background-position: -97px -319px;
}
.stat.stat-sagesse {
  background-position: -97px -358px;
}
.stat.stat-esquive-pa {
  background-position: -97px -1064px;
}
.stat.stat-retrait-pa {
  background-position: -97px -1297px;
}
.stat.stat-esquive-pm {
  background-position: -97px -1016px;
}
.stat.stat-retrait-pm {
  background-position: -97px -1340px;
}
.stat.stat-fuite {
  background-position: -97px -468px;
}
.stat.stat-tacle {
  background-position: -97px -545px;
}
.stat.stat-renvoi {
  display: inline-block;
  background-position: -97px -791px;
}
.stat.stat-dommages {
  background-position: -97px -1156px;
}
.stat.stat-dommages-pieges {
  background-position: -97px -712px;
}
.stat.stat-puissance-pieges {
  background-position: -97px -673px;
}
.stat.stat-neutre, .stat.stat-vol-neutre, .stat.stat-poison-neutre, .stat.stat-glyphe-neutre, .stat.stat-dommages-neutre, .stat.stat-resistance-neutre, .stat.stat-dommages-vitalite, .stat.stat-resistance-p-neutre {
  background-position: -97px -15px;
}
.stat.stat-force, .stat.stat-vol-terre, .stat.stat-poison-terre, .stat.stat-glyphe-terre, .stat.stat-dommages-terre, .stat.stat-resistance-terre, .stat.stat-resistance-p-terre {
  background-position: -97px -432px;
}
.stat.stat-intelligence, .stat.stat-vol-feu, .stat.stat-poison-feu, .stat.stat-glyphe-feu, .stat.stat-dommages-feu, .stat.stat-resistance-feu, .stat.stat-resistance-p-feu {
  background-position: -97px -394px;
}
.stat.stat-chance, .stat.stat-vol-eau, .stat.stat-poison-eau, .stat.stat-glyphe-eau, .stat.stat-dommages-eau, .stat.stat-resistance-eau, .stat.stat-dommages-soin-eau, .stat.stat-resistance-p-eau {
  background-position: -97px -89px;
}
.stat.stat-agilite, .stat.stat-vol-air, .stat.stat-poison-air, .stat.stat-glyphe-air, .stat.stat-dommages-air, .stat.stat-resistance-air, .stat.stat-resistance-p-air {
  background-position: -97px -167px;
}
.stat.stat-puissance {
  background-position: -97px -1108px;
}
.stat.stat-dommages-distance {
  background-image: url("../assets/icons/doranged.png");
  background-size: contain;
}

.stat.stat-sm.stat-resistance-melee {
  background-position: -56px -360px;
}
.stat.stat-resistance-distance, .stat.stat-resistance-p-distance {
  background-image url("../assets/icons/doranged.png"), url("../assets/icons/icon_inventory_shield.png")
  background-position left top, left top
  background-size contain, contain
  background-repeat no-repeat, no-repeat
}
.stat.stat-dommages-melee {
  background-position: -97px -629px;
}
.bg-shield
  background-image url("../assets/icons/icon_inventory_shield.png")
  background-repeat no-repeat
  background-position center
  background-size contain

.stat.stat-resistance-melee, .stat.stat-resistance-p-melee {
  background-image url("../assets/sprite.png"), url("../assets/icons/icon_inventory_shield.png")
  background-position -97px -629px, left top
  background-size auto, contain
  background-repeat no-repeat
}
.stat.stat-dommages-sorts {
  background-image: url("../assets/icons/dospells.png");
  background-size: contain;
}
.stat.stat-dommages-armes {
  background-image: url("../assets/icons/doweapon.png");
  background-size: contain;
}
.stat.stat-dommages-critiques {
  background-position: -97px -1248px;
}
.stat.stat-resistance-critiques {
  background-position: -97px -1200px;
}
.stat.stat-dommages-poussee {
  background-position: -97px -872px;
}
.stat.stat-resistance-poussee {
  background-position: -97px -832px;
}
.stat.stat-pods {
  background-position: -97px -1478px;
}
