<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card dark class="q-dialog-plugin" style="width: 700px; max-width: 80vw;">
      <q-bar>
        <div>{{ portal ? 'Mise à jour' : 'Création' }}
          d'un portal ({{ dimension.name }})</div>

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <div class="column q-mt-md">
        <div class="row q-mt-sm justify-center">
          <q-checkbox
            v-model="position.canopy"
            label="Village de la Canopée"
            color="accent"
            class="q-mx-sm"
          />
          <q-checkbox
            v-model="position.unknown"
            label="Position inconnue"
            color="accent"
            class="q-mx-sm"
          />
        </div>

        <div
          v-if="!position.unknown"
          class="row q-mt-sm justify-center items-center text-h6"
        >
          Position:&nbsp;
          <q-input
            ref="posX"
            v-model.number="position.x"
            dark
            filled
            label="X"
            type="number"
            class="q-mx-sm text-h6 col-3"
            label-color="accent"
            hide-bottom-space
            :rules="[val => (!!val || val === 0) || 'Champ nécessaire']"
          />
          <span class="text-h4">;</span>
          <q-input
            ref="posY"
            v-model.number="position.y"
            dark
            filled
            label="Y"
            type="number"
            class="q-mx-sm text-h6 col-3"
            label-color="accent"
            hide-bottom-space
            :rules="[val => (!!val || val === 0) || 'Champ nécessaire']"
          />
        </div>

        <div
          v-if="!position.unknown"
          class="row justify-center q-mt-md text-h6 items-center"
        >
          Utilisations restantes:&nbsp;
          <q-input
            ref="remainingUses"
            v-model.number="remaining_uses"
            dark
            filled
            type="number"
            class="q-mx-sm text-h6 col-3"
            label-color="accent"
            hide-bottom-space
            :rules="[val => (!!val) || 'Champ nécessaire']"
          />
        </div>
      </div>

      <!-- buttons example -->
      <q-card-actions align="right" class="q-mt-md">
        <q-btn color="secondary" label="Valider" @click="onOKClick" />
        <q-btn color="primary" label="Annuler" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    dimension: {
      type: Object,
      required: true,
    },
    server: {
      type: Object,
      required: true,
    },
    portal: {
      type: Object,
      required: false,
    },
  },
  data() {
    return {
      position: this.portal ? { ...this.portal.position } : {
        x: 0,
        y: 0,
        canopy: false,
        unknown: false,
      },
      remaining_uses: this.portal ? this.portal.remaining_uses : 120,
    };
  },
  methods: {
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    async onOKClick() {
      if (this.isSamePosition()) {
        if (this.remaining_uses !== this.portal.remaining_uses) {
          await this.$api.patchPortal(this.portal._id, {
            remaining_uses: this.remaining_uses,
          });
        }
      } else {
        await this.$api.createPortal({
          position: this.position,
          remaining_uses: this.remaining_uses,
          server: this.server._id,
          dimension: this.dimension._id,
        });
      }
      this.$emit('ok');
      this.hide();
    },
    onCancelClick() {
      this.hide();
    },
    isSamePosition() {
      return (this.portal && this.portal.position
        && this.portal.position.x === this.position.x
        && this.portal.position.y === this.position.y);
    },
  },
};
</script>
