<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card dark class="q-dialog-plugin" style="width: 700px; max-width: 80vw;">
      <q-bar>
        <div>Historique des portails de {{ dimension.name }}</div>

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <div class="column q-mt-md">
        <q-spinner v-if="loading" color="accent" />

        <div
          v-for="(portal) of portals"
          :key="'portalhistory' + portal._id"
          class="row q-mt-sm items-center q-px-md full-width"
        >
          <div
            v-if="portal.position.unknown"
            :key="portal ? portal._id : dimension._id + 'none'"
            class="text-uppercase text-body1 text-red text-bold col"
          >
            Position Inconnue
          </div>

          <div
            v-else
            class="row text-body1 text-bold col"
          >
            <span v-if="portal.position.canopy">
              Canopé&nbsp;
            </span>
            <position
              v-if="portal && !portal.position.unknown"
              :x="portal.position.x"
              :y="portal.position.y"
              travel
            />
          </div>

          <div class="q-ml-lg">
            score:&nbsp;
            {{ portal.score }}
            <q-tooltip content-class="bg-darker text-body2">
              Score de certitude
            </q-tooltip>
          </div>

          <div class="col" />

          <user-tag
            v-if="portal && portal.owner"
            :user="portal.owner"
            :role_color="false"
            class="text-bold text-body1 q-ml-lg q-mr-sm"
            color="grey-6"
          />

          <div class="text-grey-6">
            {{ dateAgoString(portal.updatedAt) }}
          </div>
        </div>
      </div>

      <!-- buttons example -->
      <q-card-actions align="right" class="q-mt-md">
        <q-btn color="secondary" label="OK" @click="onOKClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import Position from 'components/Common/Position';
import UserTag from 'components/Common/UserTag';
import { dateAgoString } from 'src/utils';

export default {
  components: {
    UserTag,
    Position,
  },
  props: {
    dimension: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      portals: [],
      loading: false,
    };
  },
  async mounted() {
    this.loading = true;
    this.portals = (await this.$api.getPortals({
      dimension: this.dimension._id,
      '$sort[updatedAt]': -1,
      server: this.server._id,
    })).data.data;
    this.loading = false;
  },
  methods: {
    dateAgoString,
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    async onOKClick() {
      if (this.isSamePosition()) {
        if (this.remaining_uses !== this.portal.remaining_uses) {
          await this.$api.patchPortal(this.portal._id, {
            remaining_uses: this.remaining_uses,
          });
        }
      } else {
        await this.$api.createPortal({
          position: this.position,
          remaining_uses: this.remaining_uses,
          server: this.server._id,
          dimension: this.dimension._id,
        });
      }
      this.$emit('ok');
      this.hide();
    },
    onCancelClick() {
      this.hide();
    },
    isSamePosition() {
      return (this.portal && this.portal.position
        && this.portal.position.x === this.position.x
        && this.portal.position.y === this.position.y);
    },
  },
};
</script>
