<template>
  <div class="row">
    <div class="col-12 col-sm-4 col-lg-3 bg-grey-15 column">
      <div class="full-width bg-black">
        <q-input
          v-model="filter"
          class="q-px-md"
          flat
          dark
          dense
          borderless
          placeholder="Recherche"
        >
          <template v-slot:append>
            <q-icon
              name="search"
            />
          </template>
        </q-input>
      </div>

      <q-scroll-area
        class="col"
      >
        <div
          v-if="filteredQuests.length === 0"
          class="row full-width justify-center text-grey-6"
        >
          Aucune quête
        </div>

        <template v-if="sortByCategory">
          <div
            v-for="category of filteredCategories"
            :key="'category' + category.id"
          >
            <div
              class="q-pa-sm text-body2 text-bold bg-grey-10 row cursor-pointer bg-grey-11-hover
             q-mt-xs"
              @click="toggleExpandCateogry(category)"
            >
              {{ category.name }}

              <q-space />

              <q-icon
                :name="isExpanded(category) ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
                class="cursor q-mr-md"
              />
            </div>

            <template
              v-if="isExpanded(category)"
            >
              <div
                v-for="(quest, index) of filteredQuests
                .filter((e) => e.categoryId === category.id)"
                :key="'category' + category.id + 'quest' + quest.id + 'i' + index"
                :class="{ selected: selected === quest }"
                @click="selectQuest(quest)"
              >
                <quest-list-item :quest="quest" />
              </div>
            </template>
          </div>
        </template>

        <template v-else>
          <div
            v-for="(quest, index) of filteredQuests"
            :key="'quest' + quest.id + 'i' + index"
            :class="{ selected: selected === quest }"
            @click="selectQuest(quest)"
          >
            <quest-list-item :quest="quest" />
          </div>
        </template>
      </q-scroll-area>
    </div>

    <q-scroll-area v-if="selected" class="bg-primary col q-pa-md">
      <quest-description
        :key="'quest' + selected.id"
        :quest="selected"
      />
    </q-scroll-area>
  </div>
</template>

<script>
import QuestListItem from 'components/Quest/QuestListItem';
import QuestDescription from 'components/Quest/QuestBook/QuestDescription';

export default {
  name: 'QuestBook',
  components: {
    QuestDescription,
    QuestListItem,
  },
  props: {
    quests: {
      type: Array,
    },
    sortByCategory: {
      type: Boolean,
      default: true,
    },
  },
  data: () => ({
    categories: [],
    selected: null,
    filter: '',
    expandedCategories: [],
  }),
  computed: {
    filteredQuests() {
      if (!this.filter) {
        return this.quests;
      }

      const needle = this.filter.toLowerCase();
      return this.quests.filter((quest) => quest.name.toLowerCase().indexOf(needle) !== -1);
    },
    filteredCategories() {
      const categories = [];

      this.filteredQuests.forEach((quest) => {
        const index = categories.findIndex((e) => e.id === quest.category.id);

        if (index === -1) {
          categories.push(quest.category);
        }
      });
      return categories.sort((a, b) => a.id - b.id);
    },
  },
  watch: {
    quests() {
      this.setCategories();
      if (!this.quests.length) {
        this.selected = null;
      }
      if (!this.selected && this.quests.length) {
        [this.selected] = this.quests;
      }
    },
    /* async selected() {
      if (this.selected.steps) {
        return;
      }
      this.selected.loading = true;
      this.$forceUpdate();
      let steps = [];

      // Get steps of quest
      while (steps.length < this.selected.stepIds.length) {
        // eslint-disable-next-line
        const response = (await this.$api.getQuestSteps({
          'id[$in]': this.selected.stepIds,
        })).data;

        steps = steps.concat(response.data);
      }

      // select active reward (default: first to come)
      steps.forEach((step) => {
        step.activeReward = 0;
        // Sort steps objectives with objectiveIds
        step.objectives.sort((a, b) => step.objectiveIds.indexOf(a.id)
          - step.objectiveIds.indexOf(b.id));
      });

      // Sort steps of quest with stepIds
      steps.sort((a, b) => this.selected.stepIds.indexOf(a.id)
        - this.selected.stepIds.indexOf(b.id));

      this.selected.steps = steps;
      this.selected.loading = false;
      this.$forceUpdate();
    }, */
  },
  mounted() {
    this.setCategories();
    if (!this.selected && this.quests.length) {
      [this.selected] = this.quests;
    }
    this.categories.forEach((e) => {
      this.expandedCategories.push(e.id);
    });
  },
  methods: {
    setCategories() {
      this.categories = [];
      this.quests.forEach((e) => {
        const index = this.categories.findIndex((cat) => cat.id === e.category.id);

        if (index === -1) {
          this.categories.push(e.category);
        }
      });
      this.categories.sort((a, b) => a.id - b.id);
    },
    selectQuest(quest) {
      this.selected = quest;
    },
    isExpanded(category) {
      return this.expandedCategories.includes(category.id);
    },
    toggleExpandCateogry(category) {
      const index = this.expandedCategories.indexOf(category.id);

      if (index === -1) {
        this.expandedCategories.push(category.id);
      } else {
        this.expandedCategories.splice(index, 1);
      }
    },
  },
};
</script>

<style scoped lang="stylus">
.selected
  background $primary
</style>
