<template>
  <div
    class="row q-pa-sm q-pl-md cursor-pointer"
    @click="$emit('click', $event)"
  >
    <div v-if="quest.repeatType" class="q-px-sm">
      <q-icon name="quest:repeatable" />
      <q-tooltip
        content-class="bg-grey-10 text-body2 text-bold"
        anchor="top middle"
        self="bottom middle"
      >
        Quête journalière
      </q-tooltip>
    </div>

    <div class="col">
      {{ quest.name }}
    </div>

    <div v-if="quest.isDungeonQuest" class="q-px-sm">
      <q-icon name="quest:dungeon" />
      <q-tooltip
        content-class="bg-grey-10 text-body2 text-bold"
        anchor="top middle"
        self="bottom middle"
      >
        Quête de donjon
      </q-tooltip>
    </div>

    <div v-if="quest.isPartyQuest" class="q-px-sm">
      <q-icon name="quest:grp" />
      <q-tooltip
        content-class="bg-grey-10 text-body2 text-bold"
        anchor="top middle"
        self="bottom middle"
      >
        Quête de groupe
      </q-tooltip>
    </div>

    <div class="text-grey-6">
      Niv.
      <span v-if="quest.levelMin
       === quest.levelMax">
        {{ quest.levelMin }}
      </span>
      <span v-else>
        {{ quest.levelMin }}
        -
        {{ quest.levelMax }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'QuestListItem',
  props: {
    quest: Object,
  },
};
</script>

<style scoped>

</style>
