<template>
  <div class="row items-center">
    <div class="column text-body1">
      <div class="row items-center justify-end full-width no-wrap">
        <div class="col-6 text-right">
          {{ nbFormat.format($api.getXpReward(-1,
          rewards[selected].levelMax > 0 ? rewards[selected].levelMax : optimalLevel,
          rewards[selected].experienceRatio,
          stepDuration)) }}
        </div>

        <img
          src="~assets//icons/xp.png"
          class="q-ml-md"
          alt="xp"
          height="18px"
        />
      </div>

      <div class="row items-center justify-end full-width no-wrap">
        <div class="col-6 text-right">
          {{ nbFormat.format($api.getKamasReward(
            rewards[selected].kamasScaleWithPlayerLevel,
            rewards[selected].levelMax > 0 ? rewards[selected].levelMax : optimalLevel,
            rewards[selected].kamasRatio,
            stepDuration, -1)) }}
        </div>

        <img
          src="~assets//icons/kama.png"
          class="q-ml-md"
          alt="kamas"
          height="18px"
        />
      </div>
    </div>

    <list-item
      class="col row q-ml-md text-white"
      v-if="rewards[selected].items"
      :items="rewards[selected].items"
      :quantities="rewards[selected].itemsReward"
    />

    <q-select
      v-if="rewards.length > 1"
      v-model="selected"
      label="Niveau"
      :options="rewards"
      :option-label="(row) => `${row.levelMin} - ${row.levelMax}`"
      :option-value="(row) => rewards.indexOf(row)"
      map-options
      emit-value
      options-dark
      dark
      color="accent"
      options-selected-class="text-accent"
      style="width: 130px"
    />
  </div>
</template>

<script>
import ListItem from 'components/Item/ListItem';

export default {
  name: 'QuestStepRewards',
  components: {
    ListItem,
  },
  props: {
    rewards: {
      type: Array,
      required: true,
    },
    defaultSelected: {
      type: Number,
      required: false,
      min: 1,
    },
    optimalLevel: {
      type: Number,
      required: true,
    },
    stepDuration: {
      type: Number,
      required: true,
    },
  },
  data: () => ({
    nbFormat: new Intl.NumberFormat('fr-FR'),
    quantities: [],
    selected: 0,
  }),
  mounted() {
    this.selected = this.defaultSelected || 0;
    this.rewards.forEach((reward) => {
      reward.itemsReward.sort((a, b) => reward.itemsRewardIds.indexOf(a)
        - reward.itemsRewardIds.indexOf(b));
    });
  },
};
</script>

<style scoped>

</style>
