<template>
  <div class="row items-center">

    <div class="column text-body1">
      <div class="row items-center justify-end full-width no-wrap">
        <div class="col-6 text-right">
          {{ nbFormat.format(xp) }}
        </div>

        <img
          src="~assets//icons/xp.png"
          class="q-ml-md"
          alt="xp"
          height="18px"
        />
      </div>

      <div class="row items-center justify-end full-width no-wrap">
        <div class="col-6 text-right">
          {{ nbFormat.format(kamas) }}
        </div>

        <img
          src="~assets//icons/kama.png"
          class="q-ml-md"
          alt="kamas"
          height="18px"
        />
      </div>
    </div>

    <div v-if="items && items.length" class="col row q-ml-md">
      <item
        v-for="(item) of items"
        :key="uid() + 'dropOf' + item.id"
        :item="item"
        :quantity="getItemRewardQuantity(item)"
        class="text-white"
      />
    </div>
  </div>
</template>

<script>
import Item from 'components/Item/Item';
import { uid } from 'quasar';

export default {
  name: 'QuestStepReward',
  components: {
    Item,
  },
  props: {
    kamas: Number,
    xp: Number,
    items: Array,
    quantities: Array,
  },
  data: () => ({
    nbFormat: new Intl.NumberFormat('fr-FR'),
  }),
  methods: {
    uid,
    getItemRewardQuantity(item) {
      // eslint-disable-next-line no-restricted-syntax
      for (const i of this.quantities) {
        if (i[0] === item.id) {
          return i[1];
        }
      }

      return 0;
    },
  },
};
</script>

<style scoped lang="stylus">
  .itemReward
    height: 50px
    width: 50px
</style>
