<template>
  <div>
    <div
      v-for="(objective, index) of objectives"
      :key="'QuestObjective' + objective.id + index"
      class="row"
      :class="{ 'q-my-xs': !dense }"
    >
      <slot name="prepend" v-bind:objective="objective"/>

      <criteria :criteria="objective.text" class="row" />
      <span
        v-if="objective.map && objective.mapId !== 0"
        class="text-bold text-secondary q-ml-sm"
      >
        <position
          :x="objective.map.posX"
          :y="objective.map.posY"
          travel
        />
      </span>
      <span
          v-else-if="objective.coords"
          class="text-bold text-secondary q-ml-sm"
      >
        <position
            :x="objective.coords.x"
            :y="objective.coords.y"
            travel
        />
      </span>

      <slot name="append" v-bind:objective="objective"/>
    </div>
  </div>
</template>

<script>
import Criteria from 'components/Criteria/Criteria';
import Position from 'components/Common/Position';

export default {
  name: 'QuestObjectives',
  components: {
    Position,
    Criteria,
  },
  props: {
    objectives: Array,
    marker: Boolean,
    markerColor: String,
    dense: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>

</style>
