<template>
  <div class="column">
    <div v-if="loading" class="row full-width full-height justify-center items-center">
      <q-spinner color="accent" size="25px"/>
    </div>
    <template v-if="quest.steps && quest.steps[quest.activeStep]">
      <div class="row items-end">
        <router-link
          class="text-h6 text-accent decoration-none"
          :to="{ name: 'quest', params: { id: quest.id } }"
        >
          {{ quest.steps[quest.activeStep].name }}
          <q-icon name="fas fa-link" size="10px" class="text-grey-6" />
        </router-link>

        <q-space />

        <span
          v-if="quest.stepIds.length > 1 && quest.stepIds.filter(e => e != null).length === 1"
          class="text-grey-6 text-body1"
        >
            Etape&nbsp;
            <span class="text-grey-3">
              {{ quest.activeStep + 1}}
            </span>
          </span>
        <q-select
          v-if="quest.stepIds.filter(e => e != null).length > 1"
          v-model="quest.activeStep"
          :options="quest.stepIds"
          :option-value="(row) => quest.stepIds.indexOf(row)"
          :option-label="(row) => `Etape&nbsp;${quest.stepIds.indexOf(row) + 1}`"
          emit-value
          map-options
          dense
          dark
          color="accent"
          label="Etape"
        />
      </div>

      <div class="row q-mt-md text-body2 text-grey-6">
        {{ quest.steps[quest.activeStep].description }}
      </div>

      <div class="row q-mt-md text-body1">
        Objectifs
      </div>


      <quest-objectives
        class="q-ml-sm"
        :objectives="quest.steps[quest.activeStep].objectives"
      />

      <template
        v-if="quest.steps[quest.activeStep].rewards && quest.steps[quest.activeStep].rewards.length"
      >
        <div class="row q-mt-md text-body1">
          Récompenses
        </div>

        <quest-step-rewards
          :rewards="quest.steps[quest.activeStep].rewards"
          :optimal-level="quest.steps[quest.activeStep].optimalLevel"
          :step-duration="quest.steps[quest.activeStep].duration"
          :default-selected="quest.steps[quest.activeStep].activeReward"
        />
      </template>
    </template>
  </div>
</template>

<script>
import QuestObjectives from 'components/Quest/QuestObjectives';
import QuestStepRewards from 'components/Quest/QuestStepRewards';

export default {
  name: 'QuestDescription',
  components: {
    QuestStepRewards,
    QuestObjectives,
  },
  props: {
    quest: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    loading: false,
  }),
  watch: {
    // eslint-disable-next-line
    'quest.activeStep': function () {
      if (!this.quest.steps[this.quest.activeStep]) {
        this.fetchActiveStep();
      }
    },
  },
  mounted() {
    if (!this.quest.steps) {
      this.quest.steps = [];
    }
    if (!this.quest.steps[this.quest.activeStep]) {
      this.fetchActiveStep();
    }
  },
  methods: {
    async fetchActiveStep() {
      this.loading = true;
      const stepId = this.quest.stepIds[this.quest.activeStep];
      const step = (await this.$api.getQuestStep(stepId, {
        $populate: false,
      })).data;

      this.quest.steps.splice(this.quest.activeStep, 1, step);

      // Get objective
      await this.fetchObjectives();
      // Get rewards
      await this.fetchRewards();

      this.loading = false;
    },
    async fetchObjectives() {
      const step = this.quest.steps[this.quest.activeStep];
      let objectives = [];

      while (objectives.length < step.objectiveIds.length) {
        // eslint-disable-next-line
        const response = (await this.$api.getQuestObjectives({
          'id[$in]': step.objectiveIds,
          $skip: objectives.length,
          $populate: false,
        })).data;

        objectives = objectives.concat(response.data);
      }

      objectives.sort((a, b) => step.objectiveIds.indexOf(a.id)
        - step.objectiveIds.indexOf(b.id));
      step.objectives = objectives;
    },
    async fetchRewards() {
      const step = this.quest.steps[this.quest.activeStep];
      let rewards = [];

      while (rewards.length < step.rewardsIds.length) {
        // eslint-disable-next-line
        const response = (await this.$api.getQuestStepRewards({
          'id[$in]': step.rewardsIds,
          $select: [
            'id',
            'itemsReward',
            'itemsRewardIds',
            'emotesReward',
            'experienceRatio',
            'jobsReward',
            'kamasRatio',
            'kamasScaleWithPlayerLevel',
            'levelMin',
            'levelMax',
            'spellsReward',
            'titlesReward',
          ],
        })).data;

        rewards = rewards.concat(response.data);
      }

      rewards.sort((a, b) => step.rewardsIds.indexOf(a.id)
        - step.rewardsIds.indexOf(b.id));

      step.activeReward = 0;
      step.rewards = rewards;
    },
  },
};
</script>

<style scoped>

</style>
