<template>
  <q-dialog
    ref="dialog"
    full-width
    :full-height="!!(result && result.length && searched)"
    @hide="onDialogHide"
  >
    <q-card dark class="q-dialog-plugin column text-white self-start">

      <q-bar>
        <div>Recherche d'objets</div>

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-darker text-white text-body2">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section class="column q-pb-none" ref="search">
        <div class="row">
          <q-input
            filled
            dark
            dense
            clearable
            v-model.trim="search_name"
            placeholder="Recherche"
            autofocus
            class="col"
            @keydown.enter.prevent="search"
          />

          <q-btn
            v-if="!advanced"
            class="q-ml-md"
            color="secondary"
            text-color="white"
            label="Rechercher"
            :loading="loading"
            @click="search"
          />
        </div>

        <div
          v-if="!advanced"
          class="row full-width items-center q-mt-xs"
        >
          <div
            v-for="(charac, index) of characteristics
             .filter((e) => e.categoryId === 2 || e.categoryId === 3)"
            :key="'characchips' + index"
          >
            <q-chip
              :icon="$api.characteristics_icon[charac.id]"
              :color="isMiniFiltred(charac.id) ? 'accent' : 'grey-6'"
              class="shadow-3-hover cursor-pointer"
              clickable
              @click="toggleMiniFiltre(charac.id)"
            >
              {{ charac.name }}
            </q-chip>
          </div>
        </div>

        <div
          v-if="!advanced"
          class="row full-width items-center"
        >
          <span v-if="searched">
            <span class="text-accent text-bold">{{ result_total }}</span>&nbsp;résultat(s)
          </span>

          <q-space />

          <q-checkbox
            v-model="itemDetail"
            label="Détail"
            color="accent"
            class="text-accent-hover"
          />
          <q-checkbox
            v-model="advanced"
            label="Recherche avancé"
            color="accent"
            class="text-accent-hover q-ml-xs"
          />
        </div>

        <div v-if="advanced" class="column full-width q-mt-sm">

          <div class="row full-width">
            <div class="column col-4">
              <div class="row no-wrap">
                <q-input
                  v-model.trim="search_levels[0]"
                  label="Niveau Min."
                  label-color="white"
                  dark
                  dense
                  type="number"
                  class="col"
                />

                <q-input
                  v-model.trim="search_levels[1]"
                  label="Niveau Max."
                  label-color="white"
                  dark
                  dense
                  type="number"
                  class="col q-ml-sm"
                />
              </div>

              <div class="row q-mt-md">
                <q-select
                  v-if="!typeIds"
                  v-model="search_types"
                  :options="types"
                  class="q-ml-sm full-width"
                  dense
                  dark
                  label="Type"
                  option-value="id"
                  option-label="name"
                  label-color="white"
                  multiple
                  map-options
                  options-selected-class="text-accent"
                  :virtual-scroll-slice-size="100"
                  clearable
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-italic text-grey">
                        Aucun type disponible
                      </q-item-section>
                    </q-item>
                  </template>

                  <template v-slot:option="scope">
                    <div
                      v-if="displayTypeCategoryHeader(scope.opt)"
                    >
                      <q-separator color="grey" spaced />

                      <div class="row full-width justify-center text-accent text-body2">
                        {{ scope.opt.superType }}
                      </div>
                    </div>

                    <q-item
                      v-bind="scope.itemProps"
                      v-on="scope.itemEvents"
                      class="row items-center"
                    >
                      <q-item-section>
                        <q-item-label>
                          {{ scope.opt.name }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>

                <q-select
                  v-else
                  v-model="typeIds"
                  :options="types"
                  class="q-ml-sm full-width"
                  dark
                  label="Type"
                  option-value="id"
                  option-label="name"
                  emit-value
                  dense
                  label-color="white"
                  multiple
                  map-options
                  options-selected-class="text-accent"
                  :virtual-scroll-slice-size="100"
                  disable
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-italic text-grey">
                        Aucun type disponible
                      </q-item-section>
                    </q-item>
                  </template>

                  <template v-slot:option="scope">
                    <div
                      v-if="displayTypeCategoryHeader(scope.opt)"
                    >
                      <q-separator color="grey" spaced />

                      <div class="row full-width justify-center text-accent text-body2">
                        {{ scope.opt.superType }}
                      </div>
                    </div>

                    <q-item
                      v-bind="scope.itemProps"
                      v-on="scope.itemEvents"
                      class="row items-center"
                    >
                      <q-item-section>
                        <q-item-label>
                          {{ scope.opt.name }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
            </div>

            <q-separator vertical spaced color="secondary" />

            <div class="col column">
              <div
                v-for="(search_characteristic, index) of search_characteristics"
                :key="'searchCharac' + search_characteristic.characteristic + 'index' + index"
                class="row full-width q-mt-xs"
              >
                <characteristic-select
                  v-model="search_characteristic.characteristic"
                  dark
                  label-color="white"
                  label="Caractéristique"
                  class="col-8"
                  dense
                  options-selected-class="text-accent"
                  clearable
                />

                <q-input
                  v-model.trim.number="search_characteristic.min"
                  label="min"
                  dark
                  filled
                  class="q-ml-md col"
                  label-color="white"
                  type="number"
                  dense
                  clearable
                />

                <q-input
                  v-model.trim.number="search_characteristic.max"
                  label="max"
                  dark
                  filled
                  class="q-ml-md col"
                  label-color="white"
                  type="number"
                  dense
                  clearable
                />

                <q-btn
                  icon="fas fa-trash"
                  class="q-ml-md text-accent-hover"
                  color="grey-6"
                  flat
                  dense
                  @click="removeCharacteristicsLineAtIndex(index)"
                />
              </div>

              <div class="row full-width justify-center q-mt-md">
                <q-btn
                  label="Ajouter un filtre"
                  no-caps
                  color="accent"
                  flat
                  @click="addSearchCharacteristic"
                />
              </div>
            </div>
          </div>

          <div class="row full-width items-center q-mb-sm">
            <span v-if="searched">
              <span class="text-accent text-bold">{{ result_total }}</span>&nbsp;résultat(s)
            </span>

            <q-space />

            <q-checkbox
              v-model="itemDetail"
              label="Détail"
              color="accent"
              class="text-accent-hover"
            />
            <q-checkbox
              v-model="advanced"
              label="Recherche avancé"
              color="accent"
              class="text-accent-hover q-ml-xs"
            />

            <q-btn
              class="self-end q-ml-md"
              color="secondary"
              text-color="white"
              label="Rechercher"
              :loading="loading"
              @click="search"
            />
          </div>
        </div>
      </q-card-section>

      <q-card-section v-if="(result && !result.length) && searched" class="row justify-center">
        Aucun résultat.
      </q-card-section>

      <q-card-section v-if="result && result.length && searched" class="col">
        <q-scroll-area
          class="full-height"
        >
          <div class="row">
            <div
              v-for="item of result"
              :key="'SearchResult' + item.id"
              class="col-12 col-lg-3 col-md-4 col-sm-6 q-mb-md cursor-pointer"
              @click="redirectToItem(item)"
            >
              <item-card
                :dense="!itemDetail"
                class="text-white q-mx-sm"
                :item="item"
                :for-stuff="forStuff"
                @equip="$emit('ok', $event); onDialogHide()"
              />
            </div>

            <div
              v-if="result.length < result_total"
              class="row full-width q-ma-sm justify-center q-mt-lg">
              <q-btn
                color="secondary"
                label="Voir plus"
                no-caps
                :loading="loading"
                @click="fetchItems"
              />
            </div>
          </div>
        </q-scroll-area>
      </q-card-section>

    </q-card>
  </q-dialog>
</template>

<script>
import ItemCard from 'components/Item/ItemCard';
import CharacteristicSelect from 'components/Common/Select/CharacteristicSelect';
import * as diacritics from 'diacritics';

export default {
  components: {
    CharacteristicSelect,
    ItemCard,
  },
  props: {
    // ...your custom props
    typeIds: {
      type: Array,
      required: false,
    },
    maxLevel: {
      type: Number,
      required: false,
    },
    searchWhenOpen: {
      type: Boolean,
      required: false,
    },
    forStuff: {
      type: Boolean,
      required: false,
    },
  },
  data: () => ({
    searched: false,
    search_name: '',
    search_levels: [0, 200],
    search_types: [],
    types_display_category: [],
    types: [],
    operators: [
      '>', '>=', '<', '<=', '=', '!=',
    ],
    search_characteristics: [{
      characteristic: null,
      operator: '>=',
      value: 1,
    }],
    characteristics_display_category: [],
    characteristic_categories_name: ['', '', 'Primaire', 'Secondaire', 'Dommages', 'Résistances'],
    query: null,
    skip: 0,
    result: null,
    result_total: 0,
    loading: false,
    minifiltre: [],
  }),
  mounted() {
    this.search_levels = JSON.parse(JSON.stringify(this.$store.state.search.levels));
    if (this.maxLevel) {
      this.search_levels[1] = this.maxLevel;
    }
    // this.search_name = this.$store.state.search.name;
    this.search_characteristics = this.$store.getters['search/searchCharacteristics'];
    this.search_types = JSON.parse(JSON.stringify(this.$store.state.search.search_types));
    const now = new Date();
    now.setUTCDate(now.getUTCDate() - 1);
    if (this.$store.state.search.characteristics_updated_at
      < now.getTime()) {
      this.characteristics = [];
      this.fetchCharacteristics();
    }

    this.types = JSON.parse(JSON.stringify(this.$store.state.type.types)).sort((a, b) => {
      if (!a.superType) {
        return -1;
      }
      if (!b.superType) {
        return 1;
      }

      return a.superType.localeCompare(b.superType);
    });

    if (this.searchWhenOpen) {
      this.search();
    }
  },
  computed: {
    characteristics: {
      get() {
        return this.$store.state.search.characteristics;
      },
      set(value) {
        this.$store.commit('search/setCharacteristics', value);
      },
    },
    advanced: {
      get() {
        return this.$store.state.search.advanced || false;
      },
      set(value) {
        this.$store.commit('search/advanced', value);
      },
    },
    itemDetail: {
      get() {
        let ret = this.$store.state.search.itemDetail;
        if (ret === undefined) {
          ret = true;
        }
        return ret;
      },
      set(value) {
        this.$store.commit('search/itemDetail', value);
      },
    },
  },
  watch: {
    search_characteristics: {
      handler() {
        this.$store.commit('search/setSearchCharacteristics', this.search_characteristics);
      },
      deep: true,
    },
    search_types: {
      handler() {
        this.$store.commit('search/setSearchTypes', this.search_types);
      },
      deep: true,
    },
    search_name() {
      this.$store.commit('search/setName', this.search_name);
    },
    search_levels: {
      handler() {
        if (this.search_levels[0] < 0) {
          this.search_levels[0] = 0;
        }
        if (this.search_levels[0] > 200) {
          this.search_levels[0] = 200;
        }
        if (this.search_levels[1] < 0) {
          this.search_levels[1] = 0;
        }
        if (this.search_levels[1] > 200) {
          this.search_levels[1] = 200;
        }
        this.$store.commit('search/setLevels', this.search_levels);
      },
      deep: true,
    },
    minifiltre() {
      this.search();
    },
  },
  methods: {
    redirectToItem(item) {
      if (this.$router && !this.forStuff) {
        this.$router.push({
          name: 'object',
          params: { id: item.id },
        }).catch(() => {});
      } else {
        this.$emit('ok', item);
      }
      this.onDialogHide();
    },
    async fetchCharacteristics(skip) {
      skip = skip || 0;
      if (!this.characteristics) {
        this.characteristics = [];
      }

      const response = (await this.$api.getAllCharacteristics({
        visible: true,
        $limit: 50,
        'categoryId[$in]': [2, 3, 4, 5],
        '$sort[categoryId]': 1,
        '$sort[order]': 1,
        $select: ['id', 'name', 'categoryId'],
        $skip: skip,
      })).data;

      this.characteristics = this.characteristics.concat(response.data);

      if (response.data.length + skip < response.total) {
        this.fetchCharacteristics(response.data.length + skip);
      }
    },
    isMiniFiltred(characId) {
      return this.minifiltre.includes(characId);
    },
    toggleMiniFiltre(characId) {
      const index = this.minifiltre.indexOf(characId);
      if (index !== -1) {
        this.minifiltre.splice(index, 1);
      } else {
        this.minifiltre.push(characId);
      }
    },
    displayTypeCategoryHeader(type) {
      if (!this.types_display_category[type.superTypeId]) {
        this.types_display_category[type.superTypeId] = type;
        return true;
      }

      return this.types_display_category[type.superTypeId].id
        === type.id;
    },
    displayCharacteristicsCategoryHeader(characteristic) {
      if (!this.characteristics_display_category[characteristic.categoryId]) {
        this.characteristics_display_category[characteristic.categoryId] = characteristic;
        return true;
      }

      return this.characteristics_display_category[characteristic.categoryId].id
        === characteristic.id;
    },
    displayCharacteristicInSelect(actualSelectedCharacteristic) {
      return (e) => (this.search_characteristics.filter((findElem) => {
        if (actualSelectedCharacteristic && findElem.characteristic
          && actualSelectedCharacteristic.id === findElem.characteristic.id) {
          return false;
        }

        return findElem.characteristic && e.id === findElem.characteristic.id;
      }).length === 0);
    },
    removeCharacteristicsLineAtIndex(index) {
      this.$store.commit('search/setSearchCharacteristics',
        this.search_characteristics.splice(index, 1));
    },
    addSearchCharacteristic() {
      this.search_characteristics.push({
        characteristic: null,
        operator: '>=',
        value: 1,
      });
    },
    search() {
      if (this.advanced) {
        this.advancedSearch();
        return;
      }

      this.query = {
        '$sort[level]': -1,
      };
      this.skip = 0;
      this.result = [];
      this.result_total = 0;

      if (this.search_name) {
        this.query['slug[$search]'] = diacritics.remove(this.search_name).toLowerCase();
      }

      if (this.typeIds) {
        this.query['typeId[$in]'] = this.typeIds;
      }
      if (this.maxLevel) {
        this.query['level[$lte]'] = this.maxLevel;
      }

      this.minifiltre.forEach((id, index) => {
        this.query[`$and[${index}][effects][$elemMatch][characteristic]`] = id;
      });

      this.fetchItems();
    },
    async advancedSearch() {
      this.query = {
        '$sort[level]': -1,
      };
      this.skip = 0;
      this.result = [];
      this.result_total = 0;

      if (this.search_name) {
        this.query['slug[$search]'] = diacritics.remove(this.search_name).toLowerCase();
      }

      if (this.search_types && this.search_types.length) {
        this.query['typeId[$in]'] = this.search_types.map((e) => e.id);
      }

      // eslint-disable-next-line prefer-destructuring
      this.query['level[$gte]'] = this.search_levels[0];
      // eslint-disable-next-line prefer-destructuring
      this.query['level[$lte]'] = this.search_levels[1];

      if (this.typeIds) {
        this.query['typeId[$in]'] = this.typeIds;
      }

      let andIndex = 0;
      for (let i = 0; i < this.search_characteristics.length; i += 1) {
        const characteristic = this.search_characteristics[i];
        if (!characteristic.characteristic) {
          // eslint-disable-next-line no-continue
          continue;
        }
        /* if (!characteristic.characteristic || !characteristic.value
          || !characteristic.operator) {
          badLine += 1;
          // eslint-disable-next-line no-continue
          continue;
        } */

        let { id } = characteristic.characteristic;
        if (this.$api.characteristics_link_search[characteristic.characteristic.id]) {
          id = this.$api.characteristics_link_search[characteristic.characteristic.id];
        }

        if (characteristic.min) {
          this.query[`$and[${andIndex}][effects][$elemMatch][characteristic]`] = id;
          this.query[`$and[${andIndex}][effects][$elemMatch][$or][0][from][$gte]`] = characteristic.min;
          this.query[`$and[${andIndex}][effects][$elemMatch][$or][1][to][$gte]`] = characteristic.min;
          andIndex += 1;
        }
        if (characteristic.max) {
          this.query[`$and[${andIndex}][effects][$elemMatch][characteristic]`] = id;
          this.query[`$and[${andIndex}][effects][$elemMatch][$or][0][from][$lte]`] = characteristic.max;
          this.query[`$and[${andIndex}][effects][$elemMatch][$or][1][to][$lte]`] = characteristic.max;
          andIndex += 1;
        }
        if (!characteristic.min && !characteristic.max) {
          this.query[`$and[${andIndex}][effects][$elemMatch][characteristic]`] = id;
          andIndex += 1;
        }
        /*
        switch (characteristic.operator) {
          case '>=':
            this.query[`${key}[$or][0][from][$gte]`] = characteristic.value;
            this.query[`${key}[$or][1][to][$gte]`] = characteristic.value;
            break;
          default:
            break;
        } */
      }

      this.fetchItems();
    },
    async fetchItems() {
      this.loading = true;
      this.query.$skip = this.skip;
      this.query['$sort[level]'] = -1;
      this.query['$sort[createdAt]'] = -1;

      if (!this.result) {
        this.result = [];
      }

      try {
        const response = (await this.$api.getItems(this.query)).data;
        this.result = this.result.concat(response.data);
        this.result_total = response.total;
        this.skip = this.result.length;
      } catch (e) {
        this.result = [];
        this.result_total = 0;
        this.skip = 0;
      }
      this.searched = true;
      this.loading = false;
    },
    // following method is REQUIRED
    // (don't change its name --> "show")
    show() {
      this.$refs.dialog.show();
    },
    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide');
    },
    onOKClick() {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok');
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide();
    },
    onCancelClick() {
      // we just need to hide dialog
      this.hide();
    },
  },
};
</script>
