<template>
  <q-dialog
    ref="dialog"
    full-width
    @hide="onDialogHide"
  >
    <q-card dark class="q-dialog-plugin text-white self-start">
      <q-bar>
        <div>Recherche</div>

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section class="row">
        <div
          class="row full-width items-center justify-center"
        >
          <q-img
            v-for="(type) of types"
            :key="'DialogSearchType' + type.name"
            ratio="1"
            :src="type.icon"
            style="width: 100px"
            @click="goToType(type)"
          >
            <q-tooltip
              self="center middle"
              anchor="center middle"
              content-class="bg-darker text-body2 text-white"
            >
              {{ type.name }}
            </q-tooltip>
          </q-img>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import SearchItemDialog from 'components/Search/SearchItemDialog';
import SearchQuestDialog from 'components/Search/SearchQuestDialog';

export default {
  props: {
    // ...your custom props
  },
  data: () => ({
    types: [
      {
        name: 'Objets',
        icon: 'icons/icon_items.png',
        next: SearchItemDialog,
      },
      {
        name: 'Quêtes',
        icon: 'icons/icon_quests.png',
        next: SearchQuestDialog,
      },
    ],
  }),
  methods: {
    goToType(type) {
      if (type.next) {
        this.$q.dialog({
          component: type.next,
          parent: this,
        });
        this.hide();
      }
    },
    // following method is REQUIRED
    // (don't change its name --> "show")
    show() {
      this.$refs.dialog.show();
    },
    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide');
    },
    onOKClick() {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok');
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide();
    },
    onCancelClick() {
      // we just need to hide dialog
      this.hide();
    },
  },
};
</script>
