<template>
  <q-dialog
    ref="dialog"
    full-width
    :full-height="!!(result_total && result && result.length)"
    @hide="onDialogHide"
  >
    <q-card dark class="q-dialog-plugin text-white self-start column">

      <q-bar>
        <div>Recherche de quêtes</div>

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section class="column">
        <div class="row">
          <q-input
            v-model.trim="search_name"
            filled
            dark
            dense
            clearable
            placeholder="Recherche"
            class="col"
            @keydown.enter.prevent="search"
          />

          <q-btn
            class="q-ml-md"
            color="secondary"
            text-color="white"
            label="Rechercher"
            :loading="loading"
            @click="search"
          />
        </div>

        <div
          class="row full-width items-center"
        >
          <span v-if="result_total && result">
            <span class="text-accent text-bold">{{ result_total }}</span>&nbsp;résultat(s)
          </span>
        </div>
      </q-card-section>

      <q-card-section v-if="result" class="column col">
        <q-scroll-area class="full-width full-height col">
          <div
            v-for="quest of result"
            :key="'SearchQuestResult' + quest.id"
            class="col-4 col-lg-3 q-my-sm cursor-pointer"
            @click="redirectToQuest(quest)"
          >
            <quest-list-item
              class="text-white q-mx-sm bg-darker"
              :quest="quest"
            />
          </div>
        </q-scroll-area>
      </q-card-section>
      <q-card-section>
        <div
          v-if="result && result.length < result_total"
          class="row full-width q-ma-sm justify-center q-mt-lg">
          <q-btn
            color="secondary"
            label="Voir plus"
            no-caps
            :loading="loading"
            @click="fetchQuests"
          />
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import QuestListItem from 'components/Quest/QuestListItem';
import * as diacritics from 'diacritics';

export default {
  components: {
    QuestListItem,
  },
  props: {
    // ...your custom props
  },
  data: () => ({
    search_name: '',
    query: null,
    skip: 0,
    result: null,
    result_total: 0,
    loading: false,
  }),
  methods: {
    redirectToQuest(quest) {
      this.$router.push({
        name: 'quest',
        params: { id: quest.id },
      });
      this.onDialogHide();
    },
    search() {
      this.query = {
        '$sort[levelMax]': -1,
        $select: [
          'id',
          'levelMin',
          'levelMax',
          'isPartyQuest',
          'isDungeonQuest',
          'repeatType',
          'name',
        ],
      };
      this.skip = 0;
      this.result = [];
      this.result_total = 0;

      if (this.search_name) {
        this.query['slug[$search]'] = diacritics.remove(this.search_name).toLowerCase();
      }

      this.fetchQuests();
    },
    async fetchQuests() {
      this.loading = true;
      this.query.$skip = this.skip;
      if (!this.result) {
        this.result = [];
      }

      try {
        const response = (await this.$api.getQuests(this.query)).data;
        this.result = this.result.concat(response.data);
        this.result_total = response.total;
        this.skip = this.result.length;
      } catch (e) {
        this.result = [];
        this.result_total = 0;
        this.skip = 0;
      }
      this.loading = false;
    },
    // following method is REQUIRED
    // (don't change its name --> "show")
    show() {
      this.$refs.dialog.show();
    },
    // following method is REQUIRED
    // (don't change its name --> "hide")
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      // required to be emitted
      // when QDialog emits "hide" event
      this.$emit('hide');
    },
    onOKClick() {
      // on OK, it is REQUIRED to
      // emit "ok" event (with optional payload)
      // before hiding the QDialog
      this.$emit('ok');
      // or with payload: this.$emit('ok', { ... })

      // then hiding dialog
      this.hide();
    },
    onCancelClick() {
      // we just need to hide dialog
      this.hide();
    },
  },
};
</script>
