<template>
  <div @click="$emit('click', $event)">
    {{ character.name }}
    <q-tooltip content-class="text-body2 bg-darker">
      <div class="row items-end">
        <q-img
          v-if="character.class && character.class.img"
          :src="character.class.img"
          style="width: 25px; height: 25px"
          class="q-mr-sm"
        />

        {{ character.class.name }}&nbsp;
        <span class="text-grey-6">
        Niv.&nbsp;{{ character.level }}
        </span>

        <span
          v-if="character.server"
          class="text-grey-7 q-ml-sm">
          ({{ character.server.name }})
        </span>
      </div>
    </q-tooltip>
  </div>
</template>

<script>
export default {
  name: 'Character',
  props: {
    character: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped>

</style>
