<template>
  <q-no-ssr :placeholder="`${value}`">
    <div class="row items-center">
      <q-icon
        class="q-mr-sm"
        :name="$api.characteristics_icon[characteristic_id]"
        size="27px"
      />
      {{ value }}<template v-if="[
              $api.characteristics_id['dommages-sorts'],
              $api.characteristics_id['dommages-melee'],
              $api.characteristics_id['dommages-distance'],
              $api.characteristics_id['dommages-armes'],
              $api.characteristics_id['resistance-melee'],
              $api.characteristics_id['resistance-distance'],
            ].includes(characteristic_id)">%</template>&nbsp;
      <div v-if="!dense" class="text-no-wrap ellipsis">
        <span
          v-if="characteristic
             && (characteristic.categoryId === 4 || characteristic.categoryId === 5)
              && !characteristic.name.startsWith(
                $api.characteristic_categories_name[characteristic.categoryId])"
        >
          <template v-if="categoryNameLength !== 0">
            {{ $api.characteristic_categories_name[characteristic.categoryId]
            .slice(0, categoryNameLength) }}
          </template>
          <template v-else>
            {{ $api.characteristic_categories_name[characteristic.categoryId] }}
          </template>
        </span>
        <span v-if="characteristic">
          {{ characteristic.name }}
        </span>
        <template v-else>
          {{ label }}
        </template>
      </div>
      <q-tooltip
        anchor="top middle"
        self="bottom middle"
        content-class="bg-darker text-body2"
      >
        <span
          v-if="characteristic
           && (characteristic.categoryId === 4 || characteristic.categoryId === 5)
            && !characteristic.name.startsWith(
              $api.characteristic_categories_name[characteristic.categoryId])"
        >
          {{ $api.characteristic_categories_name[characteristic.categoryId] }}&nbsp;
        </span>
        <template v-if="characteristic">
          {{ characteristic.name }}
        </template>
        <template v-else>
          {{ label }}
        </template>

      </q-tooltip>
    </div>
  </q-no-ssr>
</template>

<script>
export default {
  name: 'Characteristic',
  props: {
    characteristic_id: {
      type: Number,
      required: true,
    },
    value: {
      type: [Number, String],
    },
    dense: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      required: false,
    },
    categoryNameLength: {
      type: Number,
      default: 0,
    },
    iconSize: {
      type: String,
      default: '27px',
    },
  },
  computed: {
    loading: {
      get() {
        return this.$store.state.search.loading_characteristics;
      },
      set(value) {
        this.$store.commit('search/setLoadingCharacteristics', value);
      },
    },
    characteristic() {
      let realId = this.characteristic_id;
      let characteristic;

      Object.entries(this.$api.characteristics_link_search).forEach((entrie) => {
        if (entrie[1] === realId) {
          realId = parseInt(entrie[0], 10);
        }
      });

      this.characteristics.forEach((e) => {
        if (e.id === realId) {
          characteristic = e;
        }
      });

      return characteristic;
    },
    characteristics: {
      get() {
        return this.$store.state.search.characteristics;
      },
      set(value) {
        this.$store.commit('search/setCharacteristics', value);
      },
    },
  },
  mounted() {
    const now = new Date();
    now.setUTCDate(now.getUTCDate() - 1);
    if ((this.$store.state.search.characteristics_updated_at
      < now.getTime() || this.characteristics.length < 10) && !this.loading) {
      this.characteristics = [];
      this.fetchCharacteristics();
    }
  },
  methods: {
    async fetchCharacteristics(skip) {
      this.loading = true;
      skip = skip || 0;
      if (!this.characteristics) {
        this.characteristics = [];
      }

      const response = (await this.$api.getAllCharacteristics({
        visible: true,
        $limit: 50,
        'categoryId[$in]': [2, 3, 4, 5],
        '$sort[categoryId]': 1,
        '$sort[order]': 1,
        $select: ['id', 'name', 'categoryId'],
        $skip: skip,
      })).data;

      this.characteristics = this.characteristics.concat(response.data);

      if (response.data.length + skip < response.total) {
        await this.fetchCharacteristics(response.data.length + skip);
      }

      this.loading = false;
    },
  },
};
</script>

<style scoped>

</style>
