<template>
  <q-img
    :src="require(`assets/classes/${dia || 'xelor'}-${sexe.slice(0, 1)}.png`)"
    contain
  />
</template>

<script>
import diacritics from 'diacritics';

export default {
  name: 'Classe',
  props: {
    breed: {
      type: Object,
      required: true,
    },
    sexe: {
      type: String,
      default: 'f',
    },
  },
  data: () => ({
    dia: '',
  }),
  mounted() {
    if (this.breed.dia) {
      this.dia = this.breed.dia;
    } else {
      this.dia = diacritics.remove(this.breed.shortName).toLowerCase();
      this.breed.dia = this.dia;
    }
  },
};
</script>

<style scoped>

</style>
