<template>
  <div class="cursor-pointer" @click="openDialog">
    {{ name }}
  </div>
</template>

<script>
import ItemSetDialog from 'components/Item/Set/ItemSetDialog';

export default {
  name: 'ItemSet',
  props: {
    id: {
      type: Number,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    equipable: {
      type: Boolean,
      default: false,
    },
  },
  mounted() {
  },
  methods: {
    openDialog() {
      this.$q.dialog({
        component: ItemSetDialog,
        id: this.id,
        equipable: this.equipable,
      }).onOk((values) => {
        this.$emit('equip', values);
      });
    },
  },
};
</script>

<style scoped>

</style>
