<template>
  <span @click="copyTravelCommandToClipboard" :class="{ 'cursor-pointer': travel }">
    <span v-if="bracket">[</span>
    {{ x }}{{ separator }}{{ y }}
    <span v-if="bracket">]</span>

    <q-tooltip v-if="travel" content-class="bg-darker text-body2">
      Copie la commande d'auto-pilote dans votre presse-papier
    </q-tooltip>
  </span>
</template>

<script>
import { copyToClipboard } from 'quasar';

export default {
  name: 'Position',
  props: {
    x: Number,
    y: Number,
    bracket: {
      type: Boolean,
      default: true,
    },
    travel: {
      type: Boolean,
      default: false,
    },
    separator: {
      type: String,
      default: ',',
    },
  },
  methods: {
    copyTravelCommandToClipboard() {
      if (this.travel) {
        copyToClipboard(`/travel ${this.x} ${this.y}`).then(() => {
          this.$q.notify({
            message: 'Commande \'travel\' copié dans le presse papier',
            color: 'darker',
            position: 'bottom',
          });
        }).catch(() => {
          this.$q.notify({
            message: 'Une erreur est survenue',
            color: 'negative',
            position: 'bottom',
          });
        });
      }
    },
  },
};
</script>

<style scoped>

</style>
