<template>
  <div
    class="bg-darker bg-cover bg-no-nepeat bg-center"
    :style="'background-image: url(\'' + server.img +  '\')'"
    @click="$emit('click', $event)"
  >
    <div
      class="row justify-center q-py-md"
      style="background: rgba(0, 0, 0, 0.5)"
    >
      {{ server.name }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Server',
  props: {
    server: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style scoped>

</style>
