<template>
  <span
    @click="$emit('click', $event)"
    :class="'text-' + getRoleColors()"
  >
    {{ user.username }}

    <q-tooltip
      v-if="user.reputation || user.roles"
      content-class="text-body2 text-white bg-darker"
      anchor="top middle"
      self="bottom middle"
    >

      <div v-if="user.roles && user.roles.length > 0">
        {{ getRoleText() }}
      </div>

      <div class="row">
        <span :class="{ 'text-green': user.reputation > 0, 'text-red': user.reputation < 0 }">
          {{ user.reputation }}
        </span>
        &nbsp;points de réputation
      </div>
    </q-tooltip>
  </span>
</template>

<script>
export default {
  name: 'UserTag',
  props: {
    user: {
      type: Object,
      required: true,
    },
    role_color: {
      type: Boolean,
      default: true,
    },
    color: {
      type: String,
      default: 'grey-6',
    },
  },
  data: () => ({
    role_colors: {
      admin: 'red',
      moderator: 'blue',
    },
  }),
  methods: {
    getRoleText() {
      if (this.user.roles) {
        if (this.user.roles.includes('admin')) {
          return 'Administrateur';
        }
        if (this.user.roles.includes('moderator')) {
          return 'Modérateur';
        }
      }
      return '';
    },
    getRoleColors() {
      let { color } = this;

      if (this.role_color && this.user.roles) {
        if (this.user.roles.includes('admin')) {
          color = this.role_colors.admin;
        } else if (this.user.roles.includes('moderator')) {
          color = this.role_colors.moderator;
        }
      }

      return color;
    },
  },
};
</script>

<style scoped>

</style>
