<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card dark class="q-dialog-plugin" style="width: 700px; max-width: 80vw;">
      <q-bar>
        Créer une issue

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-darker text-white">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <div class="column q-mt-md">
        <div class="row q-mt-sm justify-center text-white q-px-lg">
          <q-input
            v-model="title"
            ref="title"
            label="Titre"
            label-color="white"
            color="white"
            dark
            filled
            class="col"
            :rules="[val => val && val.length > 5
             || 'Le titre doit contenir au moins 5 caractères.']"
          />
        </div>

        <div class="row q-mt-sm justify-center text-white q-px-lg">
          <q-input
            v-model="description"
            ref="description"
            label="Description"
            label-color="white"
            color="white"
            dark
            filled
            class="col"
            type="textarea"
            :rules="[val => val && val.length > 20
             || 'Le titre doit contenir au moins 20 caractères.']"
          />
        </div>
      </div>

      <!-- buttons example -->
      <q-card-actions align="right" class="q-mt-md">
        <q-btn color="secondary" label="Valider" @click="onOKClick" />
        <q-btn color="primary" label="Annuler" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    character: {
      type: Object,
    },
  },
  data() {
    return {
      title: '',
      description: '',
      image: null,
    };
  },
  methods: {
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    async onOKClick() {
      this.$refs.title.validate();
      this.$refs.description.validate();
      if (this.$refs.title.hasError || this.$refs.description.hasError) {
        return;
      }

      const body = {
        embeds: [
          {
            title: this.title,
            description: `
              URL: ${window.location.href}
              ${this.description}
            `,
            url: window.location.href,
            color: 3256153,
            footer: {
              text: 'DofusDB - Issue',
            },
            timestamp: new Date(),
          },
        ],
        username: 'DofusDB - Issue',
      };

      try {
        await this.$axios({
          url: 'https://discordapp.com/api/webhooks/760134455696031765/VQYv3gYSggidT4h5bVb43q9uWm-XfmxugBS54vGd_xbK5zUX3osMJppwDZfpgt4LovJU',
          method: 'POST',
          data: body,
        });
        this.$q.notify({
          color: 'positive',
          message: 'Merci de nous avoir remonté cette issue.',
        });
        this.$emit('ok');
        this.hide();
      } catch (e) {
        this.$q.notify({
          color: 'negative',
          message: 'Une erreur est survenue',
        });
      }
    },
    onCancelClick() {
      this.hide();
    },
  },
};
</script>
