<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  created() {
    const icons = {
      workbench_off: 'img:icons/workbench_off.png',
      workbench_on: 'img:icons/workbench_on.png',
      'quest:dungeon': 'img:icons/quest_dungeon.png',
      'quest:grp': 'img:icons/quest_grp.png',
      'quest:repeatable': 'img:icons/quest_repeatable.png',
      quest: 'img:/icons/quest.png',
      kama: 'img:icons/kama.png',
      kamas: 'img:icons/kama.png',
      xp: 'img:icons/xp.png',
      archmonster: 'img:icons/archmonster.png',
      recoltable: 'img:icons/scythe.png',
      'stat:pa': 'img:icons/characteristics/tx_actionPoints.png',
      'stat:force': 'img:icons/characteristics/tx_res_earth.png',
      'stat:pv': 'img:icons/characteristics/tx_health.png',
      'stat:sagesse': 'img:icons/characteristics/tx_carac_wisdom.png',
      'stat:chance': 'img:icons/characteristics/tx_res_water.png',
      'stat:agilite': 'img:icons/characteristics/tx_res_air.png',
      'stat:intelligence': 'img:icons/characteristics/tx_res_fire.png',
      'stat:dommages': 'img:icons/characteristics/tx_damage.png',
      'stat:critique': 'img:icons/characteristics/tx_crit.png',
      'stat:portee': 'img:icons/characteristics/tx_range.png',
      'stat:pm': 'img:icons/characteristics/tx_movementPoints.png',
      'stat:puissance': 'img:icons/characteristics/tx_stamina.png',
      'stat:invocations': 'img:icons/characteristics/tx_summonableCreaturesBoost.png',
      'stat:esquive-pa': 'img:icons/characteristics/tx_dodgeAP.png',
      'stat:esquive-pm': 'img:icons/characteristics/tx_dodgeMP.png',
      'stat:terre': 'img:icons/characteristics/tx_strength.png',
      'stat:feu': 'img:icons/characteristics/tx_intelligence.png',
      'stat:eau': 'img:icons/characteristics/tx_chance.png',
      'stat:air': 'img:icons/characteristics/tx_agility.png',
      'stat:neutre': 'img:icons/characteristics/tx_neutral.png',
      'stat:resistance-terre': 'img:icons/characteristics/tx_res_strength.png',
      'stat:resistance-feu': 'img:icons/characteristics/tx_res_intelligence.png',
      'stat:resistance-eau': 'img:icons/characteristics/tx_res_chance.png',
      'stat:resistance-air': 'img:icons/characteristics/tx_res_agility.png',
      'stat:resistance-neutre': 'img:icons/characteristics/tx_res_neutre.png',
      'stat:pods': 'img:icons/characteristics/tx_energy.png',
      'stat:initiative': 'img:icons/characteristics/tx_initiative.png',
      'stat:prospection': 'img:icons/characteristics/tx_prospecting.png',
      'stat:soins': 'img:icons/characteristics/tx_heal.png',
      'stat:renvoi': 'img:icons/characteristics/tx_return.png',
      'stat:puissances-pieges': 'img:icons/characteristics/tx_trapPercent.png',
      'stat:dommages-pieges': 'img:icons/characteristics/tx_trap.png',
      'stat:fuite': 'img:icons/characteristics/tx_escape.png',
      'stat:tacle': 'img:icons/characteristics/tx_tackle.png',
      'stat:retrait-pa': 'img:icons/characteristics/tx_attackAP.png',
      'stat:retrait-pm': 'img:icons/characteristics/tx_attackMP.png',
      'stat:dommages-poussee': 'img:icons/characteristics/tx_push.png',
      'stat:resistance-poussee': 'img:icons/characteristics/tx_pushReduction.png',
      'stat:dommages-critiques': 'img:icons/characteristics/tx_criticalDamage.png',
      'stat:resistance-critiques': 'img:icons/characteristics/tx_criticalReduction.png',
      'stat:dommages-terre': 'img:icons/characteristics/tx_res_earth.png',
      'stat:dommages-feu': 'img:icons/characteristics/tx_res_fire.png',
      'stat:dommages-eau': 'img:icons/characteristics/tx_res_water.png',
      'stat:dommages-air': 'img:icons/characteristics/tx_res_air.png',
      'stat:dommages-neutre': 'img:icons/characteristics/tx_res_neutral.png',
      'stat:dommages-melee': 'img:icons/characteristics/domelee.png',
      'stat:dommages-armes': 'img:icons/characteristics/doweapon.png',
      'stat:dommages-distance': 'img:icons/characteristics/doranged.png',
      'stat:dommages-sorts': 'img:icons/characteristics/dospells.png',
      'stat:resistance-melee': 'img:icons/characteristics/res_melee.png',
      'stat:resistance-sorts': 'img:icons/characteristics/res_spells.png',
      'stat:resistance-distance': 'img:icons/characteristics/res_ranged.png',
    };

    // eslint-disable-next-line consistent-return
    this.$q.iconMapFn = (iconName) => {
      if (Object.keys(icons).includes(iconName)) {
        const icon = icons[iconName];
        return { icon };
      }
      if (iconName.startsWith('stat:')) {
        const name = iconName.substring(5);

        return {
          cls: `stat stat-${name}`,
        };
      }
    };
  },
};
</script>
