<template>
  <div
    ref="map"
    class="overflow-hidden relative-position"
    :class="{ 'map-grab': !drag.isDragged, 'map-grabbing': drag.isDragged }"
    @mousedown.prevent="startDrag"
    @mouseup.prevent="dragEnd"
    @wheel.prevent="zoomHandler"
    @mouseleave.prevent="hidePositionInformation"
    @mousemove="continueDrag($event); showPositionInformation($event)"
    @click="onClick"
  >
    <q-menu
        context-menu
        dark
      >
        <q-list dark>
          <q-item
            v-if="grid"
            v-close-popup
            clickable
            @click="grid = false"
          >
            <q-item-section>Cacher la grille</q-item-section>
          </q-item>

          <q-item
            v-else
            v-close-popup
            clickable
            @click="grid = true"
          >
            <q-item-section>Afficher la grille</q-item-section>
          </q-item>
        </q-list>
      </q-menu>

    <div ref="mapContainer">
      <div
        ref="tileContainer"
        class="absolute"
      />
      <div ref="positionRectangle" class="map-position-rectangle absolute" style="z-index: 10" />
      <div
        ref="positionTooltip"
        class="bg-darker text-white text-bold q-px-md q-py-sm absolute"
        style="z-index: 310; opacity: 0"
      >
        0, 0
      </div>

      <template v-if="loaded">
        <div
          v-for="marker of markers
            .filter((e) => e.pos.worldMap === world.id)"
          :key="marker.id + 'v' +  marker.visible + updateMarkers"
          class="map-marker absolute"
          :style="`transform: translate(${marker.actualPos[0]}px, ${marker.actualPos[1]}px);
           width: ${world.mapWidth * actualScale}px; height: ${world.mapHeight * actualScale}px`"
        >
          <slot
            name="marker"
            v-bind:marker="marker"
            v-bind:scale="actualScale"
            v-bind:width="world.mapWidth * actualScale"
            v-bind:height="world.mapHeight * actualScale"
          />
        </div>
      </template>
    </div>


    <div
      ref="gridContainer"
      class="absolute lineContainer"
    />

    <!--template v-if="loaded">
      <div
        v-for="(route, routeIndex) of routes"
        :key="'routeMap' + routeIndex"
      >
        <div
          v-for="(path, pathIndex) of route.path"
          :key="'route' + routeIndex + 'Path' + pathIndex"
          :class="'map-path absolute bg-' + (path.color || 'cyan')"
          :style="getPathStyle(path)"
        />
      </div>
    </template-->

    <div class="text-white text-h6 map-water-mark">
      Dofus<span class="text-bold text-secondary">DB</span>
    </div>

    <div class="absolute-top-left">
      <q-select
        v-model="world"
        :options="worlds"
        map-options
        option-label="name"
        label="Monde"
        filled
        class="q-mt-md q-ml-md"
        bg-color="primary"
        dark
        options-dark
        options-selected-class="text-accent"
        label-color="accent"
        @click.stop="console.log"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'DofusMap2',
  components: {},
  props: {
    center: {
      type: Array,
      default: () => ([0, 0]),
    },
    markers: {
      type: Array,
      default: () => ([]),
    },
    routes: {
      type: Array,
      default: () => ([]),
    },
    tileSize: Number,
    defaultWorld: {
      type: Number,
      default: 1,
    },
  },
  data: () => ({
    loaded: false,
    rclick: null,
    img: [],
    imgList: [],
    actualScale: 1,
    possibleScales: [],
    scaleIndex: 0,
    actualPosition: {
      x: 0,
      y: 0,
    },
    actualOrigin: {
      x: 0,
      y: 0,
    },
    size: {
      x: 0,
      y: 0,
    },
    drag: {
      isClicked: false,
      isDragged: false,
      x: 0,
      y: 0,
    },
    world: null,
    worlds: [],
    updateMarkers: false,
  }),
  computed: {
    grid: {
      get() {
        return this.$store.state.map.grid;
      },
      set(value) {
        this.$store.commit('map/setGrid', value);
      },
    },
  },
  watch: {
    center() {
      this.actualPosition.x = this.center[0] * this.actualScale
        + ((this.world.mapWidth * this.actualScale) / 2);
      this.actualPosition.y = this.center[1] * this.actualScale
        + ((this.world.mapHeight * this.actualScale) / 2);
      this.move();
      this.draw();
    },
    routes: {
      handler() {
        // this.generatePath();
      },
      deep: true,
    },
    grid() {
      this.drawGrid();
    },
    markers() {
      this.setMarkersPosition();
    },
    world() {
      this.changeWorld(this.world);
    },
  },
  async mounted() {
    await this.getWorlds();
    this.world = this.worlds.find((e) => e.id === this.defaultWorld);
    // eslint-disable-next-line prefer-destructuring
    this.actualPosition.x = this.center[0];
    // eslint-disable-next-line prefer-destructuring
    this.actualPosition.y = this.center[1];
    this.possibleScales = this.world.zoom.map((e) => parseFloat(e)).sort().reverse();
    this.changeScale(this.world.startScale);
    // this.generatePath();
    this.setMarkersPosition();
    this.loaded = true;
    document.addEventListener('mousemove', this.documentMouseMoveListener);
    document.addEventListener('mouseup', this.documentMouseUpListener);
    window.addEventListener('resize', this.documentResizeListener);
  },
  beforeDestroy() {
    document.removeEventListener('mousemove', this.documentMouseMoveListener);
    document.removeEventListener('mouseup', this.documentMouseUpListener);
    window.removeEventListener('resize', this.documentResizeListener);
  },
  methods: {
    documentResizeListener() {
      this.changeScale(this.actualScale);
    },
    nothing() {},
    changeWorld(world) {
      if (!this.loaded) {
        return;
      }
      this.actualPosition.x = world.origineX;
      this.actualPosition.y = world.origineY;
      this.actualScale = 1;

      this.possibleScales = world.zoom.map((e) => parseFloat(e)).sort().reverse();
      this.changeScale(world.startScale);
      this.setMarkersPosition();
      if (this.$listeners.changeWorld) {
        this.$emit('changeWorld', world);
      }
    },
    getTileUrl(x, y, z) {
      const tilePerHLine = Math.ceil((this.world.totalWidth * z) / 250);
      const tilePerVLine = Math.ceil((this.world.totalHeight * z) / 250);
      const tileNumber = y * tilePerHLine + x + 1;
      if (x >= tilePerHLine || x < 0 || y < 0 || y >= tilePerVLine) {
        return '';
      }
      return `maps/${this.world.id}/${z}/${tileNumber}.jpg`;
    },
    async getWorlds() {
      this.worlds = await this.$api.getAll(this.$api.getWorlds, {});
    },
    setMarkersPosition() {
      this.markers.forEach((marker) => {
        const posX = this.world.origineX + this.world.mapWidth * marker.pos.x;
        const posY = this.world.origineY + this.world.mapHeight * marker.pos.y;
        marker.actualPos = this.transformToDivPosition(posX, posY);
      });
      this.updateMarkers = !this.updateMarkers;
    },
    documentMouseUpListener() {
      this.drag.isDragged = false;
      this.drag.isClicked = false;
    },
    documentMouseMoveListener($e) {
      this.continueDrag($e);
    },
    isDisplayable(x, y) {
      const maxX = this.actualPosition.x + (this.$refs.map.clientWidth / this.scale) / 2;
      const minX = this.actualPosition.x - (this.$refs.map.clientWidth / this.scale) / 2;
      const maxY = this.actualPosition.y + (this.$refs.map.clientHeight / this.scale) / 2;
      const minY = this.actualPosition.y - (this.$refs.map.clientHeight / this.scale) / 2;
      if (x > maxX || x < minX || y > maxY || y < minY) {
        return false;
      }
      return true;
    },
    onClick(e) {
      if (this.$listeners.clickOnMap && !this.drag.isDragged) {
        const divWidth = this.$refs.map.clientWidth;
        const divHeight = this.$refs.map.clientHeight;
        const realMousePos = {
          x: e.clientX
            - this.$refs.map.getBoundingClientRect().x,
          y: e.clientY
            - this.$refs.map.getBoundingClientRect().y,
        };

        const deltaX = (realMousePos.x) - (divWidth / 2);
        const deltaY = (realMousePos.y) - (divHeight / 2);

        const pointedPosition = {
          x: this.actualPosition.x + deltaX,
          y: this.actualPosition.y + deltaY,
        };

        const dofusXY = this.mapXYToDofusXY(pointedPosition.x, pointedPosition.y);

        this.$emit('clickOnMap', dofusXY);
      }
    },
    zoomHandler(e) {
      if (e.deltaY > 0 && this.scaleIndex < this.possibleScales.length - 1) {
        this.scaleIndex += 1;
      } else if (e.deltaY < 0 && this.scaleIndex > 0) {
        this.scaleIndex -= 1;
      }
      const nextScale = this.possibleScales[this.scaleIndex];

      if (this.actualScale !== nextScale) {
        const divWidth = this.$refs.map.clientWidth;
        const divHeight = this.$refs.map.clientHeight;
        const zoomScale = nextScale / this.actualScale;

        const realMousePos = {
          x: e.clientX
            - this.$refs.map.getBoundingClientRect().x,
          y: e.clientY
            - this.$refs.map.getBoundingClientRect().y,
        };

        const deltaX = (realMousePos.x) - (divWidth / 2);
        const deltaY = (realMousePos.y) - (divHeight / 2);

        const pointedPosition = {
          x: this.actualPosition.x + deltaX,
          y: this.actualPosition.y + deltaY,
        };
        const pointedPositionAfterScale = {
          x: pointedPosition.x * zoomScale,
          y: pointedPosition.y * zoomScale,
        };

        const actualPositionAfterScale = {
          x: this.actualPosition.x * zoomScale,
          y: this.actualPosition.y * zoomScale,
        };

        const offset = {
          x: (this.actualPosition.x - pointedPosition.x)
            - (actualPositionAfterScale.x - pointedPositionAfterScale.x),
          y: (this.actualPosition.y - pointedPosition.y)
            - (actualPositionAfterScale.y - pointedPositionAfterScale.y),
        };

        this.actualPosition.x *= zoomScale;
        this.actualPosition.y *= zoomScale;
        this.actualPosition.x += offset.x;
        this.actualPosition.y += offset.y;
        this.changeScale(nextScale, this.actualPosition);
      }
    },
    startDrag(e) {
      this.drag.isClicked = true;
      this.drag.x = e.clientX;
      this.drag.y = e.clientY;
    },
    continueDrag(e) {
      if (!this.drag.isClicked) {
        return;
      }
      this.drag.isDragged = true;
      const deltaX = e.clientX - this.drag.x;
      const deltaY = e.clientY - this.drag.y;

      this.actualPosition.x -= deltaX;
      this.actualPosition.y -= deltaY;
      this.move();
      this.draw();

      this.drag.x = e.clientX;
      this.drag.y = e.clientY;
    },
    dragEnd() {
      setTimeout(() => {
        this.drag.isClicked = false;
        this.drag.isDragged = false;
        this.drag.x = 0;
        this.drag.y = 0;
      });
    },
    changeScale(newScale, newPos) {
      const oldScale = this.actualScale;
      this.scaleIndex = this.possibleScales.indexOf(newScale);
      this.actualScale = newScale;
      this.actualOrigin.x = this.world.origineX * newScale;
      this.actualOrigin.y = this.world.origineY * newScale;
      this.size.x = this.world.totalWidth * newScale;
      this.size.y = this.world.totalHeight * newScale;
      this.actualPosition.x = newPos ? newPos.x : (this.actualPosition.x / oldScale)
        * newScale;
      this.actualPosition.y = newPos ? newPos.y : (this.actualPosition.y / oldScale)
        * newScale;

      this.$refs.tileContainer.innerHTML = '';
      this.img = [];
      this.imgList = [];
      this.setMarkersPosition();
      this.move();
      this.draw();
    },
    mapXYToDofusXY(mapX, mapY) {
      if (!this.world) {
        return [0, 0];
      }
      const dofusX = (mapX - this.actualOrigin.x) / (this.world.mapWidth * this.actualScale);
      const dofusY = (mapY - this.actualOrigin.y) / (this.world.mapHeight * this.actualScale);

      return [Math.floor(dofusX), Math.floor(dofusY)];
    },
    dofusXYToMapXY(x, y, scale) {
      scale = scale || this.actualScale;
      const newX = (this.world.origineX * scale) + (x) * (this.world.mapWidth * scale);
      const newY = (this.world.origineY * scale) + (y) * (this.world.mapHeight * scale);

      return [Math.floor(newX), Math.floor(newY)];
    },
    getImgPosition(x, y) {
      const deltaX = x % this.tileSize;
      const deltaY = y % this.tileSize;

      return [x - deltaX, y - deltaY];
    },
    move() {
      if (!this.$refs.mapContainer) {
        return;
      }
      const left = Math.floor(this.actualOrigin.x - this.actualPosition.x);
      const top = Math.floor(this.actualOrigin.y - this.actualPosition.y);
      this.$refs.mapContainer.style.transform = `translate(${left}px, ${top}px)`;
    },
    createLine(start, end) {
      const line = document.createElement('div');

      line.style.background = 'rgba(200, 200, 200, 0.8)';
      line.style.position = 'absolute';

      if (start[0] !== end[0]) {
        line.style.width = `${end[0] - start[0]}px`;
        line.style.height = '1px';
      } else {
        line.style.width = '1px';
        line.style.height = `${end[1] - start[1]}px`;
      }

      line.style.transform = `translate(${start[0]}px, ${start[1]}px)`;

      this.$refs.gridContainer.appendChild(line);
    },
    drawGrid() {
      this.$refs.gridContainer.innerHTML = '';
      if (!this.grid) {
        return;
      }

      const divWidth = this.$refs.map.clientWidth;
      const divHeight = this.$refs.map.clientHeight;
      const start = this.getMapPosition(0, 0);
      const endX = divWidth;
      const endY = divHeight;

      for (let x = start[0]; x < endX; x += this.world.mapWidth * this.actualScale) {
        this.createLine([x, start[1]], [x, endY]);
      }

      for (let y = start[1]; y < endY; y += this.world.mapHeight * this.actualScale) {
        this.createLine([start[0], y], [endX, y]);
      }
    },
    draw() {
      if (!this.$refs.map) {
        return;
      }
      const imgPosition = this.getImgPosition(this.actualPosition.x, this.actualPosition.y);

      const divWidth = this.$refs.map.clientWidth;
      const imgPerHLine = Math.ceil(divWidth / this.tileSize) + 1;
      const divHeight = this.$refs.map.clientHeight;
      const imgPerVLine = Math.ceil(divHeight / this.tileSize) + 1;
      const endX = imgPosition[0] + imgPerHLine * this.tileSize;
      const endY = imgPosition[1] + imgPerVLine * this.tileSize;
      for (let x = imgPosition[0] - Math.ceil(imgPerHLine / 2) * this.tileSize;
        x < endX;
        x += this.tileSize) {
        for (let y = imgPosition[1] - Math.ceil(imgPerVLine / 2) * this.tileSize;
          y < endY;
          y += this.tileSize) {
          this.createTile([
            x,
            y,
          ]);
        }
      }

      this.drawGrid();
    },
    getTileXY(mapX, mapY) {
      const tileX = mapX / this.tileSize;
      const tileY = mapY / this.tileSize;

      return [tileX, tileY];
    },
    createTile(imgPosition) {
      if (!this.img[imgPosition[0]]) {
        this.img[imgPosition[0]] = [];
      }

      let img;

      if (this.img[imgPosition[0]][imgPosition[1]]) {
        img = this.img[imgPosition[0]][imgPosition[1]];
      } else {
        img = document.createElement('img');
        img.draggable = false;

        const tileXY = this.getTileXY(imgPosition[0], imgPosition[1]);
        img.src = this.getTileUrl(tileXY[0], tileXY[1], this.actualScale); // HERE

        this.img[imgPosition[0]][imgPosition[1]] = img;
        this.imgList.push({
          position: {
            x: imgPosition[0],
            y: imgPosition[1],
          },
          e: img,
        });

        img.onerror = () => {
          img.style.display = 'none';
        };
        this.$refs.tileContainer.appendChild(img);
        img.style.position = 'absolute';
        img.style.top = '0px';
        img.style.left = '0px';

        const divWidth = this.$refs.map.clientWidth;
        const divHeight = this.$refs.map.clientHeight;

        const left = Math.floor(divWidth / 2 + (imgPosition[0] - this.actualOrigin.x));
        const top = Math.floor(divHeight / 2 + (imgPosition[1] - this.actualOrigin.y));
        img.style.transform = `translate(${left}px, ${top}px)`;
      }
    },
    getMapPosition(x, y) {
      const divWidth = this.$refs.map.clientWidth;
      const divHeight = this.$refs.map.clientHeight;

      const mapXY = {
        x: this.actualPosition.x - ((divWidth / 2) - x),
        y: this.actualPosition.y - ((divHeight / 2) - y),
      };

      const actualMapSize = {
        x: this.world.mapWidth * this.actualScale,
        y: this.world.mapHeight * this.actualScale,
      };
      const deltaCenter = {
        x: mapXY.x - this.actualPosition.x,
        y: mapXY.y - this.actualPosition.y,
      };
      const deltaOrigin = {
        x: mapXY.x - this.actualOrigin.x,
        y: mapXY.y - this.actualOrigin.y,
      };

      const offset = {
        x: deltaOrigin.x % actualMapSize.x,
        y: deltaOrigin.y % actualMapSize.y,
      };

      // set the value of modulo like I want (if < 0 take the positive rest of modulo not negativ)
      if (offset.x < 0) {
        offset.x += actualMapSize.x;
      }
      if (offset.y < 0) {
        offset.y += actualMapSize.y;
      }
      const left = (divWidth / 2) + deltaCenter.x - offset.x;
      const top = (divHeight / 2) + deltaCenter.y - offset.y;
      return [left, top];
    },
    showPositionInformation(e) {
      if (!this.$refs.map || !this.world) {
        return;
      }
      const divWidth = this.$refs.map.clientWidth;
      const divHeight = this.$refs.map.clientHeight;

      const realMousePos = {
        x: e.clientX
          - this.$refs.map.getBoundingClientRect().x,
        y: e.clientY
          - this.$refs.map.getBoundingClientRect().y,
      };

      // offset of the main container
      const containerOffset = {
        x: Math.floor(this.actualOrigin.x - this.actualPosition.x),
        y: Math.floor(this.actualOrigin.y - this.actualPosition.y),
      };

      // Pos of mouse on the worldmap (px)
      const mapXY = {
        x: (this.actualPosition.x) - ((divWidth / 2) - realMousePos.x),
        y: (this.actualPosition.y) - ((divHeight / 2) - realMousePos.y),
      };

      // Pos of mouse on the map (Dofus XY)
      const dofusXY = this.mapXYToDofusXY(mapXY.x, mapXY.y);

      // Actual size of map (with scale)
      const actualMapSize = {
        x: this.world.mapWidth * this.actualScale,
        y: this.world.mapHeight * this.actualScale,
      };

      // Delta from mouse pos on worldmap and the center of cam
      const deltaCenter = {
        x: mapXY.x - this.actualPosition.x,
        y: mapXY.y - this.actualPosition.y,
      };

      // Delta from mouse pos on worldmap and the origin of the worldmap
      const deltaOrigin = {
        x: mapXY.x - this.actualOrigin.x,
        y: mapXY.y - this.actualOrigin.y,
      };

      // Offset of the actual map
      const offset = {
        x: deltaOrigin.x % actualMapSize.x,
        y: deltaOrigin.y % actualMapSize.y,
      };

      // set the value of modulo like I want (if < 0 take the positive rest of modulo not negativ)
      if (offset.x < 0) {
        offset.x += actualMapSize.x;
      }
      if (offset.y < 0) {
        offset.y += actualMapSize.y;
      }
      const left = (divWidth / 2) + deltaCenter.x - offset.x - containerOffset.x;
      const top = (divHeight / 2) + deltaCenter.y - offset.y - containerOffset.y;

      this.$refs.positionRectangle.style.opacity = 1;
      this.$refs.positionRectangle.style.width = `${this.world.mapWidth * this.actualScale + 1}px`;
      this.$refs.positionRectangle.style.height = `${this.world.mapHeight * this.actualScale + 1}px`;
      this.$refs.positionRectangle.style.transform = `translate(${left}px, ${top}px)`;
      this.$refs.positionTooltip.style.opacity = 1;
      this.$refs.positionTooltip.style.transform = `translate(${left + actualMapSize.x + 10 * this.actualScale}px, ${top + actualMapSize.y + 10 * this.actualScale}px)`;
      this.$refs.positionTooltip.innerHTML = `${dofusXY[0]}, ${dofusXY[1]}`;
    },
    hidePositionInformation() {
      if (!this.$refs.positionRectangle) {
        return;
      }
      this.$refs.positionRectangle.style.opacity = 0;
      this.$refs.positionTooltip.style.opacity = 0;
    },
    transformToDivPosition(x, y) {
      const divWidth = this.$refs.map.clientWidth;
      const divHeight = this.$refs.map.clientHeight;

      const newX = ((divWidth / 2) - (this.actualOrigin.x - (x * this.actualScale)));
      const newY = ((divHeight / 2) - (this.actualOrigin.y - (y * this.actualScale)));

      return [newX, newY];
    },
  },
};
</script>

<style scoped>
.map-grab {
  cursor: grab;
}

.map-grabbing {
  cursor: grabbing;
}

.map-position-rectangle {
  border: 1px solid white;
}

.map-marker {
  position: absolute;
  z-index: 10;
}

.map-marker-info {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}

.map-marker-number {
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.map-water-mark {
  position: absolute;
  right: 10px;
  bottom: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
</style>
