<template>
  <div
    ref="map"
    class="overflow-hidden"
    style="position: relative"
    :class="{ 'map-grab': !drag.isDragged, 'map-grabbing': drag.isDragged }"
    @mousedown.prevent="startDrag"
    @mouseup.prevent="dragEnd"
    @wheel.prevent="zoomHandler"
    @mouseleave.prevent="hidePositionInformation($event); dragEnd($event)"
    @mousemove.prevent="continueDrag($event); showPositionInformation($event)"
    @click="onClick"
  >
    <q-menu
      context-menu
      dark
    >
      <q-list dark>
        <q-item
          v-if="grid"
          v-close-popup
          clickable
          @click="grid = false"
        >
          <q-item-section>Cacher la grille</q-item-section>
        </q-item>

        <q-item
          v-else
          v-close-popup
          clickable
          @click="grid = true"
        >
          <q-item-section>Afficher la grille</q-item-section>
        </q-item>
      </q-list>
    </q-menu>

    <div
      ref="tileContainer"
      class="absolute"
    >
    </div>

    <div ref="positionRectangle" class="map-position-rectangle absolute" style="z-index: 10" />
    <div
      ref="positionTooltip"
      class="bg-darker text-white text-bold q-px-md q-py-sm absolute"
      style="z-index: 11; opacity: 0"
    >
      0, 0
    </div>

    <div
      ref="gridContainer"
      class="absolute lineContainer"
    />

    <template v-if="loaded">
      <div
        v-for="(route, routeIndex) of routes"
        :key="'routeMap' + routeIndex"
      >
        <div
          v-for="(path, pathIndex) of route.path"
          :key="'route' + routeIndex + 'Path' + pathIndex"
          :class="'map-path absolute bg-' + (path.color || 'cyan')"
          :style="getPathStyle(path)"
        />
      </div>

      <div
        v-for="marker of markers.filter((e) => isDisplayable(e.pos.x, e.pos.y))"
        :key="marker.id + 'v' +  marker.visible"
        class="map-marker absolute"
        :style="'transform: translate(' + transformToDivPosition(marker.pos.x, 0)[0]
       + 'px, ' + (transformToDivPosition(0, marker.pos.y)[1])
        + 'px); width: '
          + mapWidth * actualScale + 'px; height: ' + mapHeight * actualScale + 'px'"
      >
        <slot name="marker" v-bind:marker="marker" v-bind:scale="actualScale">
          <q-icon
            v-if="marker.visible"
            :class="'map-marker-info ' + marker.iconClass"
            :name="marker.icon || 'fas fa-map-marker'"
            :color="marker.color || 'white'"
            :size="mapHeight * actualScale + 'px'"
            :style="'margin-top: ' +  (- (20 * actualScale)) + 'px'"
          >
            <q-tooltip
              anchor="top middle"
              self="bottom middle"
              content-class="text-body2 text-white bg-darker" class="bg-darker"
            >
            <span v-if="marker.stepNumber">
              Etape:&nbsp;
              <span class="text-bold">
                {{ marker.stepNumber }}
              </span>
            </span>
              <span v-if="marker.objectiveNumber">
              - Objectif:&nbsp;
              <span class="text-bold">
                {{ marker.objectiveNumber }}
              </span>
            </span>
              <criteria class="row" :criteria="marker.text" />
            </q-tooltip>

            <div
              class="map-marker-number text-bold text-white"
              :style="'font-size: ' + 25 * actualScale + 'px'"
            >
              {{ marker.objectiveNumber }}
            </div>
          </q-icon>
        </slot>
      </div>
    </template>

    <div class="text-white text-h6 map-water-mark">
      Dofus<span class="text-bold text-secondary">DB</span>
    </div>
  </div>
</template>

<script>
import Criteria from 'components/Criteria/Criteria';

export default {
  name: 'DofusMap',
  components: {
    Criteria,
  },
  props: {
    center: {
      type: Array,
      default: () => ([0, 0]),
    },
    origin: {
      type: Array,
      default: () => ([0, 0]),
    },
    width: Number,
    height: Number,
    markers: {
      type: Array,
      default: () => ([]),
    },
    routes: {
      type: Array,
      default: () => ([]),
    },
    tileSize: Number,
    scale: Number,
    scales: Array,
    name: String,
    mapWidth: Number,
    mapHeight: Number,
    url: [String, Function],
  },
  data: () => ({
    loaded: false,
    rclick: null,
    img: [],
    imgList: [],
    actualScale: 1,
    possibleScales: [],
    scaleIndex: 0,
    actualPosition: {
      x: 0,
      y: 0,
    },
    actualOrigin: {
      x: 0,
      y: 0,
    },
    size: {
      x: 0,
      y: 0,
    },
    drag: {
      isClicked: false,
      isDragged: false,
      x: 0,
      y: 0,
    },
  }),
  computed: {
    grid: {
      get() {
        return this.$store.state.map.grid;
      },
      set(value) {
        this.$store.commit('map/setGrid', value);
      },
    },
  },
  watch: {
    center() {
      this.actualPosition.x = this.center[0] * this.actualScale
        + ((this.mapWidth * this.actualScale) / 2);
      this.actualPosition.y = this.center[1] * this.actualScale
        + ((this.mapHeight * this.actualScale) / 2);
      this.move();
      this.draw();
    },
    routes: {
      handler() {
        this.generatePath();
      },
      deep: true,
    },
    grid() {
      this.drawGrid();
    },
  },
  mounted() {
    // eslint-disable-next-line prefer-destructuring
    this.actualPosition.x = this.center[0];
    // eslint-disable-next-line prefer-destructuring
    this.actualPosition.y = this.center[1];
    this.possibleScales = this.scales.map((e) => parseFloat(e)).sort().reverse();
    this.changeScale(this.scale);
    this.generatePath();
    this.loaded = true;
  },
  methods: {
    isDisplayable(x, y) {
      const maxX = this.actualPosition.x + (this.$refs.map.clientWidth / this.scale) / 2;
      const minX = this.actualPosition.x - (this.$refs.map.clientWidth / this.scale) / 2;
      const maxY = this.actualPosition.y + (this.$refs.map.clientHeight / this.scale) / 2;
      const minY = this.actualPosition.y - (this.$refs.map.clientHeight / this.scale) / 2;
      if (x > maxX || x < minX || y > maxY || y < minY) {
        return false;
      }
      return true;
    },
    onClick(e) {
      if (this.$listeners.clickOnMap && !this.drag.isDragged) {
        const divWidth = this.$refs.map.clientWidth;
        const divHeight = this.$refs.map.clientHeight;
        const realMousePos = {
          x: e.clientX
            - this.$refs.map.getBoundingClientRect().x,
          y: e.clientY
            - this.$refs.map.getBoundingClientRect().y,
        };

        const deltaX = (realMousePos.x) - (divWidth / 2);
        const deltaY = (realMousePos.y) - (divHeight / 2);

        const pointedPosition = {
          x: this.actualPosition.x + deltaX,
          y: this.actualPosition.y + deltaY,
        };

        const dofusXY = this.mapXYToDofusXY(pointedPosition.x, pointedPosition.y);

        this.$emit('clickOnMap', dofusXY);
      }
    },
    zoomHandler(e) {
      if (e.deltaY > 0 && this.scaleIndex < this.possibleScales.length - 1) {
        this.scaleIndex += 1;
      } else if (e.deltaY < 0 && this.scaleIndex > 0) {
        this.scaleIndex -= 1;
      }
      const nextScale = this.possibleScales[this.scaleIndex];

      if (this.actualScale !== nextScale) {
        const divWidth = this.$refs.map.clientWidth;
        const divHeight = this.$refs.map.clientHeight;
        const zoomScale = nextScale / this.actualScale;

        const realMousePos = {
          x: e.clientX
            - this.$refs.map.getBoundingClientRect().x,
          y: e.clientY
            - this.$refs.map.getBoundingClientRect().y,
        };

        const deltaX = (realMousePos.x) - (divWidth / 2);
        const deltaY = (realMousePos.y) - (divHeight / 2);

        const pointedPosition = {
          x: this.actualPosition.x + deltaX,
          y: this.actualPosition.y + deltaY,
        };
        const pointedPositionAfterScale = {
          x: pointedPosition.x * zoomScale,
          y: pointedPosition.y * zoomScale,
        };

        const actualPositionAfterScale = {
          x: this.actualPosition.x * zoomScale,
          y: this.actualPosition.y * zoomScale,
        };

        const offset = {
          x: (this.actualPosition.x - pointedPosition.x)
            - (actualPositionAfterScale.x - pointedPositionAfterScale.x),
          y: (this.actualPosition.y - pointedPosition.y)
            - (actualPositionAfterScale.y - pointedPositionAfterScale.y),
        };

        this.actualPosition.x *= zoomScale;
        this.actualPosition.y *= zoomScale;
        this.actualPosition.x += offset.x;
        this.actualPosition.y += offset.y;
        this.changeScale(nextScale, this.actualPosition);
      }
    },
    startDrag(e) {
      this.drag.isClicked = true;
      this.drag.x = e.clientX;
      this.drag.y = e.clientY;
    },
    continueDrag(e) {
      if (!this.drag.isClicked) {
        return;
      }
      this.drag.isDragged = true;
      const deltaX = e.clientX - this.drag.x;
      const deltaY = e.clientY - this.drag.y;

      this.actualPosition.x -= deltaX;
      this.actualPosition.y -= deltaY;
      this.move();
      this.draw();

      this.drag.x = e.clientX;
      this.drag.y = e.clientY;
    },
    dragEnd() {
      setTimeout(() => {
        this.drag.isClicked = false;
        this.drag.isDragged = false;
        this.drag.x = 0;
        this.drag.y = 0;
      });
    },
    changeScale(newScale, newPos) {
      const oldScale = this.actualScale;
      this.scaleIndex = this.possibleScales.indexOf(newScale);
      this.actualScale = newScale;
      this.actualOrigin.x = this.origin[0] * newScale;
      this.actualOrigin.y = this.origin[1] * newScale;
      this.size.x = this.width * newScale;
      this.size.y = this.width * newScale;
      this.actualPosition.x = newPos ? newPos.x : (this.actualPosition.x / oldScale)
        * newScale;
      this.actualPosition.y = newPos ? newPos.y : (this.actualPosition.y / oldScale)
        * newScale;

      this.$refs.tileContainer.innerHTML = '';
      this.img = [];
      this.imgList = [];
      this.draw();
    },
    mapXYToDofusXY(mapX, mapY) {
      const dofusX = (mapX - this.actualOrigin.x) / (this.mapWidth * this.actualScale);
      const dofusY = (mapY - this.actualOrigin.y) / (this.mapHeight * this.actualScale);

      return [Math.floor(dofusX), Math.floor(dofusY)];
    },
    dofusXYToMapXY(x, y, scale) {
      scale = scale || this.actualScale;
      const newX = (this.origin[0] * scale) + (x) * (this.mapWidth * scale);
      const newY = (this.origin[1] * scale) + (y) * (this.mapHeight * scale);

      return [Math.floor(newX), Math.floor(newY)];
    },
    getImgPosition(x, y) {
      const deltaX = x % this.tileSize;
      const deltaY = y % this.tileSize;

      return [x - deltaX, y - deltaY];
    },
    move() {
      const divWidth = this.$refs.map.clientWidth;
      const divHeight = this.$refs.map.clientHeight;

      this.imgList.forEach((img) => {
        const left = Math.floor(divWidth / 2 + (img.position.x - this.actualPosition.x));
        const top = Math.floor(divHeight / 2 + (img.position.y - this.actualPosition.y));

        img.e.style.transform = `translate(${left}px, ${top}px)`;
      });
    },
    createLine(start, end) {
      const line = document.createElement('div');

      line.style.background = 'rgba(200, 200, 200, 0.8)';
      line.style.position = 'absolute';

      if (start[0] !== end[0]) {
        line.style.width = `${end[0] - start[0]}px`;
        line.style.height = '1px';
      } else {
        line.style.width = '1px';
        line.style.height = `${end[1] - start[1]}px`;
      }

      line.style.transform = `translate(${start[0]}px, ${start[1]}px)`;

      this.$refs.gridContainer.appendChild(line);
    },
    drawGrid() {
      this.$refs.gridContainer.innerHTML = '';
      if (!this.grid) {
        return;
      }

      const divWidth = this.$refs.map.clientWidth;
      const divHeight = this.$refs.map.clientHeight;
      const start = this.getMapPosition(0, 0);
      const endX = divWidth;
      const endY = divHeight;

      for (let x = start[0]; x < endX; x += this.mapWidth * this.actualScale) {
        this.createLine([x, start[1]], [x, endY]);
      }

      for (let y = start[1]; y < endY; y += this.mapHeight * this.actualScale) {
        this.createLine([start[0], y], [endX, y]);
      }
    },
    draw() {
      const imgPosition = this.getImgPosition(this.actualPosition.x, this.actualPosition.y);

      const divWidth = this.$refs.map.clientWidth;
      const imgPerHLine = Math.ceil(divWidth / this.tileSize) + 1;
      const divHeight = this.$refs.map.clientHeight;
      const imgPerVLine = Math.ceil(divHeight / this.tileSize) + 1;
      const endX = imgPosition[0] + imgPerHLine * this.tileSize;
      const endY = imgPosition[1] + imgPerVLine * this.tileSize;
      for (let x = imgPosition[0] - Math.ceil(imgPerHLine / 2) * this.tileSize;
        x < endX;
        x += this.tileSize) {
        for (let y = imgPosition[1] - Math.ceil(imgPerVLine / 2) * this.tileSize;
          y < endY;
          y += this.tileSize) {
          this.createTile([
            x,
            y,
          ]);
        }
      }

      this.drawGrid();
    },
    getTileXY(mapX, mapY) {
      const tileX = mapX / this.tileSize;
      const tileY = mapY / this.tileSize;

      return [tileX, tileY];
    },
    createTile(imgPosition) {
      if (!this.img[imgPosition[0]]) {
        this.img[imgPosition[0]] = [];
      }

      let img;

      if (this.img[imgPosition[0]][imgPosition[1]]) {
        img = this.img[imgPosition[0]][imgPosition[1]];
      } else {
        img = document.createElement('img');

        const tileXY = this.getTileXY(imgPosition[0], imgPosition[1]);
        img.src = this.url(tileXY[0], tileXY[1], this.actualScale);

        this.img[imgPosition[0]][imgPosition[1]] = img;
        this.imgList.push({
          position: {
            x: imgPosition[0],
            y: imgPosition[1],
          },
          e: img,
        });

        img.onerror = () => {
          img.style.display = 'none';
        };
        this.$refs.tileContainer.appendChild(img);
        img.style.position = 'absolute';
        img.style.top = '0px';
        img.style.left = '0px';
      }

      const divWidth = this.$refs.map.clientWidth;
      const divHeight = this.$refs.map.clientHeight;

      const left = Math.floor(divWidth / 2 + (imgPosition[0] - this.actualPosition.x));
      const top = Math.floor(divHeight / 2 + (imgPosition[1] - this.actualPosition.y));
      img.style.transform = `translate(${left}px, ${top}px)`;
    },
    getMapPosition(x, y) {
      const divWidth = this.$refs.map.clientWidth;
      const divHeight = this.$refs.map.clientHeight;

      const mapXY = {
        x: this.actualPosition.x - ((divWidth / 2) - x),
        y: this.actualPosition.y - ((divHeight / 2) - y),
      };

      const actualMapSize = {
        x: this.mapWidth * this.actualScale,
        y: this.mapHeight * this.actualScale,
      };
      const deltaCenter = {
        x: mapXY.x - this.actualPosition.x,
        y: mapXY.y - this.actualPosition.y,
      };
      const deltaOrigin = {
        x: mapXY.x - this.actualOrigin.x,
        y: mapXY.y - this.actualOrigin.y,
      };

      const offset = {
        x: deltaOrigin.x % actualMapSize.x,
        y: deltaOrigin.y % actualMapSize.y,
      };

      // set the value of modulo like I want (if < 0 take the positive rest of modulo not negativ)
      if (offset.x < 0) {
        offset.x += actualMapSize.x;
      }
      if (offset.y < 0) {
        offset.y += actualMapSize.y;
      }
      const left = (divWidth / 2) + deltaCenter.x - offset.x;
      const top = (divHeight / 2) + deltaCenter.y - offset.y;
      return [left, top];
    },
    showPositionInformation(e) {
      const divWidth = this.$refs.map.clientWidth;
      const divHeight = this.$refs.map.clientHeight;

      const realMousePos = {
        x: e.clientX
          - this.$refs.map.getBoundingClientRect().x,
        y: e.clientY
          - this.$refs.map.getBoundingClientRect().y,
      };

      const mapXY = {
        x: this.actualPosition.x - ((divWidth / 2) - realMousePos.x),
        y: this.actualPosition.y - ((divHeight / 2) - realMousePos.y),
      };

      const dofusXY = this.mapXYToDofusXY(mapXY.x, mapXY.y);
      const actualMapSize = {
        x: this.mapWidth * this.actualScale,
        y: this.mapHeight * this.actualScale,
      };
      const deltaCenter = {
        x: mapXY.x - this.actualPosition.x,
        y: mapXY.y - this.actualPosition.y,
      };
      const deltaOrigin = {
        x: mapXY.x - this.actualOrigin.x,
        y: mapXY.y - this.actualOrigin.y,
      };

      const offset = {
        x: deltaOrigin.x % actualMapSize.x,
        y: deltaOrigin.y % actualMapSize.y,
      };

      // set the value of modulo like I want (if < 0 take the positive rest of modulo not negativ)
      if (offset.x < 0) {
        offset.x += actualMapSize.x;
      }
      if (offset.y < 0) {
        offset.y += actualMapSize.y;
      }
      const left = (divWidth / 2) + deltaCenter.x - offset.x;
      const top = (divHeight / 2) + deltaCenter.y - offset.y;

      this.$refs.positionRectangle.style.opacity = 1;
      this.$refs.positionRectangle.style.width = `${this.mapWidth * this.actualScale + 1}px`;
      this.$refs.positionRectangle.style.height = `${this.mapHeight * this.actualScale + 1}px`;
      this.$refs.positionRectangle.style.transform = `translate(${left}px, ${top}px)`;
      this.$refs.positionTooltip.style.opacity = 1;
      this.$refs.positionTooltip.style.transform = `translate(${left + actualMapSize.x + 10 * this.actualScale}px, ${top + actualMapSize.y + 10 * this.actualScale}px)`;
      this.$refs.positionTooltip.innerHTML = `${dofusXY[0]}, ${dofusXY[1]}`;
    },
    hidePositionInformation() {
      this.$refs.positionRectangle.style.opacity = 0;
      this.$refs.positionTooltip.style.opacity = 0;
    },
    transformToDivPosition(x, y) {
      const divWidth = this.$refs.map.clientWidth;
      const divHeight = this.$refs.map.clientHeight;

      const newX = ((divWidth / 2) - (this.actualPosition.x - (x * this.actualScale)));
      const newY = ((divHeight / 2) - (this.actualPosition.y - (y * this.actualScale)));

      return [newX, newY];
    },
    generatePath() {
      this.routes.forEach((route) => {
        if (route.path) {
          return;
        }
        const deltaX = Math.abs(route.from.x - route.to.x);
        const deltaY = Math.abs(route.from.y - route.to.y);
        const dirX = route.from.x > route.to.x ? -1 : 1;
        const dirY = route.from.y > route.to.y ? -1 : 1;
        route.path = [];

        for (let i = 0; i < deltaX; i += 1) {
          route.path.push({
            x: route.from.x + (i * dirX),
            y: route.from.y,
            left: dirX === -1,
            right: dirX === 1,
          });
        }
        for (let i = 0; i < deltaY; i += 1) {
          route.path.push({
            x: route.from.x + (deltaX * dirX),
            y: route.from.y + (i * dirY),
            up: dirY === -1,
            down: dirY === 1,
          });
        }

        // Set start and end
        if (route.path.length) {
          route.path[0].start = true;
          route.path[route.path.length - 1].end = true;
        }
      });
    },
    getPathStyle(path) {
      const css = {};
      const mapPos = this.dofusXYToMapXY(path.x, path.y, 1);
      const pos = this.transformToDivPosition(mapPos[0], mapPos[1]);
      const actualMapWidth = Math.ceil(this.mapWidth * this.actualScale);
      const actualMapHeight = Math.ceil(this.mapHeight * this.actualScale);
      const largeness = 20 * this.actualScale;

      if (path.up || path.down) {
        css.width = `${largeness}px`;
        css.height = `${actualMapHeight + 2}px`;

        if (path.down) {
          css.transform = `translate(${pos[0] + actualMapWidth / 2 - largeness / 2}px, ${pos[1] + actualMapHeight / 2}px)`;
          css['border-radius'] = path.start ? '50vh 50vh 0 0' : css['border-radius'];
          css['border-radius'] = path.end ? '0 0 50vh 50vh' : css['border-radius'];
        } else {
          css.transform = `translate(${pos[0] + actualMapWidth / 2 - largeness / 2}px, ${pos[1] - actualMapHeight / 2}px)`;
          css['border-radius'] = path.start ? '0 0 50vh 50vh' : css['border-radius'];
          css['border-radius'] = path.end ? '50vh 50vh 0 0' : css['border-radius'];
        }
      } else if (path.left || path.right) {
        css.width = `${actualMapWidth + 2}px`;
        css.height = `${largeness}px`;

        if (path.right) {
          css.transform = `translate(${pos[0] + actualMapWidth / 2}px, ${pos[1] + actualMapHeight / 2 - largeness / 2}px)`;
          css['border-radius'] = path.start ? '50vh 0 0 50vh' : css['border-radius'];
          css['border-radius'] = path.end ? '0 50vh 50vh 0' : css['border-radius'];
        } else {
          css.transform = `translate(${pos[0] - actualMapWidth / 2}px, ${pos[1] + actualMapHeight / 2 - largeness / 2}px)`;
          css['border-radius'] = path.start ? '0 50vh 50vh 0' : css['border-radius'];
          css['border-radius'] = path.end ? '50vh 0 0 50vh' : css['border-radius'];
        }
      }

      return css;
    },
  },
};
</script>

<style scoped>
.map-grab {
  cursor: grab;
}

.map-grabbing {
  cursor: grabbing;
}

.map-position-rectangle {
  border: 1px solid white;
}

.map-marker {
  position: absolute;
  z-index: 10;
}

.map-marker-info {
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}

.map-marker-number {
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.map-water-mark {
  position: absolute;
  right: 10px;
  bottom: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
</style>
