<template>
  <q-page class="flex q-pa-lg text-white">
    <div class="full-width full-height">

      <!-- HEADER -->
      <div class="row text-secondary full-width justify-center text-h5 text-bold">
        XP Métier
      </div>

      <div class="row justify-center full-width text-grey-6 text-center">
        Sélectionnez votre métier, insséré votre nombre de points d'expérience,
        vérifier le coefficient d'xp (almanax etc...)<br/>
        Puis sélectionnez les recettes intéressante pour vous grâce aux actions !
      </div>

      <!-- Jobs info -->
      <div class="row full-width bg-primary q-pa-md q-mt-sm">
        <job-select
          v-model="job"
          dark
          class="col-3"
          label="Métier"
          color="white"
          options-selected-class="text-accent"
        >
          <template v-slot:append>
            <q-icon
              name="info"
              class="cursor-pointer text-accent-hover"
            >
              <q-tooltip
                anchor="top middle"
                self="bottom middle"
                content-class="bg-darker text-body2"
              >
                Choisissez votre métier à xp.
              </q-tooltip>
            </q-icon>
          </template>
        </job-select>

        <q-input
          v-model.number="startingXp"
          debounce="250"
          dark
          class="col q-mx-md"
          label="Points d'expérience"
          color="white"
        >
          <template v-slot:append>
            <q-icon
              name="info"
              class="cursor-pointer text-accent-hover"
            >
              <q-tooltip
                anchor="top middle"
                self="bottom middle"
                content-class="bg-darker text-body2"
              >
                Indiquez vos points d'expérience.
                <br/>
                <span class="text-grey-6">
                  Ex: Bûcheron lvl 140 à entre 194600 et 197400 points d'expérience.
                </span>
                <br/>
                <span class="text-grey-5">
                  Vous pouvez retrouver ces informations sur votre page "Métiers" du jeu.
                </span>
              </q-tooltip>
            </q-icon>
          </template>
        </q-input>

        <q-select
          v-model="xpCoef"
          :options="[100, 125, 150, 200, 300, 375, 400, 600]"
          dark
          class="col-3"
          label="Coefficient d'xp"
          color="white"
          options-selected-class="text-accent"
          :display-value="xpCoef ? `${xpCoef}%` : null"
        >
          <template v-slot:append>
            <q-icon
              name="info"
              class="cursor-pointer text-accent-hover"
            >
              <q-tooltip
                anchor="top middle"
                self="bottom middle"
                content-class="bg-darker text-body2"
              >
                <span class="text-no-wrap">
                  Choisissez le coefficient d'xp actuel (almanax, xp métier x2, ...)
                </span>
                <br/>
                <span class="text-grey-6">
                  Le coefficient sans bonus correspond à 100%.
                </span>
              </q-tooltip>
            </q-icon>
          </template>
        </q-select>
      </div>

      <div
        v-if="(startingXp || startingXp === 0) && job"
        class="q-mt-md column bg-primary q-pa-sm q-pb-md"
      >
        <div class="row full-width justify-center text-h6 text-grey-6">
          Niveau Actuel:
          <span class="q-ml-sm text-bold text-white">{{ xpToLevel(actualXp) }}</span>
        </div>

        <div class="row full-width justify-center">
          <div class="col-12 col-sm-6 col-lg-4 bg-dark">
            <div
              class="bg-blue"
              :style="'height: 10px; width: ' + levelProgression() + '%'"
            />

            <q-tooltip content-class="bg-dark text-body2">
              {{ levelProgression() }}% ({{ actualXp }} /
              {{ levelToXp(xpToLevel(actualXp) + 1) }})
            </q-tooltip>
          </div>
        </div>

        <div
          v-if="selectedCrafts.length && selectedCrafts"
          class="row full-width justify-center q-my-xs"
        >
          <q-btn
            label="Sauvegarder"
            flat
            color="accent"
            @click="startingXp = actualXp"
          >
            <q-tooltip content-class="text-white bg-darker text-body2">
              Sauvegarder le niveau
            </q-tooltip>
          </q-btn>

          <add-item-to-workbench
            :withIcon="false"
            class="q-ml-md text-accent"
            label="Ajouter"
            :items="selectedResults"
            :round="false"
            flat
            color="accent"
          />

          <q-btn
            label="Supprimer"
            flat
            color="accent"
            class="q-ml-md"
            @click="clear()"
          >
            <q-tooltip content-class="text-white bg-darker text-body2">
              Supprimer toutes les recettes
            </q-tooltip>
          </q-btn>

          <q-btn
            label="Partager"
            flat
            color="accent"
            class="q-ml-md"
            @click="share"
          >
            <q-tooltip content-class="text-white bg-darker text-body2">
              Partager votre liste d'xp métier
            </q-tooltip>
          </q-btn>
        </div>

        <div
          v-if="selectedCrafts.length && selectedCrafts"
          class="column full-width"
        >
          <div class="row full-width">
            <q-table
              :columns="columnsSelectedCrafts"
              :data="selectedCrafts"
              dark
              flat
              hide-bottom
              class="bg-primary full-width"
              :rows-per-page-options="[0]"
            >
              <template v-slot:body-cell-object="props">
                <q-td :props="props">
                  <item
                    :item="props.row.recipe.result"
                    :quantity="props.row.amount"
                    description
                  />

                  <span class="q-ml-sm">
                    {{ props.row.recipe.result.name }}
                  </span>
                </q-td>
              </template>

              <template v-slot:body-cell-quantity="props">
                <q-td :props="props">
                  <q-input
                    v-model.number="props.row.amount"
                    dark
                    debounce="250"
                    @change="changeSelectedCraftQuantity(props.rowIndex)"
                  />
                </q-td>
              </template>

              <template v-slot:body-cell-ingredients="props">
                <q-td :props="props">
                  <list-item
                    :items="props.row.recipe.ingredients"
                    :quantities="props.row.recipe.quantities.map((e) => e * props.row.amount)"
                    description
                  />
                </q-td>
              </template>

              <template v-slot:body-cell-actions="props">
                <q-td :props="props">
                  <q-btn
                    icon="fas fa-trash-alt"
                    color="secondary"
                    flat
                    @click="removeSelectedCraft(props.rowIndex)"
                  >
                    <q-tooltip content-class="text-white bg-darker text-body2">
                      Supprimer
                    </q-tooltip>
                  </q-btn>
                </q-td>
              </template>
            </q-table>
          </div>

          <div class="text-h6 row q-mt-sm full-width text-grey-6">
            Liste de tous les objets nécessaire:
          </div>

          <div class="row">
            <list-item
              :items="itemsNeeded"
              :quantities="itemsNeededQuantities"
              description
            />
          </div>
        </div>
      </div>

      <div
        class="q-mt-md column bg-primary"
      >
        <div class="row full-width q-pa-sm items-center">
          <div class="text-secondary text-h6">
            Recettes
          </div>

          <q-space />

          <q-input
            v-model.trim="search"
            label="Recherche"
            dark
            dense
            color="accent"
            :debounce="500"
            clearable
            style="max-width: 400px"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>

        <q-table
          :data="crafts"
          :columns="columns"
          row-key="id"
          dark
          flat
          class="bg-primary full-width"
          :loading="loading"
          hide-pagination
          :rows-per-page-options="[0]"
          no-results-label="Aucun résultats"
          no-data-label="Aucun résultats"
        >
          <template v-slot:body-cell-object="props">
            <q-td :props="props">
              <item
                :item="props.row.result"
                :quantity="1"
                description
              />

              <span class="q-ml-sm">
                {{ props.row.result.name }}
              </span>
            </q-td>
          </template>

          <template v-slot:body-cell-ingredients="props">
            <q-td :props="props">
              <list-item
                :items="props.row.ingredients"
                :quantities="props.row.quantities"
                description
              />
            </q-td>
          </template>

          <template v-slot:body-cell-actions="props">
            <q-td :props="props">
              <q-btn
                color="secondary"
                label="+1"
                @click="addOne(props.row, true)"
              >
                <q-tooltip content-class="bg-dark text-body2">
                  Ajouter 1 objet
                </q-tooltip>
              </q-btn>

              <q-btn
                v-if="xpToLevel(actualXp) < 200
                 && getCraftXpByJobLevel(props.row, xpToLevel(actualXp)) > 0"
                color="secondary"
                class="q-mx-sm"
                :label="'->' + getNextDecade()"
                @click="addToLevel(props.row, getNextDecade())"
              >
                <q-tooltip content-class="bg-dark text-body2">
                  Aller jusqu'au niveau {{ getNextDecade() }}
                </q-tooltip>
              </q-btn>

              <q-btn
                v-if="xpToLevel(actualXp) < 190
                 && getCraftXpByJobLevel(props.row, xpToLevel(actualXp)) > 0"
                color="secondary"
                :label="'->' + getNextDecade(1)"
                @click="addToLevel(props.row, getNextDecade(1))"
              >
                <q-tooltip content-class="bg-dark text-body2">
                  Aller jusqu'au niveau {{ getNextDecade(1) }}
                </q-tooltip>
              </q-btn>
            </q-td>
          </template>
        </q-table>

        <div class="row justify-center full-width q-my-sm">
          <q-pagination
            v-if="crafts && pagination.max > 1"
            v-model="pagination.current"
            :max="pagination.max"
            :max-pages="6"
            direction-links
            boundary-links
            dark
            color="grey-6"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { copyToClipboard } from 'quasar';
import JobSelect from 'components/Common/Select/JobSelect';
import Item from 'components/Item/Item';
import ListItem from 'components/Item/ListItem';
import AddItemToWorkbench from 'components/Item/AddItemToWorkbench';

export default {
  name: 'JobsXP',
  components: {
    AddItemToWorkbench,
    ListItem,
    Item,
    JobSelect,
  },
  meta: {
    title: 'DofusDB - XP Métier',
    meta: {
      description: {
        name: 'description',
        content: 'Vous chercher à simuler votre XP Métier pour savoir combien d\'objet acheter, récolter et passer niveau 200, cet outil est fait pour vous!',
      },
    },
  },
  data() {
    return {
      job: null,
      canSave: false,
      startingXp: 0,
      xpCoef: 100,
      actualXp: null,
      crafts: [],
      search: '',
      selectedCrafts: [],
      itemsNeeded: [],
      itemsNeededQuantities: [],
      loading: false,
      pageSize: 10,
      pagination: {
        current: 1,
        max: 1,
      },
      columns: [
        {
          name: 'object',
          label: 'Objet',
          field: 'name',
          required: true,
          align: 'left',
        },
        {
          name: 'level',
          label: 'Niveau',
          field: 'resultLevel',
          required: true,
          align: 'center',
        },
        {
          name: 'xp',
          label: 'XP',
          align: 'center',
          field: (row) => this.getCraftXpByJobLevel(row, this.xpToLevel(this.actualXp)),
        },
        {
          name: 'ingredients',
          label: 'Ingrédients',
          align: 'left',
          field: 'ingredients',
        },
        {
          name: 'actions',
          label: 'Actions',
          align: 'right',
        },
      ],
      columnsSelectedCrafts: [
        {
          name: 'object',
          label: 'Objet',
          align: 'left',
        },
        {
          name: 'level',
          label: 'Niveau',
          field: (row) => row.recipe.resultLevel,
          align: 'center',
        },
        {
          name: 'quantity',
          label: 'Quantité',
          field: 'amount',
          align: 'center',
        },
        {
          name: 'xp',
          label: 'XP gagné',
          field: 'xpGained',
          align: 'center',
        },
        {
          name: 'ingredients',
          label: 'Ingrédients',
          align: 'left',
        },
        {
          name: 'actions',
          label: '',
          align: 'right',
        },
      ],
    };
  },
  computed: {
    selectedResults() {
      const results = [];
      this.selectedCrafts.forEach((craft) => {
        const result = {
          ...craft.recipe.result,
          quantity: craft.amount,
        };

        results.push(result);
      });
      return results;
    },
  },
  watch: {
    job() {
      this.pagination.current = 1;
      this.actualXp = this.startingXp;
      if (this.canSave) {
        this.selectedCrafts = [];
      }
      this.itemsNeededQuantities = [];
      this.itemsNeeded = [];
      this.updateCraftingRecipes();
      this.save();
    },
    startingXp() {
      this.actualXp = this.startingXp;
      this.pagination.current = 1;
      this.updateCraftingRecipes();
      this.save();
    },
    xpCoef() {
      this.pagination.current = 1;
      this.updateCraftingRecipes();
    },
    // eslint-disable-next-line
    'pagination.current': function () {
      this.updateCraftingRecipes();
    },
    selectedCrafts() {
      this.save();
    },
    search() {
      this.updateCraftingRecipes();
    },
  },
  async mounted() {
    if (this.$route.query && Object.keys(this.$route.query).length) {
      this.startingXp = parseInt(this.$route.query.xp, 10);
      this.job = (await this.$api.getJob(this.$route.query.job)).data;
      this.xpCoef = parseInt(this.$route.query.coef, 10);

      const crafts = this.$route.query.list.split(',');
      // eslint-disable-next-line
      for (const craft of crafts) {
        const data = craft.split(':');

        // eslint-disable-next-line
        const recipe = (await this.$api.getRecipes({
          resultId: data[0],
        })).data.data[0];

        recipe.ingredients.sort((a, b) => recipe.ingredientIds.indexOf(a.id)
          - recipe.ingredientIds.indexOf(b.id));

        for (let i = 0; i < data[1]; i += 1) {
          this.addOne(recipe);
        }
      }
      this.canSave = true;
      this.updateCraftingRecipes();
    } else {
      this.startingXp = this.$store.state.crafts.xp_starting_xp;
      this.job = this.$store.state.crafts.xp_job;
      this.xpCoef = this.$store.state.crafts.xp_coef;
      this.selectedCrafts = JSON.parse(JSON.stringify(this.$store.state.crafts.xp_crafts));

      setTimeout(() => {
        this.canSave = true;
        this.selectedCrafts.forEach((craft) => {
          this.actualXp += craft.xpGained;
          this.addNeededItemsForRecipe(craft.recipe, craft.amount);
        });
        this.updateCraftingRecipes();
      });
    }
  },
  methods: {
    share() {
      if (!this.selectedCrafts.length) {
        return;
      }
      let list = '';
      for (let i = this.selectedCrafts.length - 1; i >= 0; i -= 1) {
        const craft = this.selectedCrafts[i];
        if (list.length) {
          list += ',';
        }
        list += `${craft.recipe.resultId}:${craft.amount}`;
      }

      copyToClipboard(`${window.location.origin}/tools/jobs-xp?list=${list}&job=${this.job.id}&xp=${this.startingXp}&coef=${this.xpCoef}`)
        .then(() => {
          this.$q.notify('Lien de partage copié dans le presse papier');
        }).catch(() => {});
    },
    async updateCraftingRecipes() {
      if (!this.job || (!this.startingXp && this.startingXp !== 0) || !this.xpCoef) {
        return;
      }

      this.loading = true;
      const response = (await this.$api.getRecipes({
        'resultName[$search]': this.search ? this.search.toLowerCase() : '',
        'resultLevel[$lte]': this.xpToLevel(this.actualXp),
        '$sort[resultLevel]': -1,
        jobId: this.job.id,
        $skip: (this.pagination.current - 1) * this.pageSize,
        $limit: this.pageSize,
      })).data;

      response.data.forEach((recipe) => {
        recipe.ingredients.sort((a, b) => recipe.ingredientIds.indexOf(a.id)
          - recipe.ingredientIds.indexOf(b.id));
      });

      this.pagination.max = Math.ceil(response.total / this.pageSize);
      this.crafts = response.data;
      this.loading = false;
    },
    addNeededItemsForRecipe(recipe, amount) {
      amount = amount || 1;

      for (let i = 0; i < recipe.ingredients.length; i += 1) {
        const quantity = recipe.quantities[i] * amount;
        const item = recipe.ingredients[i];
        const index = this.itemsNeeded.findIndex((e) => e.id === item.id);

        if (index !== -1) {
          const nextQuantity = this.itemsNeededQuantities[index] + quantity;
          this.itemsNeededQuantities.splice(index, 1, nextQuantity);
        } else {
          this.itemsNeeded.push(item);
          this.itemsNeededQuantities.push(quantity);
        }
      }
    },
    removeNeededItemsForRecipe(recipe, amount) {
      amount = amount || 1;

      for (let i = 0; i < recipe.ingredients.length; i += 1) {
        const item = recipe.ingredients[i];
        const index = this.itemsNeeded.findIndex((e) => e.id === item.id);

        if (index !== -1) {
          const nextQuantity = this.itemsNeededQuantities[index] - (recipe.quantities[i] * amount);

          if (nextQuantity === 0) {
            this.itemsNeededQuantities.splice(index, 1);
            this.itemsNeeded.splice(index, 1);
          } else {
            this.itemsNeededQuantities.splice(index, 1, nextQuantity);
          }
        }
      }
    },
    removeSelectedCraft(index, amount) {
      const next = this.selectedCrafts.slice(0, index);
      const save = this.selectedCrafts[index];
      amount = amount || this.selectedCrafts[index].amount;

      for (let i = index; i >= 0; i -= 1) {
        this.actualXp -= this.selectedCrafts[i].xpGained;
        this.removeNeededItemsForRecipe(this.selectedCrafts[i].recipe,
          this.selectedCrafts[i].savedAmount);
      }

      this.selectedCrafts = this.selectedCrafts.slice(index + 1);

      if (amount !== save.savedAmount) {
        for (let i = 0; i < save.savedAmount - amount; i += 1) {
          this.addOne(save.recipe, false);
        }
      }

      for (let i = next.length - 1; i >= 0; i -= 1) {
        if (this.xpToLevel(this.actualXp) >= next[i].recipe.resultLevel) {
          for (let j = 0; j < next[i].amount; j += 1) {
            this.addOne(next[i].recipe, false);
          }
        }
      }

      if (this.actualXp < this.startingXp) {
        this.actualXp = this.startingXp;
      }

      this.updateCraftingRecipes();
      this.save();
    },
    clear() {
      this.actualXp = this.startingXp;
      this.selectedCrafts = [];
      this.itemsNeeded = [];
      this.itemsNeededQuantities = [];
      this.updateCraftingRecipes();
      this.save();
    },
    changeSelectedCraftQuantity(index) {
      const selectedCraft = this.selectedCrafts[index];

      if (selectedCraft.savedAmount < selectedCraft.amount) {
        // Update total items needed
        this.removeNeededItemsForRecipe(this.selectedCrafts[index].recipe,
          this.selectedCrafts[index].savedAmount);
        this.addNeededItemsForRecipe(this.selectedCrafts[index].recipe,
          this.selectedCrafts[index].amount);

        // update SavedAmount
        selectedCraft.savedAmount = selectedCraft.amount;

        // Remove all next xp gained
        for (let i = index; i >= 0; i -= 1) {
          this.actualXp -= this.selectedCrafts[i].xpGained;
          this.selectedCrafts[i].xpGained = 0;
        }

        // recalcul xp gained with craft
        for (let i = index; i >= 0; i -= 1) {
          for (let j = 0; j < this.selectedCrafts[i].amount; j += 1) {
            const level = this.xpToLevel(this.actualXp);
            const xpGained = this.getCraftXpByJobLevel(this.selectedCrafts[i].recipe, level);
            this.actualXp += xpGained;
            this.selectedCrafts[i].xpGained += xpGained;
          }
        }
      } else if (selectedCraft.savedAmount > selectedCraft.amount) {
        // Here we don't now if you have enough xp to craft next selectedCraft
        this.removeSelectedCraft(index, selectedCraft.savedAmount - selectedCraft.amount);
      }

      if (this.actualXp < this.startingXp) {
        this.actualXp = this.startingXp;
      }
      this.save();
      this.updateCraftingRecipes();
    },
    addOne(recipe, refresh) {
      const selectedCraftsLength = this.selectedCrafts.length;
      const level = this.xpToLevel(this.actualXp);
      const xpGained = this.getCraftXpByJobLevel(recipe, level);
      const craftInfos = {
        recipe,
        amount: 1,
        savedAmount: 1,
        xpGained,
      };

      this.addNeededItemsForRecipe(recipe);

      if (selectedCraftsLength !== 0
        && this.selectedCrafts[0].recipe._id === recipe._id) {
        this.selectedCrafts[0].amount += 1;
        this.selectedCrafts[0].savedAmount += 1;
        this.selectedCrafts[0].xpGained += xpGained;
      } else {
        this.selectedCrafts.unshift(craftInfos);
      }
      this.actualXp += xpGained;
      if (refresh && this.xpToLevel(this.actualXp) > level) {
        this.updateCraftingRecipes();
      }
    },
    addToLevel(recipe, level) {
      while (this.xpToLevel(this.actualXp) < level) {
        this.addOne(recipe, false);
      }
      this.updateCraftingRecipes();
    },
    getNextDecade(skip) {
      skip = skip || 0;
      let level = this.xpToLevel(this.actualXp);

      while (skip >= 0) {
        if (level % 10 !== 0) {
          level -= level % 10;
        }
        level += 10;
        skip -= 1;
      }
      return level;
    },
    xpToLevel(xp) {
      return Math.max(
        Math.min(
          Math.floor((Math.sqrt(1 + 0.4 * xp) + 1) / 2),
          200,
        ),
        1,
      );
    },
    levelToXp(level) {
      return level * (level - 1) * 10;
    },
    levelProgression() {
      const actualLevel = this.xpToLevel(this.actualXp);
      const startLevelXp = this.levelToXp(actualLevel);
      const endLevelXp = this.levelToXp(actualLevel + 1);
      const neededXpForThisLevel = endLevelXp - startLevelXp;
      const actualGainedXpForThisLevel = this.actualXp - startLevelXp;
      const progression = Math.floor((actualGainedXpForThisLevel / neededXpForThisLevel) * 100);
      return progression > 100 ? 100 : progression;
    },
    getCraftXpByJobLevel(recipe, jobLevel) {
      let xp = 0;

      if (jobLevel - 100 > recipe.resultLevel) {
        return 0;
      }

      xp = (20 * recipe.resultLevel) / (((jobLevel - recipe.resultLevel) ** 1.1) / 10 + 1);

      if (recipe.result && recipe.result.craftXpRatio > -1) {
        xp *= recipe.result.craftXpRatio / 100;
      } else if (recipe.resultType && recipe.resultType.craftXpRatio > -1) {
        xp *= recipe.resultType.craftXpRatio / 100;
      }

      if (this.xpCoef && this.xpCoef > 100) {
        xp = (xp / 100) * this.xpCoef;
      }

      return Number.isNaN(xp) ? 0 : Math.floor(xp);
    },
    async save() {
      if (this.canSave) {
        await this.$store.commit('crafts/setXPCrafts', this.selectedCrafts);
        await this.$store.commit('crafts/setXPJob', this.job);
        await this.$store.commit('crafts/setXPStartingXP', this.startingXp);
        await this.$store.commit('crafts/setXPCoef', this.xp_coef);
      }
    },
  },
};
</script>

<style scoped>

</style>
