<template>
  <div class="column">
    <div
      v-for="(objective) of achievement.objectives"
      :key="'achievement' + achievement.id + 'Objective' + objective.id"
      class="row"
    >
      <Criteria
        :criteria="objective.readableCriterion"
      />
    </div>
  </div>
</template>

<script>
import Criteria from 'components/Criteria/Criteria';

export default {
  name: 'AchievementObjectives',
  components: { Criteria },
  props: {
    achievement: Object,
  },
};
</script>

<style scoped>

</style>
