<template>
  <div class="row">
    <div class="col-6 bg-grey-15 column">
      <div class="full-width bg-black">
        <q-input
          v-model="filter"
          class="q-px-md"
          flat
          dark
          dense
          borderless
          placeholder="Recherche"
        >
          <template v-slot:append>
            <q-icon
              name="search"
            />
          </template>
        </q-input>
      </div>

      <q-scroll-area class="col">
        <div
          v-if="!filtered || !filtered.length"
          class="row full-width justify-center text-grey-6"
        >
          Aucun succès
        </div>

        <div
          v-for="(achievement) of filtered"
          :key="'achievement' + achievement.id"
          class="cursor-pointer"
          :class="{ 'selected': selected === achievement }"
          @click="select(achievement)"
        >
          <achievement-list-item
            :achievement="achievement"
            style="min-height: 100px"
          />
          <q-separator color="accent" inset />
        </div>
      </q-scroll-area>
    </div>

    <q-scroll-area
      v-if="selected"
      class="col q-pa-md full-height"
    >
      <div class="row items-end">
        <router-link
          class="text-h6 text-accent decoration-none"
          :to="{ name: 'achievement', params: { id: selected.id } }"
        >
          {{ selected.name }}
        </router-link>

        <q-space/>

        <span class="text-body2">
          Points: <span class="text-bold">{{ selected.points }}</span>
        </span>
      </div>

      <router-link
        v-if="selected.category"
        :to="{ name: 'achievementsByCategory', params: { id: selected.category.id } }"
        class="decoration-none text-accent-hover text-grey-6 text-bold"
      >
        {{ selected.category.name }}
      </router-link>

      <div class="row text-body2 q-mt-sm">
        {{ selected.description }}
      </div>

      <template v-if="selected.objectives && selected.objectives.length">
        <div class="row text-body1 text-secondary text-bold q-mt-md">
          Objectifs
        </div>
        <achievement-objectives
          class="q-ml-md"
          :achievement="selected"
        />
      </template>

      <template v-if="selected.rewards && selected.rewards.length">
        <div class="row text-body1 text-secondary text-bold q-mt-md">
          Récompenses
        </div>

        <achievement-reward
          class="q-ml-sm"
          :achievement="selected"
        />
      </template>
    </q-scroll-area>
  </div>
</template>

<script>
import AchievementListItem from 'components/Achievement/AchievementListItem';
import AchievementObjectives from 'components/Achievement/AchievementObjectives';
import AchievementReward from 'components/Achievement/AchievementReward';

export default {
  name: 'AchievementBook',
  components: {
    AchievementReward,
    AchievementObjectives,
    AchievementListItem,
  },
  props: {
    achievements: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    selected: null,
    filter: '',
  }),
  computed: {
    filtered() {
      if (!this.filter) {
        return this.achievements;
      }

      const needle = this.filter.toLowerCase();
      return this.achievements.filter(
        (achievement) => achievement.name.toLowerCase().indexOf(needle) !== -1
          || achievement.description.toLowerCase().indexOf(needle) !== -1,
      );
    },
  },
  watch: {
    achievements() {
      if (!this.achievements.length) {
        this.selected = null;
      }

      if (!this.selected && this.achievements.length) {
        [this.selected] = this.achievements;
      }
    },
  },
  mounted() {
    if (!this.selected && this.achievements.length) {
      [this.selected] = this.achievements;
    }
  },
  methods: {
    select(achievement) {
      this.selected = achievement;
    },
  },
};
</script>

<style scoped lang="stylus">
.selected
  background $primary
</style>
