<template>
  <div
    class="row q-pa-md"
    @click="$emit('click', $event)"
  >
    <div class="achievement-icon self-center">
      <q-img
        :src="achievement.img"
        ratio="1"
        class="bg-success-img"
        style="height: 50px; width: 50px"
      />
    </div>

    <div class="q-ml-md col">
      <div class="row text-subtitle1 text-bold">
        {{ achievement.name }}
      </div>
      <div class="row text-body2">
        {{ achievement.description }}
      </div>
    </div>

    <div class="self-center bg-black text-white q-py-sm q-px-lg q-ml-md text-bold">
      {{ achievement.points }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'AchievementListItem',
  props: {
    achievement: Object,
  },
};
</script>

<style scoped lang="stylus">

</style>
