<template>
  <div class="row">

    <div class="column text-body1">
      <div
        v-if="xp"
        class="row items-center justify-end full-width no-wrap"
      >
        <div class="col-6 text-right">
          {{ nbFormat.format(xp) }}
        </div>

        <img
          src="~assets//icons/xp.png"
          class="q-ml-md"
          alt="xp"
          height="18px"
        />
      </div>

      <div
        v-if="kamas"
        class="row items-center justify-end full-width no-wrap"
      >
        <div class="col-6 text-right">
          {{ nbFormat.format(kamas) }}
        </div>

        <img
          src="~assets//icons/kama.png"
          class="q-ml-md"
          alt="kamas"
          height="18px"
        />
      </div>
    </div>

    <list-item
      v-if="items && items.length"
      :items="items"
      :quantities="quantities"
      class="col row q-ml-md"
    />
  </div>
</template>

<script>
import ListItem from 'components/Item/ListItem';

export default {
  name: 'AchievementReward',
  components: {
    ListItem,
  },
  props: {
    achievement: Object,
  },
  data: () => ({
    nbFormat: new Intl.NumberFormat('fr-FR'),
  }),
  computed: {
    kamas() {
      let kamas = 0;

      this.achievement.rewards.forEach((reward) => {
        kamas += this.$api.getKamasReward(
          reward.kamasScaleWithPlayerLevel,
          this.achievement.level,
          reward.kamasRatio,
          1,
          -1,
        );
      });
      return kamas;
    },
    xp() {
      let xp = 0;

      this.achievement.rewards.forEach((reward) => {
        xp += this.$api.getXpReward(
          -1,
          this.achievement.level,
          reward.experienceRatio,
          1.05,
        );
      });
      return xp;
    },
    items() {
      const items = [];

      this.achievement.rewards.forEach((reward) => {
        reward.items.forEach((item) => {
          const index = items.findIndex((e) => e.id === item.id);

          if (index === -1) {
            items.push(item);
          }
        });
      });

      return items;
    },
    quantities() {
      const { items } = this;
      const quantities = [];

      items.forEach((item, index) => {
        this.achievement.rewards.forEach((reward) => {
          const rewardIndex = reward.itemsReward.indexOf(item.id);

          if (rewardIndex !== -1) {
            if (!quantities[index]) {
              quantities[index] = reward.itemsQuantityReward[rewardIndex];
            } else {
              quantities[index] += reward.itemsQuantityReward[rewardIndex];
            }
          }
        });
      });

      return quantities;
    },
  },
  methods: {
    getItemRewardQuantity(reward, item) {
      // eslint-disable-next-line no-restricted-syntax
      for (let i = 0; i < reward.itemsReward.length; i += 1) {
        if (reward.itemsReward[i] === item.id) {
          return reward.itemsQuantityReward[i];
        }
      }

      return 0;
    },
  },
};
</script>

<style scoped lang="stylus">
  .itemReward
    height: 50px
    width: 50px
</style>
