<template>
  <q-layout view="lHh lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title shrink>
          <router-link
            class="decoration-none text-white"
            :to="{ name: 'index' }"
          >
          Dofus<span class="text-bold text-secondary">DB</span>
          </router-link>

        </q-toolbar-title>

        <q-btn
          flat
          :loading="loading > 0"
          label="Base de données"
        >
          <q-menu
            fit
            dark
            square
            anchor="bottom left"
            self="top left"
          >
            <q-list>
              <q-item clickable>
                <q-item-section>Objets</q-item-section>
                <q-item-section side>
                  <q-icon name="keyboard_arrow_right" />
                </q-item-section>

                <q-menu anchor="top right" dark square self="top left">
                  <q-list>
                    <menu-item
                      v-for="(superType) of bdd.objects"
                      :key="'superType' + superType.id"
                      :item="superType"
                      route="objectsByType"
                    />
                  </q-list>
                </q-menu>
              </q-item>

              <q-item clickable>
                <q-item-section>Quêtes</q-item-section>
                <q-item-section side>
                  <q-icon name="keyboard_arrow_right" />
                </q-item-section>

                <q-menu anchor="top right" dark square self="top left">
                  <q-list>
                    <menu-item
                      v-for="(category) of bdd.quest_categories"
                      :key="'questCategory' + category.id"
                      :item="category"
                      route="questsByCategory"
                    />
                  </q-list>
                </q-menu>
              </q-item>

              <q-item clickable>
                <q-item-section>Succès</q-item-section>
                <q-item-section side>
                  <q-icon name="keyboard_arrow_right" />
                </q-item-section>

                <q-menu anchor="top right" dark square self="top left">
                  <q-list>
                    <menu-item
                      v-for="(category) of bdd.achievement_categories"
                      :key="'achievementCategory' + category.id"
                      :item="category"
                      route="achievementsByCategory"
                      redirect-parent
                    />
                  </q-list>
                </q-menu>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>

        <q-btn
          flat
          label="Outils"
        >
          <q-menu
            fit
            dark
            square
            anchor="bottom left"
            self="top left"
          >
            <q-list>
              <q-item
                v-for="(tool) of tools"
                :key="tool.name"
                clickable
                :to="tool.route"
                active-class="text-accent"
              >
                <q-item-section>{{ tool.name }}</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>

        <q-btn
          flat
          label="Stuffs"
          :to="{ name: 'stuffs' }"
          :color="$router.currentRoute.name === 'stuffs' ? 'accent' : 'white'"
        />

        <q-btn
          flat
          label="Carte du monde"
          :to="{ name: 'map' }"
          :color="$router.currentRoute.name === 'map' ? 'accent' : 'white'"
        />

        <q-space />

        <q-btn
          icon="bug_report"
          color="white"
          class="text-accent-hover q-mr-sm"
          flat
          dense
          @click="openIssueDialog"
        >
          <q-tooltip content-class="bg-darker text-white">
            Report un Bug
          </q-tooltip>
        </q-btn>

        <div>
          <q-input
            v-model.trim="search"
            key="search"
            filled
            dark
            dense
            type="search"
            placeholder="Recherche"
            ref="search"
            color="white"
            :debounce="500"
            :loading="loadingSearch"
            @click="openSearchDialog"
          >
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>

        <q-no-ssr>
          <q-btn
            v-if="$store.state.user.user"
            :label="$store.state.user.user.username"
            no-caps
            flat
            class="q-ml-md"
          >
            <q-menu
              dark
              transition-show="jump-down"
              transition-hide="jump-up"
              max-width="220px"
              style="max-width: 220px"
            >
              <q-list style="min-width: 200px">
                <q-item dense>
                  <q-item-section>
                    <span>
                      <span class="text-secondary text-bold text-body2">
                        {{ $store.state.user.user.reputation }}
                      </span>
                      &nbsp;de Réputation
                    </span>
                  </q-item-section>
                </q-item>

                <q-item v-if="$store.state.server.selected" clickable @click="selectServer">
                  <q-item-section>
                    <div class="row no-wrap">
                      Serveur:&nbsp;
                      <span class="text-bold text-secondary">
                      {{ $store.state.server.selected.name }}
                    </span>
                      <q-tooltip content-class="bg-darker text-body2">
                        Changer de Serveur
                      </q-tooltip>
                    </div>
                  </q-item-section>
                </q-item>

                <q-item v-else clickable @click="selectServer">
                  <q-item-section>
                    Selectionner un Serveur
                  </q-item-section>
                </q-item>

                <q-item clickable :to="{ name: 'myCharacters' }" active-class="text-accent">
                  <q-item-section>
                    Mes personnages
                  </q-item-section>
                </q-item>

                <q-item clickable @click="logout">
                  <q-item-section>
                    Déconnexion
                  </q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>

          <q-btn
            v-else
            label="Connexion"
            :to="{ name: 'signin' }"
            flat
            no-caps
            class="q-ml-md"
          />
        </q-no-ssr>

      </q-toolbar>
    </q-header>

    <q-footer elevated class="q-pa-sm row justify-center">
      © 2020 DofusDB. Certaines illustrations sont
          &nbsp;la propriété d'Ankama Studio et de Dofus - Tous droits réservés.
    </q-footer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { debounce } from 'quasar';
import SearchSelectType from 'components/Search/SearchSelectType';
import SelectServerDialog from 'pages/Server/SelectServerDialog';
import MenuItem from 'components/Menu/MenuItem';
import IssueDialog from 'components/Issue/IssueDialog';

export default {
  name: 'MainLayout',
  components: {
    MenuItem,
  },
  data() {
    return {
      bdd: {
        objects: [],
        quest_categories: [],
        achievement_categories: [],
      },
      tools: [
        {
          name: 'Chasse au trésor',
          route: { name: 'treasureHunt' },
        },
        {
          name: 'Portails',
          route: { name: 'portals' },
        },
        {
          name: 'Recherche de groupe',
          route: { name: 'groupFinder' },
        },
        {
          name: 'XP Métier',
          route: { name: 'jobsXP' },
        },
        {
          name: 'Créateur d\'équipement',
          route: { name: 'stuffCreator' },
        },
        {
          name: 'Gestionnaire de craft',
          route: { name: 'craftManager' },
        },
        {
          name: 'Elevage croisement',
          route: { name: 'crossingBreeding' },
        },
      ],
      types: [],
      loading: 0,
      search: '',
      searchResult: null,
      showSearchResult: false,
      loadingSearch: false,
    };
  },
  watch: {
    search() {
      this.searchThisString();
    },
    types() {
      this.$store.commit('type/setTypes', this.types);
    },
  },
  async mounted() {
    this.types = JSON.parse(JSON.stringify(this.$store.state.type.types));
    this.bdd.quest_categories = JSON.parse(JSON.stringify(this.$store.state.quest.categories));
    this.bdd.achievement_categories = this.formatAchievementCategories(JSON.parse(JSON.stringify(
      this.$store.state.achievement.categories,
    )));

    const now = new Date();
    now.setUTCDate(now.getUTCDate() - 1);

    if (this.$store.state.type.types_updated_at < now.getTime()) {
      this.types = [];
    }
    if (this.$store.state.quest.categories_updated_at < now.getTime()) {
      this.bdd.quest_categories = [];
      this.getAllQuestCategories();
    }
    if (this.$store.state.achievement.categories_updated_at < now.getTime()) {
      this.bdd.achivement_categories = [];
      this.getAllAchievementCategories();
    }
    this.getAllItemTypes();
    this.searchThisString = debounce(this.searchThisString, 300);
  },
  methods: {
    selectServer() {
      this.$q.dialog({
        component: SelectServerDialog,
        parent: this,
      });
    },
    openIssueDialog() {
      this.$q.dialog({
        component: IssueDialog,
        parent: this,
      });
    },
    logout() {
      this.$store.commit('user/logout');
    },
    openSearchDialog() {
      this.$q.dialog({
        component: SearchSelectType,
        parent: this,
      });
    },
    async searchThisString() {
      this.showSearchResult = true;
      this.searchResult = {};
      if (!this.search) {
        return;
      }

      this.loadingSearch = true;
      const items = (await this.$api.getItems({
        'name[$search]': this.search,
      })).data.data;

      if (items.length) {
        this.searchResult.items = items;
        this.$forceUpdate();
      }
      this.loadingSearch = false;
    },
    async getAllItemTypes() {
      let types = [];
      let skip = 0;
      let total = 0;
      const tmpTypes = [];

      this.loading += 1;
      if (!this.types.length) {
        while (skip === 0 || skip < total) {
          // eslint-disable-next-line
          const response = (await this.$api.getItemTypes({
            $skip: skip,
            $limit: 50,
          })).data;

          types = types.concat(response.data);
          skip += response.data.length;
          total = response.total;
        }

        this.types = types.sort((a, b) => {
          if (a.name && b.name) {
            return a.name.localeCompare(b.name);
          }
          return 1;
        });
      }

      // eslint-disable-next-line
      for (const type of this.types) {
        if (!tmpTypes[type.superTypeId]) {
          tmpTypes[type.superTypeId] = {
            name: type.superType,
            id: type.superTypeId,
            children: [],
          };
        }

        const superTypes = tmpTypes[type.superTypeId];
        superTypes.children.push(type);
      }

      await tmpTypes.forEach((e) => {
        e.children = e.children.sort((a, b) => {
          if (a.name[0] === '[') {
            return 1;
          }
          if (b.name[0] === '[') {
            return -1;
          }
          if (a.name && b.name) {
            return a.name.localeCompare(b.name);
          }
          return 1;
        });
      });
      this.bdd.objects = tmpTypes
        .filter((e) => e !== null)
        .sort((a, b) => {
          if (a.name && b.name) {
            return a.name.localeCompare(b.name);
          }
          return 1;
        });
      this.loading -= 1;
    },
    async getAllQuestCategories() {
      let categories = [];
      let skip = 0;
      let total = 0;

      this.loading += 1;
      while (skip === 0 || skip < total) {
        // eslint-disable-next-line
        const response = (await this.$api.getQuestCategories({
          $skip: skip,
          $limit: 50,
          $sort: 'order',
        })).data;
        categories = categories.concat(response.data);
        skip += response.data.length;
        total = response.total;
      }

      this.bdd.quest_categories = categories.filter((e) => e.questIds.length > 0);
      this.$store.commit('quest/setCategories', this.bdd.quest_categories);
      this.loading -= 1;
    },
    formatAchievementCategories(categories) {
      const parents = [];

      categories.forEach((category) => {
        if (!category.parentId) {
          category.children = [];
          parents.push(category);
        }
      });

      parents.sort((a, b) => a.order - b.order);

      categories.forEach((category) => {
        if (category.parentId) {
          const index = parents.findIndex((e) => e.id === category.parentId);

          if (index !== -1) {
            parents[index].children.push(category);
          }
        }
      });

      return parents;
    },
    async getAllAchievementCategories() {
      let categories = [];
      let skip = 0;
      let total = 0;

      this.loading += 1;
      while (skip === 0 || skip < total) {
        // eslint-disable-next-line
        const response = (await this.$api.getAchievementCategories({
          $skip: skip,
          $limit: 50,
          $sort: 'order',
        })).data;

        categories = categories.concat(response.data);
        skip += response.data.length;
        total = response.total;
      }

      this.bdd.achievement_categories = this
        .formatAchievementCategories(categories.filter((e) => e.achievementIds.length > 0));
      this.$store.commit('achievement/setCategories', categories);
      this.loading -= 1;
    },
  },
};
</script>
