<template>
  <span v-if="!criteria">Non défini</span>
  <span v-else-if="criteria === '&'"></span>
  <div v-else-if="criteria === '|'" class="text-bold">&nbsp;ou&nbsp;</div>

  <span v-else-if="typeof criteria === 'number'" class="text-bold">{{ criteria }}</span>

  <span v-else-if="criteria.constructor === {}.constructor" class="text-bold">
    <template v-if="criteria.type === 'quest-objectives'">
      <router-link
        class="decoration-none text-grey-6 text-accent-hover"
        :to="{ name: 'quest', params: { id: criteria.step.quest.id } }"
      >
        {{ criteria.step.name }}

        <q-tooltip
          content-class="bg-grey-10 text-body2"
          anchor="top middle"
          self="bottom middle"
        >
        {{ criteria.step.name }}
        &nbsp;de la quête&nbsp;
        {{ criteria.step.quest.name }}
      </q-tooltip>
      </router-link>

    </template>
    <template v-else-if="criteria.type === 'items'">
      <router-link
        class="decoration-none text-grey-6 text-accent-hover"
        :to="{ name: 'object', params: { id: criteria.id } }"
      >
        {{ criteria.name }}
      </router-link>

    </template>
    <template v-else-if="criteria.type === 'quests'">
      <router-link
        class="decoration-none text-accent-hover"
        :to="{ name: 'quest', params: { id: criteria.id } }"
        :class="{
          'text-secondary': $store.state.quest.finished_quests.includes(criteria.id),
          'text-grey-6': !$store.state.quest.finished_quests.includes(criteria.id),
        }"
      >
        {{ criteria.name }}

        <q-tooltip
          v-if="$store.state.quest.finished_quests.includes(criteria.id)"
          content-class="bg-darker text-body2"
        >
          Quête fini
        </q-tooltip>
      </router-link>
    </template>
    <template v-else-if="criteria.type === 'achievements'">
      <router-link
        class="decoration-none text-accent-hover text-grey-6"
        :to="{ name: 'achievement', params: { id: criteria.id } }"
      >
        {{ criteria.name }}
      </router-link>
    </template>

    <template v-else-if="criteria.type === 'positions'">
      <position
        :x="criteria.posX"
        :y="criteria.posY"
        travel
        class="text-secondary"
      />
    </template>

    <template v-else-if="criteria.type === 'breeds'">
      {{ criteria.shortName }}
    </template>

    <template v-else>
      {{ criteria.name }}
    </template>
  </span>

  <div
    v-else-if="criteria.constructor === [].constructor"
    :class="{ 'q-pl-md': criteria.length > 1 && inset
     && criteria.filter(e => ['&', '|'].indexOf(e) !== -1).length }"
  >
    <criteria
      v-for="(subCriteria, index) of criteria.filter(e => e !== '&')"
      :key="uid() + index"
      :criteria="subCriteria"
      :inset="true"
    />
  </div>

  <span
    v-else
  >
    {{ criteria.replace(/ $/g, '&nbsp;').replace(/^ /, '&nbsp;') }}
  </span>
</template>

<script>
import { uid } from 'quasar';
import Position from 'components/Common/Position';

export default {
  name: 'Criteria',
  components: {
    Position,
  },
  props: {
    criteria: [String, Array, Object, Number],
    inset: Boolean,
  },
  methods: {
    uid,
  },
};
</script>

<style scoped>

</style>
