<template>
  <div>
    <q-expansion-item
      class="overflow-hidden"
    >
      <template v-slot:header>
        <div class="row no-wrap text-bold text-body1 items-end full-width">
          <div
            v-if="groupFinder.dungeon"
            class="q-mr-sm"
          >
            <q-icon
              name="quest:dungeon"
              size="25px"
              class="q-mr-sm"
            />
            <q-tooltip
              content-class="bg-darker text-body2"
              anchor="top middle"
              self="bottom middle"
            >
              <div class="row">
                {{ groupFinder.dungeon.name }}&nbsp;
                <span class="text-grey-6">Niv. {{ groupFinder.dungeon.optimalPlayerLevel }}</span>
              </div>
            </q-tooltip>
          </div>

          <div
            v-if="groupFinder.quest"
            class="q-mr-sm"
          >
            <q-icon
              name="quest"
              size="25px"
              class="q-mr-sm"
            />
            <q-tooltip
              content-class="bg-darker text-body2"
              anchor="top middle"
              self="bottom middle"
            >
              <div class="row">
                {{ groupFinder.quest.name }}&nbsp;
                <span class="text-grey-6">Niv. {{ groupFinder.quest.levelMin }}
                  <template v-if="groupFinder.quest.levelMin !== groupFinder.quest.levelMax">
                    -{{ groupFinder.quest.levelMax }}
                  </template>
                </span>
              </div>
            </q-tooltip>
          </div>

          {{groupFinder.title}}

          <div class="col" />

          <div class="row text-grey-6 text-body2">
            Par&nbsp;
            <user-tag
              :user="groupFinder.owner"
              color="grey-6"
              :role_color="false"
              class="q-mr-sm text-bold text-accent-hover"
            />
            {{ dateAgoString(groupFinder.updatedAt) }}
          </div>

          <slot name="append-header" :groupFinder="groupFinder" />
        </div>
      </template>

      <div
        v-if="groupFinder.description"
        class="row q-ml-md"
      >
        {{ groupFinder.description }}
      </div>

      <div
        v-if="groupFinder.dungeon"
        class="row q-mt-sm q-ml-md"
      >
        <span class="text-bold text-secondary">
          Donjon:&nbsp;
        </span>
        {{ groupFinder.dungeon.name }}&nbsp;
        <span class="text-grey-6">Niv. {{ groupFinder.dungeon.optimalPlayerLevel }}</span>
      </div>

      <div
        v-if="groupFinder.quest"
        class="row q-mt-sm q-ml-md"
      >
        <span class="text-bold text-secondary">
          Quête:&nbsp;
        </span>
        {{ groupFinder.quest.name }}&nbsp;
        <span class="text-grey-6">Niv. {{ groupFinder.quest.levelMin }}
          <template v-if="groupFinder.quest.levelMin !== groupFinder.quest.levelMax">
            -{{ groupFinder.quest.levelMax }}
          </template>
        </span>
      </div>
    </q-expansion-item>

    <div class="row q-pl-md q-mt-sm q-pb-sm full-width items-end">
      Mp:&nbsp;
      <character
        v-for="character of groupFinder.characters.filter((e) =>
         !server || e.server._id === server._id)"
        :key="'groupFinderCharacter' + character._id"
        :character="character"
        class="q-mx-sm text-grey-6 cursor-pointer text-accent-hover text-bold"
        @click="copyMsgToClipboard(character)"
      />
    </div>
  </div>
</template>

<script>
import UserTag from 'components/Common/UserTag';
import Character from 'components/Common/Character';
import { dateAgoString } from 'src/utils';
import { copyToClipboard } from 'quasar';

export default {
  name: 'GroupFinderRow',
  components: {
    Character,
    UserTag,
  },
  props: {
    groupFinder: {
      type: Object,
      required: true,
    },
  },
  computed: {
    server() {
      return this.$store.state.server.selected;
    },
  },
  methods: {
    dateAgoString,
    copyMsgToClipboard(character) {
      copyToClipboard(`/w ${character.name} Bonjour, j'ai vue votre demande d'aide pour '${this.groupFinder.title}' et je suis intéressé pour vous aider.`).then(() => {
        this.$q.notify('Message privé copier dans le presse papier.');
      }).catch(() => {
        this.$q.notify('Une erreur est survenue lors de la copie');
      });
    },
  },
};
</script>

<style scoped>

</style>
