<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card dark class="q-dialog-plugin" style="width: 700px; max-width: 80vw;">
      <q-bar>
        <div>{{ groupFinder ? 'Mise à jour' : 'Création' }}
          d'une recherche de groupe</div>

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-white text-primary">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <div class="column q-mt-md">
        <div class="row q-mt-sm justify-center">
          <q-input
            v-model="title"
            label="Titre *"
            dark
            color="accent"
            class="q-mx-xl col"
            :rules="[val => (!!val) || 'Champ nécessaire']"
          />
        </div>

        <div
          class="row q-mt-sm justify-center items-center text-h6 q-px-lg"
        >
          <dungeon-select
            v-model="dungeon"
            label="Donjon"
            color="accent"
            dark
            fill-input
            hide-selected
            use-input
            clearable
            class="col-6 q-pr-sm"
          />

          <quest-select
            v-model="quest"
            label="Quête"
            color="accent"
            dark
            fill-input
            hide-selected
            use-input
            clearable
            class="col-6 q-pl-sm"
          />
        </div>

        <div class="q-mt-md text-h6 text-center">
          Personnages ayant besoin d'aide *
        </div>

        <div
          class="row q-mt-sm justify-center text-grey-6"
        >

          <character
            v-for="character of charactersList"
            :key="'groupFinderCreate' + character._id"
            :character="character"
            class="text-body2 q-mx-sm cursor-pointer text-bold text-white-hover"
            :class="{ 'text-accent': characterIsSelected(character) }"
            @click="toggleCharacter(character)"
          />

          <div
            v-if="charactersList && charactersList.length === 0"
          >
            Vous n'avez pas de personnage, veuillez en créer un avant.
          </div>
        </div>

      </div>

      <div class="row justify-end q-mt-sm q-mr-lg text-body2 text-grey-6">
        (*) champs requis
      </div>

      <!-- buttons example -->
      <q-card-actions align="right">
        <q-btn color="secondary" label="Valider" @click="onOKClick" />
        <q-btn color="primary" label="Annuler" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import DungeonSelect from 'components/Common/Select/DungeonSelect';
import QuestSelect from 'components/Common/Select/QuestSelect';
import Character from 'components/Common/Character';

export default {
  name: 'GroupFinderFormDialog',
  components: {
    Character,
    QuestSelect,
    DungeonSelect,
  },
  props: {
    groupFinder: {
      type: Object,
      required: false,
    },
  },
  data() {
    return {
      title: this.groupFinder ? this.groupFinder.title : '',
      dungeon: this.groupFinder ? this.groupFinder.dungeon : '',
      quest: this.groupFinder ? this.groupFinder.quest : '',
      characters: this.groupFinder ? this.groupFinder.characters : [],
    };
  },
  computed: {
    charactersList() {
      return this.$store.state.user.characters;
    },
  },
  mounted() {
    if (!this.charactersList) {
      this.charactersList = [];
      this.fetchCharacters();
    }
  },
  methods: {
    async fetchCharacters(query) {
      query = query || {
        '$sort[server]': 1,
        $skip: 0,
      };

      const response = (await this.$api.getCharacters(query)).data;

      this.charactersList = this.charactersList.concat(response.data);

      this.$nextTick(() => {
        if (response.total > this.charactersList.length) {
          query.$skip = this.charactersList.length;
          this.fetchCharacters(query);
        }
      });
    },
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    async onOKClick() {
      const data = {
        dungeon: this.dungeon ? this.dungeon.id : null,
        quest: this.quest ? this.quest.id : null,
        title: this.title,
        characters: this.characters.map((e) => e._id),
      };
      let request;

      if (this.groupFinder) {
        request = this.$api.patchGroupFinder(this.groupFinder._id, data);
      } else {
        request = this.$api.createGroupFinder(data);
      }

      try {
        await request;
      } catch (e) {
        if (e && e.response && e.response.status === 400) {
          this.$q.notify({
            position: 'top',
            color: 'negative',
            message: 'Veuillez remplir tous les champs nécessaires.',
          });
        } else {
          this.$q.notify({
            position: 'top',
            color: 'negative',
            message: 'Une erreur est survenue, veuillez essayer ultérieurement.',
          });
        }
        return;
      }

      this.$emit('ok');
      this.hide();
    },
    onCancelClick() {
      this.hide();
    },
    characterIsSelected(character) {
      return this.characters.find((e) => e._id === character._id);
    },
    toggleCharacter(character) {
      const index = this.characters.findIndex((e) => e._id === character._id);

      if (index !== -1) {
        this.characters.splice(index, 1);
      } else {
        this.characters.push(character);
      }
    },
  },
};
</script>

<style scoped>

</style>
