<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card dark class="q-dialog-plugin" style="width: 700px; max-width: 80vw;">
      <q-bar>
        Créer un Indice de chasse

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-darker text-white">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <div class="column q-mt-md">
        <div class="row q-mt-sm justify-center text-white q-px-lg">
          <div class="row col q-mr-sm no-wrap">
            <q-input
              ref="posX"
              v-model.number="pos.x"
              dark
              filled
              placeholder="X"
              type="number"
              class="text-h6 text-center col"
              hide-bottom-space
              :rules="[val => (!!val || val === 0) || 'Champ nécessaire']"
            />
          </div>

          <span class="text-h4 self-center">;</span>

          <div class="row col q-ml-sm no-wrap">
            <q-input
              ref="posY"
              v-model.number="pos.y"
              dark
              filled
              placeholder="Y"
              type="number"
              class="text-h6 text-center col"
              hide-bottom-space
              :rules="[val => (!!val || val === 0) || 'Champ nécessaire']"
            />
          </div>
        </div>

        <div class="row q-mt-sm justify-center text-white q-px-lg">
          <q-select
            v-model="poi"
            :options="filtered"
            option-label="name"
            option-value="id"
            ref="poi"
            label="Indice"
            label-color="white"
            color="white"
            dark
            filled
            class="col"
            use-input
            :rules="[val => (!!val || val === 0) || 'Champ nécessaire']"
            @filter="filterFn"
          />
        </div>
      </div>

      <!-- buttons example -->
      <q-card-actions align="right" class="q-mt-md">
        <q-btn color="secondary" label="Valider" @click="onOKClick" />
        <q-btn color="primary" label="Annuler" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  props: {
    character: {
      type: Object,
    },
  },
  data() {
    return {
      title: '',
      description: '',
      image: null,
      poi: null,
      pois: [],
      filtered: [],
      pos: {
        x: null,
        y: null,
      },
    };
  },
  mounted() {
    this.fetchPointOfInterests();
  },
  methods: {
    filterFn(val, update) {
      if (val === '') {
        update(() => {
          this.filtered = this.pois;
        });
        return;
      }

      update(() => {
        const needle = val.toLowerCase();
        this.filtered = this.pois.filter((v) => v.name.toLowerCase().indexOf(needle) > -1);
      });
    },
    async fetchPointOfInterests() {
      const response = (await this.$api.getPointOfInterests({
        $skip: this.pois.length,
        $limit: 50,
      })).data;

      this.pois = this.pois.concat(response.data);

      if (this.pois.length < response.total) {
        await this.fetchPointOfInterests();
      }
    },
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    async onOKClick() {
      this.$refs.posX.validate();
      this.$refs.posY.validate();
      this.$refs.poi.validate();
      if (this.$refs.posX.hasError || this.$refs.posY.hasError || this.$refs.poi.hasError) {
        return;
      }

      const body = {
        x: this.pos.x,
        y: this.pos.y,
        clue: this.poi.id,
      };

      try {
        await this.$api.createMapClue(body);
        this.$q.notify({
          color: 'positive',
          message: 'Merci d\'avoir créé cet indice.',
        });
        this.$emit('ok');
        this.hide();
      } catch (e) {
        this.$q.notify({
          color: 'negative',
          message: 'Une erreur est survenue',
        });
      }
    },
    onCancelClick() {
      this.hide();
    },
    isSamePosition() {
      return (this.portal && this.portal.position
        && this.portal.position.x === this.position.x
        && this.portal.position.y === this.position.y);
    },
  },
};
</script>
