<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card dark class="q-dialog-plugin" style="width: 700px; max-width: 80vw;">
      <q-bar>
        Voir les autres indices possible ({{ type.name }})

        <q-space />

        <q-btn dense flat icon="close" v-close-popup>
          <q-tooltip content-class="bg-darker text-white">Fermer</q-tooltip>
        </q-btn>
      </q-bar>

      <div class="column q-pa-md">
        <q-table
          :data="clues"
          :columns="columns"
          dark
          flat
          table-header-class="text-accent"
          hide-pagination
          class="q-mt-sm"
          :rows-per-page-options="[0]"
        >
          <template v-slot:body-cell-pos="props">
            <q-td :props="props">
              <position
                :x="props.row.x"
                :y="props.row.y"
                travel
                class="text-body2 text-secondary-hover text-bold"
              />
            </q-td>
          </template>
          <template v-slot:body-cell-actions="props">
            <q-td :props="props">
              <q-icon
                v-if="props.row.valid"
                name="fa fa-check"
                color="green"
              >
                <q-tooltip content-class="bg-darker text-body2 text-white">
                  Indice validé.
                </q-tooltip>
              </q-icon>

              <span v-if="$store.state.user.token && props.row.owner">
                <q-btn
                  icon="fas fa-arrow-up"
                  flat
                  color="grey-6"
                  class="text-secondary-hover"
                  @click.stop.prevent="changeFiability(props.row, 1)"
                >
                  <q-tooltip content-class="bg-darker text-white text-body2">
                    Augmenter la fiabilité
                  </q-tooltip>
                </q-btn>

                <span class="qm-x-sm">
                  {{ props.row.score }}
                  <q-tooltip content-class="bg-darker text-white text-body2">
                    Score de fiabilité
                  </q-tooltip>
                </span>

                <q-btn
                  icon="fas fa-arrow-down"
                  flat
                  color="grey-6"
                  class="text-accent-hover"
                  @click.stop.prevent="changeFiability(props.row, -1)"
                >
                  <q-tooltip content-class="bg-darker text-white text-body2">
                    Diminuer la fiabilité
                  </q-tooltip>
                </q-btn>
              </span>

              <q-btn
                label="Sélectionnez"
                no-caps
                dense
                color="secondary"
                class="q-ml-md"
                @click="selectRow(props.row)"
              >
                <q-tooltip content-class="bg-darker text-white text-body2">
                  Sélectionnez cette position vous permettra de continuer la chasse au bon endroit.
                </q-tooltip>
              </q-btn>
            </q-td>
          </template>
        </q-table>
      </div>

      <!-- buttons example -->
      <q-card-actions align="right" class="q-mt-md">
        <q-btn color="primary" label="Fermer" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import Position from 'components/Common/Position';

export default {
  components: {
    Position,
  },
  props: {
    type: Object,
    clues: {
      type: Array,
    },
  },
  data() {
    return {
      columns: [
        {
          name: 'pos',
          label: 'Position',
          align: 'left',
        },
        {
          name: 'distance',
          label: 'Distance',
          field: 'd',
          sortable: true,
          align: 'right',
        },
        {
          name: 'actions',
          align: 'right',
        },
      ],
    };
  },
  methods: {
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit('hide');
    },
    selectRow(row) {
      this.$emit('ok', row);
      this.hide();
    },
    async changeFiability(clue, score) {
      try {
        await this.$api.createReputationPoint({
          object: clue._id,
          object_type: 'map-clue',
          point: score,
        });
        clue.score += score;
        this.$forceUpdate();
      } catch (e) {
        if (e.response.status === 409) {
          this.$q.notify({
            position: 'top',
            message: 'Vous avez déjà effectué cette action.',
            color: 'dark',
            textColor: 'white',
          });
        } else {
          this.$q.notify({
            position: 'top',
            message: 'Une erreur est survenue',
            color: 'negative',
          });
        }
      }
    },
    async onOKClick() {
      this.$emit('ok');
      this.hide();
    },
    onCancelClick() {
      this.hide();
    },
  },
};
</script>
