<template>
  <q-page class="flex q-pa-lg" dark>
    <div class="column full-width full-height bg-primary q-pa-md text-white">
      <!-- HEADER -->
      <div class="row text-secondary text-bold full-width justify-center text-h4 relative-position">
        Chasse au trésor
        <div class="absolute" style="right: 0">
          <q-btn
            flat
            color="white"
            icon="settings"
          >
            <q-menu dark>
              <q-list>
                <q-item>
                  <q-item-label class="row items-center">
                    <q-checkbox
                      v-model="autoCopyTravelCommandToClipboard"
                      color="accent"
                    />
                    Copier la commande d'auto-pilote automatiquement
                  </q-item-label>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
        </div>
      </div>

      <div class="row q-mt-sm justify-center text-h6">
        Position
      </div>

      <div class="row full-width justify-center" style="z-index: 1">
        <div class="row col col-sm-3 col-lg-2 q-mr-sm no-wrap">
          <span class="self-center">
            <q-btn
              label="-"
              color="dark"
              text-color="accent"
              class="text-bold text-h4"
              padding="0px 7px"
              unelevated
              @click="pos.x -= 1"
              tabindex="-1"
            />
          </span>
          <q-input
            ref="posX"
            v-model.number="pos.x"
            dark
            filled
            dense
            placeholder="X"
            type="number"
            class="q-mx-sm text-h6 text-center col"
            hide-bottom-space
            :rules="[val => (!!val || val === 0) || 'Champ nécessaire']"
          />
          <span class="self-center">
            <q-btn
              label="+"
              color="dark"
              text-color="accent"
              class="text-bold text-h4"
              padding="0px 7px"
              unelevated
              @click="pos.x += 1"
              tabindex="-1"
            />
          </span>
        </div>

        <span class="text-h4 self-center">;</span>

        <div class="row col col-sm-3 col-lg-2 q-ml-sm no-wrap">
          <span class="self-center">
            <q-btn
              label="-"
              color="dark"
              text-color="accent"
              class="text-bold text-h4"
              padding="0px 7px"
              unelevated
              @click="pos.y -= 1"
              tabindex="-1"
            />
          </span>
          <q-input
            ref="posY"
            v-model.number="pos.y"
            dark
            filled
            dense
            placeholder="Y"
            type="number"
            class="q-mx-sm text-h6 text-center col"
            hide-bottom-space
            :rules="[val => (!!val || val === 0) || 'Champ nécessaire']"
          />
          <span class="self-center">
            <q-btn
              label="+"
              color="dark"
              text-color="accent"
              class="text-bold text-h4"
              padding="0px 7px"
              unelevated
              @click="pos.y += 1"
              tabindex="-1"
            />
          </span>
        </div>
      </div>

      <div class="row q-mt-sm justify-center text-h6">
        Direction
      </div>

      <div class="column q-mt-lg justify-center treasure-hunt-directions">
        <div class="row justify-center">
          <span
            class="treasure-hunt-direction justify-center q-pa-sm cursor-pointer"
            :class="{ 'bg-secondary': direction === 'up' }"
            @click="setDirection('up')"
          >
            <q-icon
              name="fa fa-arrow-up"
              class="treasure-hunt-direction-icon"
              size="34px"
            />
          </span>
          <span
            class="treasure-hunt-direction justify-center q-pa-sm cursor-pointer"
            :class="{ 'bg-secondary': direction === 'right' }"
            @click="setDirection('right')"
          >
            <q-icon
              name="fa fa-arrow-right"
              class="treasure-hunt-direction-icon"
              size="34px"
            />
          </span>
        </div>
        <div class="row justify-center">
          <span
            class="treasure-hunt-direction justify-center q-pa-sm cursor-pointer"
            :class="{ 'bg-secondary': direction === 'left' }"
            @click="setDirection('left')"
          >
            <q-icon
              name="fa fa-arrow-left"
              class="treasure-hunt-direction-icon"
              size="34px"
            />
          </span>
          <span
            class="treasure-hunt-direction justify-center q-pa-sm cursor-pointer"
            :class="{ 'bg-secondary': direction === 'down' }"
            @click="setDirection('down')"
          >
            <q-icon
              name="fa fa-arrow-down"
              class="treasure-hunt-direction-icon"
              size="34px"
            />
          </span>
        </div>
      </div>

      <div class="q-mt-lg row justify-center text-h6">
        Indice
      </div>

      <div class="row justify-center no-wrap">
        <div class="col col-sm-6 col-lg-4">
          <q-select
            v-model="clue"
            dark
            dense
            :options="clues"
            options-selected-class="text-accent"
            filled
            :display-value="`${clue ? clue.clue.name : 'Indice'}`"
            :loading="loading"
            class="col q-mr-md"
            @input="selectClue"
          >
            <template v-slot:option="scope">
              <q-item
                v-bind="scope.itemProps"
                v-on="scope.itemEvents"
                dense
              >
                <q-item-section>
                  <q-item-label v-html="scope.opt.clue.name" />
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
      </div>

      <div
        class="row text-grey-6 cursor-pointer text-accent-hover justify-center no-wrap"
      >
        <span @click="createHint">
          Vous ne trouvez pas votre indice ? Ajoutez le !
        </span>
      </div>

      <div
        class="row justify-center q-mt-md"
      >
        <q-card dark>
          <q-card-section
            v-if="clue"
            class="text-bold text-h5 items-center row justify-center"
          >
            <q-icon
              :name="'fa fa-arrow-' + this.last_direction"
              size="34px"
              class="q-mr-md text-secondary"
            />
            {{ clue.d }}
            <q-btn
              v-if="!clue.valid"
              icon="fas fa-info-circle"
              flat
              color="grey-6"
              class="text-accent-hover"
              @click="viewMoreClue"
            >
              <q-tooltip content-class="bg-darker text-body2 text-grey-6">
                <template v-if="clue.owner">
                  Indice posté par:&nbsp;
                  <span class="text-bold text-white">{{ clue.owner.username }}</span><br/>
                </template>
                Score de fiabilité:&nbsp;
                <span class="text-bold text-white">{{ clue.score }}</span><br/>
                Cet indice n'est pas encore validé.
                Cliquez pour voir les autres positions possible.
              </q-tooltip>
            </q-btn>
            <q-btn
              v-else-if="cluesOfType.length > 0"
              icon="fas fa-info-circle"
              flat
              color="grey-6"
              class="text-accent-hover"
              @click="viewMoreClue"
            >
              <q-tooltip content-class="bg-darker text-body2 text-grey-6">
                Voir les autres positions possible
              </q-tooltip>
            </q-btn>
          </q-card-section>
          <div
            v-if="clue"
            class="row justify-center text-white text-bold text-h6 q-mb-md"
          >
            Position:&nbsp;
            <position
              :x="clue.x"
              :y="clue.y"
              travel
            />
          </div>

          <div v-if="$q.screen.gt.xs">
            <dofus-map
              class="overflow-hidden bg-darker border-accent"
              style="height: 200px; width: 400px"
              :center="[map.config.centerX, map.config.centerY]"
              :origin="[map.config.origineX, map.config.origineY]"
              :height="map.config.totalHeight"
              :width="map.config.totalWidth"
              :scale="map.config.startScale"
              :scales="map.config.zoom"
              :map-height="map.config.mapHeight"
              :map-width="map.config.mapWidth"
              :tile-size="250"
              :name="map.config.name"
              :markers="map.markers"
              :routes="map.routes"
              :url="getTileUrl"
              @clickOnMap="setPosViaMap"
            />
          </div>
          <div v-if="$q.screen.gt.xs" class="text-center q-pa-xs text-grey-6">
            Clique sur la carte pour changer ta position
          </div>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import DofusMap from 'components/Map/DofusMap';
import { copyToClipboard } from 'quasar';
import Position from 'components/Common/Position';
import HintDialog from 'pages/Tools/TreasureHunt/HintDialog';
import MoreClues from 'pages/Tools/TreasureHunt/MoreClues';
import SignDialog from 'pages/Sign/SignDialog';

export default {
  name: 'TreasurHunt',
  components: {
    Position,
    DofusMap,
  },
  meta: {
    title: 'DofusDB - Chasse au trésor',
    meta: {
      description: {
        name: 'description',
        content: 'Cette outil de chasse au trésor va vous faciliter la vie, combiner avec une dragodinde autopiloté et c\'est gagné.',
      },
    },
  },
  data: () => ({
    pos: {
      x: null,
      y: null,
    },
    clue: null,
    clues: [],
    allClues: [],
    loading: false,
    direction: '',
    last_direction: '',
    timeouts: null,
    map: {
      config: {
        id: 1,
        name: 'Monde Principal',
        origineX: 6480,
        origineY: 4944,
        centerX: 6480,
        centerY: 4944,
        mapWidth: 69.5,
        mapHeight: 49.7,
        viewableEverywhere: true,
        minScale: 0.2,
        maxScale: 1,
        startScale: 0.4,
        totalWidth: 10000,
        totalHeight: 8000,
        zoom: ['1', '0.8', '0.6', '0.4', '0.2'],
      },
      markers: [],
      routes: [],
    },
  }),
  watch: {
    // eslint-disable-next-line
    'pos.x': function () {
      this.direction = '';
      const pos = this.dofusXYToMapXY(this.pos.x, this.pos.y);
      // eslint-disable-next-line
      this.map.config.centerX = pos[0];
      this.setMarkers();
    },
    // eslint-disable-next-line
    'pos.y': function () {
      this.direction = '';
      // eslint-disable-next-line
      const pos = this.dofusXYToMapXY(this.pos.x, this.pos.y);
      // eslint-disable-next-line
      this.map.config.centerY = pos[1];
      this.setMarkers();
    },
    clue() {
      this.setMarkers();
    },
  },
  computed: {
    autoCopyTravelCommandToClipboard: {
      get() {
        return this.$store.state.treasureHunt.autoCopyTravelCommandToClipboard;
      },
      set(value) {
        this.$store.commit('treasureHunt/setAutoCopyTravelCommandToClipboard', value);
      },
    },
    cluesOfType() {
      return this.allClues.filter((e) => e.clue.id === this.clue.clue.id);
    },
  },
  mounted() {},
  methods: {
    createHint() {
      if (!this.$store.state.user.token) {
        this.$q.dialog({
          component: SignDialog,
        }).onOk(() => {
          this.$q.dialog({
            component: HintDialog,
          });
        });
      } else {
        this.$q.dialog({
          component: HintDialog,
        });
      }
    },
    viewMoreClue() {
      this.$q.dialog({
        component: MoreClues,
        type: this.clue.clue,
        clues: this.cluesOfType,
      }).onOk((clue) => {
        this.clue = clue;
        this.selectClue();
      });
    },
    copyTravelCommandToClipboard() {
      if (this.clue) {
        copyToClipboard(`/travel ${this.clue.x} ${this.clue.y}`).then(() => {
          this.$q.notify({
            message: 'Commande \'travel\' copié dans le presse papier',
            color: 'darker',
            position: 'bottom',
          });
        }).catch(() => {
          this.$q.notify({
            message: 'Une erreur est survenue',
            color: 'negative',
            position: 'bottom',
          });
        });
      }
    },
    setPosViaMap(coord) {
      this.clearTimeouts();
      [this.pos.x, this.pos.y] = coord;
    },
    dofusXYToMapXY(x, y) {
      const newX = this.map.config.origineX + (x) * (this.map.config.mapWidth);
      const newY = this.map.config.origineY + (y) * (this.map.config.mapHeight);

      return [Math.floor(newX), Math.floor(newY)];
    },
    getTileUrl(x, y, z) {
      const tilePerHLine = (this.map.config.totalWidth * z) / 250;
      const tilePerVLine = (this.map.config.totalHeight * z) / 250;
      const tileNumber = y * tilePerHLine + x + 1;
      if (x >= tilePerHLine || x < 0 || y < 0 || y >= tilePerVLine) {
        return '';
      }
      return `maps/${this.map.config.id}/${z}/${tileNumber}.jpg`;
    },
    setDirection(direction) {
      this.$refs.posX.validate();
      this.$refs.posY.validate();
      if ((!this.pos.x && this.pos.x !== 0) || (!this.pos.y && this.pos.y !== 0)) {
        return;
      }
      this.clue = null;
      this.direction = direction;
      this.clues = [];
      this.allClues = [];
      const query = {
        '$sort[name]': 1,
      };

      switch (direction) {
        case 'up':
          query.x = this.pos.x;
          query['y[$lt]'] = this.pos.y;
          query['y[$gte]'] = this.pos.y - 10;
          break;
        case 'left':
          query.y = this.pos.y;
          query['x[$lt]'] = this.pos.x;
          query['x[$gte]'] = this.pos.x - 10;
          break;
        case 'right':
          query.y = this.pos.y;
          query['x[$gt]'] = this.pos.x;
          query['x[$lte]'] = this.pos.x + 10;
          break;
        case 'down':
          query.x = this.pos.x;
          query['y[$gt]'] = this.pos.y;
          query['y[$lte]'] = this.pos.y + 10;
          break;
        default:
          return;
      }

      this.fetchClue(query);
    },
    setDistance(clue) {
      switch (this.direction) {
        case 'down':
          clue.d = clue.y - this.pos.y;
          break;
        case 'up':
          clue.d = this.pos.y - clue.y;
          break;
        case 'left':
          clue.d = this.pos.x - clue.x;
          break;
        case 'right':
          clue.d = clue.x - this.pos.x;
          break;
        default:
          break;
      }
    },
    async fetchClue(query) {
      this.loading = true;
      const response = (await this.$api.getMapClues(query)).data;

      this.clues = this.clues.concat(response.data);
      this.allClues = this.allClues.concat(response.data);
      if (this.clues.length < response.total) {
        query.$skip = this.clues.length;
        await this.fetchClue(query);
      } else {
        // Only take shortest distance
        const cache = {};
        for (let i = 0; i < this.clues.length; i += 1) {
          const clue = this.clues[i];
          this.setDistance(clue);

          if (cache[clue.clue.id]) {
            const cached = cache[clue.clue.id];

            if (clue.d < cached.d) {
              cache[clue.clue.id] = clue;
            }
          } else {
            cache[clue.clue.id] = clue;
          }
        }

        // reasign clues
        this.clues = Object.values(cache).sort(
          (a, b) => a.clue.name.localeCompare(b.clue.name),
        );
        this.loading = false;
      }
    },
    setMarkers() {
      this.map.markers.splice(0, this.map.markers.length);
      this.map.routes.splice(0, this.map.routes.length);
      if (this.clue) {
        const pos = this.dofusXYToMapXY(this.clue.x, this.clue.y);
        this.map.markers.push({
          id: 1,
          text: this.clue.clue.name,
          visible: true,
          color: 'positive',
          iconClass: 'text-shadow-2',
          pos: {
            dofus: {
              x: this.clue.x,
              y: this.clue.y,
            },
            x: pos[0],
            y: pos[1],
          },
        });
        this.map.routes.push(
          {
            from: { x: this.pos.x, y: this.pos.y },
            to: { x: this.clue.x, y: this.clue.y },
          },
        );
      }
      if ((this.pos.x || this.pos.x === 0) && (this.pos.y || this.pos.y === 0)) {
        const pos = this.dofusXYToMapXY(this.pos.x, this.pos.y);

        this.map.markers.push({
          id: 2,
          text: 'Votre position',
          visible: true,
          icon: 'fas fa-male',
          iconClass: 'text-shadow-2',
          color: 'info',
          pos: {
            dofus: {
              x: this.pos.x,
              y: this.pos.y,
            },
            x: pos[0],
            y: pos[1],
          },
        });
      }
    },
    clearTimeouts() {
      if (this.timeout) {
        this.timeouts.forEach((e) => {
          clearTimeout(e);
        });
        this.timeout = null;
      }
    },
    selectClue() {
      this.clearTimeouts();
      if (this.direction) {
        this.last_direction = this.direction;
      }

      if (this.autoCopyTravelCommandToClipboard) {
        this.copyTravelCommandToClipboard();
      }

      this.timeouts = [];
      this.timeouts.push(setTimeout(() => {
        if (!this.clue) {
          return;
        }

        this.pos.x = this.clue.x;
        this.pos.y = this.clue.y;
        this.direction = '';
      }, 2000 + 1200 * this.clue.d));
      /* If you want to change pos step by step
      for (let i = 0; i < this.clue.d; i += 1) {

        this.timeouts.push(setTimeout(() => {
          if (!this.clue) {
            return;
          }

          if (this.clue.x < this.pos.x) {
            this.pos.x -= 1;
          } else if (this.clue.x > this.pos.x) {
            this.pos.x += 1;
          } else if (this.clue.y < this.pos.y) {
            this.pos.y -= 1;
          } else if (this.clue.y > this.pos.y) {
            this.pos.y += 1;
          }

          if (this.clue.x === this.pos.x && this.clue.y === this.pos.y) {
            this.direction = '';
          }
        }, 2000 + 1000 * (i)));
      } */
    },
  },
};
</script>

<style scoped>
.treasure-hunt-directions {
  transform: rotate(45deg);
}

.treasure-hunt-direction {
  width: 50px;
  height: 50px;
  border: white solid 1px;
}

.treasure-hunt-direction:hover {
  background: grey;
}

.treasure-hunt-direction-icon {
  transform: rotate(-45deg);
}
</style>
