<template>
  <q-page class="flex text-white">
    <div class="column full-width">
      <div class="col full-width">
        <dofus-map2
          class="bg-darker full-width"
          style="height: 100%"
          :center="center"
          :tile-size="250"
          :markers="markers"
          @changeWorld="world = $event"
        >
          <template v-slot:marker="props">
            <div class="full-height full-width" style="z-index: 6">
              <!-- eslint-disable -->
              <div class="flex flex-center full-height full-width"
              :style="`background-image: url(${props.marker.img});
                 background-position: center;
                 background-size: contain;
background-repeat: no-repeat;`">
                <div
                  v-if="props.marker.img"
                  class="flex flex-center marker"
                  :style="`width: ${getMarkerSize(props.height)}px;
                 height: ${getMarkerSize(props.height)}px;
                  font-size: ${getMarkerSize(props.height) - 3}px`"
                >
                  <!-- eslint-enable -->
                  <span v-if="getMarkerSize(props.height) > 10" class="blend-diff">
                    {{ props.marker.quantity }}
                  </span>
                </div>
              </div>
              <q-tooltip
                content-class="bg-darker text-white"
                anchor="top middle"
                self="bottom middle"
              >
                <div class="row justify-center text-h6">
                  [{{ props.marker.pos.x }},{{ props.marker.pos.y }}]
                </div>
                <div
                  v-for="(resource, index) of props.marker.resources"
                  :key="'marker' + props.marker.id + 'resource' + index"
                  class="row items-center text-body2 q-mt-xs"
                >
                  <item
                    :item="resource.item"
                    :quantity="resource.quantity"
                    class="q-mr-sm"
                  />
                  {{ resource.item.name }}
                </div>
              </q-tooltip>
            </div>
          </template>
        </dofus-map2>
        <div
          class="absolute row text-dark justify-end"
          style="top: 10px; right: 25px; z-index: 200"
        >
          <q-btn
            :icon="itemMenuIsOpen ? 'fa fa-angle-up' : 'fa fa-angle-down'"
            color="darker"
            size="10px"
            padding="md"
          >
            <q-menu
              v-model="itemMenuIsOpen"
              max-width="320px"
              self="top right"
              anchor="bottom right"
              content-class="map-menu-item__bar"
              content-style="width: 320px"
              dark
              persistent
            >
              <div class="column full-width q-mt-sm">
                <div
                  v-for="job of jobs"
                  :key="'job' + job.id"
                  class="column full-width"
                >
                  <div class="row q-ml-md text-secondary text-body1 text-bold">
                    {{ job.name }}
                  </div>

                  <div class="row">
                    <div
                      v-for="skill of skills.filter((e) => e.parentJobId === job.id)"
                      :key="'skill' + skill.id"
                      :class="{
                        'map-menu-item__item__no-border': !searched.includes(skill.item.id),
                        'border-accent': searched.includes(skill.item.id),
                      }"
                      class="q-ma-xs"
                      style="border-width: 2px !important;"
                    >
                      <item
                        :item="skill.item"
                        :redirect="false"
                        class="cursor-pointer"
                        content-class="q-pa-none"
                        style="padding: 0"
                        @click.native="toggle(skill.item)"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </q-menu>

          </q-btn>
        </div>
        <!--div
          class="absolute row text-dark justify-end scroll-y"
          style="top: 10px; right: 10px; max-width: 20%; max-height: calc(100% - 100px)"
        >

        </div-->
      </div>
    </div>
  </q-page>
</template>

<script>
import { debounce } from 'quasar';
import Item from 'components/Item/Item';
import DofusMap2 from 'components/Map/DofusMap2';

export default {
  name: 'Map',
  components: {
    DofusMap2,
    Item,
  },
  meta: {
    title: 'DofusDB - Carte du monde',
    meta: {
      description: {
        name: 'description',
        content: 'Une Carte du monde où vous pourrez retrouver les différents objets récoltable du monde des douzes, dans les différente dimension. Une carte du monde de Dofus à jour !',
      },
    },
  },
  data: () => ({
    skills: [],
    searched: [],
    markers: [],
    itemMenuIsOpen: false,
    actualSearch: 0,
    jobs: [],
    world: {},
    cancelTokenSource: null,
  }),
  computed: {
    center() {
      return [
        this.world.centerX || (this.world.totalWidth / 2),
        this.world.centerY || (this.world.totalHeight / 2),
      ];
    },
  },
  async mounted() {
    this.getGatherableRessources();
    this.getResources = debounce(this.getResources, 500);
    setTimeout(() => {
      this.itemMenuIsOpen = true;
    }, 500);
  },
  watch: {
    searched() {
      this.getResources();
    },
  },
  methods: {
    densityOfMarker(marker) {
      const density = (marker.quantity / 15) + 0.7;
      return Math.min(1, density);
    },
    getSkillItem(itemId) {
      const find = this.getSkillByItem(itemId);

      return find ? find.item : null;
    },
    getSkillByItem(itemId) {
      return this.skills.find((skill) => skill.gatheredRessourceItem === itemId);
    },
    getMarkerSize(height) {
      return (height) / 2;
    },
    async getGatherableRessources() {
      const resources = [];
      const jobIds = [];
      const skillTmp = await this.$api.getAll(this.$api.getAllSkills, {
        $select: ['id', 'gatheredRessourceItem', 'levelMin', 'parentJobId'],
        'gatheredRessourceItem[$ne]': -1,
        'parentJobId[$gt]': 1,
        '$sort[parentJobId]': 1,
        '$sort[levelMin]': 1,
      });

      this.skills = skillTmp.filter((e) => {
        if (!resources.includes(e.gatheredRessourceItem)) {
          resources.push(e.gatheredRessourceItem);
          if (!jobIds.includes(e.parentJobId)) {
            jobIds.push(e.parentJobId);
          }
          return true;
        }
        return false;
      });

      this.jobs = await this.$api.getAll(this.$api.getJobs, {
        'id[$in]': jobIds,
      });
    },
    toggle(item) {
      const index = this.searched.indexOf(item.id);

      if (index === -1) {
        this.searched.push(item.id);
      } else {
        this.searched.splice(index, 1);
      }
    },
    async processMaps(maps) {
      const resourcesByPos = [];
      maps.forEach((map) => {
        const index = resourcesByPos
          .findIndex((e) => e.posX === map.pos.posX && e.posY === map.pos.posY
            && e.worldMap === map.pos.worldMap);
        const actual = index !== -1 ? resourcesByPos[index]
          : {
            posX: map.pos.posX,
            posY: map.pos.posY,
            worldMap: map.pos.worldMap,
            resources: {},
            quantity: 0,
          };

        map.quantities.forEach((resource) => {
          if (!this.searched.includes(resource.item)) {
            return;
          }

          if (!actual.resources[resource.item]) {
            actual.resources[resource.item] = {
              item: this.getSkillItem(resource.item),
              quantity: 0,
            };
          }

          actual.resources[resource.item].quantity += resource.quantity;
          actual.quantity += resource.quantity;
        });

        if (index === -1) {
          resourcesByPos.push(actual);
        }
      });

      // eslint-disable-next-line
      for (const e of resourcesByPos) {
        const id = `${e.posX},${e.posY},${e.worldMap}`;

        const markerIndex = this.markers.findIndex((marker) => marker.id === id);
        const keys = Object.keys(e.resources);
        let lastMarker;

        // Update last marker
        if (markerIndex !== -1) {
          lastMarker = this.markers[markerIndex];
          lastMarker.quantity += e.quantity;
          keys.forEach((key) => {
            if (lastMarker.resources[key]) {
              lastMarker.resources[key].quantity += e.resources[key].quantity;
            } else {
              lastMarker.resources[key] = e.resources[key];
            }
          });
          const newKeys = Object.keys(lastMarker.resources);

          if (newKeys.length !== 1) {
            // eslint-disable-next-line
            lastMarker.img = require('assets/icons/resources.png');
          }
        } else { // New marker
          let img;
          if (keys.length === 1) {
            img = e.resources[keys[0]].item.img;
          } else {
            // eslint-disable-next-line
            img = require('assets/icons/resources.png');
          }

          const marker = {
            id,
            visible: true,
            quantity: e.quantity,
            resources: e.resources,
            img,
            pos: {
              worldMap: e.worldMap,
              x: e.posX,
              y: e.posY,
            },
          };

          this.markers.push(marker);
        }
      }
    },
    async fetchRecoltables(skip) {
      try {
        const response = (await this.$api.getAllRecoltables({
          'resources[$in]': this.searched,
          $skip: skip,
        }, {
          cancelToken: this.cancelTokenSource.token,
        })).data;

        await this.processMaps(response.data);

        if (response.data.length + skip < response.total) {
          await this.fetchRecoltables(skip + response.data.length);
        }
      } catch (e) {
        if (!this.$axios.isCancel(e)) {
          this.$q.notify('Une erreur est survenue lors de la récupération des ressources');
        }
      }
    },
    async getResources() {
      if (this.actualSearch > 1) {
        this.actualSearch -= 1;
        return;
      }
      this.markers.splice(0, this.markers.length);
      if (!this.searched.length) {
        return;
      }
      this.actualSearch += 1;

      if (this.cancelTokenSource) {
        this.cancelTokenSource.cancel('cancel');
        this.cancelTokenSource = null;
      }
      this.cancelTokenSource = this.$axios.CancelToken.source();
      await this.fetchRecoltables(0);

      this.actualSearch -= 1;
    },
  },
};
</script>

<style>
.marker {
  z-index: 5;
  line-height: 0;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black;
}

.marker-dot {
  border-radius: 50%;
  z-index: 5;
  line-height: 0;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 2px 2px 1px black, -2px -2px 1px black;
  box-shadow: 0px 2px 3px black;
}

.map-menu-item__item__no-border {
  border: 2px solid #00000000;
}

.map-menu-item__bar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.map-menu-item__bar::-webkit-scrollbar-track {
  background: #696969;
}

/* Handle */
.map-menu-item__bar::-webkit-scrollbar-thumb {
  background: #272727;
}

/* Handle on hover */
.map-menu-item__bar::-webkit-scrollbar-thumb:hover {
  background: #262626;
}
</style>
